<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="question-open-folder" xml:lang="de">

  <info>
    <link type="guide" xref="index#problems"/>

    <revision pkgversion="3.14" date="2014-11-21" status="review"/>

    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Einen Ordner in einem Dateibetrachter öffnen, zum Beispiel <app>Dateien</app>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008, 2012, 2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2013, 2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Wie öffne ich einen Ordner?</title>

  <p>Sie können einen Ordner in Ihrem voreingestellten Dateibetrachter öffnen, wie beispielsweise <app>Dateien</app>. Dies ist sinnvoll, wenn Sie schnell herausfinden wollen, welche Dateien sich in diesem Ordner befinden.</p>

  <steps>
    <item>
      <p>Klicken Sie mit der rechten Maustaste auf den Ordner, den Sie öffnen wollen, und wählen Sie <gui>Ordner öffnen</gui>.</p>
    </item>
  </steps>

</page>
