<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="bug-filing" xml:lang="es">

  <info>
    <link type="guide" xref="index#get-involved"/>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <credit type="editor copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
      <years>2011</years>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2009</mal:years>
    </mal:credit>
  </info>

<title>Informar de un error</title>
<p><app>Mahjongg</app> lo mantiene la comunidad de manera voluntaria. Si quiere participar, es bienvenido. Si encuentra un error, puede rellenar un <em>informe de error</em>. Para informar de un error, vaya a <link href="https://bugzilla.gnome.org/"/>.</p>
   <p>Este es un sistema de seguimiento de errores donde los usuarios y desarrolladores pueden rellenar detalles acerca de los errores, cuelgues y solicitudes de mejoras.</p>
   <p>Para participar necesita una cuenta, que le permitirá obtener acceso, informar de errores y hacer comentarios. También debe registrarte para poder recibir actualizaciones por correo-e sobre el estado de su informe de error. Si todavía no tiene una cuenta, simplemente pulse en el enlace <gui>New Account</gui> para crear una.</p>

  <p>Una vez que tenga su cuenta, inicie sesión y pulse en <guiseq><gui>Informar de un error</gui><gui>Aplicaciones</gui><gui>gnome-mahjongg</gui></guiseq>. Antes de informar de un error, lea las <link href="https://bugzilla.gnome.org/page.cgi?id=bug-writing.html">guías para informar de un error</link> y <link href="https://bugzilla.gnome.org/browse.cgi?product=gnome-mahjongg">busque</link> el error para ver si ya existe.</p>

   <p>Si está solicitando una característica nueva, elija <gui>enhancement</gui> en el menú <gui>Severity</gui>. Rellene las secciones «Summary» y «Description» y pulse en <gui>Commit</gui>.</p>
   <p>Se le asignará un número de ID a su informe y su estado se actualizará a medida que se trate.</p>
</page>
