<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="strategy" xml:lang="es">
  <info>
    <link type="guide" xref="index#play"/>
    <revision version="0.1" date="2012-03-08" status="final"/>

    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <desc/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2009</mal:years>
    </mal:credit>
  </info>

  <title>Estrategia</title>

  <p>Puesto que cada <link xref="map">modelo de fichas</link> requiere un enfoque distinto, no hay una estrategia universal. Sin embargo, hay algunos consejos estratégicos que debe tener en cuenta mientras juega:</p>

  <list>
    <item><p>La estrategia general es seguir quitando las fichas que coincidan de manera que cada ficha que quite muestre más fichas. Una buena estrategia sería mostrar fichas nuevas con cada conjunto de fichas que coincidan y que elimine.</p></item>
    <item><p>Elegir las fichas más accesibles, por ejemplo las que están en el nivel superior, no es beneficioso. Esta estrategia deja fichas esenciales sin descubrir, incrementando las posibilidades de perder el juego.</p></item>
    <item><p>Puesto que <link xref="scoring">acumula puntuación</link> cuanto más rápido termina el juego, el tiempo es un factor importante en el juego, por lo que es importante ser rápido.</p>

      <note>
        <list>
          <item><p>Usar la opción <link xref="hints">sugerencia</link> añade 30 segundos de penalización a su marcador.</p></item>
          <item><p>Mezclar las fichas añade 60 segundos de penalización a su marcador.</p></item>
        </list>
      </note>

    </item>
  </list>
</page>
