<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="contacts-using-contact-lists" xml:lang="es">

  <info>
    <link type="guide" xref="contacts-organizing"/>

    <revision pkgversion="2.32.1" version="0.2" date="2011-07-28" status="final"/>

    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name>
      <!-- Content partially from
	   http://library.gnome.org/users/evolution/2.32/usage-contact-organize.html.en#usage-contact-organize-group-list
	   -->
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Usar listas de contactos para agrupar contactos.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

  <title>Usar listas de contactos</title>

  <p>Una lista de contactos es un conjunto de contactos que crea con un solo apodo. Cuando envía correos electrónicos a este apodo, se envían a cada miembro de la lista. Esto es diferente a una lista de correo «real» que existe sólo en su equipo para su conveniencia, en lugar de ser una dirección de correo real gestionada por una aplicación para listas de correo en un servidor.</p>

  <p>Por ejemplo, puede crear una tarjeta para cada miembro de su familia, después añadir esas tarjetas a una lista de contactos llamada «Familia». Después, en lugar de introducir cada dirección de correo electrónico de cada persona individualmente, puede enviar un correo electrónico a «Familia» y el mensaje se enviará a todos ellos.</p>

<section id="create-contact-list">
  <title>Crear una lista de contactos</title>

  <steps>
    <item>
      <p>Pulse <guiseq><gui>Archivo</gui><gui>Nuevo</gui><gui>Lista de contactos</gui></guiseq>.</p>
    </item>
    <item>
      <p>Introduzca el nombre que quiera.</p>
    </item>
    <item>
      <p>Selecciones la libreta de direcciones bajo <gui>Dónde:</gui> en la que quiere añadirlo.</p>
    </item>
    <item>
      <p>Especifique los miembros de la lista introduciendo sus nombres o direcciones de correo electrónicos de los contactos (el campo de texto soporta autocompletado) o arrastrando contactos desde la ventana de Contactos a la lista o usando el botón <gui style="button">Seleccionar…</gui>.</p>
    </item>
    <item>
      <p>Elija si quiere ocultar las direcciones de los correos-e cuando envíe un mensaje a la lista.</p><p>A no ser que sea una lista muy pequeña, es recomendable que oculte las direcciones. Este funcionamiento es similar al de la característica «Cco:», comentada en <link xref="mail-composer-several-recipients">Especificar destinatarios adicionales para correo electrónico</link>.</p>
    </item>
    <item>
      <p>Pulse <gui style="button">Aceptar</gui>.</p>
    </item>
  </steps>

  <p>La libreta de direcciones se añadirá a la libreta de direcciones seleccionada en <app>Evolution</app>.</p>

</section>

<section id="send-to-contact-list">
  <title>Enviar mensajes a listas de contactos</title>

  <p>Para enviar un correo a la lista de contactos, introduzca el nombre que eligió para la lista de contactos como el destinatario del correo en el editor. También puede pulsar con el botón derecho en la lista de contactos en su libreta de direcciones y seleccionar <gui>Enviar un mensaje a la lista</gui>.</p>

</section>

</page>
