<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="contacts-usage-add-contact" xml:lang="es">

  <info>
    <link type="guide" xref="contacts-usage"/>

    <revision pkgversion="3.0.2" version="0.2" date="2011-09-29" status="final"/>

    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Añadir un contacto a su libreta de direcciones.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

  <title>Añadir un contacto</title>

  <steps>
    <item>
      <p>Pulse <guiseq><gui>Archivo</gui><gui>Nuevo</gui><gui>Contacto</gui></guiseq> o pulse con el botón derecho en una zona vacía de la lista de contactos y elija <gui>Contacto nuevo…</gui> o pulse <keyseq><key>Mayús</key><key>Ctrl</key><key>C</key></keyseq>.</p>
    </item>
    <item>
      <p>Selecciones la libreta de direcciones bajo <gui>Dónde:</gui> en la que quiere añadirlo.</p>
    </item>
    <item>
      <p>Introduzca la información del contacto. Note que existen diversas pestañas.</p>
    </item>
    <item>
      <p>Puede añadir una fotografía del contacto pulsando en el campo grande (que muestra una persona estilizada) junto a <gui>Nombre completo</gui> y <gui>Categorías</gui>.</p>
    </item>
    <item>
      <p>Pulse <gui style="button">Aceptar</gui>.</p>
    </item>
  </steps>

<section id="contact-quick-add">
  <title>Añadir contacto rápidamente desde la ventana Correo electrónico</title>

  <p>También puede añadir un contacto directamente desde un correo electrónico.</p>

  <steps>
    <item>
      <p>Pulse con el botón derecho en la dirección de correo electrónico en la cabecera del mensaje.</p>
    </item>
    <item>
      <p>Seleccione <gui>Añadir a la libreta de direcciones…</gui>.</p>
    </item>
    <item>
      <p>Pulse <gui style="button">Editar todo</gui> para mostrar el <gui>Editor de contactos</gui> completo o pulse <gui style="button">Aceptar</gui> para añadir directamente el contacto a la libreta seleccionada.</p>
    </item>
  </steps>

</section>

</page>
