<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:e="http://projectmallard.org/experimental/" xmlns:if="http://projectmallard.org/experimental/if/" type="guide" id="exchange-connectors-overview" xml:lang="es">

  <info>
    <desc>Qué paquete adicional instalar para poder conectar Evolution con un servidor Exchange.</desc>

    <link type="guide" xref="exchange-placeholder"/>

    <revision pkgversion="3.7.5" version="0.7" date="2013-01-22" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Elegir el conector adecuado</title>

<p>Dependiendo de la versión del servidor Microsoft Exchange al que se quiera conectar, es necesario que se asegure de que tiene instalado un paquete que proporciona esta funcionalidad.</p>

<p>Para Microsoft Exchange 2007 y 2010 y superiores, se recomienda usar el paquete <sys>evolution-ews</sys>.</p>
<if:choose xmlns:if="http://projectmallard.org/if/1.0/">
  <if:when test="action:install">
    <note style="info package">
      <p><link action="install:evolution-ews" href="https://wiki.gnome.org/Apps/Evolution#Get_the_Source_Code" style="button">Instalar evolution-ews</link></p>
    </note>
  </if:when>
</if:choose>


<p>Para versiones antiguas de Microsoft Exchange, o si <sys>evolution-ews</sys> no le funciona bien, pruebe <sys>evolution-mapi</sys>. Usa la API de mensajería de Microsoft que se usa también en Microsoft Outlook. Sin embargo, <sys>evolution-mapi</sys> requiere que se instale <sys>OpenChange</sys> y <sys>Samba 4</sys>, y no es tan eficiente como <sys>evolution-ews</sys>.</p>

<if:choose xmlns:if="http://projectmallard.org/if/1.0/">
  <if:when test="action:install">
    <note style="info package">
      <p><link action="install:evolution-mapi" href="https://wiki.gnome.org/Apps/Evolution#Get_the_Source_Code" style="button">Instalar evolution-mapi</link></p>
    </note>
  </if:when>
</if:choose>

<note style="tip"><p>Si no está seguro de que versión del servidor Microsoft Exchange se usa, puede querer contactar con su administrador del sistema para obtener más información.</p></note>

<!-- TODO:POST-3-4: <mbarnes> actually, a table in the docs would make it crystal clear  (Exchange version x Evolution backend); <seanius> also, a feature matrix of what works in the particular releases might be helpful, though maybe hard to visualize in a compact manner
-->

</page>
