<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="mail-account-management" xml:lang="es">

  <info>
    <desc>Añadir, editar y gestionar cuentas de correo.</desc>

    <link type="guide" xref="index#mail-basic"/>

    <revision pkgversion="2.28.3" version="0.3" date="2010-12-09" status="stub"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Gestión de la cuenta</title>

  <section id="mail-common-account-types" style="2column">
    <title>Tipos comunes de cuentas</title>
  </section>

  <section id="mail-local-account-types" style="2column">
    <title>Tipos de cuenta locales</title>
  </section>

  <section id="mail-corporate-account-types" style="2column">
    <title>Tipos de cuenta corporativos</title>
  </section>

</page>
