<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:e="http://projectmallard.org/experimental/" xmlns:if="http://projectmallard.org/experimental/if/" type="topic" id="mail-spam-settings" xml:lang="es">

  <info>
    <desc>Cómo configurar la gestión de correo no deseado y SPAM.</desc>

    <link type="guide" xref="mail-spam"/>
    <link type="seealso" xref="mail-spam-marking"/>

    <revision pkgversion="3.12.9" version="0.11" date="2015-03-15" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Patrick O'Callaghan</name>
    </credit>
    <credit type="author">
      <name its:translate="no">Pete Biggs</name>
    </credit>
    <credit type="author">
      <name its:translate="no">April Gonzales</name>
      <email its:translate="no">loonycookie@gmail.com</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/config-prefs-mail.html.en#mail-prefs-junk -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Configuración de SPAM</title>

<section id="junk-tools">
<title>Herramientas</title>
<p><app>Evolution</app> le permite comprobar si hay mensajes de spam usando las herramientas <app>Bogofilter</app> o <app>SpamAssassin</app>. Para usar estas herramientas debe asegurarse de que están instaladas a través de la herramienta de gestión de software de su distribución.</p>

<note style="info package">
  <p>Puede querer instalar<app>Bogofilter</app> o <app>SpamAssassin</app> para realizar estos pasos.</p>
    <if:choose xmlns:if="http://projectmallard.org/if/1.0/">
      <if:when test="action:install">
      <p><link action="install:bogofilter" href="http://bogofilter.sourceforge.net/" style="button">Instalar bogofilter</link></p>
      <p><link action="install:spamassassin" href="http://spamassassin.apache.org/" style="button">Instalar spamassassin</link></p>
    </if:when>
  </if:choose>
</note>

<p>SpamAssassin trabaja mediante un conjunto de reglas predefinidas, por lo que puede detectar el spam inmediatamente. Bogofilter no incluye un conjunto predeterminado de criterios de spam, por lo que no filtrará nada automáticamente después de instalarlo. Debe <link xref="mail-spam-marking">entrenarlo</link> primero para que funcione. También puede modificar las acciones de SpamAssassin entrenándolo.</p>
</section>

<section id="junk-folder">
<title>Carpeta de spam</title>
<p>Los mensajes marcados como spam (manual o automáticamente mediante SpamAssassin o Bogofilter) se moverán a la carpeta de correo <gui>Spam</gui>.</p>
</section>

<section id="preferences">
<title>Opciones de correo spam</title>
<note style="tip"><p>Las opciones de SPAM comentadas en esta página sólo se refieren a las cuentas POP y Entrega local. Para gestionar correos SPAM en cuentas IMAP consulte la configuración de Evolution en <guiseq><gui>Editar</gui><gui>Preferencias</gui><gui>Cuentas de correo</gui><gui style="button">Editar</gui><gui>Opciones de recepción</gui></guiseq>.</p></note>
<p>Puede modificar cómo Evolution gestiona el SPAM cambiando las Opciones de SPAM:</p>
<steps>
<item><p>Pulse <guiseq><gui>Editar</gui><gui>Preferencias</gui></guiseq> o pulse <keyseq><key>Mayús</key><key>Ctrl</key><key>S</key></keyseq>.</p></item>
<item><p>Seleccione <gui>Opciones de correo</gui>.</p></item>
<item><p>Pulse en la pestaña <gui>SPAM</gui>. Aquí podrá especificar lo siguiente:</p>
<list>
<item><p>Comprobar si los mensajes entrantes son spam.</p></item>
<item><p>Eliminar correo basura al salir y con qué frecuencia se eliminan los correos basura.</p></item>
<item><p>Marcar mensajes como no SPAM si el remitente está en la libreta de direcciones.</p></item>
<item><p>Comprobar si las cabeceras personalizadas (añadidas por su servidor de correo) son spam.</p></item>
</list>
</item>
</steps>

<note style="tip"><p>Para obtener más información y configuraciones específicas de Bogofilter o SpamAssassin,  se recomienda leer las preguntas frecuentes <link href="http://bogofilter.sourceforge.net/faq.shtml">Bogofilter</link> y de <link href="http://wiki.apache.org/spamassassin/FrequentlyAskedQuestions">SpamAssassin</link>.</p></note>
</section>

</page>
