<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-search-folders-refresh" xml:lang="es">

  <info>
    <desc>Formas de actualizar las Carpetas de búsqueda.</desc>
    
    <link type="guide" xref="mail-search-folders"/>

    <revision pkgversion="2.32.2" version="0.2" date="2011-07-22" status="draft"/>
    <credit type="author">
      <name its:translate="no">April Gonzales</name>
      <email its:translate="no">loonycookie@gmail.com</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Actualizar las Carpetas de búsqueda</title>

<p>Puede suceder que una de sus carpetas de búsqueda no se ha actualizado desde que llegó correo nuevo o desde que se eliminó un correo. Esto significa que la lista de correos electrónicos en la carpeta no está actualizada.</p>

<p>Puede obtener una vista actualizada de la carpeta de búsqueda cambiando a otra carpeta y volviendo a la misma o pulsando con el botón derecho del ratón sobre la carpeta de búsqueda y eligiendo <gui>Actualizar</gui>.</p>


</page>
