<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="mail-composer-message-templates" xml:lang="es">

  <info>
 <desc>Plantillas de correos para reusar en el editor.</desc>

 <link type="guide" xref="index#mail-composing-advanced"/>

 <revision pkgversion="3.5.90" version="0.3" date="2012-08-17" status="draft"/>
 <credit type="author">
   <name its:translate="no">Andre Klapper</name>
   <email its:translate="no">ak-47@gmx.net</email>
 </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/b1dlaazl.html.en -->
 </credit>
 
 <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Plantillas de correo</title>
<p>Una plantilla de mensaje es un mensaje estándar que puede usar en cualquier momento para enviar correos con el mismo patrón.</p>
<p>Para activar el complemento de plantillas de correo pulse <guiseq><gui>Editar</gui><gui>Complementos</gui></guiseq> y actíve <gui>Plantillas</gui>.</p>

  <section id="options">
    <title>Plantillas de correo</title>
  </section>

</page>
