<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-cannot-see" xml:lang="es">

  <info>
    <desc>Si recibió o envió un correo pero ya no puede encontrarlo.</desc>
    
    <link type="guide" xref="index#common-mail-problems"/>

    <revision pkgversion="3.3.91" version="0.2" date="2012-02-19" status="candidate"/>
    <credit type="author">
      <name its:translate="no">Phil Bull</name>
      <email its:translate="no">philbull@gmail.com</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>No puedo ver algunos correos, ¿dónde están?</title>

<list>
 <item>
  <p>Compruebe si está usando filtros en los correos entrantes (o salientes). Esto podría estar moviendo automáticamente sus correos a otro destino.</p>
 </item>
 <item>
  <p>Compruebe su vista de búsqueda en la barra de búsqueda justo encima de la lista de correos. Quizá la lista desplegable <gui>Mostrar</gui> está configurada para filtrar por <gui>Mensajes leídos</gui> o el campo de entrada de texto contiene algún valor. Pulse el icono de la escoba para limpiar el campo de búsqueda.</p>
 </item>
 <item>
  <p>Si no puede ver ningún correo en ninguna carpeta compruebe que no ha maximizado la vista previa de correos (de tal forma que el panel de la lista de correos está oculta). Para ello, pulse <guiseq><gui>Ver</gui><gui>Vista previa</gui><gui>Mostrar vista previa del correo</gui></guiseq>.</p>
 </item>
 <item>
  <p>Mire en la carpeta <gui>SPAM</gui>. Los correos marcados como SPAM desaparecen de la carpeta original y se mueven a la carpeta de SPAM.</p>
 </item>
 <!-- Does the following option still exist? -->
 <item>
  <p>Pulse en <guiseq><gui>Ver</gui><gui>Mostrar mensajes eliminados</gui></guiseq> para asegurarse de que se muestran todos los mensajes.</p>
 </item>
 <item>
  <p>Compruebe su carpeta predeterminada en <guiseq><gui>Editar</gui><gui>Preferencias</gui><gui>Cuentas de correo-e</gui><gui>Editar</gui><gui>Predeterminados</gui></guiseq>. Posiblemente esté establecida una carpeta distinta de la que cree.</p>
 </item>
</list>

</page>
