<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="memos-usage-edit-memo" xml:lang="es">

  <info>
    <desc>Editar una nota en su lista de notas.</desc>
    
    <link type="guide" xref="memos-usage"/>

    <revision pkgversion="3.0.2" version="0.2" date="2012-02-19" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Editar una nota</title>

<p>Si quiere modificar una nota que ya existe en su lista de notas,</p>

<steps>
<item><p>Pulse dos veces en la nota que quiera editar en la lista de notas, o pulse con el botón derecho sobre la nota y pulse <gui>Abrir nota</gui>.</p></item>
<item><p>Edite la información de la nota.</p></item>
<item><p>Pulse el botón <gui style="button">Guardar</gui> o <guiseq><gui>Archivo</gui><gui>Guardar</gui></guiseq>.</p></item>
</steps>
</page>
