<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="keyring-create" xml:lang="ru">

  <info>
    <link type="seealso" xref="keyring-update-password"/>
    <link type="guide" xref="index#passwords" group="#first"/>

    <revision pkgversion="3.14" date="2014-10-26" status="candidate"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Аруна Санкаранараянан (Aruna Sankaranarayanan)</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="editor">
      <name>Екатерина Герасимова (Ekaterina Gerasimova)</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="editor">
      <name>Джим Кэмпбелл (Jim Campbell)</name>
      <email its:translate="no">jcampbell@gnome.org</email>
      <years>2014</years>
    </credit>

    <desc>Use password keyrings to group stored passwords.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vasiliy Faronov</mal:name>
      <mal:email>qvvx@yandex.ru</mal:email>
      <mal:years>2008. </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Stas Solovey</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

  <title>Create a new keyring</title>

  <p>Use <link xref="keyring">keyrings</link> to group related passwords.
  You can choose to protect your keyring with a password.</p>

  <steps>
    <title>Create a new password keyring:</title>
    <item>
      <p>Select <guiseq><gui style="menu">File</gui>
      <gui style="menuitem">New…</gui></guiseq>.</p>
    </item>
    <item>
      <p>Choose <gui>Password Keyring</gui> and press
      <gui style="button">Continue</gui>.</p>
    </item>
    <item>
      <p>Choose a name for your new keyring, then press
      <gui style="button">OK</gui> to continue.</p>
    </item>
    <item>
      <!-- TODO: make shorter -->
      <p>To password protect your keyring, choose a password, and retype it to
      confirm your choice. Leave both the fields blank if you want your keyring
      to remain unlocked at all times.</p>
      <!--If you want your keyring to be protected with a password, chose one
      now. If you do not with to use a password, leave these fields blank. This
      is the password which you will need to use to unlock the keyring.</p>-->
    </item>
    <item>
      <p>Press <gui style="button">Continue</gui> to finish creating the
      keyring. If you have not protected your keyring with a password, you will
      need to confirm that this is how you want to proceed.</p>
    </item>
  </steps>

  <p>Your new keyring will now be listed under <gui>Passwords</gui>.</p>

</page>
