<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="keyring-unlock" xml:lang="ru">

  <info>
    <link type="guide" xref="index#passwords"/>

    <revision version="0.1" date="2011-06-17" status="stub"/>
    <revision pkgversion="3.9" date="2013-08-19" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Аруна Санкаранараянан (Aruna Sankaranarayanan)</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>

    <desc>To view passwords stored inside a locked keyring, unlock it.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vasiliy Faronov</mal:name>
      <mal:email>qvvx@yandex.ru</mal:email>
      <mal:years>2008. </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Stas Solovey</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

  <title>Unlock your keyrings</title>
    <p>A keyring may often be
    <link xref="keyring-lock">locked</link> to protect the passwords
    it contains, similar to locking important things safely inside a trunk.
    In order to look at your passwords, you must unlock the keyring first.</p>

  <steps>
    <title>To unlock your keyring:</title>
    <item>
      <p>Select the keyring to be unlocked from the panel on your left. It is
      listed under <gui>Passwords</gui>.</p>
    </item>
    <item>
      <p>Right click on the selected keyring and select <gui>Unlock</gui> from
      the menu, or alternatively, click the small picture of a closed lock next
      to the keyring name to unlock the keyring.</p>
    </item>
    <item>
      <p>If the keyring is password-protected, you will be prompted for a
      password to unlock the keyring. Enter the correct password in the
      <gui>Password</gui> field and press <gui style="button">Unlock</gui> to
      finish.</p>
    </item>
  </steps>

  <note style="tip">
    <p>You can choose to password-protect your keyrings while
    <link xref="keyring-create">creating</link> them.</p>
  </note>

</page>
