<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="misc-key-backup" xml:lang="ru">

  <info>
    <link type="guide" xref="index#pgp-keys"/>
    <link type="guide" xref="index#ssh-keys"/>

    <revision pkgversion="3.14" date="2014-10-06" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Аруна Санкаранараянан (Aruna Sankaranarayanan)</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>

    <credit type="editor copyright">
      <name>Хашем Насарат (Hashem Nasarat)</name>
      <email its:translate="no">hashem@riseup.net</email>
      <years>2014</years>
    </credit>

    <desc>Keep a copy of your keys in an external device.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vasiliy Faronov</mal:name>
      <mal:email>qvvx@yandex.ru</mal:email>
      <mal:years>2008. </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Stas Solovey</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

  <title>Securely back-up your keys</title>

  <p>It is always advisable to save a copy of your keys on an external memory
  device like a USB drive. The device should then be kept locked or stored
  somewhere safe. This way you will always have a copy of the key if your
  computer breaks or if the data on your computer is corrupted in some way.</p>

  <steps>
    <title>To back-up your keys:</title>
    <item>
      <p>Export your key files:</p>
      <steps>
        <item><p><link xref="pgp-export">Export your PGP keys</link>.</p></item>
        <item><p><link xref="ssh-export">Export your SSH keys</link>.</p></item>
      </steps>
    </item>
    <item>
      <p>Copy the exported files on an external disk.</p>
    </item>
  </steps>
</page>
