<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="pgp-import" xml:lang="ru">

  <info>
    <link type="guide" xref="index#pgp-keys"/>

    <revision version="0.1" date="2011-06-17" status="stub"/>
    <revision pkgversion="3.9" version="0.1" date="2013-06-20" status="draft"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Аруна Санкаранараянан (Aruna Sankaranarayanan)</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="editor copyright">
      <name>Джим Кэмпбелл (Jim Campbell)</name>
      <email its:translate="no">jwcampbell@gmail.com</email>
      <years>2013</years>
    </credit>

    <desc>Import keys from keyfiles into <app>Passwords and Keys</app>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vasiliy Faronov</mal:name>
      <mal:email>qvvx@yandex.ru</mal:email>
      <mal:years>2008. </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Stas Solovey</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

  <title>Import PGP keys</title>

  <p>If you have received a key file by email, you might want to import it into
  <app>Passwords and Keys</app>. In most cases, <app>Passwords and Keys</app>
  automatically imports PGP keys from your computer. You can also manually
  import a particular key, if it has not been imported already.</p>

  <steps>
    <title>How do I manually import a key?</title>
    <item>
      <p>Select
      <guiseq><gui style="menu">File</gui><gui>Import…</gui></guiseq>.</p>
    </item>
    <item>
      <p>In the new dialog, select the key you wish to import. PGP keys end
      with <file>pgp</file> or <file>asc</file>, GPG keys end with
      <file>gpg</file>.</p>
    </item>
    <item>
      <p>Click <gui style="button">Open</gui>.</p>
    </item>
  </steps>

  <p>Once imported, the PGP and GPG keys are listed under
  <file>GnuPG keys</file>.</p>

</page>
