<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="formats-view" xml:lang="en-GB">

  <info>
    <link type="guide" xref="index"/>
    <link type="seealso" xref="formats-save"/>
    <desc>The image viewer can display pictures in a wide range of image formats, including PNG, JPEG, and TIFF.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
  <credit type="author">
    <name>Tiffany Antopolski</name>
    <email>tiffany.antopolski@gmail.com</email>
  </credit>
  <license>
   <p>Creative Commons Share Alike 3.0</p>
  </license>
  </info>

 <title>Supported image formats</title>

  <p>The image viewer is able to open pictures in the following formats:</p>
  <list>
   <item><p>ANI - Animation</p></item>
   <item><p>BMP - Bitmap</p></item>
   <item><p>GIF - Graphics Interchange Format</p></item>
   <item><p>ICO - Windows Icon</p></item>
   <item><p>JPEG/JPG - Joint Photographic Experts Group</p></item>
   <item><p>PCX - PC Paintbrush</p></item>
   <item><p>PNG - Portable Network Graphics</p></item>
   <item><p>PNM - Portable Anymap from the PPM Toolkit</p></item>
   <item><p>RAS - Sun Raster</p></item>
   <item><p>SVG - Scalable Vector Graphics</p></item>
   <item><p>TGA - Targa</p></item>
   <item><p>TIFF - Tagged Image File Format</p></item>
   <item><p>WBMP - Wireless Bitmap</p></item>
   <item><p>XBM - X Bitmap</p></item>
   <item><p>XPM - X Pixmap</p></item>
  </list>
  <p>
   If you try to open a picture in an unsupported format, you will get a <gui>Could
not load image 'image_name'.</gui> error.
  </p>
</page>
