<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="index" xml:lang="en-GB">

  <info>
    <desc>Help for the Eye of GNOME Image Viewer.</desc>
    <title type="link" role="trail"><media its:translate="no" type="image" src="figures/eog-trail.png"/></title>
    <title type="link">Eye of GNOME Image Viewer</title>
    <title type="text">Eye of GNOME Image Viewer</title>
    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title><media type="image" its:translate="no" src="figures/eog-logo.png">Eye of GNOME logo</media>
Eye of GNOME Image Viewer</title>
<section id="viewing" style="2column">
    <title>View pictures</title>
</section>

<section id="edit" style="2column">
    <title>Edit pictures</title>
</section>

<section id="printing" style="2column">
    <title>Print pictures</title>
</section>

<section id="plugins">
    <title>Add extra features</title>
    <links type="topic" style="2column" groups="first"/>
</section>
<section id="advanced" style="2column">
    <title>Advanced</title>
</section>

<section id="faq" style="2column">
    <title>Frequently asked questions</title>
</section>

<section id="tips" style="2column">
    <title>Tips and tricks</title>
</section>

<section id="get-involved" style="2column">
    <title>Get involved</title>
</section>
</page>
