<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_bookmarks" xml:lang="de">
  <info>
    <link type="guide" xref="index#reviewing"/>
    <title type="sort">6. Lesezeichen</title>
    <desc>Speichern und Aufrufen von Objekten</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>
  <title>Lesezeichen</title>
  <p>
    <app>Orca</app>'s Bookmarks support allows you to indicate that an object
    is of interest. It includes the following features:
  </p>
  <list>
    <item>
      <p>
        You are not limited to a single object: You can set up to six bookmarks
        per environment. You can also save bookmarks so that they will persist
        from Orca session to Orca session.
      </p>
    </item>
    <item>
      <p>
        Having set a bookmark you can navigate to it later, and do so regardless
        of whether or not you have chosen to permanently save the bookmarks
        associated with your current environment. Navigation can be based on the
        number of the bookmark should you wish to jump directly to a specific
        item. Alternatively, you can navigate to the next or previous bookmark
        just like you can a <link xref="howto_structural_navigation">Structural
        Navigation</link> object.
      </p>
    </item>
    <item>
      <p>
        Bookmarkable objects can be widgets within an application or objects on
        the web page you are reading. Which environment you are in determines
        what happens as you navigate amongst bookmarks: If you are in web
        content, the caret will be moved to the bookmark so that you can
        continue reading; otherwise, <link xref="howto_flat_review">Flat
        Review</link> will be activated with the bookmark becoming the current
        review item.
      </p>
    </item>
  </list>
  <p>
    The specific keybindings associated with each of the above tasks can be
    found in <link xref="commands_bookmarks">Bookmark Commands</link>.
  </p>
</page>
