<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="preferences_key_echo" xml:lang="de">
  <info>
    <title type="link">Tastaturecho</title>
    <title type="sort">4. Tastaturecho</title>
    <desc>
      Configuring what is spoken as you type
    </desc>
    <link type="guide" xref="preferences#orca"/>
    <link type="next" xref="preferences_key_bindings"/>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>
  <title>Tastaturecho-Einstellungen</title>
  <section id="keyecho">
    <title>Tastaturecho aktivieren</title>
    <p>
      Orca's key echo setting controls what happens each time you press
      a key. To enable key echo, check the "Enable key echo" checkbox.
      Doing so causes additional checkboxes to become available through
      which you can choose exactly which keys should and should not be
      echoed to best suit your needs.
    </p>
    <p>Standardwert: aktiviert</p>  
    <section>
      <title>Alphanumerische und Interpunktionstasten aktivieren</title>
      <p>
        This option controls whether or not keys like <key>a</key>,
        <key>b</key>, <key>c</key>, <key>;</key>, <key>?</key>, and
        so on should be spoken when pressed.
      </p>
      <p>Standardwert: aktiviert</p>
    </section>
    <section>
      <title>Zusatztasten aktivieren</title>
      <p>
        This option controls whether or not <key>Shift</key>, <key>Ctrl</key>,
        <key>Alt</key> and <key>Meta</key> should be spoken when pressed.
      </p>
      <p>Standardwert: aktiviert</p>
    </section>
    <section>
      <title>Funktionstasten aktivieren</title>
      <p>
        This option controls whether or not <key>F1</key> through <key>F12</key>
        should be spoken when pressed.
      </p>
      <p>Standardwert: aktiviert</p>
    </section>
    <section>
      <title>Aktionstasten aktivieren</title>
      <p>
        This option controls whether or not <key>BackSpace</key>, <key>Delete
        </key>, <key>Return</key>, <key>Escape</key>, <key>Tab</key>, <key>Page
        Up</key>, <key>Page Down</key>, <key>Home</key>, and <key>End</key>
        should be spoken when pressed.
      </p>
      <p>Standardwert: aktiviert</p>
    </section>
    <section>
      <title>Navigationstasten aktivieren</title>
      <p>
        This option controls whether or not <key>Left</key>, <key>Right</key>,
        <key>Up</key>, and <key>Down</key> should be spoken when pressed. This
        option also applies to any key combination in which <key>Orca
        Modifier</key> is being held down, for instance when flat review is
        being used.
      </p>
      <p>Standardwert: nicht aktiviert</p>
    </section>
    <section>
      <title>Enable non-spacing diacritical keys</title>
      <p>
        This option controls whether or not "dead keys" used to generate
        accented letters should be spoken when pressed.
      </p>
      <p>Standardwert: nicht aktiviert</p>
    </section>
  </section>
  <section id="characterecho">
    <title>Zeichenweises Echo aktivieren</title>
    <p>
      Enabling this option causes Orca to echo the character
      you just typed.
    </p>
    <p>
      While echo by character seems quite similar to the key echo of
      alphanumeric and punctuation keys, there are important differences,
      especially with respect to accented letters and other symbols for which
      there is no dedicated key:
    </p>
    <list>
      <item>
        <p>
          Key echo causes <app>Orca</app> to announce what you just <em>
          pressed</em>.
        </p>
      </item>
      <item>
        <p>
          Character echo causes <app>Orca</app> to announce what was just
          <em>inserted</em>.
        </p>
      </item>
    </list>
    <p>
      Thus to have accented characters spoken as you type them, you should
      enable character echo.
    </p>
    <p>Standardwert: nicht aktiviert</p>
    <note style="tip">
      <title>Enabling both key echo and character echo</title>
      <p>
        If you like key echo and you frequently type accented characters,
        consider enabling both. <app>Orca</app>'s character echo logic
        attempts to filter out characters which were spoken as a result
        of key echo, thus minimizing the likelihood of "double speaking"
        as you type.
      </p>
    </note>
  </section>
  <section id="wordandsentenceecho">
    <title>Enable echo by word and Enable echo by sentence</title>
    <p>
      Checking the <gui>Enable echo by word</gui> checkbox causes
      <app>Orca</app> to echo the word you just typed. Similarly,
      checking the <gui>Enable echo by sentence</gui> checkbox causes
      <app>Orca</app> to echo the sentence you just typed.
    </p>
    <p>Standardwert: nicht aktiviert</p>
  </section>
</page>
