<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task a11y" id="a11y-braille" xml:lang="fr">
  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <desc>Utilise le lecteur d'écran <app>Orca</app> avec une plage braille.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="a11y#vision" group="blind"/>
    <link type="seealso" xref="a11y-screen-reader"/>
    <revision version="13.10" date="2013-10-25" status="review"/>
  </info>

  <title>Lecture en braille d'un écran</title>

  <p>GNOME fournit le lecteur d'écran <app>Orca</app> pour afficher l'interface utilisateur sur une plage Braille. En fonction de la façon dont vous avez installé GNOME, vous n'aurez peut être pas Orca d'installé. <link href="apt:gnome-orca">Installez Orca</link>, puis référez-vous à l'<link href="help:gnome-orca">Aide Orca</link> pour plus d'informations.</p>

</page>
