<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="bluetooth" xml:lang="fr">
<info>
  <link type="guide" xref="hardware"/>

  <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

  <credit type="author">
    <name>Shaun McCance</name>
    <email>shaunm@gnome.org</email>
  </credit>

  <desc><link xref="bluetooth-connect-device">Connexion</link>, <link xref="bluetooth-send-file">envoi de fichiers</link>, <link xref="bluetooth-turn-on-off">activation et désactivation</link>…</desc>

  <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
</info>

<title>Bluetooth</title>

<p>Bluetooth est un protocole de communication sans fil qui permet de connecter différents types de périphériques à un ordinateur. Bluetooth est habituellement utilisé pour les micro-casques et les périphériques d'entrée comme les souris et les claviers. Il est aussi utilisé pour <link xref="bluetooth-send-file">envoyer des fichiers entre périphériques</link>, par exemple entre un ordinateur et un téléphone portable.</p>

<section id="problems">
  <info>
    <title type="link">Problèmes Bluetooth</title>
    <link type="guide" xref="hardware#problems"/>
  </info>
  <title>Problèmes</title>
</section>

</page>
