<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="color" xml:lang="fr">
  <info>
    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <revision version="13.10" date="2013-09-07" status="review"/>
    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="color-whyimportant">Pourquoi est-ce important ?</link>, <link xref="color#profiles">Profils de couleurs</link>, <link xref="color#calibration">Comment étalonner un périphérique</link>…</desc>

  </info>

  <title>Gestion de la couleur</title>

  <section id="profiles" style="2column">
    <title>Profils de couleurs</title>
  </section>

  <section id="calibration" style="2column">
    <title>Étalonnage</title>
  </section>

  <section id="problems" style="2column">
    <title>Problèmes</title>
  </section>

</page>
