<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="media" xml:lang="fr">
  <info>

    <revision version="13.10" date="2013-10-22" status="review"/>

    <link type="guide" xref="index" group="media"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc><link xref="media#photos">Appareils photos numériques</link>, <link xref="media#music">iPods</link>, <link xref="media#videos">lire des vidéos</link>…</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Son, images &amp; vidéos</title>

<section id="sound" style="2column">
 <info>
   <title type="sort">Son</title>
   <title type="link" role="trail">Son</title>
   <title type="link" role="topic">Son</title>
   <desc><link xref="sound-volume">Volume sonore</link>, <link xref="sound-usespeakers">haut-parleurs et casques</link>, <link xref="sound-usemic">microphones</link>…</desc>
   <link type="guide" xref="prefs"/>
 </info>
 <title>Notions de base sur le son</title>
</section>

<section id="music" style="2column">
 <info><title type="link">Musique et lecteurs</title></info>
 <title>Musique et lecteurs audio portables</title>
</section>

<section id="photos" style="2column">
 <info><title type="link">Photos</title></info>
 <title>Photos et appareils numériques</title>
</section>

<section id="videos" style="2column">
 <info><title type="link">Vidéos</title></info>
 <title>Vidéos et caméras</title>
</section>

</page>
