<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-chat-social" xml:lang="fr">
  <info>
    <link type="guide" xref="net-chat"/>

    <revision version="13.10" date="2013-09-18" status="review"/>

    <credit type="author">
      <name>L'équipe de documentation d'Ubuntu</name>
    </credit>

    <desc>Publiez sur <em>Twitter</em>, <em>Facebook</em> et les autres sites de réseaux sociaux directement depuis votre bureau</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Réseaux sociaux depuis le bureau</title>

  <p>Avec Ubuntu vous pouvez publier sur vos sites de réseaux sociaux favoris à partir de votre bureau. Ubuntu utilise le moteur de recherche <app>Friends</app> pour vous permettre d'organiser vos sites de réseaux sociaux en un seul endroit et pour publier des mises à jour depuis le <gui>Menu personnel</gui> sans ouvrir aucun site Web.</p>

  <p>Pour configurer vos comptes de réseaux sociaux :</p>
  <steps>

    <item><p>Ouvrez le <link xref="unity-menubar-intro">Menu système</link> sur la partie droite de la barre de menu et sélectionnez « Paramètres système... ».</p></item>

    <item><p>Choisissez <gui>Comptes en ligne</gui></p></item>

    <item><p>Choisissez le réseau social que vous souhaitez configurer et cliquez sur <gui>Ajouter un compte...</gui></p></item>

    <item><p>Cliquez sur <gui>Autoriser</gui>, insérez la configuration de votre compte pour ce site, puis suivez les instructions</p></item>

  </steps>

  <p>Vous pouvez désormais voir vos messages de réseaux sociaux à partir du <link xref="unity-menubar-intro">Menu messagerie</link> sur la partie droite de la barre de menu, dans la section <gui>Publications</gui>. Cliquez sur n'importe quel élément  dans cette section pour ouvrir le moteur de recherche <gui>Friends</gui> et pour lire ou publier des messages sur votre réseau social.</p>

</page>
