<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="printing-streaks" xml:lang="fr">

  <info>
    <link type="guide" xref="printing#problems"/>

    <desc>Si vos épreuves sortent zébrées, estompées ou manquent de couleur, vérifiez les niveaux d'encre ou faites un nettoyage des têtes d'impression.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>Projet de documentation GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Pourquoi des zébrures, des lignes ou de mauvaises couleurs sur mes épreuves ?</title>

  <p>Si vos épreuves sortent zébrées, estompées, striées de lignes qui ne devraient pas être là, ou sont de qualité médiocre, il y a certainement un problème avec l'imprimante ou un manque d'encre ou de toner.</p>

<list>
 <item>
  <p>Texte ou images estompés</p>
  <p>Il manque certainement de l'encre ou du toner. Vérifiez les niveaux et achetez une cartouche neuve si nécessaire.</p>
 </item>

 <item>
  <p>Zébrures et striures</p>
  <p>Si c'est une imprimante à jet d'encre, la tête d'impression est peut être sale ou en partie bouchée. Tentez un nettoyage des buses (consultez le manuel de votre imprimante pour connaître la procédure).</p>
 </item>

 <item>
  <p>Mauvaises couleurs</p>
  <p>L'imprimante manque certainement d'une couleur d'encre ou de toner. Vérifiez les niveaux et achetez une cartouche neuve si nécessaire.</p>
 </item>

 <item>
  <p>Lignes dentelées ou tordues</p>
  <p>Si des lignes devant être droites se retrouvent dentelées, il faut certainement faire un alignement des têtes. Consultez le manuel de votre imprimante pour connaître la procédure détaillée.</p>
 </item>
</list>

</page>
