<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="printing-paperjam" xml:lang="fr">

  <info>
    <link type="guide" xref="printing#problems"/>

    <desc>La façon de résoudre un problème de bourrage papier dépend de la marque et du modèle de votre imprimante.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Résolution d'un problème de bourrage papier</title>

<p>Parfois, l'imprimante charge de travers les feuilles de papier et il y a bourrage.</p>

<p>Le manuel de votre imprimante doit normalement vous fournir la procédure à appliquer pour vous sortir d'un bourrage papier. Habituellement, il faut ouvrir un des capots de l'imprimante pour localiser le bourrage et ensuite tirer fermement (mais précautionneusement !) sur le paquet froissé pour le retirer du mécanisme d'approvisionnement.</p>

<p>Une fois le bourrage terminé, il faut en général appuyez sur le bouton <gui>Reprendre</gui> pour relancer des impressions. Avec certaines imprimantes, il faut même éteindre et rallumer l'imprimante, puis recommencer l'impression.</p>

</page>
