<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="shell-windows-tiled" xml:lang="fr">

  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <desc>Maximiser deux fenêtres côte à côte.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="shell-windows#working-with-windows"/>
    <revision pkgversion="3.4.0" date="2012-02-19" status="final"/>
    <revision pkgversion="3.4.0" date="2012-03-14" status="candidate"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
  </info>

<title>Juxtaposition de fenêtres</title>

<p>Vous pouvez maximiser une fenêtre seulement à gauche ou à droite de l'écran, ainsi vous pouvez placer deux fenêtres côte-à-côte pour passer rapidement de l'une à l'autre.</p>

<p>Pour maximiser une fenêtre sur un bord de l'écran, faites glisser le titre de la fenêtre vers la gauche ou la droite jusqu'à ce que la moitié de l'écran se mette en surbrillance. Via le clavier, maintenez appuyées les touches <key>Ctrl</key> et <key><link xref="windows-key">Super</link></key> et appuyez sur <key>Gauche</key> ou <key>Droite</key>.</p>

<!-- Disable this line since neither of these actually work 100%
<p>To restore a window to its original size, drag it away from the side of
the screen, or use the same keyboard shortcut you used to maximize.</p>
-->

<note style="tip">
  <p>Maintenez appuyée la touche <key>Alt</key> et faites glisser une fenêtre à partir de n'importe quel point de la fenêtre pour la déplacer.</p>
</note>

</page>
