<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="unity-dash-video" xml:lang="fr">
  <info>
    <link type="guide" xref="unity-dash-intro#dash-lenses"/>
    <link type="seealso" xref="unity-dash-intro#dash-lenses"/>

    <desc>Trouvez et jouez des vidéos sur votre ordinateur ou sur internet.</desc>

    <revision version="13.10" date="2013-10-23" status="outdated"/>

    <credit type="author">
      <name>Jeremy Bicha</name>
      <email>jbicha@ubuntu.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Lentille Vidéo</title>

  <p>La lentille Vidéos est la troisième lentille après l'accueil du Tableau de bord dans la <gui>barre de lentilles</gui> et est représentée par une pellicule de film. La lentille Vidéos vous donne accès à vos vidéos ou à des vidéos disponibles en ligne.</p>

  <p>Vous pouvez même acheter ou louer des vidéos depuis le tableau de bord.</p>

  <p>Vous pouvez utiliser <keyseq><key>Super</key><key>V</key></keyseq> pour ouvrir le tableau de bord directement dans la lentille Vidéos.</p>


<section id="dash-apps-previews">
  <title>Aperçus</title>

  <p>Faites un clic droit sur un résultat de recherche pour ouvrir un <gui>aperçu</gui> avec des informations supplémentaires sur la vidéo.</p>

</section>

<section id="dash-apps-filters">
  <title>Filtres</title>

  <p>Cliquez sur <gui>Filtrer les résultats</gui> pour filtrer par source de vidéos.</p>

</section>

</page>
