<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="a11y task" id="a11y" xml:lang="it">

  <info>
    <link type="guide" xref="index" group="a11y"/>

    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <desc><link xref="a11y#vision">Vista</link>, <link xref="a11y#sound">udito</link>, <link xref="a11y#mobility">mobilità</link>, <link xref="a11y-braille">braille</link>, <link xref="a11y-mag">ingrandimento schermo</link>…</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Luca Ferretti</mal:name>
      <mal:email>lferrett@gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Flavia Weisghizzi</mal:name>
      <mal:email>flavia.weisghizzi@ubuntu.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>Accesso universale</title>

  <p>The GNOME desktop includes assistive technologies to support users with
  various impairments and special needs, and to interact with common assistive
  devices. An accessibility menu can be added to the top bar, giving easier
  access to many of the accessibility features.</p>

  <section id="vision">
    <title>Difficoltà visive</title>

    <links type="topic" groups="blind" style="linklist">
      <title>Cecità</title>
    </links>
    <links type="topic" groups="lowvision" style="linklist">
      <title>Visione ridotta</title>
    </links>
    <links type="topic" groups="colorblind" style="linklist">
      <title>Daltonismo</title>
    </links>
    <links type="topic" style="linklist">
      <title>Altri argomenti</title>
    </links>
  </section>

  <section id="sound">
    <title>Difficoltà uditive</title>
    <links type="topic" style="linklist"/>
  </section>

  <section id="mobility">
    <title>Difficoltà motorie</title>

    <links type="topic" groups="pointing" style="linklist">
      <title>Movimenti del mouse</title>
    </links>
    <links type="topic" groups="clicking" style="linklist">
      <title>Clic e trascinamento</title>
    </links>
    <links type="topic" groups="keyboard" style="linklist">
      <title>Usare la tastiera</title>
    </links>
    <links type="topic" style="linklist">
      <title>Altri argomenti</title>
    </links>
  </section>
</page>
