<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" version="1.0 if/1.0" id="files" xml:lang="it">

  <info>
    <link type="guide" xref="index" group="files"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-07" status="review"/>
    <revision pkgversion="3.12" date="2014-03-02" status="review"/>
    <revision pkgversion="3.16" date="2015-01-27" status="review"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Jim Campbell</name>
      <email its:translate="no">jcampbell@gnome.org</email>
    </credit>

    <title type="link" role="trail">File</title>

    <desc>
      <link xref="files-search">Searching</link>,
      <link xref="files-delete">delete files</link>,
      <link xref="files#backup">backups</link>,
      <link xref="files#removable">removable drives</link>…
    </desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Luca Ferretti</mal:name>
      <mal:email>lferrett@gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Flavia Weisghizzi</mal:name>
      <mal:email>flavia.weisghizzi@ubuntu.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>File, cartelle e ricerche</title>

<section id="common-file-tasks">
  <title>Attività comuni</title>
  <links type="topic" style="2column"/>
</section>

<section id="more-file-tasks">
  <title>More file-related tasks</title>
  <links type="topic" style="2column"/>
</section>

<section id="removable">
  <title>Unità rimovibili e dischi esterni</title>
  <links type="topic" style="2column"/>
</section>

<section id="backup">
  <title>Eseguire backup</title>
  <links type="topic" style="2column"/>
</section>

<section id="faq">
  <title>Suggerimenti e domande</title>
  <links type="topic" style="2column"/>
</section>

</page>
