<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:ui="http://projectmallard.org/ui/1.0/" type="topic" style="task" version="1.0 ui/1.0" id="files-copy" xml:lang="it">

  <info>
    <link type="guide" xref="files#common-file-tasks"/>

    <revision pkgversion="3.5.92" version="0.2" date="2012-09-15" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="review"/>

    <credit type="author">
      <name>Cristopher Thomas</name>
      <email>crisnoh@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Copiare o spostare elementi in una nuova cartella.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Luca Ferretti</mal:name>
      <mal:email>lferrett@gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Flavia Weisghizzi</mal:name>
      <mal:email>flavia.weisghizzi@ubuntu.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

<title>Copiare o spostare file e cartelle</title>

 <p>È possibile copiare o spostare file o cartelle in una nuova posizione trascinandoli con il mouse, usando i comandi copia e incolla oppure utilizzando le scorciatoie da tastiera.</p>

 <p>Per esempio, è possibile copiare una presentazione su un dispositivo rimovibile da portare al lavoro. È anche possibile effettuare una copia di backup di un documento prima di modificarlo (e quindi usare la copia se le modifiche non risultano soddisfacenti).</p>

 <p>Queste istruzioni si applicano sia ai file che alle cartelle: le stesse azioni possono essere usate per entrambi.</p>

<steps ui:expanded="false">
<title>Copiare e incollare file</title>
<item><p>Selezionare il file da copiare facendoci clic una sola volta.</p></item>
<item><p>Right-click and pick <gui>Copy</gui>, or press
 <keyseq><key>Ctrl</key><key>C</key></keyseq>.</p></item>
<item><p>Spostarsi in un'altra cartella dove mettere la copia.</p></item>
<item><p>Click the menu button and pick <gui>Paste</gui> to finish copying the
 file, or press <keyseq><key>Ctrl</key><key>V</key></keyseq>. There
 will now be a copy of the file in the original folder and the other
 folder.</p></item>
</steps>

<steps ui:expanded="false">
<title>Tagliare e incollare file per muoverli</title>
<item><p>Selezionare il file da spostare facendoci clic una sola volta.</p></item>
<item><p>Right-click and pick <gui>Cut</gui>, or press
 <keyseq><key>Ctrl</key><key>X</key></keyseq>.</p></item>
<item><p>Spostarsi in un'altra cartella, dove spostare il file.</p></item>
<item><p>Click the menu button in the toolbar and pick <gui>Paste</gui> to
 finish moving the file, or press <keyseq><key>Ctrl</key><key>V</key></keyseq>.
 The file will be taken out of its original folder and moved to the other
 folder.</p></item>
</steps>

<steps ui:expanded="false">
<title>Trascinare file per copiarli o spostarli</title>
<item><p>Aprire il gestore di file e spostarsi nella cartella che contiene il file da copiare.</p></item>
<item><p>Click <gui>Files</gui> in the top bar, select <gui>New Window</gui> (or
 press <keyseq><key>Ctrl</key><key>N</key></keyseq>) to open a second window. In
 the new window, navigate to the folder where you want to move or copy the file.
 </p></item>
<item>
 <p>Fare clic e trascinare il file da una finestra all'altra. Questa operazione <em>sposterà</em> il file se la destinazione sarà sullo <em>stesso</em> dispositivo, o lo <em>copierà</em> se la destinazione sarà su un <em>diverso</em> dispositivo.</p>
 <p>Per esempio, se si trascina un file da un supporto USB nella cartella Home, questo verrà copiato, in quanto viene trascinato da un dispositivo a un altro.</p>
 <p>Si può forzare la copia del file trascinandolo e tenendo premuto il tasto <key>Ctrl</key>, o forzarne lo spostamento trascinandolo e tenendo premuto il tasto <key>Maiusc</key>.</p>
 </item>
</steps>

<note>
  <p>You cannot copy or move a file into a folder that is <em>read-only</em>.
  Some folders are read-only to prevent you from making changes to their
  contents. You can change things from being read-only by
  <link xref="nautilus-file-properties-permissions">changing file permissions
  </link>.</p>
</note>

</page>
