<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="media" xml:lang="it">
  <info>

    <link type="guide" xref="index" group="media"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc>
      <link xref="media#photos">Digital cameras</link>,
      <link xref="media#music">iPods</link>,
      <link xref="media#photos">editing photos</link>,
      <link xref="media#videos">playing videos</link>…
    </desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Luca Ferretti</mal:name>
      <mal:email>lferrett@gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Flavia Weisghizzi</mal:name>
      <mal:email>flavia.weisghizzi@ubuntu.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

<title>Audio, video e immagini</title>

<section id="sound" style="2column">
 <info>
   <title type="sort">Audio</title>
   <title type="link" role="trail">Audio</title>
   <title type="link" role="topic">Audio</title>
   <desc>
     <link xref="sound-volume">Volume</link>,
     <link xref="sound-usespeakers">speakers and headphones</link>,
     <link xref="sound-usemic">microphones</link>…
   </desc>
   <link type="guide" xref="prefs"/>
 </info>
 <title>Audio di base</title>
</section>

<section id="music" style="2column">
 <info><title type="link">Musica e riproduttori audio</title></info>
 <title>Musica e riproduttori audio portatili</title>
</section>

<section id="photos" style="2column">
 <info><title type="link">Foto</title></info>
 <title>Fotografie e fotocamere digitali</title>
</section>

<section id="videos" style="2column">
 <info><title type="link">Video</title></info>
 <title>Video e videocamere</title>
</section>

</page>
