<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="music-player-newipod" xml:lang="it">
  <info>
    <link type="guide" xref="media#music"/>


    <credit type="author">
      <name>Progetto documentazione di GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>Per poter utilizzare i nuovi iPod è necessario configurarli attraverso iTunes.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Luca Ferretti</mal:name>
      <mal:email>lferrett@gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Flavia Weisghizzi</mal:name>
      <mal:email>flavia.weisghizzi@ubuntu.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

<title>L'iPod nuovo non funziona</title>

<p>If you have a new iPod that has never been connected to a computer before, it won't be recognized properly when you connect it to a Linux computer. This is because iPods need to be set up and updated using the <app>iTunes</app> software, which only runs on Windows and Mac OS.</p>

<p>Per configurare un iPod nuovo, installare iTunes su un computer Windows o Mac, collegarlo e seguire le istruzioni a schermo per configurarlo. Se viene richiesto il <gui>Formato del volume</gui>, scegliere <gui>MS-DOS (FAT)</gui>, <gui>Windows</gui> o simili. L'altro formato (HFS/Mac) non funziona su Linux.</p>

<p>Terminata la configurazione, l'iPod dovrebbe funzionare normalmente quando collegato a un sistema operativo Linux.</p>

</page>
