<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="scan-folder" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="index#scan"/>
    <revision version="0.1" date="2011-12-19" status="stub"/>
    <revision pkgversion="3.4" date="2012-02-20" status="review"/>
    <revision pkgversion="3.8" date="2013-07-20" status="review"/>

    <credit type="author copyright">
      <name>Julita Inca</name>
      <email its:translate="no">yrazes@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>扫描本地文件夹，包括所有的子文件夹。</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2009.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>tuhaihe</mal:name>
      <mal:email>1132321739qq@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>扫描文件夹</title>

  <p>单个文件夹的扫描要比整个文件系统的扫描快得多，所以如果您只想要关于文件系统某个特定部分的信息，这可能效率更高。</p>

  <steps>
    <item>
      <p>Press the button in the top-right of the main window and select
      <gui style="menuitem">Scan Folder…</gui>.</p>
    </item>
    <item>
      <p>A file chooser dialog will open. Choose the folder which you want to
      scan.</p>
    </item>
    <item>
      <p>Click <gui>Open</gui> to start the scan.</p>
    </item>
  </steps>

  <p>The folder which you just scanned will now be added to your list of
  <gui>Devices and locations</gui>. If the folder is renamed or deleted, it
  will be removed from the list when you next restart <app>Disk Usage
  Analyzer</app>.</p>

</page>
