<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task a11y" id="a11y-contrast" xml:lang="ru">
  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <desc>Сделайте окна и кнопки на экране более (или менее) яркими, чтобы их было легче увидеть.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="a11y#vision" group="lowvision"/>
    <link type="seealso" xref="display-dimscreen"/>
    <revision pkgversion="3.7.1" version="0.3" date="2012-11-16" status="outdated"/>
    <revision version="13.10" date="2013-10-25" status="review"/>
  </info>

  <title>Настройка контраста</title>

  <p>Чтобы легче видеть окна и кнопки, можно настроить их контрастность. Это не то же самое, что <link xref="display-dimscreen">изменение яркости всего экрана</link>, — будут изменены лишь отдельные части <em>пользовательского интерфейса</em>.</p>

  <steps>
    <item>
      <p>Щёлкните самый правый значок на <gui>панели меню</gui> и выберите <gui>Параметры системы</gui>.</p>
    </item>
    <item>
      <p>Откройте <gui>Специальные возможности</gui> и выберите вкладку <gui>Зрение</gui>.</p>
    </item>
    <item>
      <p>Переведите переключатель <gui>Высокая контрастность</gui> в положение <gui>ON</gui>.</p>
    </item>
  </steps>

</page>
