<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="backup-where" xml:lang="ru">

  <info>
    <link type="guide" xref="backup-why"/>
    <desc>Советы о том, где хранить резервные копии и какой тип устройств хранения использовать.</desc>
    <title type="sort">c</title>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="14.04" date="2014-04-03" status="review"/>

    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Где хранить вашу резервную копию</title>

  <p>Необходимо хранить резервные копии ваших файлов где-нибудь отдельно от компьютера, например, на внешнем жёстком диске. В этом случае при поломке компьютера резервные копии по-прежнему останутся целыми. Для максимальной безопасности не храните резервную копию в одном здании с вашим компьютером. В случае пожара или кражи могут быть потеряны обе копии данных, если они хранились вместе.</p>

  <p>Также важно выбрать подходящий <em>носитель информации</em>. Нужно хранить ваши резервные копии на устройстве с объёмом памяти, достаточным для всех резервных копий файлов.</p>

   <list style="compact">
    <title>Локальные и удалённые места хранения</title>
    <item>
      <p>USB-накопитель (небольшая ёмкость)</p>
    </item>
    <item>
     <p>Записываемые компакт-диски или диски DVD (небольшая или средняя ёмкость)</p>
    </item>
    <item>
      <p>Внешний жёсткий диск (обычно большая ёмкость)</p>
    </item>
    <item>
      <p>Внутренний жёсткий диск (большая ёмкость)</p>
    </item>
    <item>
      <p>Сетевой диск (большая ёмкость)</p>
    </item>
    <item>
      <p>Файловый сервер или сервер резервного копирования (большая ёмкость)</p>
    </item>
    <item>
     <p>Онлайн-хранилища (например, <link href="http://aws.amazon.com/s3/">Amazon S3</link>, ёмкость зависит от цены)</p>
    </item>
   </list>

  <p>Некоторые из этих мест хранения обладают достаточной ёмкостью для размещения резервных копий каждого файла вашей системы, известного также как <em>полное резервное копирование системы</em>.</p>
</page>
