<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="contacts-setup" xml:lang="ru">

  <info>
    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>Сохраняйте свои контакты в локальной адресной книге или в сетевой учётной записи.</desc>
    <link type="guide" xref="contacts" group="#first"/>
    <revision pkgversion="3.5.5" date="2012-08-13" status="draft"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Первый запуск Контактов</title>

  <p>При первом запуске <app>Контактов</app> откроется окно <gui>Настройка контактов</gui>.</p>
   
   <p>Если ваши <link xref="accounts">сетевые учётные записи</link> настроены, то они перечислены в <gui>локальной адресной книге</gui>. Выберите объект из списка и щёлкните <gui style="button">Выбрать</gui>.</p>
  
  <note>
    <p>Щёлкните <gui style="button">Параметры сетевой учётной записи</gui> для изменения настроек существующей учётной записи.</p>
  </note>
  
   <p>Если сетевые учётные записи не настроены, щёлкните <gui style="button">Учётные записи в сети</gui> для начала установки. Если на этом этапе настройка сетевых учётных записей не требуется, щёлкните <gui style="button">Локальная адресная книга</gui>.</p>


</page>
