<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="contacts-connect" xml:lang="ru">

  <info>
    <link type="guide" xref="contacts"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>

    <revision pkgversion="3.8" date="2013-04-27" status="draft"/>
    <revision version="13.10" date="2013-09-07" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Отправьте сообщение электронной почты, мгновенное сообщение или позвоните контакту.</desc>
  </info>

  <title>Чтобы связаться с вашим контактом</title>

  <p>Для отправки сообщения электронной почты, мгновенного сообщения или звонка кому-нибудь из <app>Контактов</app>:</p>

  <steps>
    <item>
      <p>Выберите контакт из вашего списка контактов.</p>
    </item>
    <item>
      <p>Нажмите на <gui>данные</gui>, которые необходимо использовать. Например, для отправки контакту сообщения электронной почты нажмите электронный адрес.</p>
    </item>
    <item>
      <p>Будет запущено соответствующее контактным данным приложение.</p>
    </item>
  </steps>

</page>
