<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="contacts-add-remove" xml:lang="ru">

  <info>
    <link type="guide" xref="contacts"/>
    <revision pkgversion="3.5.5" date="2012-08-13" status="review"/>
    <revision pkgversion="3.8" date="2013-04-27" status="review"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <credit type="author">
      <name>Lucie Hankey</name>
      <email its:translate="no">ldhankey@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Добавляйте или удаляйте контакты в локальной адресной книге.</desc>

  </info>

<title>Добавление или удаление контакта</title>

  <p>Чтобы добавить контакт:</p>

  <steps>
    <item>
      <p>Нажмите <gui style="button">Создать</gui>.</p>
    </item>
    <item>
      <p>В окне <gui>Создать контакт</gui> введите имя контакта и необходимую информацию. Щёлкните на меню рядом с каждым полем для выбора <gui>Работа</gui>, <gui>Дом</gui> или <gui>Другой</gui>.</p>
    </item>
    <item>
      <p>Нажмите <gui style="button">Создать контакт</gui>.</p>
    </item>
  </steps>

  <p>Чтобы удалить контакт:</p>

  <steps>
    <item>
      <p>Выберите контакт из вашего списка контактов.</p>
    </item>
    <item>
      <p>Нажмите <gui style="button">Изменить</gui> в верхнем правом углу <app>Контактов</app>.</p>
    </item>
    <item>
      <p>Нажмите <gui style="button">Удалить контакт</gui>.</p>
    </item>
  </steps>

</page>
