<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-viewgrid" xml:lang="ru">

  <info>
    <credit type="author">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>

    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>

		<credit type="editor">
			<name>Greg Beam</name>
			<email>ki7mt@yahoo.com</email>
			<years>2014</years>
		</credit>

    <link type="guide" xref="documents#view"/>
    <revision pkgversion="3.8.2" date="2014-01-13" status="review"/>
    <revision version="14.04" date="2014-01-13" status="review"/>
		<include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

		<desc>Измените способ отображения документов.</desc>

  </info>

  <title>Просмотр файлов в виде списка или сетки</title>

  <p>По умолчанию документы и коллекции представляются в виде <gui>Сетки</gui>. Для просмотра в виде <gui>Списка</gui>:</p>
   <steps>
    <item>
      <p>Перейдите на верхнюю панель и щёлкните <app>Документы</app>, чтобы показать меню приложения.</p>
    </item>
    <item>
      <p>Щёлкните <gui>Список</gui> в секции <gui>Просматривать в виде</gui>.</p>
    </item>
  </steps>

  <note style="tip"><p>При просмотре в виде списка столбцы отображают тип документа, дату изменения и где хранится документ — локально, или в <app>Google Docs</app>, или в <em>SkyDrive</em>.</p>
  </note>

  <p>Щёлкните <gui>Сетка</gui> в меню приложения для возврата к виду по умолчанию.</p>

</page>
