<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="look-resolution" xml:lang="ru">

  <info>
    <link type="guide" xref="prefs-display"/>
    <link type="guide" xref="hardware-problems-graphics"/>
    <link type="seealso" xref="look-display-fuzzy"/>

    <revision pkgversion="3.8.0" version="0.3" date="2013-03-09" status="candidate"/>
    <revision version="13.10" date="2013-10-22" status="review"/>

    <desc>Измените разрешение экрана и его ориентацию (поворот).</desc>
    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Natalia Ruz Leiva</name>
      <email>nruz@alumnos.inf.utfsm.cl </email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Изменение размера или ориентации экрана</title>

<p>Можно изменить масштаб (или детализацию) объектов, отображаемых на экране, изменив <em>разрешение экрана</em>. Можно указать, где должен быть верх объектов (например, если у вас поворотный экран), изменив <em>ориентацию</em> экрана.</p>

<steps>
  <item><p>Щёлкните самый правый значок на панели меню и выберите <gui>Параметры системы</gui>.</p></item>
  <item><p>Откройте <gui>Настройку экранов</gui>.</p></item>
  <item><p>Если есть несколько экранов, и они зеркально не отражаются, то можно установить разные настройки для каждого из экранов. Выберите экран в области предварительного просмотра.</p></item>
  <item><p>Выберите желаемое разрешение и ориентацию.</p></item>
  <item><p>Щёлкните <gui>Применить</gui>. Новая конфигурация будет применяться на протяжении 30 секунд, после чего будут восстановлены старые настройки. Поэтому, если после применения новых параметров ничего не видно, то ваши предыдущие настройки будут автоматически восстановлены. Если новые настройки подходят, щёлкните <gui>Оставить эту конфигурацию</gui>.</p></item>
</steps>

<note style="tip">
 <p>При использовании ещё одного экрана, например проектора, он должен обнаруживаться автоматически, и поэтому можно изменять его параметры так же, как параметры вашего обычного монитора. Если этого не происходит, просто щёлкните на кнопке <gui>Определить экраны</gui>.</p>
</note>

<section id="resolution">
<title>Разрешение</title>
<p>Разрешение — это число пикселов (точек на экране), которое может быть отображено по горизонтали и по вертикали. Каждое разрешение имеет <em>соотношение сторон</em> — отношение ширины к высоте. В широкоэкранных дисплеях используется соотношение сторон 16:9, в то время как в обычных дисплеях — 4:3. Если соотношение сторон выбранного разрешения не совпадает с соотношением сторон экрана, то для избежания искажений на экран будет выведено изображение «letterbox» (добавлены чёрные полосы сверху и снизу).</p>
<p>Можно выбрать предпочитаемое разрешение из выпадающего списка <gui>Разрешение</gui>. Если выбрать неподходящее разрешение для вашего экрана, изображение будет выглядеть <link xref="look-display-fuzzy">размытым или мозаичным</link>.</p>
</section>

<section id="rotation">
<title>Ориентация</title>
<p>Некоторые ноутбуки позволяют физически поворачивать экран в разных направлениях. Поэтому возможность изменять ориентацию экрана очень удобна. Выбрать требуемый поворот можно из выпадающего списка <gui>Ориентация</gui>.</p>
</section>

</page>
