<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="mouse-mousekeys" xml:lang="ru">
<info>
    <link type="guide" xref="mouse"/>
    <link type="guide" xref="a11y#mobility" group="pointing"/>

    <revision pkgversion="3.8.0" date="2013-03-16" status="outdated"/>
    <revision version="13.10" date="2013-09-12" status="review"/>

    <desc>Включите кнопки мыши для управления мышью с помощью цифрового блока клавиатуры.</desc>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    
</info>

<title>Щелчок и перемещение указателя мыши с помощью клавиатуры</title>

<p>Если пользоваться мышью или другим указательным устройством трудно, то можно управлять указателем мыши с помощью цифрового блока на клавиатуре. Эта особенность называется <em>кнопки мыши</em>.</p>

<steps>
  <item><p>Коснитесь клавиши <key><link xref="windows-key">Super</link></key>, чтобы открыть <gui>главное меню</gui>.</p></item>
  <item><p>Наберите <input>Специальные возможности</input> и нажмите <key>Enter</key>, чтобы открыть настройки специальных возможностей.</p></item>
  <item><p>Для выбора вкладки <gui>Зрение</gui> нажмите <key>Tab</key> один раз.</p></item>
  <item><p>Нажмите <key>←</key> один раз, чтобы перейти на вкладку <gui>Наведение и нажатие</gui>.</p></item>
  <item><p>Нажмите <key>↓</key> один раз для выбора переключателя <gui>Кнопки мыши</gui>, затем нажмите <key>Enter</key>, чтобы включить его.</p></item>
 <item>
  <p>Убедитесь, что <key>Num Lock</key> отключён. Теперь можно перемещать указатель мыши с помощью клавиатуры.</p>
 </item>
</steps>

 <note style="tip">
 <p>Эти инструкции — кратчайший способ начать управлять указателем мыши, используя только клавиатуру. Выберите <gui>Специальные возможности</gui>, чтобы узнать больше о вспомогательных технологиях.</p>
 </note>

<p>Цифровой блок — это группа цифровых клавиш на клавиатуре, собранных, как правило, в отдельный блок прямоугольной формы. Если ваша клавиатура без цифрового блока (например, клавиатура ноутбука), его функцию могут выполнять другие клавиши, нажатые вместе с функциональной клавишей (<key>Fn</key>). Если приходится часто пользоваться перемещением указателя мыши с помощью клавиатуры на ноутбуке, то можно приобрести внешний цифровой блок, подключаемый через USB.</p>

<p>Каждое число в цифровом блоке соответствует направлению. Например, нажатие <key>8</key> перемещает указатель вверх, а нажатие <key>2</key> — вниз. Нажатие <key>5</key> имитирует щелчок мышью, а быстрое двойное нажатие — двойной щелчок.</p>

<p>На многих клавиатурах есть специальная клавиша, имитирующая нажатие правой кнопки мыши — часто она расположена рядом с пробелом. Однако обратите внимание, что она срабатывает в месте расположения клавиатурного курсора, а не там, где расположен указатель мыши. Для информации о том, как выполнить щелчок правой кнопкой мыши, удерживая <key>5</key> или левую кнопку мыши, см. <link xref="a11y-right-click"/>.</p>

<p>Если при включённых кнопках мыши потребуется ввести цифры с помощью цифрового блока клавиатуры, включите <key>Num Lock</key>. Однако, пока включён <key>Num Lock</key>, управлять указателем мыши с клавиатуры не удастся.</p>

<note>
    <p>Обычные клавиши с цифрами (те, что на верхнем ряду клавиатуры) не будут управлять указателем мыши. Для этого можно использовать только клавиши цифрового блока.</p>
</note>

</page>
