<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="mouse-lefthanded" xml:lang="ru">
<info>
    <link type="guide" xref="mouse"/>

    <revision pkgversion="3.8.0" version="0.3" date="2013-03-13" status="candidate"/>
    <revision version="13.10" date="2013-10-22" status="review"/>

    <desc>Поменяйте местами левую и правую кнопки мыши в настройках мыши.</desc>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
</info>

<title>Использование мыши левшами</title>

<p>Действия, выполняемые левой и правой кнопками мыши или сенсорной панели, можно «поменять местами», чтобы сделать удобнее управление этими устройствами левой рукой.</p>

<steps>
  <item><p>Щёлкните самый правый значок на <gui>панели меню</gui> и выберите <gui>Параметры системы</gui>.</p></item>
  <item><p>Откройте <gui>Мышь и сенсорная панель</gui>.</p></item>
  <item><p>В разделе <gui>Общие</gui> переключите <gui>Основную кнопку</gui> на <gui>Правую</gui>.</p></item>
</steps>

<note><p>Эти настройки применимы и для мыши, и для сенсорной панели точно так же, как и для любого другого указательного устройства.</p></note>

</page>
