<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="ui" id="nautilus-behavior" xml:lang="ru">

  <info>
    <link type="guide" xref="nautilus-prefs" group="nautilus-behavior"/>

    <desc>Откройте файлы одинарным щелчком, запустите или просмотрите исполняемые текстовые файлы, а также настройте поведение Корзины.</desc>

    <revision version="13.10" date="2013-09-15" status="review"/>
    <revision pkgversion="3.5.92" version="0.2" date="2012-09-19" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Параметры поведения менеджера файлов</title>
<p>Можно выбрать, как открывать файлы (одинарным или двойным щелчком), как будут обрабатываться исполняемые текстовые файлы, а также настроить поведение корзины. Для этого на панели меню щёлкните <gui>Файлы</gui>, выберите <gui>Параметры</gui> и перейдите на вкладку <gui>Поведение</gui>.</p>

<section id="behavior">
<title>Поведение</title>
<terms>
 <item>
  <title><gui>Открывать объекты одним щелчком</gui></title>
  <title><gui>Открывать объекты двойным щелчком</gui></title>
  <p>По умолчанию щелчок выбирает файлы, а двойной щелчок открывает их. Можно сделать так, чтобы файлы и папки открывались одинарным щелчком. Выбрать один или несколько файлов в этом режиме можно, удерживая нажатой клавишу <key>Ctrl</key>.</p>
 </item>
</terms>

</section>
<section id="executable">
<title>Исполняемые текстовые файлы</title>
 <p>Исполняемый текстовый файл — это файл, содержащий программу, которую можно запустить (исполнить). Кроме того, в <link xref="nautilus-file-properties-permissions">настройках прав доступа к файлу</link> должно быть разрешено исполнение файла как программы. Самые распространённые исполняемые текстовые файлы — это сценарии <sys>Shell</sys>, <sys>Python</sys> и <sys>Perl</sys> с расширениями <file>.sh</file>, <file>.py</file> и <file>.pl</file> соответственно.</p>
 
 <p>При открытии исполняемого текстового файла можно выбрать:</p>
 
 <list>
  <item>
    <p><gui>Запускать исполняемые текстовые файлы при открытии</gui></p>
  </item>
  <item>
    <p><gui>Показывать содержимое исполняемых текстовых файлов при открытии</gui></p>
  </item>
  <item>
    <p><gui>Каждый раз спрашивать</gui></p>
  </item>
 </list>

 <p>Если выбрано <gui>Каждый раз спрашивать</gui>, то при открытии выделенного текстового файла будет появляться диалоговое окно с запросом, что необходимо выполнить: запустить файл или просмотреть его.</p>

 <p>Исполняемые текстовые файлы называют также сценариями. Все сценарии из папки <file>~/.local/share/nautilus/scripts</file> будут появляться в подменю <gui style="menuitem">Сценарии</gui> контекстного меню для файла. Когда сценарий выполняется из локальной папки, все выделенные файлы передаются этому сценарию как параметры. Чтобы выполнить сценарий с файлом:</p>

<steps>
  <item>
    <p>Перейдите в нужную папку.</p>
  </item>
  <item>
    <p>Выберите требуемый файл.</p>
  </item>
  <item>
    <p>Щёлкните правой кнопкой на файле, чтобы открыть контекстное меню, и выберите нужный сценарий для выполнения из подменю <gui style="menuitem">Сценарии</gui>.</p>
  </item>
</steps>

 <note style="important">
  <p>Сценарию не передаются никакие параметры, если он выполняется из находящейся удалённо папки, например, отображающей содержимое из Интернета или <sys>FTP</sys>.</p>
 </note>

</section>
<section id="trash">
<info>
<link type="seealso" xref="files-delete"/>
<title type="link">Настройки корзины менеджера файлов</title>
</info>
<title>Корзина</title>

<terms>
 <item>
  <title><gui>Спрашивать перед очисткой корзины и удалением файлов</gui></title>
  <p>Эта опция включена по умолчанию. При очистке корзины будет запрашиваться подтверждение, действительно ли требуется очистить корзину и удалить файлы.</p>
 </item>
 <item>
  <title><gui>Включить команду удаления, не использующую корзину</gui></title>
  <p>Выбор этой опции добавит команду <gui>Удалить безвозвратно</gui> в контекстное меню, появляющееся при щелчке правой кнопкой на объекте в приложении <app>Файлы</app>.</p>
<note style="warning">
<p>Удаление объекта с помощью команды меню <gui>Удалить безвозвратно</gui> происходит в обход корзины. Объект полностью удаляется из системы и восстановить его уже невозможно.</p>
</note>
 </item>
</terms>
</section>

</page>
