<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-install-moonlight" xml:lang="ru">
  <info>
    <link type="guide" xref="net-browser"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>Некоторые веб-сайты для показа веб-страниц используют Silverlight. Плагин Moonlight позволит вам просматривать такие сайты.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Установка плагина Silverlight</title>

<p><app>Silverlight</app> — это <em>плагин</em> для вашего веб-браузера, который позволит вам воспроизводить видео и использовать интерактивные веб-страницы на некоторых веб-сайтах. Часть веб-сайтов не будет работать без Silverlight.</p>

<p>Просматривая веб-сайт с Silverlight без установленного плагина, вы, вероятно, увидите сообщение об этом. В сообщении должны быть инструкции как получить плагин, однако, эти инструкции могут не подходить для вашего браузера или версии Linux.</p>

<p>Если требуется просматривать веб-сайты с Silverlight, то нужно вместо этого установить плагин <em>Moonlight</em>. Это бесплатная, с открытым исходным кодом версия Silverlight, работающая в Linux.</p>


<p>Пожалуйста, посетите <link href="http://www.go-mono.com/moonlight/">сайт Moonlight</link> для получения подробной информации и инструкций по установке.</p>

</page>
