<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="net-wireless-disconnecting" xml:lang="ru">
  <info>
    <link type="guide" xref="net-wireless"/>
    <link type="guide" xref="net-problem"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>Возможно, сигнал сети слишком слаб, или сеть не позволяет вам подключиться правильно.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Почему подключение к моей беспроводной сети постоянно прерывается?</title>

<p>Иногда соединение с беспроводной сетью прерывается без вашего на то желания. Обычно компьютер в таком случае пытается подключиться к сети снова (при этом значок сети на верхней панели выглядит вращающимся), но частые прерывания соединения могут досаждать, особенно тогда, когда именно в это самое время вы пользуетесь Интернетом.</p>

<section id="signal">
 <title>Слабый сигнал беспроводной сети</title>

 <p>Обычной причиной прерывания подключения к беспроводной сети является слабый уровень сигнала. Беспроводные сети имеют ограниченную дальность действия, и если находиться далеко от беспроводной базовой станции, то сигнал может быть недостаточно сильным для удержания соединения. Стены и другие объекты, находящиеся между вами и базовой станцией, также могут ослаблять сигнал.</p>
 
 <p>Значок сети на панели меню показывает интенсивность сигнала беспроводной сети. Если сигнал выглядит слишком слабым, попробуйте переместиться ближе к базовой станции.</p>
 
</section>

<section id="network">
 <title>Сетевое соединение установлено неправильно</title>

 <p>Иногда соединение с беспроводной сетью, казалось бы, успешно установленное, спустя некоторое время прерывается. Обычно это происходит из-за того, что вашему компьютеру лишь частично удалось установить соединение с сетью — он пытается подключиться к сети, но, по какой-то причине, завершить установку соединения не удаётся, и соединение прерывается.</p>

 <p>Возможной причиной может быть или ввод неправильного пароля для беспроводной сети, или запрет доступа в сеть для вашего компьютера (например, для входа в сеть требуется указать ещё и имя пользователя).</p>

</section>

<section id="hardware">
 <title>Ненадёжное оборудование или драйверы беспроводной сети</title>

 <p>Некоторые устройства для беспроводных сетей могут работать не вполне стабильно. Беспроводные сети довольно сложны, поэтому иногда у беспроводных карт и базовых станций возникают небольшие сбои и соединение прерывается. Это досаждает, но такие проблемы регулярно возникают у многих устройств. Если ваше соединение с беспроводной сетью прерывается время от времени, то основная причина может быть в этом. Но если такие прерывания происходят достаточно часто, возможно, стоит подумать об использовании другого оборудования.</p>

</section>

<section id="busy">
 <title>Перегрузка в беспроводной сети</title>

 <p>К беспроводным сетям в местах общего пользования (например, в университетах или кафе) часто пытаются одновременно подключиться много компьютеров. Время от времени в таких сетях возникает перегрузка, и они не могут обработать запросы от всех подключающихся компьютеров, поэтому некоторые из них отключаются.</p>

</section>

</page>
