<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task 2column" id="net-chat" xml:lang="ru">

  <info>

    <revision version="13.10" date="2013-09-15" status="review"/>

    <link type="guide" xref="net"/>

    <desc><link xref="net-chat-empathy">Общайтесь в любой сети с <app>Empathy</app></link>, <link xref="net-chat-video">совершайте видеозвонки</link>, <link xref="net-chat-skype">установите skype</link>, <link xref="net-chat-social">приложения для социальных сетей</link></desc>
 
    <credit type="author">
      <name>Команда документации Ubuntu</name>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Чат и социальные сети</title>

</page>
