<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-wireless-troubleshooting-hardware-info" xml:lang="ru">
  <info>
    <link type="next" xref="net-wireless-troubleshooting-hardware-check"/>
    <link type="guide" xref="net-wireless-troubleshooting"/>
    <revision pkgversion="3.4.0" date="2012-03-05" status="outdated"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Участники проекта вики-документации Ubuntu</name>
    </credit>

    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>Вам могут понадобиться такие сведения, как номер модели беспроводного адаптера, для последующих действиях по устранению неполадок.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Диагностика беспроводных сетей</title>
<subtitle>Сбор информации о вашем сетевом оборудовании</subtitle>

<p>На этом этапе вы будете собирать информацию о вашем беспроводном сетевом устройстве. Способ решения многих проблем с беспроводной связью зависит от знания производителя и номера модели беспроводного адаптера, так что запишите эти сведения. Также может быть полезно иметь некоторые предметы, которые шли в комплекте с компьютером, например, установочные диски драйверов. Обратите внимание на следующие предметы, если они всё ещё есть у вас:</p>

<list>
 <item>
  <p>Упаковка и инструкции к вашим беспроводным устройствам (особенно руководство к вашему маршрутизатору)</p>
 </item>
 <item>
  <p>Диск с драйверами вашего беспроводного адаптера (даже если он содержит только драйверы для Windows)</p>
 </item>
 <item>
  <p>Название производителя и номер модели вашего компьютера, беспроводного адаптера и маршрутизатора. Эту информацию обычно можно найти на нижней или обратной стороне устройства.</p>
 </item>
 <item>
  <p>Любые номера версий или модернизаций, которые могут быть напечатаны на беспроводных сетевых устройствах или их упаковке. Они могут быть особенно полезны, так что ищите тщательно.</p>
 </item>
 <item>
  <p>Всё, что находится на диске с драйверами и идентифицирует либо само устройство, его версию «прошивки», либо компоненты (чипсет), которые оно использует.</p>
 </item>
</list>

<p>По возможности, постарайтесь получить доступ к другому действующему соединению с Интернетом для загрузки, при необходимости, программного обеспечения и драйверов. (Один из таких способов — подключение вашего компьютера непосредственно к маршрутизатору с помощью Ethernet-кабеля, но подключайтесь только тогда, когда потребуется).</p>

<p>Когда соберёте столько предметов, насколько это возможно, щёлкните <gui>Вперёд</gui>.</p>

</page>
