<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="net-wireless-find" xml:lang="ru">
  <info>
    <link type="guide" xref="net-wireless"/>
    <link type="guide" xref="net-problem"/>
    <link type="seealso" xref="net-wireless-hidden"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>Возможно, беспроводное оборудование выключено или неисправно, рядом может быть слишком много сетей, или вы вне зоны действия сети.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Я не вижу моей беспроводной сети в списке</title>

<p>Существует несколько причин, по которым нельзя увидеть вашу беспроводную сеть в списке сетей, появляющемся при щелчке значка сети на панели меню.</p>

<list>
 <item>
  <p>Если сеть не отображается в списке, возможно, ваше беспроводное оборудование выключено или <link xref="net-wireless-troubleshooting">работает неправильно</link>. Убедитесь, что оно включено.</p>
 </item>

 <item>
  <p>Если рядом находится много беспроводных сетей, нужная сеть может оказаться не на первой странице в списке. В этом случае найдите внизу списка стрелку, указывающую вправо, и наведите на неё указатель мыши, чтобы увидеть остальные беспроводные сети.</p>
 </item>

 <item>
  <p>Возможно, вы находитесь вне зоны действия сети. Попробуйте переместиться ближе к базовой станции или маршрутизатору и посмотрите, не появится ли сеть через некоторое время в списке.</p>
 </item>

 <item>
  <p>Обновление списка беспроводных сетей занимает некоторое время. Если компьютер включён только что или перемещён в другое место, подождите около минуты и затем проверьте, не появилась ли сеть в списке.</p>
 </item>

 <item>
  <p>Сеть может быть скрытой. В таком случае подключаться к ней нужно <link xref="net-wireless-hidden">другим способом</link>.</p>
 </item>
</list>

</page>
