<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="net-slow" xml:lang="ru">
  <info>
    <link type="guide" xref="net-problem"/>

    <revision pkgversion="3.4.0" date="2012-02-21" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>Возможно, выполняется загрузка, у вас плохое соединение, или это занятое время дня.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Интернет работает медленно</title>

<p>Если при пользовании Интернетом кажется, что скорость низкая, то замедление может быть вызвано рядом причин.</p>

<p>Попробуйте закрыть веб-браузер и открыть его снова, отключиться от Интернета и подключиться вновь. (При этом сбрасывается к исходным значениям множество разных вещей, которые могут вызывать замедления).</p>

<list>
 <item>
  <p><em style="strong">Занятое время дня</em></p>
  <p>Интернет-провайдеры обычно настраивают соединения так, что один канал совместно используется несколькими клиентами. Даже если вы подключены отдельно, через собственную телефонную линию или кабель, то разделяемым может быть следующий сегмент линии — на телефонной станции. Если это так, и если многие ваши соседи пользуются Интернетом одновременно с вами, то можно заметить замедление соединения. Обычно оно ощутимо, когда большинство из них выходит в Интернет (например, по вечерам).</p>
 </item>

 <item>
  <p><em style="strong">Загрузка нескольких файлов одновременно</em></p>
  <p>Если вы или другой пользователь вашего подключения к Интернету загружаете несколько файлов одновременно или смотрите видео, соединение может оказаться недостаточно быстрым, чтобы удовлетворить ваши потребности. В таком случае будет ощущаться замедление.</p>
 </item>

 <item>
  <p><em style="strong">Ненадёжное соединение</em></p>
  <p>Некоторые интернет-соединения ненадёжны, особенно временные или в зонах частых запросов. Если вы находитесь в заполненном кафе или конференц-центре, интернет-соединение может быть слишком занято или просто ненадёжно.</p>
 </item>

 <item>
  <p><em style="strong">Слабый сигнал беспроводной сети</em></p>
  <p>Если вы подключены к Интернету по беспроводной сети (wifi), проверьте индикатор сети на панели меню, хороший ли уровень сигнала беспроводной сети. Если сигнал недостаточно уверенный, то соединение с Интернетом может быть медленным.</p>
 </item>

 <item>
  <p><em style="strong">Медленное мобильное соединение с Интернетом</em></p>
  <p>Если ваше мобильное соединение с Интернетом работает медленно, то возможно, что вы находитесь в области с плохими условиями приёма сигнала сети. В таких случаях происходит автоматическое переключение с быстрого «широкополосного мобильного» подключения, такого как 3G, на более надёжное, но и более медленное подключение, такое как GPRS.</p>
 </item>

 <item>
  <p><em style="strong">Проблема в веб-браузере</em></p>
  <p>Иногда у веб-браузеров возникают проблемы, из-за которых они начинают работать медленнее. Это может быть следствием различных причин: можно зайти на веб-сайт, который браузеру сложно загрузить, или, например браузер может быть открыт долгое время. Попробуйте закрыть все окна веб-браузера, затем открыть их снова и проверить, изменилось ли что-то.</p>
 </item>

</list>
</page>
