<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="ui" id="power-batteryestimate" xml:lang="ru">

  <info>

    <link type="guide" xref="power#battery"/>
    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <desc>Оставшееся время работы от аккумулятора при щелчке на <gui>индикаторе батареи</gui> показывается приблизительно.</desc>

    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Оставшееся время работы от аккумулятора неверное</title>

<p>При проверке оставшегося времени работы от аккумулятора можно обнаружить, что оставшееся время отличается от времени фактической работы аккумулятора. Это происходит из-за того, что оценить можно лишь оставшееся время работы от аккумулятора. Как правило, со временем оценки улучшаются.</p>

<p>Чтобы оценить оставшееся время работы от аккумулятора, нужно принять во внимание несколько факторов. Один из них — это мощность, потребляемая компьютером в данный момент, — энергопотребление меняется в зависимости от того, сколько запущено программ, сколько подключено устройств, запущены ли трудоёмкие задачи (типа просмотра DVD или конвертирования музыкальных файлов). Всё это постоянно меняется и трудно поддаётся предсказанию.</p>

<p>Другой фактор — то, как разряжается аккумулятор. Некоторые батареи разряжаются быстрее по мере снижения уровня заряда. Без точного знания о том, как разряжается аккумулятор, можно сделать лишь грубую оценку оставшегося времени работы от аккумулятора.</p>

<p>По мере того как аккумулятор разряжается, менеджер питания определяет его разрядные свойства и учится лучше оценивать оставшееся время работы. Но абсолютной точности в любом случае достичь невозможно.</p>

<note>
  <p>Если отображается какое-то нереальное оставшееся время работы аккумулятора (скажем, сотни дней!), менеджер питания, вероятно, не получил некоторых данных, нужных для подсчёта разумных оценок.</p>
  <p>Если отключить питание от сети и некоторое время поработать на ноутбуке от аккумулятора, а затем подключить его и дать аккумулятору подзарядиться — у менеджера питания появится возможность получить необходимые данные.</p>
</note>

</page>
