<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="power-suspendfail" xml:lang="ru">

  <info>
    <link type="guide" xref="power#problems"/>
    <link type="guide" xref="hardware-problems-graphics"/>
    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <desc>Аппаратное обеспечение некоторых компьютеров вызывает проблемы со ждущим и спящим режимами.</desc>

    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Почему мой компьютер не включается после того, как я перевёл его в ждущий режим?</title>

<p>Если перевести компьютер в <link xref="power-suspend">ждущий</link> или <link xref="power-hibernate">спящий</link> режим, а затем попытаться «разбудить» его или снова включить, то можно обнаружить, что это работает не так, как ожидается. Причина может быть в том, что ждущий и спящий режимы неправильно поддерживаются вашим оборудованием.</p>

<section id="resume">
  <title>Мой компьютер не может выйти из ждущего режима</title>
  <p>Если перевести компьютер в ждущий режим, а затем нажать клавишу или щёлкнуть мышью, компьютер должен «проснуться» и показать экран, запрашивающий ваш пароль. Если этого не происходит, попробуйте нажать кнопку питания компьютера (не удерживайте её, а просто нажмите один раз).</p>
  <p>Если это не помогло, проверьте, включён ли ваш монитор, и попробуйте нажать клавишу на клавиатуре снова.</p>
  <p>Как последнее средство, выключите компьютер, удерживая кнопку питания 5-10 секунд. Хотя при этом вы и потеряете все несохранённые результаты работы, но зато потом сможете снова включить компьютер.</p>
  <p>Если такое повторяется каждый раз при переводе компьютера в ждущий режим, то этот режим, возможно, не работает на вашем оборудовании.</p>
  <note style="warning">
    <p>Если компьютер потребляет энергию и не имеет других источников электропитания (например, рабочего аккумулятора), он выключится.</p>
  </note>
</section>

<section id="hibernate">
  <title>Никакие из моих приложений и документов не остались открытыми, когда я включил компьютер снова</title>
  <p>Если ваш компьютер был переведён в спящий режим, и при включении его снова никакие из документов или приложений не открылись — возможно, переход в спящий режим произошёл неправильно. Иногда это случается из-за незначительной неисправности, и уже следующий переход в спящий режим происходит нормально. Такое может произойти и после установки обновлений программного обеспечения, требующих перезагрузки компьютера — в этом случае компьютер вместо перехода в спящий режим может завершить работу.</p>
  <p>Возможно также, что компьютер не способен перейти в спящий режим из-за неправильной поддержки этого режима оборудованием. Причиной могут быть, например, проблемы с драйверами под Linux для вашего оборудования. Чтобы проверить это, можно снова перейти в спящий режим и посмотреть, правильно ли он поведёт себя на этот раз. Если нет, то это, видимо, проблема с драйверами к вашему компьютеру.</p>
</section>

<section id="hardware">
  <title>Моё беспроводное подключение (или другое оборудование) не работает, когда я «бужу» компьютер</title>
  <p>Если перевести компьютер в ждущий или спящий режим, а затем вернуться в рабочий режим, может оказаться. что соединение с Интернетом, мышь, или какое-то другое устройство работают неправильно. Такое может случиться из-за того, что драйвер устройства неправильно поддерживает ждущий или спящий режимы. Это <link xref="hardware-driver">проблема с драйвером</link>, а не с самим устройством.</p>
  <p>Если устройство снабжено выключателем питания, попробуйте отключить его и снова включить. В большинстве случаев оно снова начнёт работать. Если оно подключается через USB-кабель или подобный, попробуйте отсоединить устройство и подсоединить его снова и посмотрите, заработает ли оно.</p>
  <p>Если нельзя выключить или отсоединить устройство, или это не срабатывает — возможно, придётся перезагрузить компьютер, чтобы устройство снова начало работать.</p>
</section>

</page>
