<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="power" xml:lang="ru">
<info>
    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.8" date="2013-02-26" status="review"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>Natalia Ruz</name>
      <email>nruz@alumnos.inf.utfsm.cl</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="power-suspend">Ждущий режим</link>, <link xref="power-batterylife">уменьшение энергопотребления</link>, <link xref="shell-exit#shutdown">выключение</link>, <link xref="power-whydim">гашение экрана</link>...</desc>

</info>

<title>Электропитание и аккумулятор</title>

<section id="battery" style="2column">
  <title>Параметры аккумулятора</title>
</section>

<section id="problems" style="linklist nodesc">
  <info>
    <title type="link">Неполадки с электропитанием</title>
    <link type="guide" xref="hardware#problems"/>
    <desc>Поиск и устранение неисправностей с электропитанием и аккумуляторами.</desc>
  </info>
  <title>Неполадки</title>
</section>

</page>
