<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="power-othercountry" xml:lang="ru">

  <info>
    <link type="guide" xref="power#problems"/>
    <desc>Ваш компьютер будет работать, но вам, возможно, понадобится другой кабель питания или переходник.</desc>

    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Будет ли мой компьютер работать при подключении к электросети в другой стране?</title>

<p>Другие страны используют в сетях электроснабжения другие напряжения (обычно 110 В или 220-240 В) и частоты переменного тока (обычно 50 Гц или 60 Гц). Ваш компьютер сможет работать в сети электроснабжения другой страны, если есть подходящий адаптер питания. Возможно, придётся также перещёлкнуть переключатель типа питания.</p>

<p>Если у вас ноутбук, то всё, что нужно сделать — это приобрести подходящую вилку для адаптера питания. Некоторые ноутбуки поставляются более чем с одной вилкой для своего адаптера, так что, возможно, у вас уже есть нужная. Если нет, то будет достаточно подключить существующую вилку в стандартный переходник.</p>

<p>Если у вас настольный компьютер, то в этом случае тоже можно приобрести кабель с вилкой нужного типа или использовать переходник. Однако при этом может потребоваться перещёлкнуть переключатель напряжения (если он есть) на блоке питания компьютера. У многих компьютеров такого переключателя нет и они свободно работают с любыми напряжениями. Взгляните на заднюю стенку компьютера и найдите там разъём, в который подключается кабель питания. Где-то поблизости может быть небольшой переключатель с надписями, например: «110V» или «230V». Переключите его при необходимости.</p>

<note style="warning">
  <p>Будьте осторожны, заменяя кабель питания или используя переходник. Сначала отключите всё от сети, если это возможно.</p>
</note>

</page>
