<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="power-batteryoptimal" xml:lang="ru">

  <info>
    <link type="guide" xref="power"/>
    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <desc>Советы как «Предотвратить слишком низкий заряд аккумулятора»</desc>

    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Получите максимум от вашего аккумулятора ноутбука</title>

<p>Со временем способность аккумуляторов сохранять заряд постепенно уменьшается. Вот несколько способов продлить срок их жизни, однако не стоит ожидать, что эффект будет большим.</p>

<list>
  <item>
    <p>Не давайте аккумулятору полностью разряжаться. Несмотря на то что большинство аккумуляторов оснащены встроенными средствами защиты от критически низкого уровня заряда, всегда заряжайте его <em>до того</em>, как уровень заряда станет слишком низким. Зарядка, когда аккумулятор частично разряжен, даст больший эффект, но подзаряжать слабо разряженный аккумулятор вредно для него.</p>
  </item>
  <item>
    <p>Нагрев оказывает пагубный эффект на эффективность зарядки аккумулятора. Не позволяйте аккумулятору сильно нагреваться.</p>
  </item>
  <item>
    <p>Аккумуляторы «стареют», даже если вы просто храните их, не используя. Покупка ещё одного аккумулятора на замену одновременно с тем, который уже установлен в компьютере, не даст вам большого преимущества — всегда покупайте аккумуляторы на замену, лишь когда они понадобятся.</p>
  </item>
</list>

<note>
  <p>Эти советы относятся только к литий-ионным (Li-Ion) аккумуляторам, наиболее распространённому типу аккумуляторов. У других типов аккумуляторов могут быть другие условия использования.</p>
</note>

</page>
