<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="shell-windows-states" xml:lang="ru">

  <info>

    <link type="guide" xref="shell-windows#working-with-windows"/>
    <link type="seealso" xref="unity-menubar-intro#window-management"/>

    <desc>Восстановление, изменение размера, упорядочивание и скрытие.</desc>

    <revision pkgversion="3.4.0" date="2012-09-20" status="candidate"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
      <years>2012</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Действия над окнами</title>

<p>Для организации рабочего процесса окна можно сворачивать или изменять их размер.</p>


<section id="min-rest-close">
<title>Сворачивание, разворачивание и закрытие</title>

    <p>Чтобы свернуть или скрыть окно:</p>
    <list>
      <item>
       <p>Щёлкните <gui>-</gui> в верхнем левом углу <gui>строки меню</gui> программы. Если приложение развёрнуто (занимает весь экран), строка меню будет находиться на самом верху экрана. В противном случае, кнопка сворачивания будет расположена наверху окна приложения.</p>
      </item>
      <item>
       <p>Или нажмите <keyseq><key>Alt</key><key>Пробел</key></keyseq>, чтобы открыть меню окна, а затем нажмите <key>с</key>. Окно «исчезнет» в панели запуска.</p>
      </item>
    </list>

    <p>Чтобы восстановить размер окна:</p>
    <list>
      <item>
       <p>Щёлкните на нём в <link xref="unity-launcher-intro">панели запуска</link> или восстановите окно из переключателя окон, нажав <keyseq><key>Alt</key><key>Tab</key></keyseq>.</p>
      </item>
    </list>

    <p>Чтобы закрыть окно:</p>
    <list>
      <item>
       <p>Щёлкните <gui>x</gui> в левом верхнем углу окна, или</p>
      </item>
      <item>
       <p>Нажмите <keyseq><key>Alt</key><key>F4</key></keyseq>, или</p>
      </item>
      <item>
       <p>Нажмите <keyseq><key>Alt</key><key>Пробел</key></keyseq>, чтобы открыть меню окна. Затем нажмите <key>з</key>.</p>
      </item>
    </list>

</section>

<section id="resize">
<title>Изменение размера</title>

<note style="important">
 <p>Нельзя изменить размер окна, если оно <em>развёрнуто во весь экран</em>.</p>
</note>
<p>Чтобы изменить размеры окна в горизонтальном и/или вертикальном направлении:</p>
<list>
 <item>
 <p>Переместите указатель мыши в любой угол окна, пока он не примет вид уголка. «Щёлкните+удерживайте+тащите» — нажав и удерживая левую кнопку мыши, перетаскивайте указатель, чтобы изменить размеры окна в любом направлении.</p>
 </item>
</list>
<p>Чтобы изменить размер только в горизонтальном направлении:</p>
<list>
 <item>
 <p>Переместите указатель мыши к любому боковому краю окна, пока он не примет вид боковой стрелки. «Щёлкните+удерживайте+тащите» для изменения размера окна в горизонтальном направлении.</p>
 </item>
</list>
<p>Чтобы изменить размер только в вертикальном направлении:</p>
<list>
 <item>
 <p>Переместите указатель мыши к верхнему или нижнему краю окна, пока он не примет вид верхней или нижней стрелки соответственно. «Щёлкните+удерживайте+тащите» для изменения размера окна в вертикальном направлении.</p>
 </item>
</list>

</section>

<section id="arrange">

<title>Упорядочивание окон на вашем рабочем месте</title>

<p>Чтобы разместить два окна рядом друг с другом:</p>
  
<list>
 <item><p>Щёлкните на <gui>заголовке</gui> окна и перетаскивайте его влево. Когда <gui>указатель мыши</gui> коснётся левого края экрана, левая половина экрана будет выделена подсветкой. Отпустите кнопку мыши, и окно займёт левую половину экрана.</p></item>
 <item><p>Перетаскивайте другое окно вправо — когда правая половина экрана будет выделена подсветкой, отпустите кнопку мыши. Теперь каждое из двух окон будет занимать по половине экрана.</p></item>
</list>

    <note style="tip">
      <p>Нажатие <key>Alt</key> + щелчок в любом месте окна позволяет переместить окно. Для некоторых людей такой способ может быть проще, чем щелчок на <gui>заголовке</gui> окна.</p>
    </note>
    
</section>

</page>
