<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="sound-crackle" xml:lang="ru">

  <info>
    <link type="guide" xref="sound-broken"/>

    <desc>Проверьте аудиокабели и драйверы звуковой карты.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-10-23" status="review"/>   
    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>При воспроизведении звуков я слышу треск или гудение</title>

  <p>Если слышен треск или гудение при воспроизведении звуков на вашем компьютере, возможно, проблема в звуковых кабелях или разъёмах, либо в драйверах для звуковой карты.</p>

<list>
 <item>
  <p>Проверьте, правильно ли подключены колонки.</p>
  <p>Если штекер колонок вставлен не полностью, или подключён не в то гнездо, можно услышать гудение.</p>
 </item>

 <item>
  <p>Проверьте, не повреждён ли кабель колонок/наушников.</p>
  <p>Аудиокабели и соединители со временем могут частично изнашиваться. Попробуйте подключить кабели или наушники к другому звуковому устройству (например, к MP3-плееру или CD-плееру), чтобы проверить, не исчезнут ли щелчки. Если не исчезнут, то вам, скорее всего, придётся заменить кабель или наушники.</p>
 </item>

 <item>
  <p>Проверьте, не является ли источником проблем плохой драйвер.</p>
  <p>Некоторые звуковые карты работают в Linux не совсем хорошо, потому что для них нет очень хороших драйверов. Такую проблему сложнее обнаружить. Попробуйте выполнить поиск в Интернете по производителю и модели вашей звуковой карты и слову "Ubuntu" для проверки, не было ли таких же проблем и у других людей.</p>
  <p>Можно набрать <cmd>sudo lspci -v</cmd> в <app>Терминале</app> для получения более подробной информации о вашей звуковой карте.</p>
 </item>
</list>

</page>
