<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="task" id="app-zoom" xml:lang="ru">

  <info>
    <revision version="0.1" date="2013-02-24" status="candidate"/>
    <link type="guide" xref="index#appearance"/>

    <credit type="author copyright">
      <name>С. Синдху (Sindhu S)</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Екатерина Герасимова (Ekaterina Gerasimova)</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Майкл Хилл (Michael Hill)</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Увеличить или уменьшить размер текста.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Сергей В. Миронов</mal:name>
      <mal:email>sergo@bk.ru</mal:email>
      <mal:years>2007.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юлия Дронова</mal:name>
      <mal:email>juliette.tux@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

  <title>Увеличить и уменьшить</title>

  <p>Чтобы увеличить размер текста в <app>Терминале</app>:</p>

  <steps>
    <item>
      <p>Выберите <guiseq><gui style="menu">Вид</gui> <gui style="menuitem">Увеличить</gui></guiseq> или нажмите <keyseq><key>Ctrl</key><key>+</key></keyseq>.</p>
    </item>
  </steps>

  <p>Чтобы уменьшить размер текста в <app>Терминале</app>:</p>

  <steps>
    <item>
      <p>Выберите <guiseq><gui style="menu">Вид</gui> <gui style="menuitem">Уменьшить</gui></guiseq> или нажмите <keyseq><key>Ctrl</key><key>-</key></keyseq>.</p>
    </item>
  </steps>

  <p>Чтобы восстановить размер текста в <app>Терминале</app> на значения по умолчанию:</p>

  <steps>
    <item>
      <p>Выберите <guiseq><gui style="menu">Вид</gui> <gui style="menuitem">Исходный размер</gui></guiseq> или нажмите <keyseq><key>Ctrl</key><key>0</key></keyseq>.</p>
    </item>
  </steps>

</page>
