<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="addremove-ppa" xml:lang="pt-BR">

  <info>
    <credit type="author">
      <name>Time de documentação do Ubuntu</name>
    </credit>
    <desc>Adicionar PPAs para ajudar a testar um programa especial ou de pré-lançamento.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="addremove"/>
    <link type="seealso" xref="addremove-sources"/>
    <revision version="16.04" date="2016-03-13" status="review"/>
  </info>

  <title>Adicionar um arquivo de pacote pessoal (PPA)</title>

  <p><em>Arquivos de Pacotes Pessoais (PPAs)</em> são repositórios de programas desenhados por usuários do Ubuntu e são mais fácil de se instalar do que outros repositórios de terceiros.</p>

  <note style="warning">
    <p>Somente adicione repositórios de programas de fontes que você confia!</p>
    <p>Repositórios de programas de terceiros não são verificados quanto à segurança e confiabilidade pelos membro do Ubuntu, e podem conter programas que sejam nocivos ao seu computador.</p>
  </note>

  <steps>
    <title>Instalar um PPA</title>
    <item>
      <p>Na página de visão geral do PPA, procure o título <gui>Adicionando este PPA ao seu sistema</gui>. Tome nota da localização do PPA, que deve ser semelhante a: <code>ppa:mozillateam/firefox-next</code>.</p>
    </item>
    <item>
      <p>
        Click the <app>Ubuntu Software</app> icon in the <gui>Launcher</gui>, or search
        for <input>Software</input> in the search bar of the <gui>Dash</gui>.
      </p>
    </item>
    <item>
      <p>
        When <app>Ubuntu Software</app> launches, click <gui>Software &amp; Updates</gui>
      </p>
    </item>
    <item>
      <p>Selecione a aba <gui>Outro software</gui>.</p>
    </item>
    <item>
      <p>Clique em <gui>Adicionar</gui> e digite a localização <code>ppa:</code>.</p>
    </item>
    <item>
      <p>Clique em <gui>Adicionar...</gui>. Digite a sua senha na janela Autenticar.</p>
    </item>
    <item>
      <p>
        Close the <app>Software &amp; Updates</app> window. <app>Ubuntu Software</app> will then 
        check your software sources for new software.
      </p>
    </item>
  </steps>

</page>
