<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="tip" id="backup-why" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="files#backup"/>
    <desc>Por que, do que, onde e como fazer cópias de segurança.</desc>
    <title type="link" role="trail">Cópias de segurança</title>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <credit type="author">
      <name>Projeto de documentação do GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Cópia de segurança de arquivos importantes</title>

  <p><em>Fazer cópia de segurança</em> dos seus arquivos significa simplesmente fazer uma cópia deles para guardar. Isto é feito no caso dos arquivos originais tornarem-se inutilizados ​​devido à perda ou corrupção. Estas cópias podem ser utilizadas para restaurar os dados originais em caso de perda. As cópias devem ser armazenados em um dispositivo diferente dos arquivos originais. Por exemplo, você pode usar uma unidade USB, um disco rígido externo, um CD/DVD, ou um serviço na Internet.</p>

  <p>A melhor maneira de fazer cópias de segurança é fazê-las regularmente, mantendo as cópias em outro lugar e (se possível) encriptadas.</p>

<links type="topic" style="2column"/>

</page>
