<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" id="clock-calendar" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="clock"/>
    <link type="guide" xref="shell-overview#desktop"/>

    <desc>Exiba seus compromissos no calendário no topo da tela.</desc>

    <revision pkgversion="3.8.0" date="2013-03-09" status="outdated"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <credit type="author">
      <name>Projeto de documentação do GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

 <title>Calendar appointments</title>

<p>A built in calendar application called <app>Calendar</app> allows you to organize your calendar appointments or events. Up to five of these, over a four-week duration, will appear by clicking on the clock in the <gui>menu bar</gui>.</p>

<note><p>Calendar appointment integration is also supported with a mail and calendar application called <app>Evolution</app>, which may be installed separately.</p></note>

<section id="launch-calendar-application">
  <title>Launch the Calendar application</title>
<p>Appointments and events may be managed through the built in <app>Calendar</app> application.</p>

<steps>
  <item><p>Click on the <gui>Dash</gui> icon in the <link xref="unity-launcher-intro">Launcher</link>.</p></item>
  <item><p>Type <input>calendar</input> in the <gui>Search your computer</gui> to locate the <app>Calendar</app> application.</p></item>
  <item><p>Click the <gui>Calendar</gui> application icon.</p></item>
</steps>

<p>Alternatively, you may also type <input>gnome-calendar</input> in the <app>Terminal</app> application.</p>
</section>


</page>
