<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-print" xml:lang="pt-BR">

  <info>
    <credit type="author copyright">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>Imprimir documentos que estão armazenados localmente ou on-line.</desc>
    <link type="guide" xref="documents#print"/>
    <revision pkgversion="3.5.90" date="2012-09-05" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Imprimir um documento</title>

  <p>Para imprimir um documento:</p>

  <steps>
   <item><p>Clique no botão <gui>✓</gui>.</p></item>
   <item><p>No modo de seleção, marque o documento a ser impresso.</p></item>
   <item><p>Click the Print button in the button bar. The <gui>Print</gui>
    dialog opens.</p></item>
  </steps>

  <note>
   <p>Printing is not available when more than one document is selected, or when
    a collection is selected.</p>
  </note>

</page>
