<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="keyboard-cursor-blink" xml:lang="pt-BR">
  <info>
    <link type="guide" xref="a11y#vision" group="lowvision"/>
    <link type="guide" xref="keyboard"/>

    <revision pkgversion="3.8.0" version="0.3" date="2013-03-13" status="candidate"/>
    <revision version="13.10" date="2013-09-12" status="review"/>

    <desc>Faça o ponto de inserção piscar e controle a frequência com que pisca.</desc>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
       <name>Natalia Ruz Leiva</name>
       <email>nruz@alumnos.inf.utfsm.cl</email>
    </credit>
    <credit type="author">
       <name>Julita Inca</name>
       <email>yrazes@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Faça o cursor do teclado piscar</title>

  <p>Se você acha difícil ver o cursor de teclado em um campo de texto, você pode fazê-lo piscar para ficar mais fácil de encontrá-lo.</p>

  <steps>
    <item>
     <p>Clique no ícone do canto direito da barra de menu e selecione <gui>Configurações do sistema</gui></p>
    </item>
    <item><p>Na seção Hardware, clique em <gui>Teclado</gui>.</p>
    </item>
    <item><p>Selecione <gui>Cursor intermitente nos campos de texto</gui>.</p></item>
    <item>
     <p>Use a barra deslizante <gui>Velocidade</gui> para ajustar a frequência com que o cursor pisca.</p>
    </item>
  </steps>

</page>
