<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-chat-empathy" xml:lang="pt-BR">
  <info>
    <link type="guide" xref="net-chat"/>
    <link type="seealso" xref="net-chat-video"/>
    
    <revision version="16.04" date="2016-05-07" status="review"/>

    <credit type="author">
      <name>Time de documentação do Ubuntu</name>
      <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>

    <desc>Com o <app>Empathy</app> você pode fazer bate-papo, chamada e chamada de vídeo com seus amigos e colegas em uma variedade de redes</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Mensagens instantâneas no Ubuntu</title>

  <p>Com o aplicativo <app>Empathy</app>, você pode conversar com pessoas que estejam online e com amigos e colegas que usem Google Talk, AIM, Windows Live e muitos outros programas de bate-papo.</p>

  <p>
    Empathy is not installed by default in Ubuntu, but you can <link href="apt:empathy">install</link> it from the Ubuntu package archive. Start
    <app>Empathy Instant Messaging</app> from the <link xref="unity-dash-intro">Dash</link>, the <link xref="unity-launcher-intro">Launcher</link> or choose <gui>Empathy</gui>
    from the <link xref="unity-menubar-intro">Messaging menu</link>.
  </p>

  <note style="tip">
    <p>
      You can change your instant messaging status (Available, Away, Busy, etc.)
      from the <link xref="unity-menubar-intro">Messaging menu</link>.
    </p>
  </note>

  <p>Para obter ajuda sobre o Empathy, leia o <link href="help:empathy">manual do Empathy</link>.</p>

</page>
