<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="power-batteryslow" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="power#battery"/>
    <desc>Alguns computadores portáteis intencionalmente ficam mais lentos quando estão funcionando na bateria.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>Projeto de documentação do GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Why is my laptop slow when it is on battery?</title>

<p>Some laptops intentionally slow down when they are running on battery in
order to conserve power. The processor (CPU) in the laptop switches to a slower
speed, and processors use less power when running slower, so the battery should
last longer.</p>

<p>Essa função é chamada de <em>escalonamento de frequência da CPU</em>.</p>

</page>
