<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="power-batterybroken" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="power#problems"/>
    <link type="seealso" xref="power-batteryoptimal"/>
    
    <desc>Sua bateria, provavelmente, não está quebrada; é mais provável que ela só esteja velha.</desc>
    <revision version="13.10" date="2013-10-22" status="review"/>
    
    <credit type="author">
      <name>Projeto de documentação do GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Um erro relata que minha bateria tem baixa capacidade</title>

<p>Quando você inicia uma sessão pela primeira vez, você pode ver uma mensagem que diz:</p>
<quote>
 <p><em>A bateria pode estar danificada. Sua bateria tem uma capacidade muito baixa, o que significa que ela pode estar velha ou danificada.</em></p>
</quote>

<p>Essa mensagem é exibida quando o computador detecta que sua bateria não é capaz de armazenar muita carga. A razão mais provável para isso é que sua bateria está velha; provavelmente não está quebrada, então precisa se preocupar.</p>

<p>Com o tempo, todas as baterias de laptops perdem a capacidade de armazenar energia. Após um tempo (normalmente um ano ou mais), a bateria será capaz apenas de armazenar uma fração de carga que ela poderia quando ela era nova. A mensagem acima é exibida quando isso acontece.</p>

<p>Se o seu computador ou a sua bateria são relativamente novos, ela deve ser capaz de armazenar um alto percentual da capacidade para qual foi projetada. Se ela não conseguir, então a sua bateria pode estar danificada e você deve procurar por uma reposição.</p>

</page>
