<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" id="shell-apps-favorites" xml:lang="pt-BR">

  <info>
    <link type="seealso" xref="unity-dash-intro#dash-home"/>
    <link type="guide" xref="shell-overview#apps"/>
    <link type="guide" xref="unity-launcher-intro#launcher-customizing" group="#first"/>

    <desc>Adicionar, mover ou remover ícones de programas frequentemente usados no lançador.</desc>

    <revision pkgversion="3.6.0" version="0.2" date="2012-10-14" status="review"/>
    <revision version="13.10" date="2013-10-23" status="outdated"/>

    <credit type="author">
      <name>Projeto de documentação do GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Projeto de documentação do Ubuntu</name>
      <email>ubuntu-doc@list.ubuntu.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Alterar quais aplicativos serão exibidos no lançador</title>

<p>To add an application to the <link xref="unity-launcher-intro">Launcher</link> for quick access:</p>
 <list>
  <item><p>Arraste o ícone do aplicativo do <link xref="unity-dash-intro">painel</link> sobre o lançador.</p></item>
  <item>
   <p>Alternativamente, quando um aplicativo está em execução, clique com o botão direito do mouse sobre o ícone do aplicativo e selecione <gui>Bloquear no lançador</gui>.</p>
  </item>
  </list>

<p>A ordem dos ícones do lançador poderá ser modificada, arrastando o ícone para fora do lançador e colocando-o de volta na posição desejada.</p>

<p>Para remover um ícone de um aplicativo do lançador, clique com o botão direito sobre ele e selecione <gui>desbloquear do lançador</gui>.</p>

</page>
