<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="wacom-multi-monitor" xml:lang="pt-BR">

  <info>
    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>Mapear o tablet Wacom para um monitor específico.</desc>
    <link type="guide" xref="wacom"/>
    <revision pkgversion="3.5.5" version="0.1" date="2012-08-15" status="draft"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Selecione um monitor</title>

  <steps>
    <item><p>Clique no ícone no canto direito da <gui>barra de menu</gui> e selecione <gui>Configuração do Sistema</gui>.</p></item>
    <item><p>Abrir <gui>Tablet gráfico Wacom</gui>.</p>
      <note style="tip"><p>Se nenhum tablet for detectado, você será solicitado para <gui>Conectar ou ligar seu tablet Wacom</gui>.</p></note>
    </item>
    <item><p>Clique em <gui>Mapear para o monitor...</gui></p></item>
    <item><p>Marque <gui>Mapear para monitor único</gui>.</p></item>
    <item><p>Próximo a <gui>Saída</gui>, selecione o monitor que você deseja receber entrada do seu tablet gráfico.</p>
      <note style="tip"><p>Somente monitores configurados serão selecionáveis.</p></note>
    </item>
    <item><p>Clique em <gui>Fechar</gui>.</p></item>
  </steps>

</page>
