<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="windows-key" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="keyboard"/>
    <desc>The Super key provides access to the Dash and the Launcher.</desc>
    <revision version="14.04" date="2014-03-07" status="review"/>
    <credit type="author">
      <name>Projeto de documentação do GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
       <name>Time de documentação do Ubuntu</name>
       <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>
 
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>O que é a tecla "Super"?</title>

  <p>Esta tecla normalmente pode ser encontrada do lado esquerdo inferior do seu teclado, ao lado da tecla <key>Alt</key>, e normalmente tem um ícone do Windows nela. Ela é por vezes chamada de tecla Windows.</p>

<note>
  <p>Se você possui um teclado da Apple, não haverá a tecla Windows no seu teclado. A tecla <key>⌘</key> (Command) poderá ser utilizada em vez disso.</p>
</note>

  <p>A tecla Super serve a uma função especial no <em>Unity</em>. Se você pressionar a tecla Super, o Painel será exibido. Se você <em>mantiver pressionada</em> a tecla Super, uma sobreposição mostrando vários dos atalhos de teclado do Unity aparece até que você solte a tecla Super.</p>

<p>Entretanto, a tecla Super pode ajudá-lo até mais do que isto. Para aprender sobre mais usos da tecla <em>Super</em>, veja a página <link xref="shell-keyboard-shortcuts">atalhos de teclado</link>.</p>

<!--
<p>To change which key is used to display the activities overview:</p>

  <steps>
    <item>
      <p>Click your name on the menu bar and select <gui>System Settings</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Keyboard</gui>.</p>
    </item>
    <item>
      <p>Click the <gui>Shortcuts</gui> tab.</p>
    </item>
    <item>
      <p>Select <gui>System</gui> on the left side of the window, and
      <gui>Show the activities overview</gui> on the right.</p>
    </item>
    <item>
      <p>Click the current shortcut definition on the far right.</p>
    </item>
    <item>
      <p>Hold down the desired key combination.</p>
    </item>
  </steps>
-->


</page>
