<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="translate" xml:lang="it">

  <info>
    <link type="guide" xref="index#get-involved"/>

    <revision pkgversion="3.5.4" version="0.2" date="2012-07-26" status="final"/>
    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Help translate</title>

  <p>The GNOME Games user interface and documentation is being translated by a
  world-wide volunteer community: you are welcome to participate.</p>

  <p>There are <link href="http://l10n.gnome.org/module/gnome-mahjongg/">many
  languages</link> for which translations are still needed.</p>

  <p>To start translating you will need to <link href="http://l10n.gnome.org">create an account</link> and join the <link href="http://l10n.gnome.org/teams/">translation team</link> for your
  language. This will give you the ability to upload new translations.</p>

  <p>You can chat with GNOME translators using irc: join the #i18n channel on
  the irc.gnome.org server. People on the channel are located worldwide, so you
  may not get an immediate response as a result of timezone differences.</p>

  <p>Alternatively, you can contact the Internationalization Team using their
  <link href="http://mail.gnome.org/mailman/listinfo/gnome-i18n">mailing
  list</link>.</p>

</page>
