<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documentation" xml:lang="fr">
  <info>
    <revision pkgversion="3.5.5" version="0.1" date="2012-08-12" status="review"/>
    <revision pkgversion="3.5.5" version="0.2" date="2012-08-12" status="review"/>
    <link type="guide" xref="index#get-involved"/>
    <credit type="editor copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <credit type="editor copyright">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Aruna Sankaranarayanan</name>
      <email>aruna.evam@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Paternité-Partage des Conditions Initiales à l'Identique 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2007,2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2007-2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alain Lojewski</mal:name>
      <mal:email>allomervan@gmail.com</mal:email>
      <mal:years>2012-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Yoann Fievez</mal:name>
      <mal:email>yoann.fievez@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

  <title>Contribution à la rédaction du manuel d'aide</title>

  <p>Les manuels utilisateur des jeux GNOME sont maintenus par une communauté de volontaires. Votre contribution est la bienvenue.</p>

  <p>Pour contribuer au projet de documentation, entrer en contact avec nous sur le canal <link href="https://client01.chat.mibbit.com/?url=irc%3A%2F%2Firc.gnome.org%2Fdocs">#docs</link> sur <link href="http://live.gnome.org/GnomeIrcChannels">irc.gnome.org</link> ou via notre <link href="http://mail.gnome.org/mailman/listinfo/gnome-doc-list">liste de diffusion</link> .</p>

  <p>Notre page <link href="https://live.gnome.org/DocumentationProject/Contributing">wiki</link> contient des informations utiles.</p>

</page>
