<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="new-game" xml:lang="fr">

  <info>
    <link type="guide" xref="index#play"/>
    <revision version="0.1" date="2012-08-12" status="review"/>
    <revision pkgversion="3.5.5" date="2012-08-12" status="review"/>
    <revision pkgversion="3.12" date="2014-03-08" status="review"/>

    <credit type="author copyright">
      <name>Baptiste Mille-Mathias</name>
      <email>baptistem@gnome.org</email>
      <years>2012</years>
    </credit>
    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Aruna Sankaranarayanan</name>
      <email>aruna.evam@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Rashi Aswani</name>
      <email>aswanirashi19@gmail.com</email>
    </credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2007,2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2007-2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alain Lojewski</mal:name>
      <mal:email>allomervan@gmail.com</mal:email>
      <mal:years>2012-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Yoann Fievez</mal:name>
      <mal:email>yoann.fievez@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

  <title>Nouvelle partie</title>

  <p>Pour commencer une nouvelle partie :</p>
  <steps>
    <item>
      <p>Cliquez sur <guiseq><gui style="menu">Mines</gui><gui style="menuitem">Nouvelle partie</gui></guiseq> à partir du menu d'application.</p>
    </item>
    <item>
      <p>Sélectionnez votre <link xref="board-size">taille du tableau</link> préférée.</p>
    </item>
  </steps>

  <note>
  <p>Si vous aviez déjà une partie en cours, <app>Mines</app> vous demande si vous souhaitez <gui>Commencer une nouvelle partie</gui> ou <gui>Continuer la partie en cours</gui>. Si vous choisissez le premier cas, la partie en cours sera perdue.</p>
  </note>
</page>
