<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="glossary" xml:lang="de">

  <info>
    <link type="guide" xref="concepts"/>

    <revision pkgversion="3.8" date="2013-02-26" status="stub"/>
    <revision pkgversion="3.9" version="0.1" date="2013-06-13" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Aruna Sankaranarayanan</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>

    <desc>Eine Liste der grundlegenden verwendeten Begriffe.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Glossar</title>

  <p><app>Passwörter und Schlüssel</app> unterstützt Sie Token zu erstellen und zu verwalten, die zum Schützen Ihrer Dateien und Unterhaltungen eingesetzt werden. Es folgen nun einige grundlegende Begriffe, die in diesem Handbuch verwendet werden:</p>

  <terms>
    <item>
    <title>Verschlüsselung</title>
      <p>Verschlüsselung ist der Vorgang wichtige Dateien und Daten für alle außer dem beabsichtigten Empfänger unlesbar zu machen. Wenn Sie Ihre Daten verschlüsseln, so werden diese eine zerwürfelte Folge von Zahlen und Buchstaben. Verschlüsselung wird von Personen eingesetzt, die eine Datei oder eine Unterhaltung geschützt versenden will.</p>
    </item>
    <item>
    <title>Algorithmus</title>
      <p>Ein Algorithmus ist eine Abfolge von Schritten zum Verschlüsseln oder Entschlüsseln Ihrer Daten.</p>
    </item>
    <item>
    <title>Entschlüsselung</title>
      <p>Entschlüsselung ist der Vorgang der Rückgewinnung des ursprünglichen Texts aus einer verschlüsselten Nachricht oder Datei. Sie wird vom Empfänger der geschützten Datei oder Unterhaltung eingesetzt. Verschlüsselte Nachrichten können nicht ohne Entschlüsselung verstanden werden.</p>
    </item>
    <item>
    <title>Klartext</title>
      <p>Daten oder Dateien, die nicht verschlüsselt sind und somit von jedem gelesen werden können, nennt man Klartext.</p>
    </item>
    <item>
      <title>Schlüssel</title>
      <p>Mit einem kryptographischen Schlüssel werden Dateien und Unterhaltungen ver- und entschlüsselt. Ein Schlüssel kann z.B. auch dazu eingesetzt werden, sich an einem entfernten Rechner anzumelden. Bekannte Schlüsseltypen sind z.B. <link xref="index#pgp-keys">PGP-Schlüssel</link> und <link xref="index#ssh-keys">SSH-Schlüssel</link>.</p>
    </item>
    <item>
    <title>Schlüsselbund</title>
      <p>Ein Schlüsselbund ist eine Sammlung von Passwörtern oder Schlüsseln.</p>
    </item>
  </terms>

</page>
