<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="pgp-import" xml:lang="de">

  <info>
    <link type="guide" xref="index#pgp-keys"/>

    <revision version="0.1" date="2011-06-17" status="stub"/>
    <revision pkgversion="3.9" version="0.1" date="2013-06-20" status="draft"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Aruna Sankaranarayanan</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="editor copyright">
      <name>Jim Campbell</name>
      <email its:translate="no">jwcampbell@gmail.com</email>
      <years>2013</years>
    </credit>

    <desc>Importieren Sie Schlüssel aus Schlüsseldateien nach <app>Passwörter und Schlüssel</app></desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>PGP-Schlüssel importieren</title>

  <p>Wenn Sie eine Schlüsseldatei per E-Mail erhalten haben, so bietet es sich an diese in <app>Passwörter und Schlüssel</app> zu importieren. In den meisten Fällen importiert <app>Passwörter und Schlüssel</app> automatisch PGP-Schlüssel von Ihrem Rechner. Sie können alternativ einen bestimmten Schlüssel manuell importieren, sofern dieser noch nicht bereits importiert wurde.</p>

  <steps>
    <title>Wie kann ich einen Schlüssel manuell importieren?</title>
    <item>
      <p>Wählen Sie <guiseq><gui style="menu">Datei</gui> <gui style="menuitem">Importieren …</gui></guiseq>.</p>
    </item>
    <item>
      <p>Wählen Sie im neuen Dialog den Schlüssel zum Importieren. PGP-Schlüssel enden mit der Dateiendung <file>pgp</file> oder <file>asc</file>. GPG-Schlüssel enden mit <file>gpg</file>.</p>
    </item>
    <item>
      <p>Klicken Sie auf <gui style="button">Öffnen</gui>.</p>
    </item>
  </steps>

  <p>Importierte PGP- und GPG-Schlüssel werden unter <file>GnuPG-Schlüssel</file> aufgeführt.</p>

</page>
