<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="develop" xml:lang="zh-CN">

  <info>
   <link type="guide" xref="index#get-involved"/>
    
    <revision pkgversion="3.5.5" version="0.1" date="2012-08-12" status="review"/>
    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Help develop</title>
 <p>
  The <app>GNOME Games</app> are developed and maintained by a volunteer community.  You are welcome to participate.
 </p>
 <p>
   If you would like to <link href="https://wiki.gnome.org/Apps/Games/Contributing">help develop <app>GNOME Games</app></link>, you can get in touch with the developers using <link href="https://cbe005.chat.mibbit.com/?url=irc%3A%2F%2Firc.gnome.org%2Fgnome-games">irc</link>, or via our <link href="http://mail.gnome.org/mailman/listinfo/games-list">mailing list</link>. 
 </p>

</page>
