<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="license" xml:lang="zh-CN">
  
  <info>
    <link type="seealso" xref="index"/>
    <revision pkgversion="3.5.5" version="0.1" date="2012-08-12" status="review"/>
    <desc>Legal information.</desc>
  </info>

  <title>许可</title>
  <p>
    <!-- 
    Translators: try to use the same translation as the one provided by the CreativeCommons website. 
    If there is no translation for your language, consider providing one to CreativeCommons.
    -->
    This work is distributed under a CreativeCommons Attribution-Share Alike
    3.0 Unported license.
  </p>
  <p>
    You are free:
  </p>
  <terms>
    <item>
      <title><em>To share</em></title>
      <p>To copy, distribute and transmit the work.</p>
    </item>
    <item>
      <title><em>To remix</em></title>
      <p>To adapt the work.</p> 
    </item>
  </terms>
  <p>
    Under the following conditions:
  </p>
  <terms>
    <item>
      <title><em>Attribution</em></title>
      <p>
        You must attribute the work in the manner specified by the author or 
        licensor (but not in any way that suggests that they endorse you or 
        your use of the work).  
      </p>
    </item>
    <item>
      <title><em>Share Alike</em></title>
      <p>
        If you alter, transform, or build upon this work, you may distribute the 
        resulting work only under the same, similar or a compatible license.  
      </p>
    </item>
  </terms>
  <p>
    <!-- Translators: there are no official localized versions of the legal code, only the deed is localized. -->
    For the full text of the license, see the 
    <link href="http://creativecommons.org/licenses/by-sa/3.0/legalcode">CreativeCommons website</link>, 
    or read the full <link href="http://creativecommons.org/licenses/by-sa/3.0/">Commons Deed</link>. 
  </p>
</page>
