<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task a11y" id="a11y-font-size" xml:lang="zh-CN">
  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <desc>使用较大字体使文本更易于阅读。</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="a11y#vision" group="lowvision"/>
    <revision pkgversion="3.7.1" version="0.3" date="2012-11-16" status="outdated"/>
    <revision version="13.10" date="2013-10-25" status="review"/>
  </info>

  <title>更改屏幕上的文字大小</title>

  <p>如果您阅读屏幕上的文字有困难，您可以更改字体的大小。</p>

  <steps>
    <item>
      <p>单击顶部<gui>菜单栏</gui>最右侧的图标，选择<gui>系统设置</gui>。</p>
    </item>
    <item>
      <p>打开<gui>辅助功能</gui>，选择<gui>视觉</gui>标签。</p>
    </item>
    <item>
      <p>将<gui>大号字体</gui>切换到<gui>开启</gui>状态。</p>
    </item>
  </steps>

  <note style="tip">
    <p>在很多应用程序中，您可以随时按 <keyseq><key>Ctrl</key><key>+</key></keyseq> 来增加文字大小。要减小文字大小，请按 <keyseq><key>Ctrl</key><key>-</key></keyseq>。</p>
  </note>

</page>
