<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="accounts-disable-service" xml:lang="zh-CN">

	<info>
		<credit type="author">
			<name>Phil Bull</name>
			<email>philbull@gmail.com</email>
		</credit>

		<credit type="editor">
    	<name>Greg Beam</name>
    	<email>ki7mt@yahoo.com</email>
    </credit>

		<link type="guide" xref="accounts"/>
		<link type="seealso" xref="accounts-remove"/>
    <revision pkgversion="3.10.2" version="0.1" date="2014-01-08" status="review"/>
		<revision version="14.04" date="2014-01-08" status="review"/>
		<include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>某些在线账户提供多项服务(如日历、电子邮件等)，您可以控制本地应用使用哪些服务。</desc>
	</info>

  <title>关闭账户服务</title>

  <p>某些在线账户为单个用户提供多项服务，例如 Google 账户可以提供电子邮件、日历、代码、通讯录等服务。您可以选择使用 Google 的电子邮件、Yahoo! 的聊天，也按照其他方式对服务进行组合。</p>

	<p>禁用服务：</p>

  <steps>
		<item>
			<p>单击顶部<gui>菜单栏</gui>最右侧的图标，选择<gui>系统设置</gui>。</p>
		</item>
		<item>
			<p>选择<gui>在线账户</gui>。</p>
		</item>

		<item>
      <p>从左侧窗口选择要修改的账户。</p>
    </item>
    <item>
      <p>右侧窗口列出了该账户提供的服务。</p>
    </item>
    <item>
      <p>关闭不希望使用的服务。</p>
    </item>
  </steps>

  <note style="tip">
    <p>服务被禁用之后，本地应用将不再访问该服务。如需恢复访问，请回到<gui>在线账户</gui>设置，开启该项服务。</p>
  </note>

</page>
