<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="backup-check" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="files#backup"/>
    <desc>检查您的备份是否成功。</desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <credit type="author">
      <name>GNOME 文档项目</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>检查备份</title>

  <p>备份文件后，您应确保备份已成功完成。如果备份未正常进行，您可能会丢失重要数据，因为备份中可能会缺少某些文件。</p>

   <p>当您使用文件管理器复制或移动文件时，计算机会进行检查以确保所有数据都被正确传输。不过，如果您传输的数据对您非常重要，您可能想要更仔细检查以确认您的数据被正确传输。</p>

  <p>您可以通过浏览目标介质上复制的文件和文件夹进行额外检查。通过检查确保您传输的文件和文件夹确实在备份中，您可以更加确信传输过程是成功的。</p>

  <note style="tip"><p>如果您要对大量数据进行定期备份，您可能会发现使用专用备份程序(如 <app>Déjà Dup</app>)会更简单。与仅仅复制和粘贴文件相比，此类程序功能更强大、更可靠。</p></note>

</page>
