<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-previews" xml:lang="zh-CN">

  <info>
    <credit type="author copyright">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>您只能预览存储在本地的文件。</desc>
    <link type="guide" xref="documents#question"/>
    <revision pkgversion="3.5.90" date="2012-09-05" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>为什么一些文件没有预览呢？</title>

  <p>当您打开<app>文档</app>应用程序，将会显示存储在本地文件的预览缩略图。那些存储在远程服务器上的文档，如<em> Google Docs </em>或<em> SkyDrive </em>显示为缺失(或空白)预览缩略图。</p>
  <p>如果您下载的<em> Google Docs </em>或<em> SkyDrive </em>的文档存储到本地，将生成文档缩略图。</p>

  <note style="important">
    <p>从<em> Google Docs </em>或<em> SkyDrive </em>下载的文档的本地副本将失去其在线更新的能力。如果您想继续在线编辑，最好不要下载。</p>
  </note>
</page>
