<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="files-preview" xml:lang="zh-CN">

  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <desc>快速显示和隐藏文档、图像、视频以及更多内容。</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="files"/>
    <link type="seealso" xref="nautilus-preview"/>
    <revision pkgversion="3.6.0" version="0.2" date="2012-10-06" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
  </info>

<title>预览文件和文件夹</title>

<p>您可以通过一个成熟的应用程序快速预览文件，无需直接打开它们。选中任一文件并按下空格键，文件将会出现在一个简单的预览窗口，再次按下空格键取消预览。</p>

<p>内置的预览插件支持绝大多数文件格式的文档、图像、视频和音乐。在预览窗口里，您可以滚动浏览文档或者播放视频和音频文件。</p>

<p>按下 <key>f</key> 查看全屏预览，再次按下 <key>f</key> 退出全屏预览，或者按下空格键完全退出预览。</p>

</page>
