<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="hardware" xml:lang="zh-CN">
  <info>

    <revision version="13.10" date="2013-09-12" status="review"/>

    <link type="guide" xref="index" group="hardware"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <title type="link" role="trail">硬件</title>

    <desc><link xref="hardware#problems">硬件问题</link>、<link xref="printing">打印机</link>、<link xref="power">电源设置</link>、<link xref="color">色彩管理</link>、<link xref="bluetooth">蓝牙</link>、<link xref="disk">磁盘</link>…</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>硬件和驱动程序</title>

<links type="topic" style="toronto"/>

<links type="topic" style="linklist" groups="more">
  <title>更多主题</title>
</links>

<section id="problems" style="2column">
  <info>
    <title type="link" role="trail">问题</title>
    <title type="link">硬件问题</title>
  </info>
 <title>常见问题</title>
 <links type="topic" style="linklist"/>
</section>

</page>
