<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="media" xml:lang="zh-CN">
  <info>

    <revision version="13.10" date="2013-10-22" status="review"/>

    <link type="guide" xref="index" group="media"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc><link xref="media#photos">数码相机</link>，<link xref="media#music">iPod</link>，<link xref="media#videos">播放视频</link>…</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>声音、视频和图片</title>

<section id="sound" style="2column">
 <info>
   <title type="sort">声音</title>
   <title type="link" role="trail">声音</title>
   <title type="link" role="topic">声音</title>
   <desc><link xref="sound-volume">音量</link>、<link xref="sound-usespeakers">扬声器和耳机</link> 和 <link xref="sound-usemic">麦克风</link>…</desc>
   <link type="guide" xref="prefs"/>
 </info>
 <title>基本声音问题</title>
</section>

<section id="music" style="2column">
 <info><title type="link">音乐和播放器</title></info>
 <title>音乐和便携音频播放机</title>
</section>

<section id="photos" style="2column">
 <info><title type="link">照片</title></info>
 <title>照片和数码相机</title>
</section>

<section id="videos" style="2column">
 <info><title type="link">视频</title></info>
 <title>视频和摄像机</title>
</section>

</page>
