<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-default-email" xml:lang="zh-CN">
  <info>
    <link type="guide" xref="net-email"/>

    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <desc>单击<gui>面板</gui>最右侧的图标，选择<gui>系统设置</gui>。</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>修改默认的电子邮件应用程序</title>

<p>单击发送新电子邮件的按钮或链接时，您的默认邮件应用程序将会打开，其中显示一封空邮件供您开始撰写。然而，如果安装了多个邮件应用程序，可能会打开错误的邮件应用程序。您可通过更改默认电子邮件应用程序来解决此问题：</p>

<steps>
 <item>
  <p>单击顶部<gui>菜单栏</gui>最右侧的图标，选择<gui>系统设置</gui>。</p>
 </item>

 <item>
  <p>打开<gui>系统信息</gui>并从窗口左边的列表中选择<gui>默认应用程序</gui>。</p>
 </item>

 <item>
  <p>通过更改<gui>电子邮件</gui>选项，选择您要在默认情况下使用的电子邮件客户端。</p>
 </item>
</steps>

</page>
