<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-wireless-troubleshooting-hardware-info" xml:lang="zh-CN">
  <info>
    <link type="next" xref="net-wireless-troubleshooting-hardware-check"/>
    <link type="guide" xref="net-wireless-troubleshooting"/>
    <revision pkgversion="3.4.0" date="2012-03-05" status="outdated"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Ubuntu 文档 wiki 撰稿人</name>
    </credit>

    <credit type="author">
      <name>GNOME 文档项目</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>您可能需要提供无线适配器具体型号和重现问题的详细步骤。</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>无线网络故障排除程序</title>
<subtitle>收集硬件相关信息</subtitle>

<p>在这一步中，您将会手机关于无线网卡设备的信息。这能够帮助您修复很多特定厂商和型号的无线适配器问题，所以请尽可能地进行详细记录。这些信息也可能存在于随电脑附赠的材料中，如设备驱动安装盘。请您尝试寻找以下物品：</p>

<list>
 <item>
  <p>设备的包装和说明书(特别是路由器的用户指南)</p>
 </item>
 <item>
  <p>驱动程序光盘，即使仅包含 Windows 驱动程序</p>
 </item>
 <item>
  <p>您的电脑、无线适配器和路由器的生产厂商和型号。这些信息通常可以在设备背面找到。</p>
 </item>
 <item>
  <p>可能印刷在您的设备或其包装上的任何版本号。这些信息非常有用，请仔细查看。</p>
 </item>
 <item>
  <p>驱动程序光盘上的任何信息都可能帮助识别设备信息、固件版本，或其使用的芯片组。</p>
 </item>
</list>

<p>如果可能，请通过其他方式连接到网络并下载必要的软件和驱动。(直接将电脑连接到路由器是一种较常见的做法)</p>

<p>当您找到尽可能多的上述物品后，点击 <gui>下一步</gui>。</p>

</page>
