<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="net-nonm" xml:lang="zh-CN">
  <info>
    <link type="guide" xref="net-problem"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc>按 <keyseq><key>Alt</key><key>F2</key></keyseq>。键入 <input>nm-applet</input></desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>菜单栏上的没有网络菜单</title>

  <p>如果网络菜单从顶部面板消失，您的 <app>Network Manager</app> 可能未运行。要重新启动 Network Manager：</p>

  <steps>
    <item><p>按 <keyseq><key>Alt</key><key>F2</key></keyseq></p></item>
    <item><p>键入 <input>nm-applet</input> 并按<gui>回车</gui>。</p></item>
    <item><p>将会弹出<gui>无线网络身份验证</gui>框。在相应的框中输入密码并单击<gui>连接</gui>。</p></item>
  </steps>

<p>如果它不工作，很有可能是网络管理器出问题了。如果是这种情况，到 <link xref="unity-dash-intro">Dash</link> 中打开终端，输入 <cmd>nm-applet</cmd> 并按下 <key>回车</key> 。如果出现网络菜单请查看；如果没有出现，您需要查看终端显示的错误信息。它们应该会告诉你哪里出错了，但描述会相当专业。如果这样，请在论坛上引用这些错误信息寻求帮助。</p>

</page>
