<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-wired-connect" xml:lang="zh-CN">
  <info>
    <link type="guide" xref="net-wired"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>GNOME 文档项目</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>要设置有线网络连接，通常您只需插入网线。</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>连接到有线(以太网)网络</title>

<p>要设置有线网络连接，通常您只需插入网线。顶部面板中的网络图标将旋转几秒钟，然后在您已连接时更改为“插座”图标。</p>

<p>如果未出现此现象，您应首先确保网线已插入。网线的一端应插入计算机上的矩形以太网(网络)端口，另一端应插入交换机、路由器、壁装插座或类似设备(具体取决于您的网络设置)。</p>

<note>
 <p>您不能使用网线将一台计算机直接与另一台相连(至少在没有进行额外设置的情况下不能)。要连接两台计算机，您应将它们都连接到网络集线器、路由器或交换机。</p>
</note>

<p>如果仍未连接，您的网络可能不支持自动设置 (DHCP)。在此情况下，您必须进行<link xref="net-manual">自动配置</link>。</p>

</page>
