<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing-differentsize" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="printing#paper"/>
    <desc>以不同的纸张尺寸或方向打印文档。</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <its:rules xmlns:its="http://www.w3.org/2005/11/its" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" xlink:type="simple" xlink:href="gnome-help.its"/>
  </info>

<title>打印时更改纸张尺寸</title>

  <p>如果要更改文档的纸张尺寸(例如，在 A4 纸上打印 US 信纸大小的 PDF)，您可以更改该文档的打印格式。</p>

<steps>
 <item><p>单击<guiseq><gui>文件</gui><gui>打印</gui></guiseq></p></item>
 <item><p>选择<gui>页面设置</gui>标签页。</p></item>
 <item><p>在<em>页面</em>栏中，从下拉列表中选择<em>纸张尺寸</em>。</p></item>
 <item><p>单击<gui>打印</gui>，将打印文档。</p></item>
</steps>

  <p>您还可以使用<gui>页面方向</gui>菜单以选择不同的方向：</p>

<list>
<item><p><gui>纵向</gui></p></item>
<item><p><gui>横向模式</gui></p></item>
<item><p><gui>纵向翻转</gui></p></item>
<item><p><gui>横向翻转</gui></p></item>
</list>
</page>
