<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="printing-paperjam" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="printing#problems"/>

    <desc>如何清除卡纸取决于该打印机的制造和型号。</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>清除卡纸</title>

<p>有时，打印机会错误吞打印纸并卡住纸张。</p>

<p>通常，打印机的使用手册中将提供如何清除卡纸的详细说明。通常，需要打开其中一个打印机面板以查找内部堵塞，然后将卡住的纸张从打印机的供应装置中缓缓拉出(请务必格外小心！)。</p>

<p>清除堵塞物后，您可能需要按<gui>恢复</gui>按钮以再开始打印。对于有些打印机，您可能需要关闭打印机，再打开，然后再开始打印任务。</p>

</page>
