<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="shell-workspaces-switch" xml:lang="zh-CN">

  <info>

    <link type="guide" xref="shell-windows#working-with-workspaces"/>
    <link type="seealso" xref="shell-workspaces"/>

    <desc>打开工作区切换器并双击其中一个工作区。</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="14.10" date="2014-09-14" status="review"/>
    <credit type="author">
      <name>GNOME 文档项目</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

  </info>

<title>在工作区之间进行切换</title>

<note>
  <p>关于启用工作区，请参阅<link xref="shell-workspaces"/>。</p>
</note>

<terms>
<item>
 <title>使用鼠标：</title>
 <p>打开<link xref="unity-launcher-intro">启动器</link>并单击靠近底部的<gui>工作区切换器</gui>按钮。双击要切换到的任意窗口或工作区，或者再次按下“工作区切换器”按钮返回至上一个工作区。</p>
</item>

<item>
 <title>使用键盘：</title>

 <list>
  <item>
   <p>按 <keyseq><key>Ctrl</key><key>Alt</key><key>→</key></keyseq> 以转移到当前工作区右侧的工作区。</p>
  </item>
  <item>
   <p>按 <keyseq><key>Ctrl</key><key>Alt</key><key>←</key></keyseq> 以转移到当前工作区左侧的工作区。</p>
  </item>
  <item>
   <p>按 <keyseq><key>Ctrl</key><key>Alt</key><key>↓</key></keyseq> 以转移到当前工作区下面的工作区。</p>
  </item>
  <item>
   <p>按 <keyseq><key>Ctrl</key><key>Alt</key><key>↑</key></keyseq> 以转移到当前工作区上面的工作区。</p>
  </item>
 </list>

</item>
</terms>

<media type="image" src="figures/unity-windows.png">
</media>

</page>
