<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="user-admin-explain" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="user-accounts#privileges"/>

    <desc>您需要具备管理员特权才能更改您系统的重要部分。</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>GNOME 文档项目</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>管理特权的工作原理是什么？</title>

  <p>与<em>您</em>新建的文件一样，您的计算机也有很多系统正常运行所需的文件。如果这些重要的<em>系统文件</em>被不当更改，会导致多种项目遭到破坏，因此在默认情况下保护会这些文件不受更改。特定的应用程序也会修改系统的重要部分，因此也受保护。</p>

  <p>保护它们的方式是仅允许具有<em>管理特权</em>的用户更改文件或使用某些应用程序的。在日常使用中，您不需要更改系统文件或使用这些应用程序，因此，在默认情况正，您没有管理员特权。</p>

  <p>有时您需要使用这些应用程序，因此您可临时获得管理特权，以允许您进行更改。如果应用程序需要管理员特权，它将向您询问密码。例如，如果您要安装某个新软件，则软件安装程序(软件包管理器)将向您询问管理员密码，以便它可将新的应用程序添加至该系统。一旦完成，您的管理员特权将再次被收回。</p>

  <p>管理员权限与用户帐户密切相关。您可以授予一些用户管理员权限，而对另一些用户禁用这项权限。没有管理员权限的帐户无法安装软件。一些用户帐户（例如“root”帐户）永久性拥有管理员权限。您不应该永远开启账户的管理员权限，以免误操作造成严重的后果（例如误删系统文件）。</p>

  <p>总之，管理员特权使您可在需要时更改系统的重要部分，但可防止您意外操作。</p>

<note>
 <title>“超级用户”是什么意思？</title>
  <p>拥有管理员特权的用户有时称为<em>超级用户</em>。这只是因为该用户比正常用户拥有更多特权。您可看到人们讨论如 <cmd>su</cmd> 和 <cmd>sudo</cmd> 这样的内容；这些是临时提供给您“超级用户”(管理)特权的程序。</p>
</note>

<section id="advantages">
 <title>管理员特权为何有用？</title>
  <p>进行重要的系统更改前要求用户拥有管理员特权非常有用，因为它可防止您的系统被有意或无意地破坏。</p>
  <p>如果您始终拥有管理员特权，则您可能意外更改重要文件，或者错误运行更改重要内容的应用程序。仅在需要时临时获取管理员特权降低了这些错误发生的风险。</p>
  <p>您应当只为部分受信任的用户授予管理员权限。这样就可以阻止其它用户弄乱您的电脑，例如擅自卸载您需要的软件、擅自安装您不想看到的软件、或擅自改动重要的文件。从安全角度来说，只为完全信任的部分用户提供管理员权限是非常必要的。</p>
</section>

</page>
