<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="user-delete" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="user-accounts#manage"/>
    <desc>移除不再使用您计算机的用户。</desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="author">
      <name>GNOME 文档项目</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>
  <title>删除用户帐户</title>

  <p>您可为您的计算机添加多个用户帐户。请参见<link xref="user-add"/>了解如何操作。如果某人不再使用您的计算机，则您可删除该用户的帐户。</p>

<steps>
  <item><p>点击 <gui>菜单栏</gui> 最右端的图标并选择 <gui>系统设置</gui>。</p></item>
  <item><p>打开 <gui>用户帐户</gui>。</p></item>
  <item><p>单击右上角的<gui>解锁</gui>并键入您的密码以进行更改。要删除用户帐户，您必须是管理员用户。</p></item>
  <item><p>选择您要删除的用户并单击 <gui>-</gui> 按钮。</p></item>
  <item><p>每个用户都有存放他们自己文件和设置的主文件夹。您可选择保留或删除用户的主文件夹。如果您确定文件不再使用并且您需要空出磁盘空间，则您可删除相关文件。永久删除这些文件。它们无法恢复。删除文件之前，您可将其备份至外部驱动或 CD。</p></item>
</steps>
</page>
