<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="video-dvd-restricted" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="media#videos" group="#last"/>
    <link type="seealso" xref="video-dvd"/>
    
    <desc>大多数商业 DVD 都已加密，并且无解密软件将无法播放。</desc>
    
    <revision version="16.04" date="2016-04-23" status="review"/>
    <credit type="author">
      <name>Ubuntu 文档项目</name>
      <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>我如何启用受限制的编码解码器来播放 DVD？</title>

<p>由于法律和技术限制，默认情况下 Ubuntu 无法提供 DVD 支持。大多数商业 DVD 都已加密，因此为了播放它们需要使用解密软件。</p>

<section id="fluendo">
 <title>使用 Fluendo 合法播放 DVD</title>
 <p>您可购买商业 DVD 解码器，其可处理<link href="apt:fluendo-dvd">Fluendo</link>添加的复制保护。它可运行于 LInux，并且在所有国家/地区使用都是合法的。</p>
</section>

<section id="restricted">
 <title>使用替代解密软件</title>

 <note style="warning"><p>在一些国家/地区，法律不允许使用以下未经许可的解密软件。确认您有使用它的权利。</p></note>

 <steps>
  <item><p>Install <link href="apt:libdvdnav4">libdvdnav4</link>, <link href="apt:libdvdread4">libdvdread4</link>,
<link href="apt:gstreamer1.0-plugins-bad">gstreamer1.0-plugins-bad</link>, <link href="apt:gstreamer1.0-plugins-ugly">gstreamer1.0-plugins-ugly</link>, and <link href="apt:libdvd-pkg">libdvd-pkg</link>.</p></item>
  <item><p>Open the Dash and launch a <app>Terminal</app>.</p></item>
  <item><p>Run the command</p>
    <p><cmd its:translate="no">sudo dpkg-reconfigure libdvd-pkg</cmd></p>
    <p>and confirm in order to install <em>libdvdcss2</em>.</p>
  </item>
</steps>
</section>
</page>
