<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="wacom" xml:lang="zh-CN">

<info>
    <desc>调节 Wacom 手写板的设置。</desc>

    <link type="guide" xref="prefs"/>

    <revision pkgversion="3.5.5" version="0.1" date="2012-08-14" status="review"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
        <name>Michael Hill</name>
        <email>mdhillca@gmail.com</email>
    </credit>
</info>

<title>Wacom 图形手写板</title>

</page>
