<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="log-close" xml:lang="de">

  <info>
    <link type="guide" xref="index#main"/>
    <link type="seealso" xref="log-view"/>
    <revision version="3.3" date="2011-10-30" status="review"/>
    <desc>Das aktuell betrachtete Protokoll aus der <gui>Seitenleiste</gui> entfernen.</desc>

    <credit type="author">
      <name>Jekaterina Gerassimowa</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  </info>

  <title>Protokolle schließen</title>

  <p>Drücken Sie <keyseq><key>Strg</key><key>W</key></keyseq> oder wählen Sie <guiseq><gui>Datei</gui><gui>Schließen</gui></guiseq>, um das aktuell betrachtete Protokoll zu schließen. Dadurch wird es aus der <gui>Seitenleiste</gui> entfernt, bis Sie das Protokoll erneut öffnen.</p>

</page>
