<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="pref-font-size" xml:lang="de">

  <info>
    <link type="guide" xref="index#main"/>
    <revision version="3.3" date="2011-10-30" status="review"/>
    <desc>Die Textgröße erhöhen oder verringern.</desc>

    <credit type="author">
      <name>Jekaterina Gerassimowa</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  </info>

  <title>Textgröße ändern</title>

  <p>Sie können die Schriftgröße, in der die Protokolle angezeigt werden, erhöhen, verringern und zurücksetzen:</p>

  <terms>
    <item>
      <title>Schrift vergrößern</title>
      <p>Wählen Sie <guiseq><gui>Ansicht</gui><gui>Heranzoomen</gui></guiseq> oder drücken Sie <keyseq><key>Strg</key><key>+</key></keyseq>.</p>
    </item>
    <item>
      <title>Schrift verkleinern</title>
      <p>Wählen Sie <guiseq><gui>Ansicht</gui><gui>Wegzoomen</gui></guiseq> oder drücken Sie <keyseq><key>Strg</key><key>-</key></keyseq>.</p>
    </item>
    <item>
      <title>Auf Standardgröße zurücksetzen</title>
      <p>Wählen Sie <guiseq><gui>Ansicht</gui><gui>Normale Größe</gui></guiseq> oder drücken Sie <keyseq><key>Strg</key><key>0</key></keyseq>.</p>
    </item>
  </terms>

</page>
