<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" its:version="1.0" type="guide" style="2column task" id="index" xml:lang="en-AU">
<info>
  <title type="link">Backup Help</title>
  <title type="text">Backup Help</title>
  <credit type="author maintainer" its:translate="no">
    <name>Michael Terry</name>
    <email>mike@mterry.name</email>
    <years>2010,2011</years>
  </credit>
  <license href="http://creativecommons.org/licenses/by-sa/3.0/"><p>Creative Commons Attribution-Share Alike 3.0 Unported License</p></license>
</info>

  <title>
    <media type="image" mime="image/png" src="figures/deja-dup-icon.png"/>
    Backup Help
  </title>

<section id="backup" style="2column">
  <title>Backing Up</title>
</section>

<section id="restore" style="2column">
  <title>Restoring Files</title>
</section>

<section id="about" style="2column">
  <title>About <app>Déjà Dup Backup Tool</app></title>
</section>

</page>
