<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="gedit-open-files-from-sidepane" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="index#configure-gedit"/>
    <desc>Use gedit's side pane as a file browser.</desc>
    <revision pkgversion="3.8" date="2013-03-13" status="final"/>
    <credit type="author">
      <name>Jim Campbell</name>
      <email its:translate="no">jcampbell@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wagner Luís de Araújo Menezes Macêdo</mal:name>
      <mal:email>wagnerluis1982@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Pedro Vaz de Mello de Medeiros</mal:name>
      <mal:email>pedrovmm@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leonardo Ferreira Fontenelle</mal:name>
      <mal:email>leonardof@gnome.org</mal:email>
      <mal:years>2007, 2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vladimir Melo</mal:name>
      <mal:email>vmelo@gnome.org</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fabricio Godoy</mal:name>
      <mal:email>skarllot@gmail.com</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Krix Apolinário</mal:name>
      <mal:email>krixapolinario@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>José Carlos Menezes</mal:name>
      <mal:email>jcmenezes.91@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Ferreira</mal:name>
      <mal:email>rafael.f.f1@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013, 2014.</mal:years>
    </mal:credit>
  </info>

  <title>Vendo e abrindo arquivos do painel lateral</title>
  <p>A maneira mais comum para alternar entre arquivos no <app>gedit</app> é usando as abas no topo da janela no <app>gedit</app>. Em alguns casos, entretanto, especialmente quando você está trabalhando com um número grande de arquivos abertos, você pode achar que é mais fácil usar o <app>painel lateral</app>.</p> 

  <p>Para ativar o <app>Painel lateral</app>, selecione <guiseq><gui>Ver</gui> <gui>Painel lateral</gui></guiseq>, ou apenas pressione a tecla <key>F9</key>.</p>

  <note style="note">
    <p>Você pode alternar o <gui>Painel lateral</gui> entre aberto ou fechado pressionando <key>F9</key> a qualquer momento.</p>
  </note>

  <section id="sidepane-open">
    <title>Abrindo arquivos do painel lateral</title>
    <p>Para abrir arquivos do <app>Painel lateral</app>, primeiro abra o <app>Painel lateral</app> selecionando <guiseq><gui>Ver</gui> <gui>Painel lateral</gui></guiseq>, e então clique no ícone de <gui>Navegador de arquivos</gui> na parte inferior do painel.</p>

    <media type="image" mime="image/png" src="figures/gedit-side-pane1.png" its:translate="no"/>

    <p>Isso irá ativar o modo <em>Navegador de arquivos</em> do <app>Painel lateral</app>. Você pode usar os botões de navegação no topo do painel para localizar e abrir seus arquivos desejados.</p>
  </section>

  <section id="sidepane-switch">
    <title>Usando o painel lateral para alternar entre arquivos abertos</title>
    <p>Quando que você tiver vários arquivos abertos, você pode usar o painel lateral para alternar entre os arquivos abertos. Para ativar a parte navegador de arquivos do <app>Painel lateral</app>, clique no ícone <gui> arquivo</gui> no parte inferior do <gui>Painel lateral</gui>.</p>
    
    <media type="image" mime="image/png" src="figures/gedit-side-pane2.png" its:translate="no"/>

    <p>Clicar em algum nome de arquivo no<gui>Painel lateral</gui> irá abir este arquivo para edição.</p>
  </section>
 
 </page>
