<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="gedit-plugins-modelines" xml:lang="pt-BR">

<info>
  <link type="guide" xref="gedit-plugin-guide#gedit-default-plugins"/>
  <revision pkgversion="3.8" date="2013-02-24" status="review"/>
  <credit type="author">
    <name>Daniel Neel</name>
    <email>dneelyep@gmail.com</email>
  </credit>
  <credit type="author">
    <name>Jim Campbell</name>
    <email>jcampbell@gnome.org</email>
  </credit>
  <desc>Emacs, Kate and Vim-style modelines support for gedit.</desc>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wagner Luís de Araújo Menezes Macêdo</mal:name>
      <mal:email>wagnerluis1982@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Pedro Vaz de Mello de Medeiros</mal:name>
      <mal:email>pedrovmm@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leonardo Ferreira Fontenelle</mal:name>
      <mal:email>leonardof@gnome.org</mal:email>
      <mal:years>2007, 2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vladimir Melo</mal:name>
      <mal:email>vmelo@gnome.org</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fabricio Godoy</mal:name>
      <mal:email>skarllot@gmail.com</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Krix Apolinário</mal:name>
      <mal:email>krixapolinario@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>José Carlos Menezes</mal:name>
      <mal:email>jcmenezes.91@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Ferreira</mal:name>
      <mal:email>rafael.f.f1@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013, 2014.</mal:years>
    </mal:credit>
  </info>

<title>Modelines</title>

  <p>O plug-in <app>Modelines</app> permite que o <app>gedit</app> analise as linhas de texto no começo e no fim de um arquivo, e então aplicar um conjunto de preferências de documento no arquivo. O plug-in <app>Modelines</app> suporta um subconjunto das opções usadas pelos editos de texto <app>Emacs</app>, <app>Kate</app> e <app>Vim</app>.</p>

  <p>Para ativar o plug-in <app>Modelines</app>, selecione <guiseq><gui style="menu">gedit</gui> <gui style="menuitem">Preferências</gui><gui>Plug-ins</gui><gui>Modelines</gui></guiseq>.</p>

<section id="modelines-general">
  <title>Opções gerais de modelines</title>
  <p>As seguinte opções podem ser definidas usando <app>gedit</app> modelines:</p>
  <list>
    <item><p>Tab width</p></item>
    <item><p>Indent width</p></item>
    <item><p>Inserting spaces instead of tabs</p></item>
    <item><p>Text Wrapping</p></item>
    <item><p>Right margin width</p></item>
  </list>

  <note>
    <p>Preferências definidas usando modelines têm prioridade sobre as especificadas na janela de preferências.</p>
  </note>
</section>

<section id="modelines-emacs">
  <title>Modelines de Emacs</title>

  <p>As primeiras duas linhas de um documento são analisadas por modelines do <app>Emacs</app>. e o <app>gedit</app> tem suporte às seguintes opções de modelines do <app>Emacs</app>:</p>
  <list>
    <item><p>Tab-width</p></item>
    <item><p>Indent-offset</p></item>
    <item><p>Indent-tabs-mode</p></item>
    <item><p>Text auto-wrap</p></item>
  </list>
  <p>Para mais informações sobre modelines <app>Emacs</app>, visite o <link href="http://www.gnu.org/software/emacs/manual/emacs.html">Manual do GNU Emacs</link>.</p>
</section>

<section id="modelines-kate">
  <title>Modelines de Kate</title>

  <p>As primeiras e as últimas dez linhas de um documento são analisadas por modelines do <app>Kate</app> e o <app>gedit</app> tem suporte às seguintes opções de modeline do <app>Kate</app>:</p>

  <list>
    <item><p>tab-width</p></item>
    <item><p>indent-width</p></item>
    <item><p>space-indent</p></item>
    <item><p>word-wrap</p></item>
    <item><p>word-wrap-column</p></item>
  </list>

  <p>Para mais informações sobre modelines do <app>Kate</app>, visite a <link href="http://kate-editor.org/">página do Kate</link>.</p>
</section>

<section id="modelines-vim">
  <title>Modelines de Vim</title>
  <p>As primeiras e as últimas dez linhas de um documento são analisadas por modelines <app>Vim</app> e o <app>gedit</app> suporta as seguintes opções de modeline do <app>Vim</app>:</p>

  <list>
    <item><p>et (expandtab)</p></item>
    <item><p>ts (tabstop)</p></item>
    <item><p>sw (shiftwidth)</p></item>
    <item><p>wrap</p></item>
    <item><p>textwidth</p></item>
  </list>

  <p>Para mais informações sobre modelines <app>Vim</app>, visite a <link href="http://www.vim.org/">página do Vim</link>.</p>
</section>
</page>
