<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="gedit-edit-as-root" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="index#gedit-working-with-files"/>
    <desc>Use administrative privileges to edit a file.</desc>
    <revision pkgversion="3.8" date="2013-03-07" status="final"/>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jcampbell@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wagner Luís de Araújo Menezes Macêdo</mal:name>
      <mal:email>wagnerluis1982@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Pedro Vaz de Mello de Medeiros</mal:name>
      <mal:email>pedrovmm@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leonardo Ferreira Fontenelle</mal:name>
      <mal:email>leonardof@gnome.org</mal:email>
      <mal:years>2007, 2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vladimir Melo</mal:name>
      <mal:email>vmelo@gnome.org</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fabricio Godoy</mal:name>
      <mal:email>skarllot@gmail.com</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Krix Apolinário</mal:name>
      <mal:email>krixapolinario@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>José Carlos Menezes</mal:name>
      <mal:email>jcmenezes.91@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Ferreira</mal:name>
      <mal:email>rafael.f.f1@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013, 2014.</mal:years>
    </mal:credit>
  </info>

  <title>Editando um arquivo como usuário root</title>

  <note style="warning">
    <p>Edição de arquivos como o usuário root é potencialmente perigoso e pode quebrar o sistema de forma catastrófica. Tome muito cuidado ao editar arquivos como este usuário.</p>
  </note>

  <p>Para editar arquivos como usuário root, inicie o <app>gedit</app> a partir do terminal, digitando:</p>
  <code>sudo gedit</code>

  <p>Usando o comando <cmd>sudo</cmd>, você precisará digitar com sucesso a sua senha antes do <app>gedit</app> abrir.</p>

  <p>Como uma alternativa ao comando <cmd>sudo</cmd>, você obter privilégios administrativos, digitando:</p>
  <code>su -</code>

  <p>Você então iniciaria o <app>gedit</app> usando o comando <cmd>gedit</cmd>.</p>

  <note style="tip">
    <p>Assim que você tenha aberto o <app>gedit</app> com privilégios administrativos, o <app>gedit</app> irá manter estes privilégios até que você feche-a.</p>
  </note>

</page>
