<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-composer-html-link" xml:lang="zh-CN">

  <info>
    <desc>Insert a link to a website in the mail composer.</desc>
    <link type="guide" xref="mail-composer-html#formatting-options-html"/>

    <revision pkgversion="3.5.90" version="0.4" date="2012-08-16" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-send.html.en#bsait2a -->
 </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    
  </info>

<title>Inserting a Link in HTML</title>


<p>You can insert links into the email:</p>
<steps>
<item><p>Select the text that you want to turn into a link.</p></item>
<item><p>Either click <guiseq><gui>Insert</gui><gui>Link…</gui></guiseq> in the menubar, or right-click on the selected text and click <gui>Insert Link</gui>.</p></item>
<item><p>Enter the address in the <gui>URL</gui> field.</p></item>
<item><p>Click <gui>Close</gui>.</p></item>
</steps>

<p>Alternately, you can also use the <media type="image" its:translate="no" src="./figures/html-composer-insert-link.png"/> icon in the second bar below the <gui>Subject</gui> line.</p>

<p>If you do not want a special link text you can just enter the address of the link directly. It will be automatically recognized as a link.</p>
</page>
