<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-encryption-gpg-set-up" xml:lang="zh-CN">

  <info>
    <desc>Setting up GPG for your mail account to sign and/or encrypt and decrypt messages.</desc>

    <link type="guide" xref="mail-encryption#gpg"/>

    <revision pkgversion="3.13.90" version="0.4" date="2015-03-09" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/encryption.html.en#encrypt-evo-integ -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  </info>

  <title>Setting up GPG for your mail account</title>
<!-- TODO:POST-3-8: Update and rewrite using Seahorse. Needs a rewrite once https://bugzilla.gnome.org/show_bug.cgi?id=745872 and https://bugzilla.gnome.org/show_bug.cgi?id=508744 is fixed. -->

<note style="tip"><p>You need a GPG key to do this. If you do not have one yet, please refer to <link xref="mail-encryption-gpg-create-key">Creating a GPG key</link>.</p></note>

<steps>
<item><p>Select <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Mail Accounts</gui></guiseq>.</p></item>
<item><p>Select the account you want to use securely, then click <gui style="button">Edit</gui>.</p></item>
<item><p>Click the <gui>Security</gui> tab.</p></item>
<item><p>Specify your key ID in the <gui>OpenPGP Key ID</gui> field.</p>
<note style="tip"><p>Below the field you can choose whether to always sign outgoing messages when using this account, and other options.</p></note>
</item>
<item><p>Click <gui style="button">OK</gui>.</p></item>
<item><p>Click <gui style="button">Close</gui>.</p></item>
</steps>
<p>Evolution requires that you know your key ID. If you do not remember it, start <app>Passwords and Keys</app>, go to <gui>GnuPG Keys</gui>, select the preferred GPG key, right-click on it, select <gui>Properties</gui> and copy the <gui>Key ID</gui>. Your key ID is an eight-character string with random numbers and letters.</p>

</page>
