<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-receiving-options-pop" xml:lang="zh-CN">

  <info>
    <desc>Receiving options for POP accounts.</desc>

    <link type="guide" xref="mail-receiving-options#common-server-types"/>
    <link type="guide" xref="mail-account-manage-pop#receiving-email"/>
    <revision pkgversion="3.1.5" version="0.5" date="2013-06-22" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Barbara Tobias</name>
      <email its:translate="no">barbtobias09@gmail.com</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mainwindow-starting.html.en -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  </info>

  <title>POP receiving options</title>

<section id="receiving-email-pop">
<title>接收电子邮件</title>

<p>On the <gui>Receiving Email</gui> page (accessible via <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Mail Accounts</gui><gui style="button">Edit</gui><gui>Receiving Email</gui></guiseq>):</p>

<list>
<item><p>Enter the address of the email server in the <gui>Server</gui> field and enter your username for that server.</p></item>
<item><p>选择您是否要使用安全连接 (SSL 或 TLS)。</p><p>如果您的服务器支持它，应当启用该选项。</p>
<note style="tip"><p>Free webmail providers often supply information about which of these options can be used. If you are in an organizational environment, you may want to contact your system administrator for more information.</p></note></item>
<item><p>Select your authentication type in the Authentication list, or click <gui style="button">Check for Supported Types</gui> to have Evolution check for supported authentication mechanisms. Some servers do not announce the authentication mechanisms they support, so clicking this button is not a guarantee that available mechanisms actually work.</p></item>
<item><p>选择是否要 Evolution 记住密码。</p></item>
</list>

</section>

<section id="receiving-options-pop">
<title>接收选项</title>

<p>On the <gui>Receiving Options</gui> page (accessible via <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Mail Accounts</gui><gui style="button">Edit</gui><gui>Receiving Options</gui></guiseq>):</p>

<list>
<item><p>If you want Evolution to check automatically for new messages, click the <gui>Check for new messages every … minutes</gui> option and select the frequency in minutes.</p></item>
<item><p>If you want the messages to remain on the server for a period of time, click the <gui>Leave messages on server</gui> option and the <gui>Delete after ... days</gui> option and select the number of days to allow messages to remain on the server.</p></item>
<item><p>The option <gui>Disable support for all POP3 extensions</gui> is only useful when accessing old or misconfigured mail servers. <link href="https://tools.ietf.org/html/rfc2449">POP3 extensions</link> provide enhanced functionality, however only some servers support them. In case of problems with receiving mail, enabling this setting might help.</p></item>
</list>

</section>

</page>
