<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-displaying-sender-photograph" xml:lang="zh-CN">

  <info>
    <desc>Display a picture of the sender in the message header area.</desc>

    <link type="guide" xref="mail-displaying-message#advanced"/>

    <revision pkgversion="3.13.90" version="0.5" date="2015-03-10" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/config-prefs-mail.html.en#mail-prefs-headers -->
 </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  </info>

<title>Photograph Message Headers</title>

<!-- NB: This is done by "Face" and "X-Face" headers. -->
<p>Evolution automatically displays photographs of the sender of an email at the right side of the message header if the sender already embedded a photograph in the message.</p>
<!-- TODO: If I ever manage to find out if the "Edit > Plugins > Face" reliably works, create a topic page covering it linked under <link type="guide" xref="index#mail-composing-advanced" />, and link to it from here and vice versa. -->

<p>You can also manually enable displaying the photograph of the sender of an email if the sender is in one of your address books and has a photograph stored.</p>

<p>To enable this functionality, select <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Mail Preferences</gui><gui>Headers</gui><gui>Show the photograph of sender in the message preview</gui></guiseq>.</p>

<p>If there are multiple matches for a contact, the first one is always used.</p>

<!-- From https://bugzilla.gnome.org/show_bug.cgi?id=698435 : -->
<note style="tip"><p>You can also embed your own image in messages that you send under <guiseq><gui>Edit</gui><gui>Plugins</gui><gui>Face</gui></guiseq>. The image has to have a size of 48 x 48 pixels and be in PNG file format.</p></note>
 
</page>
