<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-receiving-options-imap-plus" xml:lang="zh-CN">

  <info>
    <desc>Receiving options for IMAP+ accounts.</desc>

    <link type="guide" xref="mail-receiving-options#common-server-types"/>
    <link type="guide" xref="mail-account-manage-imap-plus#receiving-email"/>
    <revision pkgversion="3.12.9" version="0.3" date="2015-02-15" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mainwindow-starting.html.en#bstggh0 -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  </info>

  <title>IMAP+ receiving options</title>

<section id="receiving-email-imap-plus">
<title>接收电子邮件</title>

<p>On the <gui>Receiving Email</gui> page (accessible via <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Mail Accounts</gui><gui style="button">Edit</gui><gui>Receiving Email</gui></guiseq>):</p>

<list>
<item><p>Enter the address of the email server in the <gui>Server</gui> field and enter your username for that server.</p></item>
<item><p>选择您是否要使用安全连接 (SSL 或 TLS)。</p><p>如果您的服务器支持它，应当启用该选项。</p>
<note style="tip"><p>Free webmail providers often supply information about which of these options can be used. If you are in an organizational environment, you may want to contact your system administrator for more information.</p></note></item>
<item><p>Select your authentication type in the Authentication list, or click <gui style="button">Check for Supported Types</gui> to have Evolution check for supported authentication mechanisms. Some servers do not announce the authentication mechanisms they support, so clicking this button is not a guarantee that available mechanisms actually work.</p></item>
<item><p>选择是否要 Evolution 记住密码。</p></item>
</list>

</section>

<section id="receiving-options-imap-plus">
<title>接收选项</title>

<p>On the <gui>Receiving Options</gui> page (accessible via <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Mail Accounts</gui><gui style="button">Edit</gui><gui>Receiving Options</gui></guiseq>):</p>

<list>
<item><p>If you want Evolution to check automatically for new messages, click the <gui>Check for new messages every … minutes</gui> option and select the frequency in minutes.</p></item>
<item><p>Select <gui>Use Quick Resync</gui> if the IMAP server supports <link href="http://tools.ietf.org/html/rfc5162">IMAP4 Extensions for Quick Mailbox Resynchronization</link>.</p></item>
<!-- https://bugzilla.gnome.org/show_bug.cgi?id=730460 -->
<item><p>If the mail server does not allow multiple connections from Evolution to the server at the same time (for example when you have more than one account on that server), set <gui>Number of concurrent connections to use</gui> to 1.</p></item>
<item><p>You can also define if Evolution checks for new messages in all folders, or only in subscribed folders.</p></item>
<item><p>Select if you want Evolution to show only <link xref="mail-imap-subscriptions">subscribed folders</link>.</p></item>
<item><p>Select if you want <link xref="mail-filters">filters</link> to be automatically applied on mail that you receive, if <link xref="mail-spam-marking">spam</link> should be automatically filtered, and if <link xref="mail-working-offline">mail on the server should be synchronized with your local copy for offline access to it</link>.</p></item></list>

</section>

</page>
