<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-cannot-see" xml:lang="zh-CN">

  <info>
    <desc>If you received or sent an email, but you cannot find it anywhere.</desc>
    
    <link type="guide" xref="index#common-mail-problems"/>

    <revision pkgversion="3.3.91" version="0.2" date="2012-02-19" status="candidate"/>
    <credit type="author">
      <name its:translate="no">Phil Bull</name>
      <email its:translate="no">philbull@gmail.com</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  </info>

<title>I cannot see some emails, where are they?</title>

<list>
 <item>
  <p>Check whether you are using filters on incoming (or outgoing) messages. These could be automatically moving your messages to another destination.</p>
 </item>
 <item>
  <p>Check your search view in the search bar right above the message list. Perhaps the <gui>Show</gui> dropdown list is set to a filter like <gui>Read Messages</gui>, or the text input filed contains some value. Click the broom icon to clear the search field.</p>
 </item>
 <item>
  <p>If you cannot see any emails at all in a folder, check that you have not maximized the message preview (so the message list pane is hidden). To do this, click <guiseq><gui>View</gui><gui>Preview</gui><gui>Show Message Preview</gui></guiseq>.</p>
 </item>
 <item>
  <p>Look in the <gui>Junk</gui> folder. Messages that are marked as Junk disappear from the original folder and are moved to the Junk folder.
  </p>
 </item>
 <!-- Does the following option still exist? -->
 <item>
  <p>Click <guiseq><gui>View</gui><gui>Show Deleted Messages</gui></guiseq> to make sure all messages are visible.</p>
 </item>
 <item>
  <p>Check your default folder under <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Email Accounts</gui><gui>Edit</gui><gui>Defaults</gui></guiseq>. Perhaps it is set to some other folder than the folder you thought of.</p>
 </item>
</list>

</page>
