<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-searching" xml:lang="zh-CN">
 
  <info>
    <desc>Searching messages.</desc>
    
    <link type="guide" xref="searching-items"/>
    <link type="guide" xref="mail-organizing"/>
 
    <revision pkgversion="3.13.90" version="0.6" date="2015-03-09" status="draft"/>
    <credit type="author">
      <name its:translate="no">Max Vorobuov</name>
      <email its:translate="no">vmax0770@gmail.com</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        
 
  </info>
 
<title>Searching Mail</title>

<section id="search-single">
<title>Searching in a Single Message</title>
<p>To find text in the displayed message, select <guiseq><gui>Edit</gui><gui>Find in Message…</gui></guiseq> from the main menu.</p>
</section>

<section id="search-many">
<title>Searching Across Messages</title>

<section id="quick-search">
<title>Quick Search</title>
<p>In the mail view, you can quickly search for messages by defining conditions.</p>
<steps>
<item><p>Click on the search icon <media type="image" mime="image/png" its:translate="no" src="figures/search-icon.png"/> to expand the drop-down list.</p></item>
<item><p>Select the search condition from the list.</p>
<note style="tip"><p>Advanced users can <link href="https://bugzilla.gnome.org/show_bug.cgi?id=550796#c10">combine numerous conditions by using the <gui>Free form expression</gui> syntax</link>.</p></note>
</item>
<item><p>Select the scope from the drop-down list right to the text box.</p>
<note style="tip"><p>For the <gui>Current Account</gui> scope, the term "account" refers to top-level nodes in the <link xref="intro-main-window#e-mail"> mail folder list</link>, like "On this computer" and remote mail accounts.</p></note>
</item>
<item><p>Enter the text you want to search for and press <key>Enter</key>.</p></item>
<item><p>Evolution displays the search results.</p></item>
</steps>
<note style="tip"><p>If you start directly from the fourth step, text will be searched in mail's subjects and addresses and scope will be "Current folder".</p></note>
<note style="tip"><p>If you search for messages that are not in the same folder rather often you might want to create a search folder instead; see <link xref="mail-search-folders">Using Search Folders</link> for more detail.</p></note>
<p>If you want to set several search conditions, you should use an Advanced search, which is described below.</p>
</section>

<!-- As advanced-search, clearing-search, saved-searches, editing-a-saved-search are totally identical in all *-searching.page files, this is centrally in one file that's included by XInclude. See
http://blogs.gnome.org/shaunm/2011/07/21/understanding-xinclude/ for how it works. -->
<include xmlns="http://www.w3.org/2001/XInclude" href="xinclude-searching.xml" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:info/mal:section)"/>

</section> 
</page>
