<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="memos-usage-add-memo" xml:lang="zh-CN">

  <info>
    <desc>Adding a memo to your memo list.</desc>
    
    <link type="guide" xref="memos-usage"/>

    <revision pkgversion="3.0.2" version="0.1" date="2011-08-01" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/b15iirao.html.en -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  </info>

<title>Adding a Memo</title>

<steps>
<item><p>Click <guiseq><gui>File</gui><gui>New</gui><gui>Memo</gui></guiseq>, or press <keyseq><key>Shift</key><key>Ctrl</key><key>O</key></keyseq>.</p></item>
<item><p>Select a memo list in the <gui>List</gui> dropdown list.</p></item>
<item><p>Enter the memo information.</p></item>
<item><p>Click the <gui style="button">Save</gui> button, or <guiseq><gui>File</gui><gui>Save</gui></guiseq>.</p></item>
</steps>

<p>If you just want to quickly add a memo by entering a summary you can directly enter it in the list of memos.</p>

<p>You can also define a <link xref="using-categories">category</link>, or a <link xref="calendar-classifications">classification</link> for the memo, or add an attachment.</p>

<section id="shared-memos">
<title>Shared Memos</title>

<p>Shared Memos are like mail messages except they are scheduled for a particular day and appear on the calendar for that date. You can use shared memos to show vacations, holidays, pay days, birthdays, and so on. Posted shared memos are placed in your Calendar on the date you specify. They are not placed in your Mailbox or in any other user's Mailbox.</p>

<p>To send a Shared Memo,</p>
<steps>
<item><p>Click <guiseq><gui>File</gui><gui>New</gui><gui>Shared Memo</gui></guiseq>, or press <keyseq><key>Shift</key><key>Ctrl</key><key>H</key></keyseq>.</p></item>
<item><p>Select the Organizer's account name from the drop-down list given next to the <gui>Organizer</gui> field.</p></item>
<item><p>In the <gui>To</gui> field, type a username, then press <key>Enter</key>. Repeat this for additional users.</p></item>
<item><p>Select the task list (under <gui>List</gui>) in which you would like to create the entry.</p></item>
<item><p>Enter a brief summary in the <gui>Summary</gui> field.</p></item>
<item><p>In the <gui>Start Date</gui> field, type the date this shared memo should appear in the recipients' calendars.</p></item>
<item><p>Click the <gui style="button">Save</gui> button, or <guiseq><gui>File</gui><gui>Save</gui></guiseq>.</p></item>
</steps>
</section>

</page>
