<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="bonustiles" xml:lang="fr">

  <info>
    <link type="guide" xref="index#play"/>
    <revision pkgversion="3.12" date="2014-02-26" status="candidate"/>

    <credit type="author">
      <name>Rashi Aswani</name>
      <email its:translate="no">aswanirashi19@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2007-2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2008-2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Laurent Coudeur</mal:name>
      <mal:email>laurentc@iol.ie</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Guillaume Bernard</mal:name>
      <mal:email>filorin@laposte.net</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Tuiles bonus</title>

  <p>Il y a huit tuiles bonus : quatre fleurs et quatre saisons. Le groupe de fleurs se compose de motifs d'hiver bleu dans le thème postmoderne et de symboles jaunes dans le thème lisse. Le groupe de saisons se compose de motifs jaunes printaniers dans le thème postmoderne et de symboles noirs dans le thème lisse. La correspondance se fait entre les tuiles bonus identiques dans le thème postmoderne et les tuiles bonus ayant la même couleur de symbole dans le thème lisse.</p>

  <p>Certaines des tuiles bonus qui se correspondent dans le thème lisse sont présentées ci-dessous :</p>

  <figure>
    <title>Tuiles bonus</title>
    <media type="image" mime="image/png" its:translate="no" src="figures/black-symbol.png"/>
    <media type="image" mime="image/png" its:translate="no" src="figures/yellow-symbol.png"/>
  </figure>

</page>
