<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="strategy" xml:lang="fr">
  <info>
    <link type="guide" xref="index#play"/>
    <revision version="0.1" date="2012-03-08" status="final"/>

    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <desc/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2007-2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2008-2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Laurent Coudeur</mal:name>
      <mal:email>laurentc@iol.ie</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Guillaume Bernard</mal:name>
      <mal:email>filorin@laposte.net</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Stratégie</title>

  <p>Comme chaque <link xref="map">disposition de tuiles</link> requiert une approche différente, il n'existe pas de stratégie universelle. Par contre, voici quelques astuces de stratégie à garder à l'esprit lorsque vous jouez :</p>

  <list>
    <item><p>La stratégie générale est d'enlever les tuiles correspondantes de façon à ce que chaque tuile enlevée rende disponible d'autres tuiles. Une bonne stratégie serait de rendre disponible de nouvelles tuiles pour chaque couple de tuiles que vous faites correspondre et éliminez.</p></item>
    <item><p>Choisir les tuiles les plus accessibles, telles que celles des niveaux supérieurs, n'est pas bénéfique. Cette stratégie laisse des tuiles essentielles recouvertes, ce qui augmente vos chances de perdre la partie.</p></item>
    <item><p>Comme votre <link xref="scoring">score</link> est déterminé par le temps mis pour compléter le jeu, la durée est le facteur le plus important du jeu. Il est donc important d'être rapide.</p>

      <note>
        <list>
          <item><p>L'utilisation de l'option <link xref="hints">Astuce</link> ajoute une pénalité de 30 secondes à votre temps.</p></item>
          <item><p>Mélanger les tuiles ajoute une pénalité de 60 secondes à votre temps.</p></item>
        </list>
      </note>

    </item>
  </list>
</page>
