<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="pref-custom-exit" xml:lang="fr">

  <info>
    <revision pkgversion="3.8" date="2013-03-02" status="candidate"/>
    <revision pkgversion="3.12" date="2014-09-08" status="candidate"/>
    <link type="guide" xref="index#preferences"/>
    <link type="guide" xref="profile"/>
<!--    <link type="seealso" xref="prob-recover-default-profile"/>-->

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013-2014</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Définir le comportement de <app>Terminal</app> quand une commande personnalisée ou le shell par défaut se termine.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Yoann Fievez</mal:name>
      <mal:email>yoann.fievez@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Franke</mal:name>
      <mal:email>alexandre.franke@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alain Lojewski</mal:name>
      <mal:email>allomervan@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jérôme Sirgue</mal:name>
      <mal:email>jsirgue@free.fr</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Guillaume Bernard</mal:name>
      <mal:email>translate@filorin.fr</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Définition du comportement à la fin de la commande</title>

  <p>Vous pouvez configurer le terminal pour sortir, redémarrer ou rester ouvert lorsque le shell ou une commande personnalisée se termine : </p>

  <steps>
    <item>
      <p>Sélectionnez <guiseq><gui style="menu">Édition</gui> <gui style="menuitem">Préférences du profil</gui> <gui style="tab">Commande</gui></guiseq>.</p>
    </item>
    <item>
      <p>À partir de la liste déroulante de <gui>Quand la commande se termine</gui>, sélectionnez l'une des options suivantes :</p>
      <list>
        <item>
          <p><gui>Quitter le terminal</gui></p>
        </item>
        <item>
          <p><gui>Relancer la commande</gui></p>
        </item>
        <item>
          <p><gui>Conserver le terminal ouvert</gui></p>
        </item>
      </list>
      <p>Le réglage sera enregistré automatiquement après sélection.</p>
    </item>
  </steps>

  <note style="important">
    <p>Si vous avez <link xref="pref-custom-command">défini une commande personnalisée</link> qui n'est pas interactive, que vous avez défini le comportement de sortie pour <gui>quitter le terminal</gui>, et avez défini le profil pour être le profil par défaut, <app>Terminal</app> peut se terminer avant que vous puissiez voir le résultat de la commande.</p>
  </note>

</page>
