<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="accounts-provider-not-available" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="accounts"/>

    <revision pkgversion="3.5.5" date="2012-08-14" status="review"/>
    <revision pkgversion="3.9.92" date="2013-09-18" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Baptiste Mille-Mathias</name>
      <email>baptistem@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <desc>如果一个在线服务提供商没有列出怎么办？</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>Why is my account type not on the list?</title>

  <p>Support for your favorite online service provider needs someone to develop
  it. Only the account types that are listed are currently supported.</p>

  <note style="advanced">
    <p>If you are interested in adding support for other services, contact the
    developers on the
    <link href="https://bugzilla.gnome.org/enter_bug.cgi?product=gnome-online-accounts">
    bug tracker</link>.</p>
  </note>

</page>
