<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="contacts-add-remove" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="contacts"/>
    <revision pkgversion="3.5.5" date="2012-08-13" status="review"/>
    <revision pkgversion="3.8" date="2013-04-27" status="review"/>
    <revision pkgversion="3.12" date="2014-02-26" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="review"/>

    <credit type="author">
      <name>Lucie Hankey</name>
      <email its:translate="no">ldhankey@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>从本地地址薄中添加或删除一个联系人</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

<title>添加或删除一个联系人</title>

  <p>要添加一个联系人：</p>

  <steps>
    <item>
      <p>Press the <gui style="button">+</gui> button.</p>
    </item>
    <item>
      <p>In the <gui>New contact</gui> dialog, enter the contact name and their
      information. Click on the drop down box next to each field to chose the
      type of detail.</p>
    </item>
    <item>
      <p>Press <gui style="button">Add</gui>.</p>
    </item>
  </steps>

  <p>要删除一个联系人：</p>

  <steps>
    <item>
      <p>Select the contact from your contact list.</p>
    </item>
    <item>
      <p>Press <gui style="button">Edit</gui> in the top-rigth corner of
      <app>Contacts</app>.</p>
    </item>
    <item>
      <p>Press <gui style="button">Remove Contact</gui>.</p>
    </item>
  </steps>

</page>
