<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="printing-inklevel" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="printing"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Anita Reitere</name>
      <email>nitalynx@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>查看打印机墨盒中剩余油墨和彩墨的容量。</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>How can I check my printer's ink or toner levels?</title>

  <p>如何查看打印机中的剩余油墨和彩墨取决于您的打印机型号和制造商及计算机上安装的驱动程序和应用程序。</p>

  <p>有些打印机上有屏幕显示油墨量和其他信息。</p>

  <p>Some printers report toner or ink levels to the computer, which can be
  found in the <gui>Printers</gui> panel in <app>Settings</app></p>

  <p>大多数 HP 打印机的驱动程序和状态工具均由 HP Linux 成像和打印 (HPLIP) 项目提供。其他制造商也可能提供具有类似功能的专有驱动程序。</p>

  <p>Alternatively, you can install an application to check or monitor
  ink levels. <app>Inkblot</app> shows ink status for many HP, Epson
  and Canon printers. See if your printer is on the <link href="http://libinklevel.sourceforge.net/#supported">list of
  supported models</link>. Another ink levels application for Epson and
  some other printers is <app>mtink</app>.</p>

  <p>Linux 对有些打印机的支持不太好，而其他一些打印机本身就无法显示剩余油墨量。</p>

</page>
