<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="user-admin-change" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="user-accounts#privileges"/>
    <link type="seealso" xref="user-admin-explain"/>

    <revision pkgversion="3.8.0" date="2013-03-09" status="candidate"/>
    <revision pkgversion="3.10" date="2013-11-01" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>GNOME 文档项目</name>
      <email its:translate="no">gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>You can allow users to make changes to the system by giving them
    administrative privileges.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>设置哪些用户可以具备管理员权限</title>

  <p>Administrative privileges are a way of deciding who can make changes to
  important parts of the system. You can change which users have administrative
  privileges and which ones do not. They are a good way of keeping your system
  secure and preventing potentially damaging unauthorized changes.</p>

  <p>You need <link xref="user-admin-explain">administrator privileges</link>
  to change account types.</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Users</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Users</gui> to open the panel.</p>
    </item>
    <item>
      <p>Press <gui style="button">Unlock</gui> in the top right corner and
      type in your password when prompted.</p>
    </item>
    <item>
      <p>选中您想更改权限的用户。</p>
    </item>
    <item>
      <p>Click the label <gui>Standard</gui> next to <gui>Account Type</gui>
      and select <gui>Administrator</gui>.</p>
    </item>
    <item>
      <p>The user's privileges will be changed when they next log in.</p>
    </item>
  </steps>

  <note>
    <p>The first user account on the system is usually the one that has
    administrator privileges. This is the user account that was created when
    you first installed the system.</p>
    <p>系统存在过多<gui>管理员</gui>权限用户是不明智的。</p>
  </note>

</page>
