<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="backup-auto" xml:lang="pt-BR">
<info>
  <desc>Dê paz de espírito a você mesmo</desc>
  <link type="guide" xref="index#backup"/>
</info>
<title>Cópias de segurança automáticas</title>
<p>Se você faz cópias de segurança somente quando se lembra disso, você não está fazendo-as com frequência suficiente. Felizmente, é fácil de configurar cópias de segurança automáticas.</p>
<steps>
  <item><p>Open your <gui>Backups</gui> settings.</p></item>
  <item><p>Revise as suas <link xref="prefs">configurações de cópia de segurança</link>, a fim de confirmar que elas estão do jeito que você quer.</p></item>
  <item><p>Ative a opção <gui>Cópias de segurança automáticas</gui> na página <gui>Visão geral</gui>.</p></item>
</steps>
<note><p>Considere salvar as suas cópias de segurança apenas por um certo período de tempo, utilizando a opção <gui>Manter cópias de segurança</gui> na página da <gui>Agenda</gui>. Do contrário, elas podem acabar ocupando uma grande quantidade de espaço, se você não estiver atento.</p></note>
</page>
