<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-gettingprofiles" xml:lang="de">

  <info>
    <link type="guide" xref="color#profiles"/>
    <link type="seealso" xref="color-why-calibrate"/>
    <link type="seealso" xref="color-whatisprofile"/>
    <link type="seealso" xref="color-missingvcgt"/>
    <desc>Farbprofile werden von Herstellern bereitgestellt oder können von Ihnen selbst erstellt werden. </desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hendrik Knackstedt</mal:name>
      <mal:email>hendrik.knackstedt@t-online.de</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2011-2015.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011-2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

  <title>Wo kann ich Farbprofile beziehen?</title>

  <p>Die beste Möglichkeit ist die Erstellung eigener Profile, wobei dies etwas Anfangsaufwand erfordert.</p>
  <p>Viele Hersteller stellen Farbprofile für ihre Geräte innerhalb von <em>Treiberpaketen</em> bereit. Diese müssen Sie nach dem Herunterladen entpacken und dann in den Dateien nach Farbprofilen suchen.</p>
  <p>Einige Hersteller bieten ungenaue Profile für ihre Geräte an, die Sie besser nicht verwenden sollten. Wenn das heruntergeladene Profil ein Jahr oder länger vor dem Kaufdatum des Gerätes erstellt wurde, handelt es sich vermutlich um automatisch erstellte Standarddaten, die eher nutzlos sind.</p>

  <p>In <link xref="color-why-calibrate"/> finden Sie weitere Informationen, warum die durch den Hersteller bereitgestellten Farbprofile oft schlecht oder gar nutzlos sind.</p>

</page>
