<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="a11y task" id="a11y-screen-reader" xml:lang="de">
  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <desc>Den <app>Orca</app>-Bildschirmleser verwenden, damit er die Benutzerschnittstelle vorliest.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="a11y#vision" group="blind"/>
    <revision version="13.10" date="2013-10-25" status="review"/>
  </info>

  <title>Den Bildschirm laut vorlesen</title>

  <p>GNOME stellt den <app>Orca</app>-Bildschrimleser zur Verfügung, um den Bildschirminhalt vorzulesen. Je nach Installationsart von GNOME ist der Orca-Bildschirmleser möglicherweise noch nicht mit installiert. Für mehr Informationen siehe <link href="apt:gnome-orca">Orca installieren</link> und nach der Installation <link href="help:gnome-orca">Orca-Hilfe</link>.</p>

</page>
