<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="color-calibrate-scanner" xml:lang="de">

  <info>
    <link type="guide" xref="color#calibration"/>
    <link type="seealso" xref="color-calibrationtargets"/>
    <link type="seealso" xref="color-calibrate-printer"/>
    <link type="seealso" xref="color-calibrate-screen"/>
    <link type="seealso" xref="color-calibrate-camera"/>
    <desc>Um alle Farben akkurat zu erfassen, ist es wichtig, dass Sie Ihren Scanner kalibrieren.</desc>

    <revision version="13.10" date="2013-09-07" status="review"/>
    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Wie kalibriere ich meinen Scanner?</title>

<if:choose>
<if:when test="platform:unity">
  <p>Sie können Ihre Zieldatei scannen und als unkomprimierte TIFF-Datei speichern. Sie können dann auf <gui>Kalibrieren …</gui> in <guiseq><gui>Systemeinstellungen</gui><gui>Farben</gui></guiseq> klicken, um für dieses Gerät ein neues Profil zu erstellen.</p>
</if:when>
  <p>Sie können Ihre Zieldatei scannen und als unkomprimierte TIFF-Datei speichern. Sie können dann auf <gui>Kalibrieren …</gui> in <guiseq><gui>Systemeinstellungen</gui><gui>Farben</gui></guiseq> klicken, um für dieses Gerät ein neues Profil zu erstellen.</p>
</if:choose>

  <note style="tip">
    <p>Scanner sind ziemlich robust, und in aller Regel machen weder zunehmendes Alter noch schwankende Temperaturen eine erneute Kalibrierung notwendig.</p>
  </note>

</page>
