<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-view" xml:lang="de">

  <info>
    <credit type="author copyright">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>Dokumente im Vollbild ansehen.</desc>
    <link type="guide" xref="documents#view" group="#first"/>
    <revision pkgversion="3.5.90" date="2012-09-02" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Zeigt lokal oder online gespeicherte Dokumente</title>

  <p>Wenn Sie die <app>Dokumentenverwaltung</app> öffnen, werden alle Ihre Dokumente, lokal oder online gespeichert, als Miniaturansicht dargestellt.</p>

  <note style="tip"><p>Damit Ihre Dokumente in <em>Google Docs</em> oder <em>SkyDrive</em> angezeigt werden, müssen Sie Google oder  Windows Live als <link xref="accounts-add">Online-Konto</link> eingetragen haben.</p>
  </note>

  <p>Um den Inhalt eines Dokumentes anzuzeigen:</p>

  <steps>
    <item><p>Klicken Sie auf die Miniaturansicht. Das Dokument wird in voller Breite in der <app>Dokumentenverwaltung</app> angezeigt (oder in Bildschirmbreite bei maximierter Ansicht).</p></item>
  </steps>

  <p>Um das Dokument zu verlassen, klicken Sie auf den »zurück«-Pfeil.</p>

</page>
