<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-tracker" xml:lang="de">

  <info>
    <credit type="author copyright">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>Lokale oder online-Dokumente werden nicht angezeigt.</desc>
    <link type="guide" xref="documents#question"/>
    <revision pkgversion="3.5.90" date="2012-09-05" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Meine Dokumente werden nicht angezeigt.</title>

  <p>Wenn Ihre Dokumente in der <app>Dokumentverwaltung</app> nicht angezeigt werden, ist eventuell der Indexgenerator <app>Tracker</app> fehlerhaft konfiguriert oder nicht gestartet. Vergewissern Sie sich, dass Tracker gestartet ist. Die Standard-Konfiguration ist ausreichend, sie umfasst die Indizierung Ihres »Dokumente«-Ordners (nicht rekursiv) und XDG-Ordner (rekursiv). Stellen Sie sicher, dass Ihre Dokumente unter diesen Pfaden gefunden werden.</p>

</page>
