<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task 2column" id="net" xml:lang="de">

  <info>

    <revision version="13.10" date="2013-09-15" status="review"/>

    <link type="guide" xref="index" group="net"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>



    <desc><link xref="net-wireless">Funknetzwerke</link>, <link xref="net-wired">Kabelnetzwerke</link>, <link xref="net-problem">Verbindungsprobleme</link>, <link xref="net-browser">Internet durchsuchen</link>, <link xref="net-email">E-Mail-Konten</link>, <link xref="net-chat">Sofortnachrichten</link> …</desc>
<!--
    chat…
-->
<!--
    <desc>
      <link xref="net#problems">Connection problems</link>,
      <link xref="net#wireless">wireless</link>,
      <link xref="net#wired">wired</link>,
      <link xref="net#sharing">sharing files</link>,
      <link xref="net#security">security</link>,
      <link xref="net#security">anti-virus</link>…
    </desc>

-->

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Netzwerk, Web, E-Mail und Chat</title>
<links type="topic" style="toronto"/>

</page>
