<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="power-batteryslow" xml:lang="de">

  <info>
    <link type="guide" xref="power#battery"/>
    <desc>Einige Laptops arbeiten im Akkubetrieb gewollt langsamer.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>GNOME-Dokumentationsprojekt</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Warum ist mein Laptop im Akkubetrieb langsam?</title>

<p>Einige Laptops werden gewollt langsamer, wenn sie vom Akku betrieben werden, um Energie zu sparen. Der Prozessor des Laptops (CPU) arbeitet langsamer und Prozessoren verbrauchen weniger Energie, wenn sie langsamer arbeiten, der Akku sollte also länger halten.</p>

<p>Diese Funktion heißt <em>CPU-Frequenzanpassung</em>.</p>

</page>
