<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="unity-dash-video" xml:lang="de">
  <info>
    <link type="guide" xref="unity-dash-intro#dash-lenses"/>
    <link type="seealso" xref="unity-dash-intro#dash-lenses"/>

    <desc>Videos von Ihrem Rechner oder aus dem Internet finden und wiedergeben.</desc>

    <revision version="13.10" date="2013-10-23" status="outdated"/>

    <credit type="author">
      <name>Jeremy Bicha</name>
      <email>jbicha@ubuntu.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Video-Filter</title>

  <p>Der Video-Filter ist der dritte Filter nach der Dash-Startseite auf der <gui>Filterleiste</gui> und ist durch einen Filmstreifen symbolisiert. Der Video-Filter ermöglicht den Zugriff auf eigene oder online verfügbare Videos.</p>

  <p>Sie können selbst Videos über das Dash kaufen oder leihen.</p>

  <p>Sie können <keyseq><key>Super</key><key>V</key></keyseq> verwenden, um das Dash direkt mit dem Video-Filter öffnen.</p>


<section id="dash-apps-previews">
  <title>Vorschauen</title>

  <p>Rechtsklicken Sie auf ein Suchergebnis, um eine <gui>Vorschau</gui> mit weiteren Informationen zum Video zu öffnen.</p>

</section>

<section id="dash-apps-filters">
  <title>Filter</title>

  <p>Klicken Sie auf <gui>Suchergebnisse filtern</gui>, um nach Video-Quellen zu filtern.</p>

</section>

</page>
