<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="user-accounts" xml:lang="de">

  <info>
    <link type="guide" xref="prefs"/>
    <title type="link" role="trail">Benutzer</title>
    <desc><link xref="user-add">Benutzer hinzufügen</link> oder <link xref="shell-guest-session">Gastkonto</link>, <link xref="user-changepassword">Passwort ändern</link>, <link xref="user-admin-change">Systemverwalter</link> …</desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>GNOME-Dokumentationsprojekt</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Benutzer</title>

  <p>Jede Person, die den Rechner verwendet, sollte ein eigenes Benutzerkonto haben. Das ermöglicht es anderen, deren Dateien von den Ihren getrennt aufzubewahren und eigene Einstellungen zu wählen. Darüber hinaus ist es sicherer. Sie können ein anderes Benutzerkonto nur dann benutzen, wenn Sie das Passwort kennen.</p>

<section id="manage" style="2column">
  <info>
    <title type="link" role="trail">Konten</title>
  </info>
  <title>Benutzerkonten verwalten</title>
</section>

<section id="passwords" style="2column">
  <title>Passwörter</title>
</section>

<section id="privileges" style="2column">
  <info>
    <title type="link" role="trail">Rechte</title>
  </info>
  <title>Benutzerrechte</title>
</section>
	
</page>
