<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="edit-redeye" xml:lang="es">

    <info>
        <link type="guide" xref="index#edit"/>
        <desc>Corrige las fotos donde las personas tienen ojos rojos por el flash de la cámara.</desc>
        
        <link type="next" xref="edit-rotate"/>
    </info>

	<title>Quitar los ojos rojos</title>

    <p>Red-eye occurs when the camera's flash reflects off the pupil of someone's eye. To eliminate this in a photo, use the Red-eye tool.</p>
    <steps>
     <item>
      <p>Pulse en <gui>Ojos Rojos</gui>. Un círculo aparecerá en la foto.</p>
     </item>
     <item>
      <p>Drag the circle over the affected pupil, adjust its size with the slider control, and press <gui>Apply</gui>. The redness will be removed.</p>
     </item>
     <item>
      <p>Repeat this process for all red pupils in your photo. Press <gui>Close</gui> when finished.</p>
     </item>
    </steps>
</page>
