<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="title" xml:lang="es">

    <info>
        <link type="guide" xref="index#organize"/>
        <desc>Asignar títulos a las fotos.</desc>
        
        <link type="next" xref="event"/>
    </info>

	<title>Títulos</title>

<p>The <guiseq><gui>View</gui><gui>Titles</gui></guiseq> checkbox toggles the display of titles
beneath each photo.  By default, a photo's title is its filename.</p>

<p>Para cambiar el título de una foto, selecciónela y pulse <guiseq><gui>Fotos</gui><gui>Editar título</gui></guiseq>, o pulse <key>F2</key>.</p>

</page>
