<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="view-view" xml:lang="es">

    <info>
        <link type="guide" xref="index#view"/>
        <desc>Aprenda sobre diferentes formas de ver sus fotos: en una cuadrícula, llenando la ventana principal o a pantalla completa.</desc>
        
        <link type="next" xref="view-sidebar"/>
    </info>

	<title>Vistas de fotos</title>

<p>When you select any collection in the sidebar, Shotwell displays all photos in the collection in the main window area.  At the bottom right is a slider which adjusts the viewing size of the thumbnails. You may also adjust the thumbnail size using the plus and minus keys (<key>+</key> and <key>-</key>) or by pressing <key>Ctrl</key> while moving your mouse scroll wheel.</p>

<p>You can view a photo full-window by double-clicking on it. From there you may move to other photos in the collection with the Back and Forward buttons. To return to the collection, double-click on the photo or press <key>Esc</key>.</p>

<p>When viewing a photo in full-window mode, the slider on the toolbar controls zoom. You can pan around by grabbing and dragging anywhere on the photo. You can also zoom using your scroll wheel or by pressing the following keyboard shortcuts: <keyseq><key>Ctrl</key>0</keyseq> for the full image, <keyseq><key>Ctrl</key>1</keyseq> for 100% (1 photo pixel = 1 screen pixel), and <keyseq><key>Ctrl</key>2</keyseq> for 200% (1 photo pixel = 2x2 screen pixels).</p>

<p>Shotwell offers a fullscreen mode to display photos. Choose <guiseq><gui>View</gui><gui>Fullscreen</gui></guiseq> or press <key>F11</key>. To see the fullscreen toolbar, move your mouse to the bottom of the screen. The toolbar offers buttons to move through the collection, to pin the toolbar down (so it isn't hidden when you move the mouse away), and to leave fullscreen view.</p>

<section>
<title>Ver vídeos</title>
<p>Cuando pulse dos veces sobre un vídeo, Shotwell lanzará un reproductor de vídeo externo para reproducir el vídeo. Actualmente no es posible mostrar un vídeo en modo a pantalla completa o reproducirlo dentro del propio Shotwell</p>
</section>
    
</page>
