<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="bug-filing" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="index#get-involved"/>
    <revision pkgversion="3.5.5" version="0.1" date="2012-08-12" status="review"/>
    <credit type="editor copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
      <years>2011</years>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gilfran Ribeiro</mal:name>
      <mal:email>eu@gilfran.net</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  </info>

<title>Help make <app>Mines</app> better</title>

<section id="bug-report">
<title>Relate um bug ou sugira uma melhora</title>
<p>
   <app>Mines</app> is maintained by a volunteer community. You are welcome to participate.  If you notice a problem you can file a <em>bug report</em>. To file a bug, go to <link href="https://bugzilla.gnome.org/"/>.
   </p>
   <p>
   This is a bug tracking system where users and developers can file details about bugs and crashes, or request enhancements.
   </p>
   <p>
   To participate you need an account, which will give you the ability to gain access, file bugs, make comments, and receive updates by e-mail about the status of your bug. If you don't already have an account, just click on the <gui>New Account</gui> link to create one.
   </p>

  <p>Once you have an account, log in, click on <guiseq><gui>File a
  Bug</gui><gui>Applications</gui><gui>gnome-mines</gui></guiseq>. Before
  reporting a bug, please read the
  <link href="https://bugzilla.gnome.org/page.cgi?id=bug-writing.html">bug
  writing guidelines</link>, and please
  <link href="https://bugzilla.gnome.org/browse.cgi?product=gnome-mines">browse</link>
  for the bug to see if it already exists.</p>

   <p>Se você estiver solicitando um novo recurso, clique em <gui>Melhoria</gui> no menu <gui>Gravidade</gui>. Preencha as seções de Resumo e Descrição e depois clique em <gui>Enviar</gui></p>
   <p>
      Your report will be given an ID number, and its status will be updated as it is being dealt with. Thanks for helping make <app>Mines</app> better!
   </p>
</section>
</page>
