<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="get-help" xml:lang="pt-BR">
  <info>
    <link type="guide" xref="index#tips"/>
    <revision version="0.1" date="2012-08-12" status="review"/>
    <revision pkgversion="3.12" date="2014-03-09" status="review"/>

    <credit type="author copyright">
      <name>Baptiste Mille-Mathias</name>
      <email>baptistem@gnome.org</email>
      <years>2011</years>
    </credit>
    <credit type="author copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Rashi Aswani</name>
      <email>aswanirashi19@gmail.com</email>
      <years>2014</years>
    </credit>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gilfran Ribeiro</mal:name>
      <mal:email>eu@gilfran.net</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  </info>

  <title>Hints and warnings</title>

  <p>You can use hints to reveal safe tiles, and flag warnings to help you keep
  track of flags.</p>

  <p>Click on the button <gui style="button">Receive a hint for your next
  move</gui> on the top right to reveal a hidden tile that is safe. A penalty
  of ten seconds will be added to your total time. The penalty will be
  increased by ten seconds progressively on subsequent hints till the ninth
  hint.</p>

  <p>To enable warnings, edit the preferences by selecting
  <guiseq><gui>Mines</gui><gui>Preferences</gui></guiseq> and checking the
  checkbox next to <gui>Warn if too many flags are placed next to a
  number</gui>. This will warn you when you try to place too many flags next to
  an open tile.</p>

</page>
