<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="index" xml:lang="pt-BR">
  <info>
    <title type="link" role="trail">
      <media type="image" src="figures/logo.png" its:translate="no"/>
    </title>
    <title type="link">GNOME Minas</title>
    <title type="text">GNOME Minas</title>
    <revision pkgversion="3.5.5" version="0.1" date="2012-08-12" status="review"/>
    <credit type="author">
      <name>Brian Grohe</name>
      <email>grohe43@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gilfran Ribeiro</mal:name>
      <mal:email>eu@gilfran.net</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  </info>

  <title><media type="image" src="figures/logo32.png" its:translate="no">GNOME Mines
  logo</media> GNOME Mines</title>
  <p>
    <app>Mines</app> is a clone of the game Minesweeper. The aim is to locate
    all the mines that are hidden under tiles on a rectangular board. You will
    need to use a combination of logic and luck to find all the mines without
    triggering an explosion.
  </p>
  <section id="play" style="2column">
    <title>Jogo</title>
  </section>
  <section id="tips" style="2column">
    <title>Dicas úteis</title>
  </section>
  <section id="advanced" style="2column">
    <title>Avançado</title>
  </section>
  <section id="get-involved" style="2column">
    <title>Fique por dentro</title>
  </section>

</page>
