<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="index" xml:lang="ru">

  <info>
    <title type="text">Disk Usage Analyzer help</title>
    <title type="link">Disk Usage Analyzer</title>

    <revision pkgversion="3.8" date="2013-07-24" status="final"/>
    <revision pkgversion="3.14" date="2014-10-01" status="final"/>

    <credit type="author copyright">
      <name>Юлита Инка (Julita Inca)</name>
      <email its:translate="no">yrazes@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Екатерина Герасимова (Ekaterina Gerasimova)</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><app>Disk Usage Analyzer</app> is a graphical storage device
    scanner.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Yuri Myasoedov</mal:name>
      <mal:email>omerta13@yandex.ru</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Василий Фаронов</mal:name>
      <mal:email>qvvx@yandex.ru</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Алексей Кабанов</mal:name>
      <mal:email>ak099@mail.ru</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Станислав Соловей</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>
    <media type="image" mime="image/png" its:translate="no" src="media/hicolor_apps_48x48_baobab.png"/>
    Disk Usage Analyzer
  </title>

  <section id="scan" style="2column">
    <title>Scan</title>
  </section>

  <section id="preferences" style="2column">
    <title>Preferences</title>
  </section>

  <section id="problems" style="2column">
    <title>Common problems and questions</title>
  </section>

</page>
