<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="scan-folder" xml:lang="ru">

  <info>
    <link type="guide" xref="index#scan"/>
    <revision version="0.1" date="2011-12-19" status="stub"/>
    <revision pkgversion="3.4" date="2012-02-20" status="review"/>
    <revision pkgversion="3.8" date="2013-07-20" status="review"/>

    <credit type="author copyright">
      <name>Юлита Инка (Julita Inca)</name>
      <email its:translate="no">yrazes@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Майкл Хилл (Michael Hill)</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Екатерина Герасимова (Ekaterina Gerasimova)</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Сканирование локальной папки, включая все её подпапки.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Yuri Myasoedov</mal:name>
      <mal:email>omerta13@yandex.ru</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Василий Фаронов</mal:name>
      <mal:email>qvvx@yandex.ru</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Алексей Кабанов</mal:name>
      <mal:email>ak099@mail.ru</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Станислав Соловей</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>Сканирование папки</title>

  <p>Сканирование отдельных папок выполняется гораздо быстрее, чем сканирование всей системы, поэтому оно может быть более эффективным, если нужна информация лишь об отдельных частях файловой системы.</p>

  <steps>
    <item>
      <p>Press the button in the top-right of the main window and select
      <gui style="menuitem">Scan Folder…</gui>.</p>
    </item>
    <item>
      <p>A file chooser dialog will open. Choose the folder which you want to
      scan.</p>
    </item>
    <item>
      <p>Click <gui>Open</gui> to start the scan.</p>
    </item>
  </steps>

  <p>The folder which you just scanned will now be added to your list of
  <gui>Devices and locations</gui>. If the folder is renamed or deleted, it
  will be removed from the list when you next restart <app>Disk Usage
  Analyzer</app>.</p>

</page>
