<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="net-email-virus" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="net-email"/>
    <link type="guide" xref="net-security"/>
    <link type="seealso" xref="net-antivirus"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email its:translate="no">philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Vírus provavelmente não infectarão seu computador, mas poderiam infectar os computadores de outras pessoas que você troca e-mail.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rodolfo Ribeiro Gomes</mal:name>
      <mal:email>rodolforg@gmail.com</mal:email>
      <mal:years>2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Ferreira</mal:name>
      <mal:email>rafael.f.f1@gmail.com</mal:email>
      <mal:years>2012, 2013, 2014.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>João Santana</mal:name>
      <mal:email>joaosantana@outlook.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

  <title>Eu preciso verificar meus e-mails por vírus?</title>

  <p>Vírus são programas que causam problemas, se eles conseguirem entrar no seu computador. Uma forma comum deles entrarem no seu computador é por meio de mensagens de e-mail.</p>

  <p>Vírus que podem afetar computadores executando Linux são muito raros e, portanto, você <link xref="net-antivirus">provavelmente não será infectado por um vírus por e-mail ou algo assim</link>. Se você receber um e-mail com um vírus oculto, ele provavelmente não terá efeito em seu computador. Por isso, você provavelmente não precisa vasculhar seu e-mail por vírus.</p>

  <p>Você pode, porém, querer verificar seu e-mail por vírus no caso de você acabar encaminhando um vírus de uma pessoa para outra. Por exemplo, se um de seus amigos têm um computador com um vírus e envia a você um e-mail infectado com vírus, e você encaminha esse e-mail para um outro amigo com um computador Windows; então o segundo amigo pode ser infectado com vírus também. Você poderia instalar um aplicativo de antivírus para verificar seus e-mails com a finalidade de evitar isso, mas provavelmente não irá acontecer e a maioria das pessoas usando Windows e Mac-OS possuem seus próprios softwares de antivírus.</p>

</page>
