<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="credits" xml:lang="en-GB">

  <info>
    <desc>Credits and Acknowledgment.</desc>

    <link type="guide" xref="index#further-reading"/>

    <revision pkgversion="3.4" version="0.2" date="2012-02-20" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  </info>

<title>Credits and Acknowledgment</title>

<section id="current">
<title>Authors of the <app>Evolution</app> User Documentation</title>
<list>
<item><p>
André Klapper
</p></item>
<item><p>
April Gonzalez
</p></item>
<item><p>Barbara M. Tobias</p></item>
<item><p>Phil Bull</p></item>
</list>
</section>

<section id="translators">
<title>Translators of the <app>Evolution</app> User Documentation</title>
<!-- TO TRANSLATORS: This is shown in the 'Translators of the User Documentation' section. Please REPLACE this string by adding your own names here so you get some well-deserved fame on the interwebs! Do NOT use "\n" for linebreaks or square brackets (<>) for potential email addresses here as this will not work. Thanks for all your hard work! andre -->
<p its:locNote="TO TRANSLATORS: This is shown in the 'Translators of the User Documentation' section. Please REPLACE this string by adding your own names here so you get some well-deserved fame on the interwebs! Do NOT use '\n' for linebreaks or square brackets for potential email addresses here as this will not work. Thanks for all your hard work! andre">(Not applicable to the English version)</p>
</section>

<section id="previous">
<title>Authors of the previous version</title>
<list>
<item><p its:translate="no">
Aaron Weber
</p></item>
<item><p its:translate="no">
Akhil Laddha
</p></item>
<item><p>
André Klapper
</p></item>
<item><p its:translate="no">
Duncan Mak
</p></item>
<item><p its:translate="no">
Ettore Perazzoli
</p></item>
<item><p its:translate="no">
Francisco Javier F. Serrador
</p></item>
<item><p its:translate="no">
Jessica Prabhakar
</p></item>
<item><p its:translate="no">
Kevin Breit
</p></item>
<item><p its:translate="no">
Mark Moulder
</p></item>
<item><p its:translate="no">
Novell, Inc.
</p></item>
<item><p its:translate="no">
Radhika Nair
</p></item>
<item><p its:translate="no">
Srinivasa Ragavan
</p></item>
</list>
</section>

<section id="contact">
<title>Contact information</title>
<p>The GNOME Documentation Project:</p>
<list>
<item><p>
<link href="https://wiki.gnome.org/DocumentationProject">Website</link>
</p></item>
<item><p>
<link href="https://mail.gnome.org/mailman/listinfo/gnome-doc-list">Mailing list</link>
</p></item>
</list>
</section>

</page>
