<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="exchange-placeholder" xml:lang="en-GB">

  <info>
    <desc>Connecting to Exchange Servers</desc>

    <link type="guide" xref="index#corporate-environments-exchange"/>

    <revision pkgversion="3.0.2" version="0.1" date="2011-07-21" status="stub"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  </info>

<title>Connecting to Exchange Servers</title>

<p>For topics not covered here please refer to the <link href="https://help.gnome.org/users/evolution/2.32/usage-exchange.html">old Evolution manual</link>.</p>
</page>
