<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="import-apps-outlook" xml:lang="en-GB">

  <info>
    <desc>Importing data from Microsoft Outlook.</desc>
    
    <link type="guide" xref="import-data#import-from-apps"/>

    <revision pkgversion="3.0.2" version="0.5" date="2011-09-02" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/outlook-migration-mail.html.en -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  </info>

  <title>Outlook</title>
<!-- "Import data and settings from older programs" cannot recognize Outlook, as there obviously is no default storage location for Outlook *under Linux* -->

<p>These steps refer to locally stored data such as POP accounts. For remote data (like IMAP) this is not necessary, since the data is still on the server and does not need to be manually transferred. You can set up the corresponding account in Evolution and the data will be downloaded.</p>

<section id="prerequisites">
<title>Prerequisites under Windows</title>
<p>First, while using Microsoft Windows, prepare your messages for import:</p>
<steps>
<item><p>Find your Outlook files (they normally have the file ending <file>.pst</file> or <file>.ost</file>):</p>
<table frame="all" rules="all">
  <tr>
    <td/><td><p>Windows 7, Windows Vista</p></td><td><p>Windows XP</p></td>
  </tr>
  <tr>
    <td><p>Outlook 2010</p></td><td><p><file>C:\Users\username\My Documents\Outlook Files</file></p></td><td><p><file>C:\Documents and Settings\username\My Documents\Outlook Files</file></p></td>
  </tr>
  <tr>
    <td><p>Outlook 2007 and earlier</p></td><td><p><file>C:\Users\username\AppData\Local\Microsoft\Outlook</file></p></td><td><p><file>C:\Documents and Settings\username\AppData\Local\Microsoft\Outlook</file></p></td>
  </tr>
</table>
<p>(Replace "username" by your username.)</p>
</item>
<!-- File locations taken from http://support.microsoft.com/kb/2291280 and http://answers.microsoft.com/en-us/windows/forum/windows_7-files/where-is-location-of-outlookpst-file-in-windows-7/3a4c03c3-e8ad-4912-9e37-f1c62057d1f9 -->
<item><p>Copy the Outlook files to the system or partition that Evolution is installed on.</p>
<p>As your Windows hard drive is probably in the NTFS format, some Linux systems cannot read it without additional software. You might find it simpler to copy the mail folders to a USB drive or to burn a CD.</p></item>
</steps>
</section>

<section id="importing">
<title>Importing into Evolution</title>
<steps>
<item><p>Depending on your last step, either plug in the disk or USB drive with the data and wait until the file manager window opens, or mount your Windows drive.</p></item>
<item><p>Copy all the mail files into your home directory or another convenient place.</p></item>
<item><p>Start Evolution.</p></item>
<item><p>Optionally select <guiseq><gui>File</gui><gui>New</gui><gui>Mail Folder</gui></guiseq> to create the <link xref="mail-folders">folders</link> you want.</p></item>

<item><p>Click <guiseq><gui>File</gui><gui>Import</gui></guiseq>.</p></item>
<item><p>In the <gui>Importer Type</gui> tab, click <gui>Import a single file</gui>.</p></item>
<item><p>Choose the Outlook personal folders (.pst) file that you would like to import.</p><p>The file type will be automatically determined.</p>
<note style="tip"><p>If the option to import Outlook personal folders (.pst files) is not available under <guiseq><gui>File</gui><gui>Import</gui><gui>Import single file</gui><gui>File type</gui></guiseq>, your distribution might have not enabled this functionality.</p></note>
</item>
<item><p>Choose the destination (e.g. the folder in Evolution) for the imported data.</p></item>
<item><p>Repeat the import steps until you have imported all your data.</p></item>
</steps>

</section>

</page>
