<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-displaying-collapsible-headers" xml:lang="en-GB">

  <info>
    <desc>Display less email recipients of a specific message.</desc>

    <link type="guide" xref="mail-displaying-message"/>

    <revision pkgversion="3.1.5" version="0.2" date="2011-07-28" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-read.html.en#b131oj36 though the setting itself has been removed in 3.1 -->
 </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  </info>

<title>Collapsible Message Headers</title>

<p>Evolution compresses the To, Cc and Bcc headers of received mail and shows only five addresses in the message preview.</p>

<p>To see all recipients, click the <media type="image" its:translate="no" src="./figures/plus-icon.png"/> icon next to the <gui>To:</gui> or <gui>Cc:</gui> line, or click the ellipsis (…) at the end of the five displayed addresses.</p>

<p>To collapse all of the message headers and just display the subject and sender in one line, click the icon <media type="image" its:translate="no" src="./figures/minus-icon.png"/> next to the <gui>From:</gui> line. This is helpful on small screens.</p>
 
</page>
