<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-localized-re-subjects" xml:lang="en-GB">

  <info>
    <desc>Avoid long subject lines due to translated "Re:" prefixes.</desc>
    
    <link type="guide" xref="index#common-mail-problems"/>

    <revision pkgversion="3.5.90" version="0.1" date="2012-08-16" status="review"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    
</info>

<title>Handling localized "Re:" in subjects</title>

<p>Traditionally a "Re:" prefix is added to a subject line when replying to an email. Some email applications use localized terms for this (like "SV:" in Danish or "AW: in German). <app>Evolution</app> can recognize these terms to avoid subject lines getting longer as the conversation continues.</p>

<list>
<item><p>Open the <app>Terminal</app> application.</p></item>
<item><p>Run the command <cmd>gsettings set org.gnome.evolution.mail composer-localized-re 'AW,SV'</cmd> (in case that you want "AW:" and "SV:" to be recognized).</p></item>
</list>
<p>You can also use the <app>dconf-editor</app> application to do this.</p>

<!-- As per https://bugzilla.gnome.org/show_bug.cgi?id=661087#c6 -->

</page>
