<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_debugging" xml:lang="fr">
  <info>
    <link type="guide" xref="commands#troubleshooting"/>
    <title type="sort">1. Débogage</title>
    <title type="link">Débogage</title>
    <desc>Commandes de dépannage</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Laurent Coudeur</mal:name>
      <mal:email>laurentc@iol.ie</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2011-12</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2011, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mickael Albertus</mal:name>
      <mal:email>mickael.albertus@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>
  <title>Commandes de débogage</title>
  <p>Les développeurs peuvent vous demander de leur fournir des informations de débogage pour les aider à identifier la source de votre problème. La commande suivante n'est pas « liée » à l'appui sur une touche. Si vous avez besoin de la lier, reportez-vous à  <link xref="howto_key_bindings">Modifier les combinaisons de touches</link>.</p>
  <list>
    <item>
      <p>Activer le niveau de débogage suivant : (non lié)</p>
    </item>
  </list>
</page>
