<page xmlns="http://projectmallard.org/1.0/"
      type="guide" style="task"
      id="documents">

  <info>
    <credit type="author copyright">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Ubuntu Documentation Team</name>
      <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>
    <desc>
      Organize the documents stored locally on your computer or created 
      online.
    </desc>
    <link type="guide" xref="files#documents"/>
    <revision pkgversion="3.5.90" date="2012-08-31" status="review"/>
    <revision version="14.04" date="2014-03-06" status="review"/>
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
  </info>

  <title>Documents</title>

  <comment>
    <cite date="2012-02-20" href="mailto:yrazes@gmail.com">Julita Inca</cite>
    <p>This assumes the reader knows how to use <em>Google Docs</em>. By the end
    of this page, the reader will be able to organize all your documents in one
    application. This document is about:
       - Overview of GNOME Documents, and what it does
       - Explain that it's not really the same as a file browser
       - Explain that it can connect to remote documents</p>
  </comment>

  <p><app>Documents</app> is a GNOME application that lets you display,
   organize, and print the documents on your computer or those created remotely
   using <em>Google Docs</em> or <em>SkyDrive</em>.</p>

 <section id="view" style="2column">
    <title>View, Sort and Search</title>
 </section>

 <section id="print" style="2column">
    <title>Select, Organize, Print</title>
 </section>

 <section id="question" style="2column">
    <title>Questions</title>
 </section>
</page>
