<page xmlns="http://projectmallard.org/1.0/"
      type="topic" style="task"
      id="look-resolution">

  <info>
    <link type="guide" xref="prefs-display"/>
    <link type="guide" xref="hardware-problems-graphics"/>
    <link type="seealso" xref="look-display-fuzzy"/>

    <revision pkgversion="3.8.0" version="0.3" date="2013-03-09" status="candidate"/>
    <revision version="13.10" date="2013-10-22" status="review"/>

    <desc>Change the resolution of the screen and its orientation (rotation).</desc>
    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Natalia Ruz Leiva</name>
      <email>nruz@alumnos.inf.utfsm.cl </email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
  </info>

<title>Change the size or rotation of the screen</title>

<p>You can change how big (or how detailed) things appear on the screen by changing the <em>screen resolution</em>. You can change which way up things appear (for example, if you have a rotating display) by changing the <em>rotation</em>.</p>

<comment>
<cite date="2012-02-19">shaunm</cite>
<p>Link display-2monitors in step 3 when non-stub.</p>
</comment>

<steps>
  <item><p>Click the icon on the very right of the menu bar and select <gui>System Settings</gui>.</p></item>
  <item><p>Open <gui>Displays</gui>.</p></item>
  <item><p>If you have multiple displays and they are not mirrored, you can have
  different settings on each display. Select a display in the preview area.</p></item>
  <item><p>Select your desired resolution and rotation.</p></item>
  <item><p>Click <gui>Apply</gui>. The new settings will be applied for 30 seconds
  before reverting back. That way, if you cannot see anything with the new settings,
  your old settings will be automatically restored. If you are happy with the new
  settings, click <gui>Keep This Configuration</gui>.</p></item>
</steps>

<note style="tip">
 <p>When you use another display, like a projector, it should be detected automatically so you can change its settings in the same way as your usual display. If this does not happen, just click <gui>Detect Displays</gui>.</p>
</note>

<section id="resolution">
<title>Resolution</title>
<p>The resolution is the number of pixels (dots on the screen) in each direction that can be displayed.
Each resolution has an <em>aspect ratio</em>, the ratio of the width to the
height. Wide-screen displays use a 16:9 aspect ratio, while traditional
displays use 4:3. If you choose a resolution that does not match the aspect
ratio of your display, the screen will be letterboxed to avoid distortion.</p>
<p>You can choose the resolution you prefer from the <gui>Resolution</gui> drop-down
list. If you choose one that is not right for your screen it may
<link xref="look-display-fuzzy">look fuzzy or pixelated</link>.</p>
</section>

<section id="rotation">
<title>Rotation</title>
<p>On some laptops, you can physically rotate the screen in many directions.
It is useful to be able to change the display rotation. You can choose the rotation
you want for your display from the <gui>Rotation</gui> drop-down list.</p>
</section>

</page>
