<page xmlns="http://projectmallard.org/1.0/"
  type="topic"
  style="task"
  id="mouse-mousekeys">
<info>
    <link type="guide" xref="mouse"/>
    <link type="guide" xref="a11y#mobility" group="pointing"/>

    <revision pkgversion="3.8.0" date="2013-03-16" status="outdated"/>
    <revision version="13.10" date="2013-09-12" status="review"/>

    <desc>Enable mouse keys to control the mouse with the keypad.</desc>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
    
</info>

<title>Click and move mouse pointer using the keypad</title>

<p>If you have difficulties using a mouse or other pointing device, you can
control the mouse pointer using the numeric keypad on your keyboard. This
feature is called <em>mouse keys</em>.</p>

<steps>
  <item><p>Tap the <key><link xref="windows-key">Super</link></key> key to open the <gui>Dash</gui>.</p></item>
  <item><p>Type <input>Universal Access</input> and press <key>Enter</key> to open the Universal Access settings.</p></item>
  <item><p>Press <key>Tab</key> once to select the <gui>Seeing</gui> tab.</p></item>
  <item><p>Press <key>←</key> once to switch to the <gui>Pointing and Clicking</gui> tab.</p></item>
  <item><p>Press <key>↓</key> once to select the <gui>Mouse Keys</gui> switch then press <key>Enter</key> to switch it on.</p></item>
 <item>
  <p>
  Make sure that <key>Num Lock</key> is turned off. You will now be able to
  move the mouse pointer using the keypad.
  </p>
 </item>
</steps>

 <note style = "tip">
 <p>These instructions provide the shortest way to enable mouse keys using
 only the keyboard. Select <gui>Universal Access Settings</gui> to see more
 accessibility options.</p>
 </note>

<p>
The keypad is a set of numerical buttons on your keyboard, usually arranged
into a square grid. If you have a keyboard without a keypad (such as a laptop
keyboard), you may need to hold down the function (<key>Fn</key>)
key and use certain other keys on your keyboard as a keypad. If you use this
feature often on a laptop, you can purchase external USB keypads.
</p>

<p>
Each number on the keypad corresponds to a direction. For example, pressing
<key>8</key> will move the pointer upwards and pressing <key>2</key> will move
it downwards. Press the <key>5</key> key to click once with the mouse, or
quickly press it twice to double-click.
</p>

<p>
Most keyboards have a special key which
allows you to right-click; it is often near to the space bar. Note, however,
that this key responds to where your keyboard focus is, not where your mouse
pointer is. See <link xref="a11y-right-click"/> for information on how to
right-click by holding down <key>5</key> or the left mouse button.
</p>

<p>
If you want to use the keypad to type numbers while mouse keys is enabled, turn
<key>Num Lock</key> on. The mouse cannot be controlled with the keypad when
<key>Num Lock</key> is turned on, though.
</p>

<note>
    <p>
    The normal number keys, in a line at the top of the keyboard, will not
    control the mouse pointer. Only the keypad number keys can be used.
    </p>
</note>

</page>
