<page xmlns="http://projectmallard.org/1.0/"
  type="topic" style="task"
  id="mouse-sensitivity">
<info>
    <link type="guide" xref="mouse"/>
    <link type="guide" xref="a11y#mobility" group="pointing"/>

    <revision pkgversion="3.8.0" version="0.3" date="2013-03-13" status="candidate"/>
    <revision version="13.10" date="2013-10-22" status="review"/>

    <desc>Change how quickly the pointer moves when you use
    your mouse or touchpad.</desc>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit>
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit>
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
</info>

<title>Adjust speed of the mouse and touchpad</title>

<p>If your pointer moves too fast or slow when you move your mouse
or use your touchpad, you can adjust the pointer speed for these devices.</p>

<steps>
  <item><p>Click the icon at the very right of the <gui>menu bar</gui> and select <gui>System Settings</gui>.</p></item>
  <item><p>Open <gui>Mouse &amp; Touchpad</gui>.</p></item>
  <item><p>Adjust the <gui>Pointer Speed</gui> slider until the pointer motion
   is comfortable for you.</p></item>
</steps>

<!--
<p>Sensitivity is how much your pointer initially moves when you move your mouse.</p>

<p>The farther you move your mouse, the faster and faster the pointer moves
relative to your movement. This helps you get the pointer across the screen
without lifting your hand, while still letting you point and click accurately.
Acceleration controls this behavior.</p>
-->

<note style="tip">
  <p>You can set the pointer speed differently for your mouse
  and touchpad. Sometimes the most comfortable settings for one type of
  device aren't the most comfortable for another. Just set the sliders on
  both the <gui>Mouse</gui> and <gui>Touchpad</gui> sections.</p>
</note>
<note>
  <p>The <gui>Touchpad</gui> section only appears if your system has a
  touchpad.</p>
</note>
</page>
