<page xmlns="http://projectmallard.org/1.0/"
      type="guide" style="task 2column"
      id="net-browser">

  <info>
    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <link type="guide" xref="net"/>

    <desc>
      <link xref="net-default-browser">Change the default browser</link>,
      <link xref="net-install-flash">install Flash</link>,
      <link xref="net-install-java-plugin">install the java plugin</link>,
      <link xref="net-install-moonlight">Silverlight support</link>…
    </desc>

    <credit type="author">
      <name>The Ubuntu Documentation Team</name>
    </credit>
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
  </info>

<title>Web Browsers</title>

</page>