<page xmlns="http://projectmallard.org/1.0/"
      type="topic" style="task"
      id="net-wired-connect">
  <info>
    <link type="guide" xref="net-wired"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>To set up most wired network connections, all you need to do is plug in a network cable.</desc>
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
  </info>

<title>Connect to a wired (Ethernet) network</title>

<p>To set up most wired network connections, all you need to do is plug in a network cable. The network icon on the menu bar should pulse for a few seconds and then will change to a "socket" icon when you are connected.</p>

<p>If this does not happen, you should first of all make sure that your network cable is plugged in. One end of the cable should be plugged into the rectangular Ethernet (network) port on your computer, and the other end should be plugged into a switch, router, network wall socket or similar (depending on the network setup you have). Sometimes, a light beside the Ethernet port will indicate that it is plugged in and active.</p>

<note>
 <p>You can't plug one computer directly into another one with a network cable (at least, not without some extra setting-up). To connect two computers, you should plug them both into a network hub, router or switch.</p>
</note>

<p>If you are still not connected, your network may not support automatic setup (DHCP). In this case you'll have to <link xref="net-manual">configure it manually</link>.</p>

</page>