<page xmlns="http://projectmallard.org/1.0/"
      type="guide" style="task 2column"
      id="net-email">

  <info>
    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>

    <link type="guide" xref="net"/>

    <desc>
      <link xref="net-default-email">Default email apps</link>
    </desc>

    <credit type="author">
      <name>The Ubuntu Documentation Team</name>
    </credit>

    <credit type="author">
      <name>The GNOME Documentation Project</name>
    </credit>
  </info>

<title>Email &amp; email software</title>

</page>

