<page xmlns="http://projectmallard.org/1.0/"
      type="topic" style="task"
      id="net-fixed-ip-address">
  <info>
    <link type="guide" xref="net-wired"/>
    <link type="seealso" xref="net-findip"/>

    <revision pkgversion="3.4.0" date="2012-03-13" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>

    <desc>Using a static IP address can make it easier to provide some network services from your computer.</desc>
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
  </info>

  <title>Create a connection with a fixed IP address</title>

 <p>Most networks will automatically assign an <link xref="net-what-is-ip-address">IP address</link> and other details to your computer when you connect to the network. These details can change periodically, but you might want to have a fixed IP address for the computer so you always know what its address is (for example, if it is a file server).</p>
  <p>To give your computer a fixed (static) IP address:</p>

<steps>
<item><p>Click the <gui>network menu</gui> on the menu bar and select <gui>Edit Connections</gui>.</p></item>
<item><p>Select the <gui>Wired connection</gui> on the <gui>Wired</gui> tab or your WiFi network on the <gui>Wireless</gui> tab and click <gui>Edit</gui>.</p></item>
<item><p>Click on the <gui>IPv4 Settings</gui> tab and change the <gui>Method</gui> to <em>Manual</em>.</p></item>
<item><p>If no connection information is listed in the <gui>Addresses</gui> list, or if you want to set up a new connection, click <gui>Add</gui>.</p></item>
<item><p>Enter the <em>IP Address</em>, <em>Netmask</em>, and <em>Gateway</em> information into the appropriate boxes. How you choose these will depend on your network setup; there are specific rules governing which IP addresses and netmasks are valid for a given network.</p></item>
<item><p>If necessary, enter a <em>Domain Name Server</em> address into the <gui>DNS servers</gui> box. This is the IP address of a server which looks up domain names; most corporate networks and internet providers have dedicated DNS servers.</p></item>
<item><p>Click <gui>Save</gui>. The network connection should now have a fixed IP address.</p></item>
</steps>

</page>
