<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" its:version="1.0" type="guide" style="2column task" id="index" xml:lang="de">
<info>
  <title type="link">Hilfe zu Datensicherungen</title>
  <title type="text">Hilfe zu Datensicherungen</title>
  <credit type="author maintainer" its:translate="no">
    <name>Michael Terry</name>
    <email>mike@mterry.name</email>
    <years>2010,2011</years>
  </credit>
  <license href="http://creativecommons.org/licenses/by-sa/3.0/"><p>Creative Commons Attribution-Share Alike 3.0 Unported License</p></license>
</info>

  <title><media type="image" mime="image/png" src="figures/deja-dup-icon.png"/> Hilfe zu Datensicherungen</title>

<section id="backup" style="2column">
  <title>Datensicherung erstellen</title>
</section>

<section id="restore" style="2column">
  <title>Wiederherstellen von Dateien</title>
</section>

<section id="about" style="2column">
  <title>Info zum <app>Déjà Dup – Datensicherungswerkzeug</app></title>
</section>

</page>
