<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="startstop" xml:lang="de">
      
  <info>
    <link type="guide" xref="index#tips"/>
    
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <credit type="author">
      <name>Chris Beiser</name>
      <email>ctbeiser@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
     </credit>
     <credit type="editor">
       <name>Ekaterina Gerasimova</name>
       <email>kittykat3756@gmail.com</email>
     </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak47@gmx.net</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Ihr Spiel unterbrechen</title>
  
  <p>Sie können Ihr Spiel folgendermaßen unterbrechen:</p>

  <list>
    <item>
      <p>The <gui>Pause</gui> button in the
      header bar.</p>
    </item>
    <item>
      <p>Mit der <key>Pause</key>-Taste auf Ihrer Tastatur. Nicht alle Tastaturen verfügen über diese Taste.</p>
    </item>
  </list>
</page>
