<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="strategy" xml:lang="de">
  <info>
    <link type="guide" xref="index#play"/>
    <revision version="0.1" date="2012-03-08" status="final"/>

    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <desc/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak47@gmx.net</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Strategie</title>

  <p>Da jede <link xref="map">Spielsteinanordnung</link> andere Anforderungen stellt, kann es keine allgemein gültige Strategie geben. Dennoch gibt es einige strategische Tipps, die Sie beim Spiel beachten sollten:</p>

  <list>
    <item><p>Die allgemeine Strategie liegt darin, übereinstimmende Spielsteine so zu entfernen, dass mit jedem Zug weitere, bisher verdeckte Spielsteine freigelegt werden.</p></item>
    <item><p>Die Auswahl leicht zugänglicher Steine wie oben aufliegende ist nicht vorteilhaft. Durch diese Strategie verbleiben wichtige Steine verdeckt. wodurch die Chance einer Niederlage steigt.</p></item>
    <item><p>Da die <link xref="scoring">Wertungen</link> danach erfolgen, wieviel Zeit Sie benötigen, ist die Zeit der bedeutendste Faktor des Spiels. Es ist daher wichtig, schnell zu sein.</p>

      <note>
        <list>
          <item><p>Durch einen <link xref="hints">Tipp</link> erhalten Sie einen Aufschlag von 30 Sekunden auf Ihre Spielzeit.</p></item>
          <item><p>Durch das Mischen der Spielsteine erhalten Sie einen Zeitaufschlag von 60 Sekunden.</p></item>
        </list>
      </note>

    </item>
  </list>
</page>
