<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="toolbar" xml:lang="es">
  <info>
   <link type="guide" xref="index#tips"/>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <credit type="author copyright">
      <name>Chris Beiser</name>
      <email>ctbeiser@gmail.com</email>
      <years>2011</years>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007 - 2010</mal:years>
    </mal:credit>
  </info>

<title>Barra de herramientas</title>

<p>Para mostrar u ocultar la barra de herramientas, pulse <guiseq><gui>Configuración</gui><gui>Mostrar la barra de herramientas</gui></guiseq>.</p>

<p>La barra de herramientas, situada debajo de la barra de menú, le permite realizar acciones comunes con el ratón. Para usar un elemento de la barra de herramientas, simplemente pulse sobre él. Los botones, de izquierda a derecha, son «Juego nuevo», «Deshace» «Rehacer», <link xref="hints">Sugerencia</link>, y <link xref="trackers">Seguir adiciones</link>.</p> 

</page>
