<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="2column" id="index" xml:lang="fr">

  <info>
    <title type="link">Mots de passe et clés</title>
    <title type="text">Mots de passe et clés</title>
    <revision version="0.1" date="2011-06-17" status="draft"/>
    <revision pkgversion="3.9" date="2013-08-14" status="review"/>

    <credit type="author copyright">
      <name>Jim Campbell</name>
      <email its:translate="no">jwcampbell@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="author copyright">
      <name>Aruna Sankaranarayanan</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Utiliser <app>Mots de passe et clés</app> pour vous rappeler vos mots de passe, et pour créer et gérer les clés PGP et SSH.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Myriam Economou</mal:name>
      <mal:email>myriam.economou@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title><media its:translate="no" type="image" mime="image/png" src="media/seahorse.png"/> Mots de passe et clés</title>

  <section id="ssh-keys">
    <title>Clés SSH</title>
    <links type="topic" style="2column" groups="first second"/>
  </section>

  <section id="pgp-keys">
    <title>Clés PGP</title>
    <links type="topic" style="2column" groups="first second third"/>
  </section>

  <section id="passwords">
    <title>Mots de passe enregistrés et trousseau de mots de passe</title>
    <links type="topic" style="2column" groups="first second"/>
  </section>

  <!--
  TODO: This section will be updated after the certificates UI is revised
  <section id="certificates" style="2column">
    <title>Certificates</title>
  </section>
  -->

</page>
