<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="passwords-stored-create" xml:lang="fr">

  <info>
    <link type="guide" xref="index#passwords"/>
    <revision pkgversion="3.9" date="2013-07-18" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Aruna Sankaranarayanan</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>

    <desc><app>Mots de passe et clés</app> peut se rappeler les mots de passe à votre place.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Myriam Economou</mal:name>
      <mal:email>myriam.economou@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Enregistrement des mots de passe</title>

  <p><app>Mots de passe et clés</app> enregistre automatiquement les mots de passe de certaines applications GNOME dans le trousseau <gui>Identifiant</gui>. Vous pouvez aussi enregistrer n'importe quel mot de passe que vous voulez conserver en mémoire.</p>

  <steps>
    <title>Enregistrement d'un nouveau mot de passe :</title>
    <item>
      <p>Sélectionnez <guiseq><gui style="menu">Fichier</gui> <gui style="menuitem">Nouveau…</gui></guiseq>.</p>
    </item>
    <item>
      <p>Sélectionnez <gui>Mot de passe enregistré</gui> dans la liste et cliquez sur <gui style="button">Continuer</gui>.</p>
    </item>
    <item>
      <p>Sélectionnez le trousseau de mots de passe dans lequel vous voulez enregistrer le mot de passe dans le menu <gui>Trousseau</gui>.</p>
    </item>
    <item>
      <p>Vous pouvez ajouter des informations supplémentaires concernant le mot de passe dans le champ <gui>Description</gui>, comme la date de création, le nom de l'application qu'il protège, etc.</p>
    </item>
    <item>
      <p>Saisissez le mot de passe dans le champ <gui>Mot de passe</gui>. Cochez la case <gui style="checkbox">Afficher le mot de passe</gui> si vous souhaitez que le mot de passe soit visible pendant la saisie.</p>
    </item>
    <item>
      <p>Cliquez sur <gui style="button">Ajouter</gui> pour terminer.</p>
    </item>
  </steps>

  <note style="tip">
    <p>Le trousseau par défaut s'affiche en premier choix dans le menu déroulant <gui>Trousseau</gui>. Vous pouvez <link xref="keyring-change-default">Modifier le trousseau par défaut</link>.</p>
  </note>

</page>
