<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="scan-folder" xml:lang="it">

  <info>
    <link type="guide" xref="index#scan"/>
    <revision version="0.1" date="2011-12-19" status="stub"/>
    <revision pkgversion="3.4" date="2012-02-20" status="review"/>
    <revision pkgversion="3.8" date="2013-07-20" status="review"/>

    <credit type="author copyright">
      <name>Julita Inca</name>
      <email its:translate="no">yrazes@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Analizzare una cartella locale, comprese le sott-cartelle.</desc>

  </info>

  <title>Analizzare una cartella</title>

  <p>L'analisi di singole cartelle è più veloce rispetto all'analisi dell'interno file system: in questo modo è possibile ottenere informazioni riguardo una specifica parte del file system.</p>

  <steps>
    <item>
      <p>Fare clic sul pulsante in alto a destra delle finestra principale e selezionare <gui style="menuitem">Analizza cartella</gui>.</p>
    </item>
    <item>
      <p>Viene aperta una finestra per la scelta dei file, quindi scegliere la cartella da analizzare.</p>
    </item>
    <item>
      <p>Fare clic su <gui>Apri</gui> per avviare l'analisi.</p>
    </item>
  </steps>

  <p>La cartella appena analizzata viene aggiunta all'elenco di <gui>Dispositivi e posizioni</gui>. Se la cartella viene rinominata o eliminata, viene rimossa anche dall'elenco di dispositiv disponibili al successivo avvio di <app>Analizzatore di utilizzo del disco</app>.</p>

</page>
