<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="license" xml:lang="fr">
<info>
  <desc>Vos droits</desc>
  <link type="guide" xref="index#about"/>
</info>
<title>Licence</title>
<p>Ce logiciel est libre ; vous pouvez le redistribuer et/ou le modifier selon les termes de la licence publique générale GNU, comme publiée par la Free Software Foundation dans sa version 3 ou, si vous le souhaitez, selon une version plus récente.</p>
<p>Ce programme est diffusé dans l'espoir qu'il sera utile, mais SANS AUCUNE GARANTIE ; sans même une garantie implicite de COMMERCIALISATION ou d'ADÉQUATION À UN USAGE PARTICULIER. Voyez la Licence Publique Générale GNU pour plus de détails.</p>
<p>Vous devriez avoir reçu un exemplaire de la Licence Publique Générale GNU avec ce programme. Si ce n'est pas le cas, voir <link href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</link>.</p>
</page>
