<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" its:version="1.0" type="topic" style="task" id="restore-revert" xml:lang="fr">
<info>
  <desc>Restaurer une version précédente d'un fichier</desc>
  <link type="guide" xref="index#restore"/>
</info>
<title>Restaurer un fichier</title>
<steps>
  <item><p>Naviguez vers le répertoire contenant le fichier que vous désirez restaurer.</p></item>
  <item><p>Sélectionnez le fichier que vous voulez restaurer en cliquant dessus.</p></item>
  <item><p>Cliquez sur <guiseq><gui style="menuitem">Édition</gui><gui style="menuitem">Retourner vers la version précédente…</gui></guiseq>.</p></item>
  <item><p>Quand la boite de dialogue <gui>Restaurer</gui> apparaît, choisissez la date à partir de laquelle vous désirez restaurer.</p></item>
  <item><p>Cliquez <gui style="button">Suivant</gui>.</p></item>
  <item><p>Vérifiez vos sélections et cliquez sur <gui style="button">Restaurer</gui>. Notez que cela écrasera votre version actuelle du fichier.</p></item>
</steps>
<note style="tip"><p>Vous pouvez sélectionner plusieurs fichiers à restaurer simultanément</p></note>
<note style="advanced"><p>Vous pouvez aussi restaurer des fichiers avec la ligne de commande :</p>
  		                 <screen><span its:translate="no">deja-dup --restore </span>FICHIER1 FICHIER2</screen></note>
</page>
