<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="bug-filing" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="index#get-involved"/>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <credit type="editor copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
      <years>2011</years>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Report a Problem</title>
<p>
   <app>Mahjongg</app> is maintained by a volunteer community. You are welcome to participate.  If you notice a problem you can file a <em>bug report</em>. To file a bug, go to <link href="https://bugzilla.gnome.org/"/>.
   </p>
   <p>
   This is a bug tracking system where users and developers can file details about bugs, crashes and request enhancements.  
   </p>
   <p>
   To participate you need an account which will give you the ability to gain access, file bugs, and make comments.  Also, you need to register so you can receive updates by e-mail about the status of your bug. If you don't already have an account, just click on the <gui>New Account</gui> link to create one.
   </p>

  <p>Once you have an account, log in, click on <guiseq><gui>File a
  Bug</gui><gui>Applications</gui><gui>gnome-mahjongg</gui></guiseq>. Before
  reporting a bug, please read the
  <link href="https://bugzilla.gnome.org/page.cgi?id=bug-writing.html">bug
  writing guidelines</link>, and please
  <link href="https://bugzilla.gnome.org/browse.cgi?product=gnome-mahjongg">browse</link>
  for the bug to see if it already exists.</p>

   <p>
   If you are requesting a new feature, choose <gui>enhancement</gui> in the <gui>Severity</gui> menu.
   Fill in the Summary and Description sections and click <gui>Commit</gui>.
   </p>
   <p>
      Your report will be given an ID number, and its status will be updated as it is being dealt with.
   </p>
</page>
