<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="startstop" xml:lang="zh-CN">
      
  <info>
    <link type="guide" xref="index#tips"/>
    
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <credit type="author">
      <name>Chris Beiser</name>
      <email>ctbeiser@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
     </credit>
     <credit type="editor">
       <name>Ekaterina Gerasimova</name>
       <email>kittykat3756@gmail.com</email>
     </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

  <title>Pausing your game</title>
  
  <p>You can pause your current game using one of the following methods:</p>

  <list>
    <item>
      <p>The <gui>Pause</gui> button in the
      header bar.</p>
    </item>
    <item>
      <p>The <key>Pause</key> key on your keyboard. Not all keyboards have
      this key.</p>
    </item>
  </list>
</page>
