<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="plugin-fullscreen-background" xml:lang="ru">

  <info>
   <link type="guide" xref="index#plugins"/>
   <desc>Позволяет изменить цвет фона при просмотре во весь экран.</desc>

   <revision pkgversion="3.4.3" version="0.1" date="2012-08-11" status="final"/>
   <credit type="author">
     <name>Fabiana Simões</name>
     <email>fabianapsimoes@gmail.com</email>
   </credit>
   <license>
     <p>Creative Commons Share Alike 3.0</p>
   </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Василий Фаронов &lt;qvvx@yandex.ru&gt;, 2007Алексей Кабанов</mal:name>
      <mal:email>ak099@mail.ru</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

<title>Изменение цвета фона в полноэкранном режиме</title>

<p>При желании, можно изменить цвет фона в полноэкранном режиме.</p>

<p>Сначала убедитесь, что установлен пакет <link xref="plugins">eog-plugins</link>. Нажмите <guiseq><gui>Правка</gui><gui>Параметры</gui></guiseq> и перейдите на вкладку <gui>Модули</gui>. Затем выберите модуль <gui>Фон полного экрана</gui> и нажмите <gui>Параметры</gui>. Выберите цвет для полноэкранного режима и нажмите <gui>Закрыть</gui>.</p>

<p>Теперь фон в полноэкранном режиме будет иметь выбранный вами цвет.</p>

</page>
