<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:e="http://projectmallard.org/experimental/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" id="plugins" xml:lang="ru">

  <info>
   <link type="guide" xref="index#plugins" group="first"/>
   <desc>Установка модулей для доступа к дополнительным возможностям.</desc>

   <revision pkgversion="3.2" version="0.1" date="2011-09-06" status="final"/>
   <credit type="author">
     <name>Tiffany Antopolski</name>
     <email>tiffany.antopolski@gmail.com</email>
   </credit>
   <credit type="editor">
     <name>Fabiana Simões</name>
     <email>fabianapsimoes@gmail.com</email>
   </credit>
   <license>
     <p>Creative Commons Share Alike 3.0</p>
   </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Василий Фаронов &lt;qvvx@yandex.ru&gt;, 2007Алексей Кабанов</mal:name>
      <mal:email>ak099@mail.ru</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

<title>Модули</title>

<p>Вы можете установить пакет <sys>eog-plugins</sys>, чтобы добавить дополнительные модули для программы просмотра изображений. Модули и предоставляемые ими возможности перечислены ниже.</p>

<note style="info package">
  <p>Установить пакет <sys>eog-plugins</sys> можно с помощью <em>менеджера пакетов</em> вашего дистрибутива Linux.</p>

  <if:choose>
    <if:when test="action:install">
      <p><link action="install:eog-plugins" href="http://ftp.gnome.org/pub/gnome/sources/eog-plugins" style="button">установка eog-plugins</link></p>
    </if:when>
  </if:choose>
</note>

<p>В <sys>eog-plugins</sys> включены следующие модули:</p>

<list>
 <item>
  <p><link xref="plugin-exif-digital#date">Дата в строке состояния</link>: показывает в строке состояния окна дату съёмки изображения.</p>
 </item>
 <item>
  <p><link xref="plugin-exif-digital">Данные EXIF</link>: показывает параметры камеры и гистограммы для цифровых фотографий.</p>
 </item>
 <item>
  <p><link xref="plugin-fullscreen-background">Фон в полноэкранном режиме</link>: позволяет изменять фон в полноэкранному режиме просмотра.</p>
 </item>
 <item>
  <p><link xref="plugin-fullscreen-double-click">Полноэкранный режим по двойному щелчку</link>: включить возможность перехода в полноэкранный режим по двойному щелчку.</p>
 </item> 
 <item>
  <p><link xref="plugin-exif-digital#map">Карта</link>: показывает географическое положение места съёмки фотографии.</p>
 </item>
 <item>
  <p><link xref="plugin-picasa">Загрузчик PicasaWeb</link>: загружает изображения в PicasaWeb.</p>
 </item>
 <item>
  <p><link xref="plugin-python-console">Консоль Python</link>: сценарная консоль python для программы просмотра изображений.</p>
 </item>
 <item>
  <p><link xref="plugin-send-by-mail">Отправить по эл. почте</link>: отправляет изображения, прикрепляя их к сообщениям.</p>
 </item> 
 <item>
  <p><link xref="plugin-slideshow-shuffle">Случайное слайд-шоу</link>: включает случайный режим просмотра слайд-шоу.</p>
 </item>
 <item>
  <p><link xref="plugin-zoom-width">Уместить изображение по ширине</link>: изменяет масштаб изображения таким образом, чтобы изображение умещалось в окне.</p>
 </item>
</list>

<note>
 <p>Управлять модулями можно из вкладки <link xref="preferences#plugins">Модули</link> в окне параметров программы.</p>
</note>

</page>
