<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="print-blank-puzzles" xml:lang="en-GB">
  <info>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <link type="guide" xref="index#print"/>
    <credit type="editor copyright">
      <years>2011</years>
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Print blank sudokus</title>
    
<p>
To print one or more blank puzzles:
</p>

 <steps>
 <item><p>Click <guiseq><gui>Game</gui><gui>Print multiple sudokus</gui></guiseq>.</p>
</item>
 <item><p>Select the total number of sudokus to print from the drop down menu.</p></item>
 <item><p>Select the number of sudokus per page from the next drop down menu.</p></item>
 <item><p>Select difficult level of the games you would like to print.</p></item>
 <item><p>Games that have already been played are not printed by default.  If you don't care about repeating games, select <gui>Include games you've already played in list of games to print</gui> in the <gui>Details</gui> category.</p></item>
 <item><p>Games that are printed are not marked as played by default.  You can choose to <gui>Mark games as played once you've printed them.</gui> under the <gui>Details</gui> category.</p></item>
 </steps>


</page>
