<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="trackers" xml:lang="en-GB">

  <info>
   <link type="guide" xref="index#tips"/>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <credit type="editor copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Track trial-and-error solutions</title>
 <p>
Trackers can be used to keep track of trial-and-error solutions. Tracked moves are entered in a different color to help make the moves visually distinct from moves made earlier in the game. This feature is particularly useful when solving difficult games. 
  </p>
<p>Using the tracker:</p>
<steps>
 <item>
  <p>
   You can toggle the tracker interface in one of the following ways:
  </p>
  <list>
   <item><p>Click <guiseq><gui>Tools</gui><gui>Track Additions</gui></guiseq>.</p></item>
   <item><p>Click <gui>Track Additions</gui> in the toolbar. If the toolbar is not visible, click <guiseq><gui>Settings</gui><gui>Show Toolbar</gui></guiseq>.</p></item>
  </list>
  <note><p>
   You can make untracked moves if no tracker is selected.
  </p></note></item>
 <item><p>
   To create a new tracker click <gui>Add</gui>. From this point on, any number you enter will be part of the selected tracker.
 </p></item>
 <item><p>
   You can create as many trackers as you want by clicking <gui>Add</gui>.
 </p></item>
 <item><p>
   You can apply a set of tracked additions by selecting the tracker and clicking <gui>Apply</gui>.
 </p></item>
 <item><p>
   You can clear a tracker by selecting it and clicking <gui>Clear</gui>.
 </p></item>
</steps>
 <note>
  <p>Some sudoku players believe you should never use trial-and-error to solve a puzzle. These players should not use this feature.</p>
 </note>
 <section id="demo">
  <title>Video Demonstration</title>

  <media type="video" width="650" mime="application/ogg" src="figures/trackers.webm">
 <tt:tt xmlns:tt="http://www.w3.org/ns/ttml">
        <tt:body>
          <tt:div begin="1s" end="5s">
            <tt:p>
              Click <guiseq><gui>Tools</gui><gui>Track Additions</gui></guiseq>.
            </tt:p>
          </tt:div>
          <tt:div begin="5s" end="8s">
            <tt:p>
             You can make untracked moves if no tracker is selected.
            </tt:p>
          </tt:div>
          <tt:div begin="8s" end="16s">
            <tt:p>
              To create a new tracker click <gui>Add</gui>. From this point on, any number you enter will be part of the selected tracker.
            </tt:p>
          </tt:div>
          <tt:div begin="16s" end="27s">
            <tt:p>
             You can create as many trackers as you want by clicking <gui>Add</gui>.
            </tt:p>
          </tt:div>
          <tt:div begin="27s" end="36s">
            <tt:p>
              You can apply a set of tracked additions by selecting the tracker and clicking <gui>Apply</gui>.
            </tt:p>
          </tt:div>
          <tt:div begin="36s" end="40s">
            <tt:p>
          You can clear a tracker by selecting it and clicking <gui>Clear</gui>.
            </tt:p>
          </tt:div>
        </tt:body>
      </tt:tt>
  </media>

 </section>
</page>
