<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="toolbar" xml:lang="zh-CN">
  <info>
   <link type="guide" xref="index#tips"/>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <credit type="author copyright">
      <name>Chris Beiser</name>
      <email>ctbeiser@gmail.com</email>
      <years>2011</years>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Toolbar</title>

<p>To show or hide the toolbar, click <guiseq><gui>Settings</gui><gui>Show Toolbar</gui></guiseq>.</p>

<p>The toolbar, located under the menu bar, lets you perform common actions with your mouse. To use a toolbar item, just click on it. The buttons, from left to right, are New Game, Undo, Redo, <link xref="hints">Hint</link>, and <link xref="trackers">Track Additions</link>.</p> 

</page>
