<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="scan-file-system" xml:lang="es">

  <info>
    <link type="guide" xref="index#scan"/>
    <revision pkgversion="3.4" date="2012-02-20" status="review"/>
    <revision pkgversion="3.8" date="2013-07-20" status="review"/>

    <credit type="author copyright">
      <name>Julita Inca</name>
      <email its:translate="no">yrazes@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Analizar los dispositivos de almacenamiento internos.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2008.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Montse Fernández Dopacio</mal:name>
      <mal:email>mfernandez@igalia.com</mal:email>
      <mal:years>2006.</mal:years>
    </mal:credit>
  </info>

  <title>Analizar el sistema de archivos</title>

  <p>Para analizar su equipo, seleccione el nombre de su equipo en la lista <gui>Dispositivos y ubicaciones</gui>. Se analizarán todas las carpetas de su equipo a las que tenga permiso para acceder. Es normal que no tenga permisos para analizar algunas carpetas del equipo</p>

  <note style="tip">
    <p>Si el sistema de archivo que intenta analizar es grande, el análisis puede tardar varios minutos en completarse. Para cancelar el análisis, pulse el botón en la esquina superior izquierda de la pantalla para volver a la lista de dispositivos.</p>
  </note>

</page>
