<?xml version="1.0" encoding="UTF-8"?>


<!--
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
 -->
	
<helpdocument version="1.0">
<meta>
<topic id="textshared05err_htmlxml" indexer="exclude" status="PUBLISH">
<title id="tit" xml-lang="zh-TW">找不到說明頁</title>
<filename>/text/shared/05/err_html.xhp</filename>
</topic>
<history>
<created date="2003-10-31T00:00:00">Sun Microsystems, Inc.</created>
</history>
</meta>
<body>
<paragraph role="heading" id="hd_id3146957" xml-lang="zh-TW" level="1" l10n="U" oldref="1">找不到說明頁。</paragraph>
<paragraph role="paragraph" id="par_id3147088" xml-lang="zh-TW" l10n="U" oldref="2">可惜找不到您所選取的說明頁。下述資料在孤立錯誤上十分有幫助：</paragraph>
<paragraph role="paragraph" id="par_id3143268" xml-lang="zh-TW" l10n="U" oldref="3">說明 ID：<emph><help-id-missing/></emph></paragraph>
<paragraph role="paragraph" id="par_idN10681" xml-lang="zh-TW" l10n="NEW">您可使用「安裝程式」應用程式，安裝缺少的「說明」模組。</paragraph>
<paragraph role="paragraph" id="par_id3150541" xml-lang="zh-TW" l10n="U" oldref="16">按一下<image id="img_id3148946" src="res/sc06301.png" width="0.222inch" height="0.222inch"><alt id="alt_id3148946">圖示</alt></image><emph>[上一頁]</emph> 讓您回到上個頁面。</paragraph>
</body>
</helpdocument>
