<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="shortcuts" xml:lang="ru">
      
  <info>
    <link type="guide" xref="index#advanced"/>
    <desc/>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
   <credit type="author">
    <name>Chris Beiser</name>
    <email>ctbeiser@gmail.com</email>
   </credit>
   <credit type="editor">
     <name>Michael Hill</name>
     <email>mdhillca@gmail.com</email>
   </credit>
   <license>
     <p>Creative Commons Share Alike 3.0</p>
   </license>
  </info>

  <title>Keyboard shortcuts</title>
     <table frame="all" rules="cols" shade="rows">
       <tr>
         <td><p>Fullscreen</p></td>
         <td><p><key>F11</key></p></td>
       </tr>
       <tr>
          <td><p>Справка</p></td>
          <td><p><key>F1</key></p></td>
       </tr>
       <tr>
          <td><p>Подсказка</p></td>
          <td><p><keyseq><key>Ctrl</key><key>H</key></keyseq></p></td>
       </tr>
       <tr>
         <td><p>New game</p></td>
         <td><p><keyseq><key>Ctrl</key><key>N</key></keyseq></p></td>
       </tr>
       <tr>
          <td><p>Пауза</p></td>
          <td><p><key>Pause</key></p>
              <note><p>Use the header bar
               <gui>Pause</gui> button if your keyboard does not have a
               <key>Pause</key> key.</p>
              </note>
          </td>
       </tr>
       <tr>
          <td><p>Quit</p></td>
          <td><p><keyseq><key>Ctrl</key><key>Q</key></keyseq></p></td>
       </tr>
       <tr>
          <td><p>Redo</p></td>
          <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>Z</key></keyseq></p></td>
       </tr>
       <tr>
          <td><p>Undo</p></td>
          <td><p><keyseq><key>Ctrl</key><key>Z</key></keyseq></p></td>
       </tr>
</table>
</page>
