<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="task" id="app-zoom" xml:lang="es">

  <info>
    <revision version="0.1" date="2013-02-24" status="candidate"/>
    <link type="guide" xref="index#appearance"/>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Aumentar o disminuir el tamaño del texto.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@gnome.org</mal:email>
      <mal:years>2001-2006</mal:years>
    </mal:credit>
  </info>

  <title>Ampliar y reducir</title>

  <p>Para aumentar el tamaño del texto de la <app>Terminal</app>:</p>

  <steps>
    <item>
      <p>Seleccione <guiseq><gui style="menu">Ver</gui> <gui style="menuitem">Ampliar</gui></guiseq> o pulse <keyseq><key>Ctrl</key><key>+</key></keyseq>.</p>
    </item>
  </steps>

  <p>Para reducir el tamaño del texto de la <app>Terminal</app>:</p>

  <steps>
    <item>
      <p>Seleccione <guiseq><gui style="menu">Ver</gui> <gui style="menuitem">Reducir</gui></guiseq> o pulse <keyseq><key>Ctrl</key><key>-</key></keyseq>.</p>
    </item>
  </steps>

  <p>Para restaurar el tamaño del texto de la <app>Terminal</app> a su tamaño predeterminado:</p>

  <steps>
    <item>
      <p>Seleccione <guiseq><gui style="View">Ver</gui> <gui style="menuitem">Tamaño normal</gui></guiseq> o pulse <keyseq><key>Ctrl</key><key>0</key></keyseq>.</p>
    </item>
  </steps>

</page>
