<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task a11y" version="1.0 if/1.0" id="a11y-bouncekeys" xml:lang="pt">

  <info>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <desc>Ignorar quando a mesma tecla é pressionada repetidamente.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="a11y#mobility" group="keyboard"/>
    <link type="guide" xref="keyboard" group="a11y"/>
    <revision pkgversion="3.8.0" version="0.3" date="2013-03-13" status="candidate"/>
    <revision version="13.10" date="2013-10-25" status="review"/>
  </info>

  <title>Ligar teclas sonoras</title>

  <p>Ligue <em>teclas sonoras</em> para ignorar teclas que são repetidas rapidamente. Por exemplo, se você tiver tremores nas mãos, que fazem com que pressione uma tecla várias vezes quando só pretendia pressioná-la uma vez, deverá ligar a característica salto de teclas.</p>

  <steps>
    <item>
      <p>Clique no ícone à direita na <gui>barra de menus</gui> e selecione <gui>Definições do sistema</gui></p>
    </item>
    <item>
      <p>Abra <gui>Acesso universal</gui> e selecione o separador <gui>Escrever</gui></p>
    </item>
    <item>
      <p>Ativar <gui>Teclas Sonoras</gui>.</p>
    </item>
  </steps>

  <p>Utilize a barra deslizante<gui>Aceitar atraso</gui> para alterar o tempo de espera das teclas sonoras antes de ser registrado outro pressionar de tecla pela primeira vez. Selecione <gui>Sinal sonoro quando uma tecla é rejeitada</gui> se pretender que o computador emita um sinal sonoro sempre que for ignorado o pressionar de uma tecla por o mesmo ter sucedido logo após o pressionar da tecla anterior.</p>

</page>
