<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="a11y task" id="a11y-screen-reader" xml:lang="pt">
  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <desc>Use o <app>Orca</app> leitor de tela para falar com a interface de utilizador.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="a11y#vision" group="blind"/>
    <revision version="13.10" date="2013-10-25" status="review"/>
  </info>

  <title>Ler tela em voz alta</title>

  <p>GNOME fornece o <app>Orca</app> um leitor de tela para falar a interface do utilizador. Dependendo de como instalou o GNOME, pode não ter instalado o Orca. <link href="apt:gnome-orca">Instale Orca</link>, em seguida, referem-se ao <link href="help:gnome-orca">Ajuda Orca</link> para mais informações.</p>

</page>
