<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="clock-more-info" xml:lang="pt">

  <info>
    <link type="guide" xref="clock"/>
    <desc>Escolha para mostrar informações adicionais, como a data ou dia da semana.</desc>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <credit type="author">
      <name>Projeto de documentação do Ubuntu</name>
      <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Altere a quantidade de informação que é mostrada no relógio</title>

<p>Por defeito, o Ubuntu só mostra a hora no relógio. Pode configurar o relógio para mostrar informações adicionais se desejar.</p>

<p>Click on the clock and select <gui>Date &amp; Time Settings</gui>. Switch to the
<gui>Clock</gui> tab. Select the time and date options you want to display.</p>

<note><p>Pode também desligar completamente o relógio, desmarcando <gui>Mostrar um relógio na barra de menu</gui>.</p>
<p>If you later change your mind, you can get the clock back by clicking the icon in
the very right of the menu bar and selecting <gui>System Settings</gui>. In the System
section, click <gui>Time &amp; Date</gui>.</p></note>

<section id="change-date-format">
  <title>Alterar o formato de data</title>
<p>Pode também alterar o formato de data do relógio para coincidir com o padrão preferido para a sua localização.</p>

<steps>
  <item><p>Clique no ícone o mais à direito da barra de menu e selecione <gui>Configurações do Sistema </gui>.</p></item>
  <item><p>Na secção pessoal, clique em <gui>Suporte ao Idioma </gui>.</p></item>
  <item><p>Alterar para o <gui>Formato Regional</gui> .</p></item>
  <item><p>Selecione a sua localização preferencial na lista.</p></item>
  <item><p>Irá ser necessário <link xref="shell-exit">sair</link> e efetuar o login novamente para que as alterações tenham efeito.</p></item>
</steps>

</section>

</page>
