<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="contacts-edit-details" xml:lang="pt">

  <info>
    <link type="guide" xref="contacts"/>

    <revision pkgversion="3.5.5" date="2012-08-13" status="review"/>
    <revision pkgversion="3.8" date="2013-04-27" status="review"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email its:translate="no">tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Edite as informações de cada contato.</desc>
  </info>

<title>Editar detalhes do contato</title>

  <p>Editar os detalhes de um contato ajuda a manter a informação no seu livro de endereços atualizada e completa.</p>

  <steps>
    <item>
      <p>Selecione o contato da sua lista de contatos.</p>
    </item>
    <item>
      <p>Prima <gui style="button">Editar</gui> no canto superior direito de <app>Contatos </app>.</p>
    </item>
    <item>
      <p>Edite os detalhes do contato.</p>
      <p>Para adicionar um <gui>detalhe</gui> como por exemplo um novo número de telefone ou endereço de e-mail, pressione <gui style="button">Novo Detalhe</gui> e selecione o campo que deseja adicionar.</p>
    </item>
    <item>
      <p>Prima <gui style="button">Concluído</gui> para terminar de editar o contato.</p>
    </item>
  </steps>

<note>
  <p>No caso dos contatos vinculados,  pode editar um perfil clicando no avatar do perfil.</p>
</note>

<!--

-->

</page>
