<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-view" xml:lang="pt">

  <info>
    <credit type="author copyright">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>Visualizar documentos em full-screen.</desc>
    <link type="guide" xref="documents#view" group="#first"/>
    <revision pkgversion="3.5.90" date="2012-09-02" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Apresentar documentos guardados localmente ou online</title>

  <p>Quando abre a app <app>Documentos</app>, todos os seus documentos, locais ou online, são apresentados como thumbnails.</p>

  <note style="tip"><p>Para os seus documentos do <em>Google Docs</em> ou <em>SkyDrive</em> aparecerem, é necessário configurar o Google ou Windows Live, respetivamente, como uma <link xref="accounts-add">conta online</link>.</p>
  </note>

  <p>Para visualizar os conteúdos de um documento:</p>

  <steps>
    <item><p>Carregue na miniatura. O documento é apresentado em tamanho total na janela do programa <app>Documentos</app> (ou em ecrã-completo se maximizado).</p></item>
  </steps>

  <p>Para sair do documento, clique no botão da seta retroceder</p>

</page>
