<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="mouse" xml:lang="pt">
<info>
    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>
    <desc>
      <link xref="mouse-lefthanded">Left-handed</link>,
      <link xref="mouse-sensitivity">speed and sensitivity</link>,
      <link xref="mouse-touchpad-click">touchpad clicking and scrolling</link>…
    </desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-22" status="review"/>

    <credit type="author">
        <name>Tiffany Antopolski</name>
        <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
</info>

<title>Mouse</title>
<links type="topic" style="2column"/>

<section id="problems" style="2column">
  <info>
    <title type="link">Common mouse problems</title>
    <title type="link" role="trail">Common problems</title>
  </info>
  <title>Common problems</title>
</section>

<section id="tips" style="2column">
 <info>
   <title type="link">Mouse tips</title>
   <title type="link" role="trail">Tips</title>
 </info>
 <title>Tips</title>
</section>
</page>
