<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-wireless-connect" xml:lang="pt">
  <info>
    <link type="guide" xref="net-wireless" group="#first"/>
    <link type="seealso" xref="net-wireless-troubleshooting"/>
    <link type="seealso" xref="net-wireless-noconnection"/>
    <link type="seealso" xref="net-wireless-disconnecting"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Projeto de Documentação do GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <credit type="author">
      <name>The Ubuntu Documentation Team</name>
    </credit>

    <desc>Get on the internet - wirelessly.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Connect to a wireless network</title>

<p>If you have a wireless-enabled computer, you can connect to a wireless network that is within range to get access to the internet, view shared files on the network, and so on.</p>

<steps>
  <item>
   <p>If you have a wireless hardware switch on your computer, make sure that it is turned on.</p>
  </item>
  <item>
    <p>Click the <gui>network menu</gui> in the <gui>menu bar</gui>, and click the name of the network you want to connect to.</p>
   <p>If the name of the network isn't in the list, select <gui>More Networks</gui> to see if the network is further down the list. If you still don't see the network, you may be out of range or the network <link xref="net-wireless-hidden">might be hidden</link>.</p>
  </item>
  <item><p>If the network is protected by a password (<link xref="net-wireless-wepwpa">encryption key</link>), enter the password when prompted and click <gui>Connect</gui>.</p>
  <p>If you do not know the key, it may be written on the underside of the wireless router or base station, in its instruction manual, or you may have to ask the person who administers the wireless network.</p></item>
  <item><p>The network icon will change appearance as the computer attempts to connect to the network.</p></item>
  <item>
   <p>If the connection is successful, the icon will change to a dot with several bars above it. More bars indicate a stronger connection to the network. If there aren't many bars, the connection is weak and might not be very reliable.</p>
  </item>
</steps>

<p>If the connection is not successful, you <link xref="net-wireless-noconnection">may be asked for your password again</link> or it might just tell you that the connection has been disconnected. There are a number of things that could have caused this to happen. You could have entered the wrong password, the wireless signal could be too weak, or your computer's wireless card might have a problem, for example. See <link xref="net-wireless-troubleshooting"/> for more help.</p>

<p>A stronger connection to a wireless network does not necessarily mean that you have a faster internet connection, or that you will have faster download speeds. The wireless connection connects your computer to the <em>device which provides the internet connection</em> (like a router or modem), but the two connections are actually different, and so will run at different speeds.</p>

</page>
