<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" id="shell-exit" xml:lang="pt">

  <info>

    <link type="guide" xref="index" group="shell-exit"/>
    <link type="guide" xref="shell-overview#desktop" group="#last"/>
    <link type="guide" xref="power"/>
    <link type="seealso" xref="power-hibernate"/>

    <desc>Learn how to leave your user account, by logging out, switching users,
    and so on.</desc>
    <!-- Should this be a guide which links to other topics? -->

    <revision pkgversion="3.6.0" date="2012-09-15" status="review"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Andre Klapper</name>
      <email>ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name>Alexandre Franke</name>
      <email>afranke@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Log out, power off, switch users</title>

  <p>When you've finished using your computer, you can turn it off, suspend it
 (to save power), or leave it powered on and log out.</p>

<section id="logout">
<title>Log out or switch users</title>
  <p>To let other users use your computer, you can either log out, or leave
 yourself logged in and just switch users. If you switch users, all of
 your applications will continue running, and everything will be where you
 left it when you log back in.</p>
  <p>To log out or switch users, click the <link xref="unity-menubar-intro">system menu</link> at the
very right of the menu bar and select the appropriate option.</p>
</section>

<section id="lock-screen">
<info>
  <link type="seealso" xref="session-screenlocks"/>
</info>
<title>Lock the screen</title>
  <p>If you're leaving your computer for a short time, you should lock your
 screen to prevent other people from accessing your files or running
 applications. When you return, simply enter your password to log back in.
 If you don't lock your screen, it will lock automatically after a certain
 amount of time.</p>

  <p>To lock your screen, click the <gui>system menu</gui> in the menu bar and select
 <gui>Lock Screen</gui>.</p>

  <p>When your screen is locked, other users can log in to their own accounts
 by clicking <gui>Switch User</gui> on the password screen. You can switch
 back to your desktop when they are finished.</p>
</section>

<section id="suspend">
<info>
  <link type="seealso" xref="power-suspend"/>
</info>
<title>Suspend</title>

  <p>To save power, suspend your computer when you aren't using it. If you use
 a laptop, Ubuntu suspends your computer automatically when you close the lid.
 This saves your state to your computer's memory and powers off most of the
 computer's functions. A very small amount of power is still used during
 suspend.</p>

  <p>To suspend your computer manually, click the <gui>system menu</gui> in the menu bar and
 select <gui>Suspend</gui>.</p>
</section>

<section id="shutdown">
<title>Power off or restart</title>

  <p>If you want to power off your computer entirely, or do a full restart,
click the <gui>system menu</gui> and
select <gui>Shut Down</gui>.</p>

  <p>If there are other users logged in, you may not be allowed to
 power off or restart the computer, because this will end their sessions.
 If you are an administrative user, you may be asked for your password
 to power off.</p>

</section>
</page>
