<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="startup-applications" xml:lang="pt">

  <info>
    <link type="guide" xref="shell-overview#apps"/>
    <link type="guide" xref="prefs"/>
    <desc>Choose what applications to start when you log in.</desc>

    <revision version="14.10" date="2014-09-13" status="review"/>

    <credit type="author">
      <name>Equipa de documentação do Ubuntu</name>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Startup Applications</title>

  <p>You can configure what applications should be started at login, in
  addition to the default startup applications configured on the system.</p>

  <steps>
    <item>
      <p>Use <link xref="unity-dash-intro">the Dash</link> to find and open
      <gui>Startup Applications</gui>. Alternatively you can press
      <keyseq><key>Alt</key><key>F2</key></keyseq> and run the
      <cmd>gnome-session-properties</cmd> command.</p>
    </item>
    <item>
      <p>Click <gui>Add</gui> and enter the command to be executed at login
      (name and comment are optional). For example, to make Firefox start
      automatically, it's sufficient to type <cmd>firefox</cmd> in the
      <gui>Command</gui> field and confirm with <gui>Add</gui>.</p>
    </item>
  </steps>

  <note>
    <p>You can either type the command, or click the <gui>Browse...</gui>
    button and select a command. Applications to autostart are typically
    located in the <code>/usr/bin</code> folder.</p>
  </note>

</page>
