<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="unity-scrollbars-intro" xml:lang="pt">
  <info>
    <link type="guide" xref="shell-overview#desktop"/>
    <link type="seealso" xref="mouse-touchpad-click"/>

    <desc>Overlay scrollbars are the thin orange strips on long documents.</desc>
    <revision version="13.10" date="2013-10-23" status="outdated"/>

    <credit type="author">
      <name>Jeremy Bicha</name>
      <email>jbicha@ubuntu.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>What are overlay scrollbars?</title>

<p>Ubuntu includes <em>overlay scrollbars</em> which take up less screen space than
traditional scrollbars, giving you more room for your content. While inspired by mobile devices
where traditional scrollbars aren't needed, Ubuntu's overlay scrollbars are designed to work
just as well with a mouse.</p>

<p>Some apps like Firefox and LibreOffice don't support the new scrollbars yet.</p>

<section id="using">
  <title>Use the scrollbars</title>

  <p>The overlay scrollbar appears as a thin orange strip at the edge of a scrollable area.
  The position of the scrollbar corresponds with your screen's position in the scrollable content.
  The strip length corresponds with the content length; the shorter the strip, the longer the content.</p>

  <p>Move your mouse pointer over any point on the scrollable edge of the content to reveal the <gui>thumb slider</gui>.</p>

  <list>
    <title>Ways to use the scrollbars:</title>
    <item><p>
    Drag the <gui>thumb slider</gui> up or down to move the screen's position exactly where you want it.
    </p></item>
    <item><p>
    Click the scrollbar to move the screen's position exactly where you want it.
    </p></item>
  </list>
</section> 

</page>
