<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="user-admin-problems" xml:lang="pt">

  <info>
    <link type="guide" xref="user-accounts#privileges"/>

    <desc>You can only do some things, like installing applications, if you have admin privileges.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>Projeto de Documentação do GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Problemas causados por restrições administrativas</title>

  <p>You may experience a few problems if you don't have
 <link xref="user-admin-explain">administrative privileges</link>. Some tasks
 require admin privileges in order to work, such as:</p>

<list>
 <item>
  <p>Connecting to networks or wireless networks</p>
 </item>
 <item>
  <p>Viewing the contents of a removable disk connected to the computer, or the
 contents of a different disk partition (e.g. a Windows partition)</p>
 </item>
 <item>
  <p>Instalando novas aplicações</p>
 </item>
</list>

  <p>You can <link xref="user-admin-change">change who has admin privileges</link>.</p>

</page>
