<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="windows-key" xml:lang="pt">

  <info>
    <link type="guide" xref="keyboard"/>
    <desc>A tecla Super proporciona acesso para o painel e para o iniciador.</desc>
    <revision version="14.04" date="2014-03-07" status="review"/>
    <credit type="author">
      <name>Projeto de Documentação do GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
       <name>Equipa de documentação do Ubuntu</name>
       <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>
 
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>O que é a "Super" tecla?</title>

  <p>Esta chave pode ser encontrada habitualmente no fundo a esquerda do teclado, perto da tecla <key>Alt</key> e habitualmente tem o logótipo do Windows impresso. Por vezes é chamada de tecla Windows, tecla logo ou tecla de sistema.</p>

<note>
  <p>Se tiver um teclado da Apple, não encontrará a tecla Windows neste. A tecla (de comando) <key>⌘</key> pode ser usada em alternativa.</p>
</note>

  <p>A tecla de Super Utilizador serve uma função especial em <em>Unity</em>. Se pressionar a tecla de Super Utilizador, o painel é mostrado.Se pressionar <em>sem soltar</em> na tecla Super, uma sobreposição mostrando muitos dos atalhos de teclado do Unity aparecem até que solte esta tecla.</p>

<p>A tecla Super pode ajudar a fazer mais do que isso, no entanto. Para saber mais sobre outras utilizações para a tecla <em>Super</em> consulte a página dos <link xref="shell-keyboard-shortcuts">atalhos de teclado</link>.</p>

<!--
<p>To change which key is used to display the activities overview:</p>

  <steps>
    <item>
      <p>Click your name on the menu bar and select <gui>System Settings</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Keyboard</gui>.</p>
    </item>
    <item>
      <p>Click the <gui>Shortcuts</gui> tab.</p>
    </item>
    <item>
      <p>Select <gui>System</gui> on the left side of the window, and
      <gui>Show the activities overview</gui> on the right.</p>
    </item>
    <item>
      <p>Click the current shortcut definition on the far right.</p>
    </item>
    <item>
      <p>Hold down the desired key combination.</p>
    </item>
  </steps>
-->


</page>
