<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="bluetooth-visibility" xml:lang="en-GB">

  <info>
    <link type="guide" xref="bluetooth" group="#last"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <desc>Whether or not other devices can discover your computer.</desc>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>What is Bluetooth visibility?</title>

  <p>Bluetooth visibility simply refers to whether other devices can discover your computer when searching for Bluetooth devices. When Bluetooth visibility is turned on, your computer will advertise itself to all other devices within range, allowing them to attempt to connect to you.</p>

  <p>Your computer does not need to be visible to search for other devices, but those devices need to be visible for your computer to discover them.</p>

  <p>After you have <link xref="bluetooth-connect-device">connected to a device</link>, neither your computer nor the device needs to be visible to communicate with each other.</p>

  <p>Unless you or someone you trust needs to connect to your computer from another device, you should leave visibility off.</p>

</page>
