<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-whyimportant" xml:lang="en-GB">

  <info>
    <link type="guide" xref="color"/>
    <desc>Colour management is important for designers, photographers and artists.</desc>

    <revision version="13.10" date="2013-09-07" status="review"/>
    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Why is colour management important?</title>
  <p>Colour management is the process of capturing a colour using an input device, displaying it on a screen, and printing it all whilst managing the exact colours and the range of colours on each medium.</p>

  <p>The need for colour management is probably best explained with a photograph of a bird on a frosty day in winter.</p>

  <figure>
    <desc>A bird on a frosty wall as seen on the camera view-finder</desc>
    <media type="image" mime="image/png" src="figures/color-camera.png"/>
  </figure>

  <p>Displays typically over-saturate the blue channel, making the images look cold.</p>

  <figure>
    <desc>This is what the user sees on a typical business laptop screen</desc>
    <media type="image" mime="image/png" src="figures/color-display.png"/>
  </figure>

  <p>Notice how the white is not 'paper white' and the black of the eye is now a muddy brown.</p>

  <figure>
    <desc>This is what the user sees when printing on a typical inkjet printer</desc>
    <media type="image" mime="image/png" src="figures/color-printer.png"/>
  </figure>

  <p>The basic problem we have here is that each device is capable of handling a different range of colours. So while you might be able to take a photo of electric blue, most printers are not going to be able to reproduce it.</p>
  <p>Most image devices capture in RGB (Red, Green, Blue) and have to convert to CMYK (Cyan, Magenta, Yellow, and Black) to print. Another problem is that you can't have <em>white</em> ink, and so the whiteness can only be as good as the paper colour.</p>

  <p>Another problem is units. Without specifying the scale on which a colour is measured, we don't know if 100% red is near infra-red or just the deepest red ink in the printer. What is 50% red on one display is probably something like 62% on another display. It's like telling a person that you've just driven 7 units of distance, without the unit you don't know if that's 7 kilometres or 7 metres.</p>

  <p>In colour, we refer to the units as gamut. Gamut is essentially the range of colours that can be reproduced. A device like a DSLR camera might have a very large gamut, being able to capture all the colours in a sunset, but a projector has a very small gamut and all the colours are going to look "washed out".</p>

  <p>In some cases we can <em>correct</em> the device output by altering the data we send to it, but in other cases where that's not possible (you can't print electric blue) we need to show the user what the result is going to look like.</p>

  <p>For photographs, it makes sense to use the full tonal range of a colour device, to be able to make smooth changes in colour. For other graphics, you might want to match the colour exactly, which is important if you're trying to print a custom mug with the Red Hat logo that <em>has</em> to be the exact Red Hat Red.</p>

</page>
