<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="files-sort" xml:lang="en-GB">

  <info>
    <link type="guide" xref="files"/>
    <desc>Arrange files by name, size, type, or when they were changed.</desc>

    <revision pkgversion="3.6.0" version="0.2" date="2012-09-25" status="review"/>
    <revision version="13.10" date="2013-09-12" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Sort files and folders</title>

<p>You can sort files in different ways in a folder, for example by sorting them in order of date or file size. See <link xref="#ways"/> below for a list of common ways to sort files. See <link xref="nautilus-views"/> for information on how to change the default sort order.</p>

<p>The way that you can sort files depends on the <em>folder view</em> that you are using. You can change the current view using the list or icon buttons in the toolbar.</p>

<section id="icon-view">
 <title>Icon view</title>
 <p>To sort files in a different order, click the <media type="image" src="figures/go-down.png">down</media> button in the toolbar and choose <gui>By Name</gui>, <gui>By Size</gui>, <gui>By Type</gui> or <gui>By Modification Date</gui>.</p>
 <p>As an example, if you select <gui>By Name</gui>, the files will be sorted by their names, in alphabetical order. See <link xref="#ways"/> for other options.</p>
 <p>You can sort in the reverse order by selecting <gui>Reversed Order</gui> from the pull-down menu.</p>
</section>

<section id="list-view">
 <title>List view</title>
 <p>To sort files in a different order, click one of the column headings in the file manager. For example, click <gui>Type</gui> to sort by file type. Click the column heading again to sort in the reverse order.</p>
 <p>In list view, you can show columns with more attributes and sort on those columns. Click the <media type="image" src="figures/go-down.png">down</media> button in the toolbar, pick <gui>Visible Columns</gui> and select the columns that you want to be visible. You will then be able to sort by those columns. See <link xref="nautilus-list"/> for descriptions of available columns.</p>
</section>

<!--
<section id="compact-view">
 <title>Compact view</title>
 <p>You can sort files in Compact view in the same way that you can sort them in
 the Icon view. The only difference is that you can't manually position the files
 anywhere you want; they are always organized as a list in this view.</p>
</section>
-->

<section id="ways">
 <title>Ways of sorting files</title>
 <terms>
  <item>
   <title>By Name</title>
   <p>Sorts alphabetically by the name of the file.</p>
  </item>
  <item>
   <title>By Size</title>
   <p>Sorts by the size of the file (how much disk space it takes up). Sorts from smallest to largest by default.</p>
  </item>
  <item>
   <title>By Type</title>
   <p>Sorts alphabetically by the file type. Files of the same type are grouped together, then sorted by name.</p>
  </item>
  <item>
   <title>By Modification Date</title>
   <p>Sorts by the date and time that a file was last changed. Sorts from oldest to newest by default.</p>
  </item>
 </terms>
</section>

</page>
