<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task a11y" id="mouse-doubleclick" xml:lang="en-GB">
<info>
    <link type="guide" xref="mouse"/>
    <link type="guide" xref="a11y#mobility" group="clicking"/>

    <revision pkgversion="3.8.0" version="0.3" date="2013-03-13" status="candidate"/>
    <revision version="13.10" date="2013-10-22" status="review"/>

    <desc>Control how quickly you need to press the mouse button a second time to double-click.</desc>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
</info>

<title>Adjust the double-click speed</title>

<p>Double-clicking only happens when you press the mouse button twice quickly enough. If the second press is too long after the first, you'll just get two separate clicks, not a double click. If you have difficulty pressing the mouse button quickly, you should increase the timeout.</p>

<steps>
  <item><p>Click the icon at the very right of the <gui>menu bar</gui> and select <gui>System Settings</gui>.</p></item>
  <item><p>Open <gui>Mouse &amp; Touchpad</gui>.</p></item>
  <item><p>Under <gui>General</gui>, adjust the <gui>Double-click</gui> slider to a value you find comfortable.</p></item>
  <item><p>Click the <gui>Test Your Settings</gui> button to test. A single click in the window will highlight the outer circle. A double-click will highlight the inside circle.</p></item>
</steps>

<p>If your mouse double-clicks when you want it to single-click even though you have increased the double-click timeout, your mouse may be faulty. Try plugging a different mouse into your computer and see if that works properly. Alternatively, plug your mouse into a different computer and see if it still has the same problem.</p>

<note><p>This setting will affect both your mouse and touchpad, as well as any other pointing device.</p></note>

</page>
