<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task 2column" id="net-chat" xml:lang="en-GB">

  <info>

    <revision version="13.10" date="2013-09-15" status="review"/>

    <link type="guide" xref="net"/>

    <desc><link xref="net-chat-empathy">Chat on any network using <app>Empathy</app></link>, <link xref="net-chat-video">make video calls</link>, <link xref="net-chat-skype">install skype</link>, <link xref="net-chat-social">social networking apps</link></desc>
 
    <credit type="author">
      <name>The Ubuntu Documentation Team</name>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Chat &amp; Social Networking</title>

</page>
