<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task 2column" id="net-general" xml:lang="en-GB">

  <info>
    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="13.10" date="2013-09-20" status="review"/>

    <link type="guide" xref="net"/>

    <desc><link xref="net-findip">Find your IP address</link>, <link xref="net-wireless-wepwpa">WEP &amp; WPA security</link>, <link xref="net-macaddress">MAC addresses</link>, <link xref="net-proxy">proxies</link>…</desc>

    <credit type="author">
      <name>The Ubuntu Documentation Team</name>
    </credit>

    <credit type="author">
      <name>The GNOME Documentation Project</name>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Networking terms &amp; tips</title>

</page>
