<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="net-what-is-ip-address" xml:lang="en-GB">
  <info>
    <link type="guide" xref="net-general"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>

    <desc>An IP Address is like a phone number for your computer.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>What is an IP address?</title>

  <p>"IP address" stands for <em>Internet Protocol address</em>, and each device that is connected to a network (like the Internet) has one.</p>

  <p>An IP address is similar to your phone number. Your phone number is a unique set of numbers that identifies your phone so that other people can call you. Similarly, an IP address is a unique set of numbers that identifies your computer so that it can send and receive data with other computers.</p>

  <p>Currently, most IP addresses consist of four sets of numbers, each separated by a period. <code>192.168.1.42</code> is an example of an IP address.</p>

  <note style="tip"><p>An IP address can either be <em>dynamic</em> or <em>static</em>. Dynamic IP addresses are temporarily assigned each time your computer connects to a network. Static IP addresses are fixed, and do not change. Dynamic IP addresses are more common that static addresses - static addresses are typically only used when there is a special need for them, such as administering a server.</p></note>
</page>
