<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="printing-streaks" xml:lang="en-GB">

  <info>
    <link type="guide" xref="printing#problems"/>

    <desc>If print-outs are streaky, fading, or missing colours, check your ink levels or clean the print head.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Why are there streaks, lines or the wrong colours on my print-outs?</title>

  <p>If your print-outs are streaky, faded, have lines on them that shouldn't be there, or are otherwise poor in quality, this may be due to a problem with the printer or a low ink/toner supply.</p>

<list>
 <item>
  <p>Fading text or images</p>
  <p>You may be running out of ink or toner. Check your ink/toner supply and buy a new cartridge if necessary.</p>
 </item>

 <item>
  <p>Streaks and lines</p>
  <p>If you have an inkjet printer, the print head may be dirty or partially blocked. Try cleaning the print head (see the printer's manual for instructions).</p>
 </item>

 <item>
  <p>Wrong colours</p>
  <p>The printer may have run out of one colour of ink or toner. Check your ink/toner supply and buy a new cartridge if necessary.</p>
 </item>

 <item>
  <p>Jagged lines, or lines aren't straight</p>
  <p>If lines on your print-out that should be straight turn out jagged, you may need to align the print head. See the printer's instruction manual for details on how to do this.</p>
 </item>
</list>

</page>
