<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="backup-restore" xml:lang="ru">

  <info>
    <link type="guide" xref="index#data-migration-and-sync"/>
    <link type="seealso" xref="data-storage"/>

    <revision pkgversion="3.1.5" version="0.4" date="2014-03-23" status="final"/>

    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Back up and restore your <app>Evolution</app> data and
    settings.</desc>
  </info>

  <title>Back up and restore</title>

  <p>You can back up your <app>Evolution</app> data. The backup saves your
  settings, mail, contacts, tasks, memos and calendars. It will be stored in a
  gzip-compressed tar archive file.</p>

<section id="backup">
  <title>Backing up</title>

  <list>
    <item>
      <p>Select <guiseq><gui>File</gui>
      <gui>Back up Evolution Data…</gui></guiseq>.</p>
    </item>
    <item>
      <p>Choose a filename and the folder where you want to save the backup
      file, and click <gui style="button">Save</gui>.</p>
    </item>
    <item>
      <p>You will be asked to close <app>Evolution</app>. Answer with
      <gui style="button">Yes</gui>.</p>
    </item>
  </list>

  <note style="warning">
    <p>Note that your <link xref="mail-spam">spam filtering</link> settings are
    not included in the backup file, as these settings are not controlled by
    <app>Evolution</app> and as developers of spam filtering tools might change
    implementation details. If you use Bogofilter you will need to back up
    the hidden folder <file>~/.bogofilter/</file>. If you use SpamAssassin you
    will need to back up the hidden folder <file>~/.spamassassin/</file>.</p>
  </note>

</section>

<section id="restore">
  <title>Restoring</title>

  <list>
    <item>
      <p>Select <guiseq><gui>File</gui>
      <gui>Restore Evolution Data…</gui></guiseq>.</p>
    </item>
    <item>
      <p>Choose the file, and click <gui style="button">Open</gui>.</p>
    </item>
    <item>
      <p>You will be asked to close <app>Evolution</app>. Answer with
      <gui style="button">Yes</gui>.</p>
    </item>
  </list>

  <note style="tip">
    <p>In the <link xref="intro-first-run">first-run assistant</link>, you can
    restore <app>Evolution</app> data from a backup file.</p>
  </note>

</section>

</page>
