<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:e="http://projectmallard.org/experimental/" xmlns:if="http://projectmallard.org/experimental/if/" type="guide" id="exchange-connectors-overview" xml:lang="ru">

  <info>
    <desc>Which additional package to install in order to connect to an Exchange server.</desc>

    <link type="guide" xref="exchange-placeholder"/>

    <revision pkgversion="3.7.5" version="0.7" date="2013-01-22" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  </info>

<title>Choosing the right connector</title>

<p>Depending on the version of the Microsoft Exchange server that you would like to connect to it is required to make sure that an additional package is installed that provides this functionality.</p>

<p>For Microsoft Exchange 2007, 2010 and newer it is recommended to use the package <sys>evolution-ews</sys>.</p>
<if:choose xmlns:if="http://projectmallard.org/if/1.0/">
  <if:when test="action:install">
    <note style="info package">
      <p><link action="install:evolution-ews" href="https://wiki.gnome.org/Apps/Evolution#Get_the_Source_Code" style="button">Install evolution-ews</link></p>
    </note>
  </if:when>
</if:choose>


<p>For older versions of Microsoft Exchange, or if <sys>evolution-ews</sys> does not work well for you, try <sys>evolution-mapi</sys>. It uses Microsoft's Messaging API which is also used by Microsoft Outlook. However, <sys>evolution-mapi</sys> requires installing <sys>OpenChange</sys> and <sys>Samba 4</sys>, and is not as performant as <sys>evolution-ews</sys>.</p>

<if:choose xmlns:if="http://projectmallard.org/if/1.0/">
  <if:when test="action:install">
    <note style="info package">
      <p><link action="install:evolution-mapi" href="https://wiki.gnome.org/Apps/Evolution#Get_the_Source_Code" style="button">Install evolution-mapi</link></p>
    </note>
  </if:when>
</if:choose>

<note style="tip"><p>If you are unsure which Microsoft Exchange server version is used, you may want to contact your system administrator for more information.</p></note>

<!-- TODO:POST-3-4: <mbarnes> actually, a table in the docs would make it crystal clear  (Exchange version x Evolution backend); <seanius> also, a feature matrix of what works in the particular releases might be helpful, though maybe hard to visualize in a compact manner
-->

</page>
