<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="exporting-data-calendar" xml:lang="ru">

  <info>
    <desc>How to export calendar data from <app>Evolution</app>.</desc>

    <link type="guide" xref="exporting-data"/>

    <revision pkgversion="3.6.4" version="0.4" date="2013-04-20" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  </info>

<title>Exporting calendar data</title>

<p>To export a complete calendar, right-click on the calendar in the list of calendars and click <gui>Save as</gui>. Available formats are iCalendar format (ICS, recommended), comma separated values (CSV), and RDF format.</p>
<p>If you want to export only one appointment (or task or memo), either select the appointment and select <guiseq><gui>File</gui><gui>Save as iCalendar…</gui></guiseq>, or right-click on the appointment and click <gui>Save as iCalendar…</gui>.</p>
</page>
