<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="mail-composer-custom-header-lines" xml:lang="ru">

  <info>
    <desc>Using custom fields in the header of composed messages.</desc>

    <link type="guide" xref="index#mail-composing-advanced"/>

    <revision pkgversion="3.0.2" version="0.2" date="2011-07-30" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-send.html.en#b1a5azam -->
 </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  </info>

<title>Custom Header Lines</title>

<p>You can add arbitrary header lines to outgoing emails.</p>

<section id="managing">
<title>Enabling and managing custom headers</title>
<p>To set up the Custom Header plugin:</p>
<steps>
<item><p>Select <guiseq><gui>Edit</gui><gui>Plugins</gui></guiseq>.</p></item>
<item><p>Enable <gui>Custom Header</gui>.</p></item>
<item><p>Click the <gui>Configuration</gui> tab.</p></item>
<item><p>You can add, edit, or remove the header fields. For every header field you add, you can specify the keys and values. The key is used as the title of the Custom Header. You can enter multiple values for the keys. You must use a semicolon to separate every value you enter.</p></item>
</steps>
</section>

<section id="inserting">
<title>Inserting custom headers in a message</title>
<steps>
<item><p>Click <guiseq><gui>New</gui><gui>Mail Message</gui></guiseq> or press <keyseq><key>Shift</key><key>Ctrl</key><key>M</key></keyseq> to open the message composer window.</p></item>
<item><p>Select <guiseq><gui>Insert</gui><gui>Custom Header</gui></guiseq>.</p>
<p>In the <gui>Email Custom Header</gui> window, you can view all the defined header fields and values.</p></item>
<item><p>Set the values for the header fields by using the dropdown list.</p></item>
<item><p>Click <gui style="button">OK</gui>.</p></item>
</steps>
</section>

</page>
