<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-missingvcgt" xml:lang="en-CA">

  <info>
    <link type="guide" xref="color#problems"/>
    <link type="seealso" xref="color-gettingprofiles"/>
    <desc>Whole-screen color correction modifies all the screen colors on all windows.</desc>

    <revision version="13.10" date="2013-09-07" status="review"/>
    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Missing information for whole-screen color correction?</title>
  <p>
    Unfortunately, many vendor-supplied ICC profiles do not include the
    information required for whole-screen color correction.
    These profiles can still be useful for applications that can do color
    compensation, but you will not see all the colors of your screen change.
  </p>
  <p>
    In order to create a display profile, which includes both calibration and
    characterization data, you will need to use a special color measuring
    instruments called a colorimeter or a spectrometer.
  </p>

</page>
