<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="color-calibrate-screen" xml:lang="en-CA">

  <info>
    <link type="guide" xref="color#calibration"/>
    <link type="seealso" xref="color-calibrate-printer"/>
    <link type="seealso" xref="color-calibrate-scanner"/>
    <link type="seealso" xref="color-calibrate-camera"/>
    <desc>Calibrating your screen is important to display accurate colours.</desc>

    <revision version="13.10" date="2013-10-23" status="review"/>
    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>How do I calibrate my screen?</title>

  <p>
    Calibrating your screen should be a requirement if you're involved in 
    computer design or artwork.
  </p>
<if:choose>
<if:when test="platform:unity">
  <p>
    By using a device called colorimeter you accurately measure the
    different colors that your screen is able to display.
    By running <guiseq><gui>System Settings</gui><gui>Color</gui></guiseq>
    you can create a profile, and the wizard will show you how to attach 
    the colorimeter device and what settings to adjust.
  </p>
</if:when>
  <p>
    By using a device called colorimeter you accurately measure the
    different colors that your screen is able to display.
    By running <guiseq><gui>System Settings</gui><gui>Color</gui></guiseq>
    you can create a profile, and the wizard will show you how to attach 
    the colorimeter device and what settings to adjust.
  </p>
</if:choose>

  <note style="tip">
    <p>
      Screens change all the time - the backlight in a TFT will half in
      brightness approximately every 18 months, and will get yellower
      as it gets older.
      This means you should recalibrate your screen when the [!] icon
      appears in the color control panel.
    </p>
    <p>
      LED screens also change over time, but a much slower rate than TFTs.
    </p>
  </note>

</page>
