<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="contacts-connect" xml:lang="en-CA">

  <info>
    <link type="guide" xref="contacts"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>

    <revision pkgversion="3.8" date="2013-04-27" status="draft"/>
    <revision version="13.10" date="2013-09-07" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Email, chat with, or phone a contact.</desc>
  </info>

  <title>Connect with your contact</title>

  <p>To email, chat with, or phone someone in <app>Contacts</app>:</p>

  <steps>
    <item>
      <p>Select the contact from your contact list.</p>
    </item>
    <item>
      <p>Press on the <gui>Detail</gui> that you want to use. For example, to
      email your contact, press the email address.</p>
    </item>
    <item>
      <p>The corresponding application will be launched using the contact's
      details.</p>
    </item>
  </steps>

</page>
