<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="guide" style="task" id="files-search" xml:lang="en-CA">

  <info>
    <link type="guide" xref="files"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-09-25" status="review"/>
    <revision version="14.10" date="2014-09-14" status="review"/>

    <desc>Locate files based on file name and type. Save your searches for
    later use.</desc>
    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Search for files</title>

  <p>You can search for files based on their name or file type directly
  within the file manager. You can even save common searches, and they
  will appear as special folders in your home folder.</p>

  <links type="topic" style="linklist">
    <title>Other search applications</title>
    <!-- This is an extension point where search apps can add
    their own topics. It's empty by default. -->
  </links>

  <steps>
    <title>Search</title>
    <item><p><link xref="files-browse">Open the file manager</link></p></item>
    <item><p>If you know the files you want are under a particular folder, go
    to that folder.</p></item>
    <item><p>Click the magnifying glass in the toolbar, or press
    <keyseq><key>Ctrl</key><key>F</key></keyseq>.</p></item>
    <item><p>Type a word or words that you know appear in the file name. For
    example, if you name all your invoices with the word "Invoice", type
    <input>invoice</input>. Press <key>Enter</key>. Words are matched regardless
    of case.</p></item>
    <item><p>You can narrow your results by location and file type.</p>
    <list>
      <item><p>Click <gui>Home</gui> to restrict the search results to your
      <file>Home</file> folder, or <gui>All Files</gui> to search
      everywhere.</p></item>
      <item><p>Click <key>+</key> and pick a <gui>File Type</gui> from the
      drop-down list to narrow the search results based on file type. Click the
      <key>x</key> button to remove this option and widen the search
      results.</p></item>
    </list>
    </item>
    <item><p>You can open, copy, delete, or otherwise work with your files from
    the search results, just as you would from any folder in the file manager.
    </p></item>
    <item><p>Click the magnifying glass in the toolbar again to exit the search
    and return to the folder.</p></item>
  </steps>

  <p>If you perform certain searches often, you can save them to access them
  quickly.</p>

  <steps>
    <title>Save a search</title>
    <item><p>Start a search as above.</p></item>
    <item><p>When you're happy with the search parameters, click <gui>File</gui>
    in the menu bar and select <gui>Save Search As...</gui>.</p></item>
    <item><p>Give the search a name and click <gui>Save</gui>. If you like,
    select a different folder to save the search in. When you view that folder,
    you will see your saved search as an orange folder icon with a magnifying
    glass on it.</p></item>
  </steps>

  <p>To remove the search file when you are done with it, simply
  <link xref="files-delete">delete</link> the search as you would any other
  file. When you delete a saved search, it does not delete the files that the
  search matched.</p>
</page>
