<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="files-preview" xml:lang="en-CA">

  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <desc>
      Quickly show and hide previews for documents, images, videos, and 
      more.
    </desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="files"/>
    <link type="seealso" xref="nautilus-preview"/>
    <revision pkgversion="3.6.0" version="0.2" date="2012-10-06" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
  </info>

<title>Preview files and folders</title>

<p>You can quickly preview files without opening them in a full-blown application.
Select any file and press the space bar. The file will open in a simple preview
window. Press the space bar again to dismiss the preview.</p>

<p>The built-in preview supports most file formats for documents, images, video,
and audio. In the preview, you can scroll through your documents or seek through
your video and audio.</p>

<p>To view a preview full-screen press <key>f</key>. Press <key>f</key> again to
leave full-screen, or press the space bar to
exit the preview completely.</p>

</page>
