<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="mouse-problem-notmoving" xml:lang="en-CA">
<info>
    <link type="guide" xref="mouse#problems"/>

    <desc>How to check your mouse if it is not working.</desc>

    <revision pkgversion="3.8.0" version="0.3" date="2013-03-13" status="candidate"/>
    <revision version="13.10" date="2013-10-23" status="review"/>

    <credit type="author">
        <name>Phil Bull</name>
        <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
</info>

<title>Mouse pointer is not moving</title>

<links type="section"/>

<section id="plugged-in">
 <title>Check that the mouse is plugged in</title>
 <p>
 If you have a mouse with a cable, check that it is firmly plugged in to
 your computer.
 </p>
 <p>
 If it is a USB mouse (with a rectangular connector), try plugging it in to a
 different USB port. If it is a PS/2 mouse (with a small, round connector with
 six pins), make sure that it is plugged in to the green mouse port rather
 than the purple keyboard port. You may need to restart the computer if it was
 not plugged in.
 </p>
</section>

<section id="connected">
 <title>Check that the mouse was recognized by your computer</title>
 <steps>
  <item><p>Type <keyseq><key>Ctrl</key><key>Alt</key><key>T</key></keyseq> to open the <app>Terminal</app>.</p></item>
  <item>
   <p>
   In the terminal window, type <cmd>xsetpointer -l | grep Pointer</cmd>,
    exactly as it appears here,
   and press <key>Enter</key>.
   </p>
  </item>
  <item>
   <p>A short list of mouse devices will appear. Check that at least one of the
   items says <sys>[XExtensionPointer]</sys> next to it, and that one of the
   <sys>[XExtensionPointer]</sys> items has the name of the mouse to the left of
   it.</p>
  </item>
  <item>
   <p>If there is no entry that has the name of the mouse followed by
   <sys>[XExtensionPointer]</sys>, then the mouse was not recognized by your
   computer. If the entry exists, your mouse was recognized by your computer.
   In this case you should check that the mouse is
   <link xref="mouse-problem-notmoving#plugged-in">plugged in</link> and in
   <link xref="mouse-problem-notmoving#broken">working condition</link>.</p>
  </item>
 </steps>

 <p>
 If your mouse has a serial (RS-232) connector, you may need to perform some
 extra steps to get it working. The steps might depend on the make or model of
 your mouse.
 </p>

 <p>
 It can be complicated to fix problems with mouse detection. Ask for support
 from your distribution or vendor if you think that your mouse has not been
 detected properly.
 </p>
</section>

<section id="broken">
 <title>Check that the mouse actually works</title>
 <p>Plug the mouse in to a different computer and see if it works.</p>

 <p>If the mouse is an optical or laser mouse, a light should be shining out
 of the bottom of the mouse if it is turned on.  If there is no light, check
 that it is turned on.  If it is and there is still no light, the mouse may be
 broken.</p>
</section>

<section id="wireless-mice">
 <title>Checking wireless mice</title>

 <list>
   <item><p>Make sure the mouse is turned on. There is often a switch on the
   bottom of the mouse to turn the mouse off completely, so you can move it
   from place to place without it constantly waking up.</p></item>
   <item><p>If you are using a Bluetooth mouse, make sure you have actually paired the
   mouse with your computer. See <link xref="bluetooth-connect-device"/>.</p></item>
  <item>
   <p>
   Click a button and see if the mouse pointer moves now. Some wireless mice go
   to sleep to save power, so might not respond until you click a button.
   See <link xref="mouse-wakeup"/>.
   </p>
  </item>
  <item>
   <p>
   Check that the battery of the mouse is charged.
   </p>
  </item>
  <item>
   <p>
   Make sure that the receiver (dongle) is firmly plugged in to the computer.
   </p>
  </item>
  <item>
   <p>
   If your mouse and receiver can operate on different radio channels, make
   sure that they are both set to the same channel.
   </p>
  </item>
  <item>
   <p>
   You may need to press a button on the mouse, receiver or both to establish
   a connection. The instruction manual of your mouse should have more details
   if this is the case.
   </p>
  </item>
 </list>

 <p>
 Most RF (radio) wireless mice should work automatically when you plug them
 into your computer. If you have a Bluetooth or IR (infrared) wireless mouse,
 you may need to perform some extra steps to get it working. The steps might
 depend on the make or model of your mouse.
 </p>
</section>

</page>
