<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="net-nonm" xml:lang="en-CA">
  <info>
    <link type="guide" xref="net-problem"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc>Press <keyseq><key>Alt</key><key>F2</key></keyseq>. Type <input>nm-applet</input></desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>There's no network menu in the menu bar</title>

  <p>If the network menu has disappeared from the menu bar, your <app>Network Manager</app> may not be running.  To start it up again:</p>

  <steps>
    <item><p>Press <keyseq><key>Alt</key><key>F2</key></keyseq></p></item>
    <item><p>Type <input>nm-applet</input> and press <gui>Enter</gui>.</p></item>
    <item><p>The <gui>Wireless Network Authentication</gui> box may pop up. Enter your password in the appropriate box and click <gui>Connect</gui>.</p></item>
  </steps>

<p>If this doesn't work, there could be a problem with the Network Manager. To see if this is the case, go to the <link xref="unity-dash-intro">Dash</link> and open the Terminal. Type <cmd>nm-applet</cmd> and press <key>Enter</key> and see if the network menu appears. If it doesn't, you should see some error messages appear in the Terminal. These should tell you what is going wrong, but they may be quite technical in nature. If so, ask for help on a support forum and quote these error messages.</p>

</page>
