<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-vpn-connect" xml:lang="en-CA">
  <info>
    <link type="guide" xref="net-wireless"/>
    <link type="guide" xref="net-wired"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="16.04" date="2016-03-14" status="review"/>

    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>VPNs allow you to connect to a local network over the internet. Learn how to set up a VPN connection.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Connect to a VPN</title>

<p>A VPN (or <em>Virtual Private Network</em>) is a way of connecting to a local network over the internet. For example,
say you want to connect to the local network at your workplace while you're on a business trip. You would find an internet
connection somewhere (like at a hotel) and then connect to your workplace's VPN. It would be as if you were directly connected
to the network at work, but the actual network connection would be through the hotel's internet connection. VPN connections
are usually <em>encrypted</em> to prevent people from accessing the local network you're connecting to without logging in.</p>

<p>There are a number of different types of VPN. You may have to install some extra software depending on what type of VPN
you're connecting to. Find out the connection details from whoever is in charge of the VPN and see which <em>VPN client</em>
you need to use. Then, open <app>Ubuntu Software</app> and search for the <app>network-manager</app> package which works
with your VPN (if there is one) and install it.</p>

<note>
 <p>If there isn't a NetworkManager package for your type of VPN, you will probably have to download and install some client
 software from the company that provides the VPN software. You'll probably have to follow some different instructions to get that working.</p>
</note>

<p>Once that's done, you can set up the VPN connection:</p>

<steps>
 <item>
  <p>Click the <gui>network menu</gui> on the menu bar and, under <gui>VPN Connections</gui>, select <gui>Configure VPN</gui>.</p>
 </item>

 <item>
  <p>Click <gui>Add</gui> and choose which kind of VPN connection you have.</p>
 </item>

 <item>
  <p>Click <gui>Create</gui> and follow the instructions on the screen, entering details like your username and password as you go.</p>
 </item>

 <item>
  <p>When you've finished setting-up the VPN, click the <gui>network menu</gui> on the menu bar, go to <gui>VPN Connections</gui> and
  click on the connection you just created. It will try to establish a VPN connection - the network icon will change as it tries to connect.</p>
 </item>

 <item>
  <p>Hopefully, you will successfully connect to the VPN. If not, you may need to double-check the VPN settings you entered. You can
   do this by clicking the network menu, selecting <gui>Edit Connections</gui> and going to the <gui>VPN</gui> tab.</p>
 </item>

 <item>
  <p>To disconnect from the VPN, click the network menu and select <gui>Disconnect</gui> under the name of your VPN connection.</p>
 </item>
</steps>

</page>
