<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing-2sided" xml:lang="en-CA">

  <info>
    <link type="guide" xref="printing#paper"/>

    <desc>Print on both sides of the paper, or multiple pages per sheet.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Print two-sided and multi-page layouts</title>

<p>To print on both sides of each sheet of paper:</p>

<steps>
 <item>
  <p>Click <guiseq><gui>File</gui><gui>Print</gui></guiseq>.</p>
 </item>
 <item>
  <p>Go to the <gui>Page Setup</gui> tab of the Print window and choose an option
   from the <gui>Two-sided</gui> drop-down list. If the option is disabled,
   two-sided printing is not available for your printer.</p>
  <p>Printers handle two-sided printing in different ways. It's a good idea to
  experiment with your printer to see how it works.</p>
 </item>
 <item>
  <p>You can print more than one page of the document per <em>side</em> of paper
 too. Use the <gui>Pages per side</gui> option to do this.</p>
 </item>
</steps>
<note>
  <p>The availability of these options may depend on the type of printer you have,
 as well as the application you are using.  This option may not always be
 available.</p>
</note>
</page>
