<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="session-language" xml:lang="en-CA">

  <info>
    <link type="guide" xref="prefs-language#langsupport"/>
    <desc>Switch to a different language for user interface and help text.</desc>

    <revision pkgversion="3.8.0" version="0.3" date="2013-03-13" status="candidate"/>
    <revision version="14.04" date="2014-01-12" status="review"/>

    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Andre Klapper</name>
      <email>ak-47@gmx.net</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ubuntu Documentation Team</name>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Change which language you use</title>

  <p>You can use your desktop and applications in any of dozens of languages, provided
  you have the proper <link xref="prefs-language-install">language packs
  installed</link> on your computer.</p>

  <steps>
    <item><p>Click the icon at the very right of the menu bar and select <gui>System Settings</gui>.</p></item>
    <item><p>Click <gui>Language Support</gui>.</p></item>
    <item><p>Select your desired language on the <gui>Language</gui> tab. Drag the language to the top of the list.</p></item>
    <item><p>You have to log out and back in for language changes to take
    effect. Click the icon at the very right of the menu bar and select <gui>Log Out</gui>
    to log out.</p></item>
  </steps>

  <note>
    <p>Some translations may be incomplete, and certain applications may not
    support your language at all.</p>
  </note>

  <p>There are some special folders in your home folder where applications
  can store things like music, pictures, and documents. These folders use
  standard names according to your language. When you log back in, you will
  be asked if you want to rename these folders to the standard names for
  your selected language. If you plan to use the new language all the time,
  you should update the folder names.</p>

  <section id="system">
    <title>Change the system language</title>

    <p>When you change your language, you only change it for your account
    after you log in. You can also change the <em>system language</em>, the
    language used in places like the login screen.</p>

    <steps>
      <item><p>Change your language, as described above.</p></item>
      <item><p>Click <gui>Apply System-Wide</gui>.</p></item>
      <item><p><link xref="user-admin-explain">Administrative privileges</link> are
      required. Enter your password, or the password for the requested administrator
      account.</p></item>
    </steps>

  <!-- The following line must not be broken into two lines. Post processing of the compiled HTML needs to remove it -->
  <note><p>You can find more detailed guidance on languages and regional formats in <link href="help:language-selector">Language Support Help</link>.</p></note>

  </section>

</page>
