<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="pgp-expired" xml:lang="es">

  <info>
    <link type="guide" xref="index#pgp-keys"/>

    <revision version="0.1" date="2011-10-23" status="stub"/>
    <revision pkgversion="3.9" version="0.1" date="2013-07-03" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Aruna Sankaranarayanan</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>

    <desc>¿Se puede seguir usando? ¿Se puede cambiar la fecha de caducidad?</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>¿Qué pasa si mi clave caduca?</title>

  <p>Cuando la clave caduca, queda invalidada. Esto significa</p>

  <list>
    <item>
      <p>Ya no se puede usar para cifrar o descifrar mensajes.</p>
    </item>
    <item>
      <p>Ya no puede firmar o recibir firmar de otras claves.</p>
    </item>
  </list>

  <p>Dependiendo de cuánto tiempo quiere que sea válida la clave, puede <link xref="pgp-create#advanced">establecer una fecha de caducidad</link> para la misma. De manera predeterminada, <app>Contraseñas y claves</app> configura todas las claves para que sean válidas siempre, es decir, que la clave nunca caduque.</p>

  <p>La fecha de caducidad de una clave se puede <link xref="pgp-expiration-change">cambiar</link> en cualquier momento, incluso después de que la clave haya expirado. Sin embargo, si quiere dejar de usar la clave caducada, debería <link xref="pgp-delete">eliminarla</link> o <link xref="subkeys-revoke">revocarla</link>.</p>

  <note style="info">
    <p>Si tiene mensajes cifrados con una clave caducada, debe cambiar la fecha de caducidad de la clave para descifrar esos mensajes antes de eliminar o revocar la clave.</p>
  </note>

</page>
