<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="plugin-slideshow-shuffle" xml:lang="es">

  <info>
   <link type="guide" xref="index#plugins"/>
   <link type="seealso" xref="preferences#slideshow"/>
   <desc>Mostrar fotos en orden aleatorio al reproducir un pase de diapositivas.</desc>

   <revision pkgversion="3.2" version="0.1" date="2011-09-06" status="final"/>
   <credit type="author">
     <name>Tiffany Antopolski</name>
     <email>tiffany.antopolski@gmail.com</email>
   </credit>
   <license>
     <p>Creative Commons Compartir Igual 3.0</p>
   </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011, 2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2008-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>

<title>Diapositivas aleatorias</title>

<p>Puede hacer que sus imágenes se muestren de forma aleatoria al verlas en el modo de pase de <link xref="slideshow">diapositivas</link>.</p>

<p>Para ello, pulse <guiseq><gui>Editar</gui><gui>Preferencias</gui></guiseq> y vaya a la pestaña <gui>Complementos</gui>. Allí, marque <gui>Diapositivas aleatorias</gui> y pulse <gui>Cerrar</gui>.</p>

<p>Para poder añadir esta funcionalidad necesitará tener instalado <link xref="plugins">eog-plugins</link>.</p>

</page>
