<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="addremove" xml:lang="it">
  <info>
    <revision version="14.04" date="2013-12-26" status="review"/>

    <link type="guide" xref="index" group="addremove"/>
    <title role="trail" type="link">Aggiungere o rimuovere applicazioni</title>

    <credit type="author">
      <name>Ubuntu Documentation Team</name>
    </credit>

    <desc><link xref="addremove-install">Installare</link>, <link xref="addremove-remove">rimuovere</link>, <link xref="addremove-sources">repository addizionali</link>…</desc>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Aggiungere e rimuovere software</title>
  <links type="topic" style="2column"/>

</page>
