<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="clock" xml:lang="it">
  <info>

    <link type="guide" xref="prefs"/>

    <desc><link xref="clock-set">Impostare ora e data</link>, <link xref="clock-timezone">fuso orario</link>, <link xref="clock-calendar">calendario e appuntamenti</link>…</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-10-23" status="review"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Data e ora</title>

</page>
