<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-gettingprofiles" xml:lang="it">

  <info>
    <link type="guide" xref="color#profiles"/>
    <link type="seealso" xref="color-why-calibrate"/>
    <link type="seealso" xref="color-whatisprofile"/>
    <link type="seealso" xref="color-missingvcgt"/>
    <desc>I profili di colore possono essere recuperati dal costruttore e possono essere generati automaticamente.</desc>

    <revision version="13.10" date="2013-09-07" status="review"/>
    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Dove trovare i profili di colore?</title>

  <p>Il modo migliore per avere dei profili è di crearseli da soli, sebbene questo richieda un maggiore sforzo iniziale.</p>
  <p>Molti produttori forniscono dei profili del colore, malgrado a volte siano contenuti in <em>pacchetti driver</em> che potrebbe essere necessario scaricare, estrarre e infine cercare i profili del colore all'interno.</p>
  <p>Alcuni produttori non forniscono profili accurati per l'hardware e in tal caso è meglio non utilizzarli. Scaricare invece il profilo, ma se la data di creazione risale a più di un anno prima della data di acquisto del dispositivo è probabile i dati contenuti non sia più utilizzabili.</p>

  <p>Consultare <link xref="color-why-calibrate"/> per informazioni riguardanti il motivo per cui i profili forniti dai venditori sono spesso inutilizzabili.</p>

</page>
