<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="contacts" xml:lang="it">

<info>

  <link type="guide" xref="net"/>

    <revision pkgversion="3.5.5" date="2012-08-13" status="review"/>
    <revision version="13.10" date="2013-09-07" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>

  <desc>Accedere ai propri contatti.</desc>

</info>

<title>Contatti</title>

<p>Usare <app>Contatti</app> per memorizzare, visualizzare o modificare le informazioni dei propri contatti, localmente o nel proprio <link xref="accounts">Account online</link>.</p>

</page>
