<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="files-preview" xml:lang="it">

  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <desc>Mostrare e nascondere rapidamente anteprime per documenti, immagini, video e altro.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="files"/>
    <link type="seealso" xref="nautilus-preview"/>
    <revision pkgversion="3.6.0" version="0.2" date="2012-10-06" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
  </info>

<title>Anteprime di file e cartelle</title>

<p>È possibile avere una rapida anteprima dei file senza aprirli in un'applicazione «full feature». Selezionare un file e premere la barra spaziatrice: il file verrà aperto in una semplice finestra d'anteprima. Premere nuovamente la barra spaziatrice per chiudere l'anteprima.</p>

<p>L'anteprima supporta molti formati di file per documenti, immagini, video e audio. Nell'anteprima è possible scorrere i documenti o spostarsi avanti e indietro nella riproduzione di video e audio.</p>

<p>Per visualizzare un'anteprima a schermo intero premere <key>f</key>; premere di nuovo <key>f</key>  per uscire dalla modalità a schermo intero, o premere la barra spaziatrice per uscire dall'anteprima.</p>

</page>
