<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="mouse-lefthanded" xml:lang="it">
<info>
    <link type="guide" xref="mouse"/>

    <revision pkgversion="3.8.0" version="0.3" date="2013-03-13" status="candidate"/>
    <revision version="13.10" date="2013-10-22" status="review"/>

    <desc>Invertire i pulsanti sinistro e destro nelle impostazioni del mouse.</desc>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
</info>

<title>Usare il mouse con la mano sinistra</title>

<p>È possibile scambiare il comporamento dei pulsanti sinistro e destro del mouse o del touchpad per renderli più confortevoli per l'utilizzo con la mano sinistra.</p>

<steps>
  <item><p>Fare clic sull'icona a destra nella <gui>barra dei menù</gui> e selezionare <gui>Impostazioni di sistema</gui>.</p></item>
  <item><p>Aprire <gui>Mouse e touchpad</gui>.</p></item>
  <item><p>Nella sezione <gui>Generali</gui>, spostare la scelta relativa al <gui>Pulsante primario</gui> su <gui>Destro</gui>.</p></item>
</steps>

<note><p>Questa impostazione ha effetti sul mouse, sul touchpad e su ogni altro dispositivo di puntamento.</p></note>

</page>
