<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="ui" id="nautilus-prefs" xml:lang="it">

  <info>
    <link type="guide" xref="files" group="#last"/>

    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Preferenze del gestore di file</title>

<links type="topic" groups="nautilus-views nautilus-behavior nautilus-display nautilus-list nautilus-preview"/>

</page>
