<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task 2column" id="net-chat" xml:lang="it">

  <info>

    <revision version="13.10" date="2013-09-15" status="review"/>

    <link type="guide" xref="net"/>

    <desc><link xref="net-chat-empathy">Conversare su qualunque rete usando <app>Empathy</app></link>, <link xref="net-chat-video">fare video chiamate</link>, <link xref="net-chat-skype">installare Skype</link>, <link xref="net-chat-social">applicazioni social network</link></desc>
 
    <credit type="author">
      <name>L'«Ubuntu Documentation Team»</name>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Chat e social netwok</title>

</page>
