<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="net-email-virus" xml:lang="it">
  <info>
    <link type="guide" xref="net-email"/>
    <link type="guide" xref="net-security"/>
    <link type="seealso" xref="net-antivirus"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>È improbabile che i virus possano infettare il proprio computer, ma potrebbero infettare i computer delle persone alle quali si inviano messaggi di posta elettronica.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>È necessario eseguire un controllo dei virus sulle email?</title>

<p>I virus sono programmi che causano problemi se riescono a insediarsi nel computer. Una modo comune per far si che i virus infettino un computer è attraverso i messaggi di posta elettronica.</p>

<p>I virus che possono infettare computer che eseguono Linux sono piuttosto rari, quindi è <link xref="net-antivirus">improbabile che essere infettati da un virus attraverso posta elettronica o altro</link>. Se si riceve una email che contiene un virus nascosto all'interno, probabilmente non avrà alcun effetto sul computer. Ne consegue che non è necessario eseguire un controllo dei virus sulle email.</p>

<p>È comunque possibile eseguire un controllo antivirus sulle email per evitare di inviare il virus da una persona a un'altra. Per esempio, se uno dei propri contatti invia una email infetta usando un computer con Windows, e questa viene inoltrata a un altro  contatto che usa Windows, anche questa persona potrebbe essere infettata dal virus. È possibile installare un'applicazione antivirus per controllare le email e prevenire questo inconveniente, ma è comunque improbabile che accada dato che la maggior parte degli utenti che usano Windows e Mac OS hanno già un proprio software antivirus installato.</p>

</page>
