<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="power-whydim" xml:lang="it">

  <info>
    <link type="guide" xref="power#battery"/>
    <link type="guide" xref="hardware-problems-graphics"/>
    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <desc>Quando il computer portatile è alimentato a batteria, lo schermo si oscura quando è inattivo, allo scopo di risparmiare energia.</desc>
    <credit type="author">
      <name>Progetto documentazione di GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Perché lo schermo si oscura dopo un po' di tempo?</title>

<p>Lo schermo si oscura quando il computer, se utilizza l'alimentazione dalla batteria, è inattivo, allo scopo di risparmiare energia. Una volta ripresa l'attività sul computer, la luminosità dello schermo viene incrementata.</p>

<p>È possibile disattivare l'oscuramento dello schermo:</p>
<steps>
 <item>
  <p>Fare clic sull'icona a destra nella <gui>barra dei menù</gui> e selezionare <gui>Impostazioni di sistema</gui>.</p>
 </item>

 <item>
  <p>Aprire <gui>Luminosità &amp; blocco</gui> e deselezionare <gui>Oscurare lo schermo per risparmiare energia</gui>.</p>
 </item>
</steps>

</page>
