<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="unity-launcher-change-size" xml:lang="it">
  <info>
    <link type="guide" xref="unity-launcher-intro#launcher-customizing" group="#last"/>

    <revision version="13.10" date="2013-10-23" status="review"/>

    <credit type="author">
      <name>Ubuntu Documentation Team</name>
    </credit>

    <desc>Aumentare o diminuire la dimensione delle icone nel Launcher.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Modificare la dimensione delle icone nel Launcher</title>

  <p>È possibile diminuire la dimensione delle icone nel Launcher per poter visualizzare un maggior numero di oggetti. Oppure è possibile aumentarne la dimensione per poter fare clic sulle icone più agevolmente.</p>

  <steps>
    <item>
     <p>Fare clic sull'icona a destra nella barra dei menù e selezionare <gui>Impostazioni di sistema</gui>.</p>
    </item>
    <item>
     <p>Fare clic su <gui>Aspetto</gui>.</p>
    </item>
    <item>
      <p>Spostare il controllo scorrevole <gui>Launcher icon size</gui> per aumentare o diminuire la dimensione delle icone del <gui>Launcher</gui>.</p>
      <note><p>La dimensione predefinita dell'icona del <gui>Launcher</gui> è <em>48</em>.</p></note>
    </item>
  </steps>

</page>
