<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="user-accounts" xml:lang="it">

  <info>
    <link type="guide" xref="prefs"/>
    <title type="link" role="trail">Utenti</title>
    <desc><link xref="user-add">Aggiungere utenti</link>, <link xref="shell-guest-session">utente ospite</link>, <link xref="user-changepassword">modificare la password</link>, <link xref="user-admin-change">amministratori</link>…</desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>Progetto documentazione di GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Account utente</title>

  <p>Ogni singola persona che utilizza il computer dovrebbe avere un account utente personale. In questo modo ognuna di loro potrà organizzare i propri file e mantenerli separati da quelli degli altri e potrà impostare le proprie preferenze. Inoltre, tutto questo risulta in un maggiore livello di sicurezza poiché è possibile accedere a un altro account utente solo conoscendone la password.</p>

<section id="manage" style="2column">
  <info>
    <title type="link" role="trail">Account</title>
  </info>
  <title>Gestire gli account utente</title>
</section>

<section id="passwords" style="2column">
  <title>Password</title>
</section>

<section id="privileges" style="2column">
  <info>
    <title type="link" role="trail">Privilegi</title>
  </info>
  <title>Privilegi utente</title>
</section>
	
</page>
