<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="wacom-multi-monitor" xml:lang="it">

  <info>
    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>Mappare la tavoletta Wacom a uno specifico monitor.</desc>
    <link type="guide" xref="wacom"/>
    <revision pkgversion="3.5.5" version="0.1" date="2012-08-15" status="draft"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Scegliere un monitor</title>

  <steps>
    <item><p>Fare clic sull'icona a destra nella <gui>barra dei menù</gui> e selezionare <gui>Impostazioni di sistema</gui>.</p></item>
    <item><p>Aprire <gui>Tavoletta Wacom</gui>.</p>
      <note style="tip"><p>Se non è stata rilevata alcuna tavoletta, verrà richiesto di <gui>Collegare o accendere la tavoletta Wacom</gui>.</p></note>
    </item>
    <item><p>Fare clic su <gui>Mappa su monitor…</gui></p></item>
    <item><p>Selezionare <gui>Associare a un solo monitor</gui>.</p></item>
    <item><p>Accanto a <gui>Uscita</gui>, selezionare il monitor da utilizzare per ricevere gli input dalla tavoletta grafica.</p>
      <note style="tip"><p>Solo i monitor configurati possono essere selezionati.</p></note>
    </item>
    <item><p>Fare clic su <gui>Chiudi</gui>.</p></item>
  </steps>

</page>
