<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="a11y task" id="a11y-screen-reader" xml:lang="en-AU">
  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <desc>Use the <app>Orca</app> screen reader to speak the user interface.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="a11y#vision" group="blind"/>
    <revision version="13.10" date="2013-10-25" status="review"/>
  </info>

  <title>Read screen aloud</title>

  <p>
    GNOME provides the <app>Orca</app> screen reader to speak the user 
    interface. Depending on how you installed GNOME, you might not have Orca 
    installed. <link href="apt:gnome-orca">Install Orca</link>, and then refer to 
    the <link href="help:gnome-orca">Orca Help</link> for more information.
  </p>

</page>
