<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="guide" style="problem" version="1.0 if/1.0" id="bluetooth-problem-connecting" xml:lang="en-AU">

  <info>
    <link type="guide" xref="bluetooth#problems"/>
    <link type="seealso" xref="hardware-driver"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <desc>The adapter could be turned off or may not have drivers, or Bluetooth might be disabled or blocked.</desc>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>I can't connect my Bluetooth device</title>

<p>There are a number of reasons why you may not be able to connect to a Bluetooth device, such as a phone or headset.</p>

<terms>
  <item>
    <title>Connection blocked or untrusted</title>
    <p>Some Bluetooth devices block connections by default, or require you to change a setting to allow connections to be made. Make sure that your device is set up to allow connections.</p>
  </item>
  <item>
    <title>Bluetooth hardware not recognised</title>
    <p>Your Bluetooth adaptor/dongle may not have been recognised by the computer. This could be because <link xref="hardware-driver">drivers</link> for the adaptor aren't installed. Some Bluetooth adaptors aren't supported on Linux, so you may not be able to get the right drivers for them. In this case, you will probably have to get a different Bluetooth adaptor.</p>
  </item>
  <item>
    <title>Adapter not switched on</title>
      <if:choose>
        <if:when test="platform:unity">
          <p>Make sure that your Bluetooth adaptor is switched on. Click the Bluetooth icon in the <gui>menu bar</gui> and check that it's not <link xref="bluetooth-turn-on-off">disabled</link>.</p>
        </if:when>
        <p>Make sure that your Bluetooth adapter is switched on. Click the Bluetooth icon on the top bar and check that it's not <link xref="bluetooth-turn-on-off">disabled</link>.</p>
      </if:choose>
  </item>
  <item>
    <title>Device Bluetooth connection switched off</title>
  <p>Check that Bluetooth is turned on on the device you're trying to connect to. For example, if you're trying to connect to a phone, make sure that it's not in aeroplane mode.</p>
 </item>

 <item>
  <title>No Bluetooth adapter in your computer</title>
  <p>Many computers do not have Bluetooth adapters. You can buy an adapter if you want to use Bluetooth.</p>
 </item>
</terms>

</page>
