<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-calibrationdevices" xml:lang="en-AU">

  <info>

    <link type="guide" xref="color#calibration"/>

    <desc>We support a large number of calibration devices.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>

    <revision version="13.10" date="2013-09-07" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>What colour measuring instruments are supported?</title>

  <p>GNOME relies on the Argyll colour management system to support colour instruments. Thus the following display measuring instruments are supported:</p>

  <list>
    <item><p>Gretag-Macbeth i1 Pro (spectrometer)</p></item>
    <item><p>Gretag-Macbeth i1 Monitor (spectrometer)</p></item>
    <item><p>Gretag-Macbeth i1 Display 1, 2 or LT (colourimeter)</p></item>
    <item><p>X-Rite i1 Display Pro (colourimeter)</p></item>
    <item><p>X-Rite ColourMunki Design or Photo (spectrometer)</p></item>
    <item><p>X-Rite ColourMunki Create (colourimeter)</p></item>
    <item><p>X-Rite ColorMunki Display (colourimeter)</p></item>
    <item><p>Pantone Huey (colourimeter)</p></item>
    <item><p>MonacoOPTIX (colourimeter)</p></item>
    <item><p>ColourVision Spyder 2 and 3 (colourimeter)</p></item>
    <item><p>Colourimètre HCFR (colourimeter)</p></item>
  </list>

  <note style="tip">
   <p>The Pantone Huey is currently the cheapest and best supported hardware in Linux.</p>
  </note>

  <p>Thanks to Argyll there's also a number of spot and strip reading reflective spectrometers supported to help you calibrating and characterising your printers:</p>

  <list>
    <item><p>X-Rite DTP20 "Pulse" ("swipe" type reflective spectrometer)</p></item>
    <item><p>X-Rite DTP22 Digital Swatchbook (spot type reflective spectrometer)</p></item>
    <item><p>X-Rite DTP41 (spot and strip reading reflective spectrometer)</p></item>
    <item><p>X-Rite DTP41T (spot and strip reading reflective spectrometer)</p></item>
    <item><p>X-Rite DTP51 (spot reading reflective spectrometer)</p></item>
  </list>

</page>
