<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" id="files-removedrive" xml:lang="en-AU">

  <info>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>Eject or unmount a USB flash drive, CD, DVD, or other device.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="files#removable"/>
    <revision pkgversion="3.6.0" version="0.2" date="2012-10-08" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
  </info>

  <title>Safely remove an external drive</title>

  <p>When you use external storage devices like USB flash drives, you should safely remove them before unplugging them. If you just unplug a device, you run the risk of unplugging while an application is still using it. This could result in some of your files being lost or damaged. When you use an optical disc like a CD or DVD, you can use the same steps to eject the disc from your computer.</p>

  <steps>
    <title>To eject a removable device:</title>
    <item><p><link xref="files-browse">Open the file manager</link>.</p>
    </item>
    <item><p>Locate the device in the sidebar. It should have a small eject icon next to the name. Click the eject icon to safely remove or eject the device.</p>
    <p>Alternately, you can right-click the name of the device in the sidebar and select <gui>Eject</gui>.</p></item>
  </steps>

  <section id="remove-busy-device">
    <title>Safely remove a device that is in use</title>

  <p>If any of the files on the device are open and in use by an application, you will not be able to safely remove the device. You will be prompted with a window telling you that "the volume is busy," and listing all the open files on the device. Once you close all the files on the device, the device will automatically be safe to remove. At that time you can unplug or eject it.</p>

  <p>If you can't close one of the files, for example if the application using the file is locked up, you can right-click the file in the <gui>Volume is busy</gui> window and select <gui>End Process</gui>. This will force the entire locked up application to close, which could close other files you have open with that application.</p>

  <note style="warning"><p>You can also choose <gui>Eject Anyway</gui> to
  remove the device without closing the files. This may cause errors in
  applications that have those files open.</p></note>
  </section>
</page>
