<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="mouse-wakeup" xml:lang="en-AU">

  <info>
    <link type="guide" xref="mouse#problems"/>

    <revision pkgversion="3.8.0" version="0.3" date="2013-03-13" status="candidate"/>
    <revision version="16.04" date="2016-05-07" status="review"/>

    <desc>If you have to wiggle or click the mouse before it responds.</desc>
    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Ubuntu Documentation Team</name>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Mouse reacts with delay before it starts working</title>

  <p>Wireless and optical mice, as well as touchpads on laptops, may need to
  "wake up" before they start working. They automatically go to sleep when not in
  use to save battery power. To wake up your mouse or touchpad, you can click on
  a mouse button or wiggle the mouse.</p>
  <p>Laptop touchpads sometimes react with delay after you stop typing before they start working. This is to prevent you from accidentally touching the touchpad with your palm while typing.</p>
</page>
