<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="net-wrongnetwork" xml:lang="en-AU">
  <info>
    <link type="guide" xref="net-problem"/>

    <revision version="13.10" date="2013-10-22" status="review"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>Edit your connection settings, and remove the unwanted connection option.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>My computer connects to the wrong network</title>

<p>When you turn your computer on or move to a different location, your computer will automatically try to connect to wireless networks that you have connected to in the past. If it tries to connect to the wrong network each time (that is, not the one that you want it to connect to), do the following:</p>

<steps>
 <item>
  <p>Click the <gui>network menu</gui> on the menu bar and select <gui>Edit Connections</gui>.</p>
 </item>
 
 <item>
  <p>Go to the <gui>Wireless</gui> tab and find the network that you <em>don't</em> want it to keep connecting to.</p>
 </item>
 
 <item>
  <p>Click that network once to select it and click <gui>Delete</gui>. Your computer won't try to connect to that network any more.</p>
 </item>
 
</steps>

<p>If you later want to connect to the network you just deleted, simply select it from the list of wireless networks that appears when you click the network menu on the menu bar - just as you would connect to any other wireless network.</p>

</page>
