<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing-differentsize" xml:lang="en-AU">

  <info>
    <link type="guide" xref="printing#paper"/>
    <desc>Print a document on a different paper size or orientation.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <its:rules xmlns:its="http://www.w3.org/2005/11/its" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" xlink:type="simple" xlink:href="gnome-help.its"/>
  </info>

<title>Change the paper size when printing</title>

  <p>If you want to change the paper size of your document (for example, print a US Letter-sized PDF on A4 paper), you can change the printing format for the document.</p>

<steps>
 <item><p>Click <guiseq><gui>File</gui><gui>Print</gui></guiseq></p></item>
 <item><p>Select the <gui>Page Setup</gui> tab.</p></item>
 <item><p>Under the <em>Paper</em> column, choose your <em>Paper size</em> from the drop-down list.</p></item>
 <item><p>Click <gui>Print</gui> and your document should print.</p></item>
</steps>

  <p>You can also use the <gui>Orientation</gui> menu to choose a different orientation:</p>

<list>
<item><p><gui>Portrait</gui></p></item>
<item><p><gui>Landscape</gui></p></item>
<item><p><gui>Reverse portrait</gui></p></item>
<item><p><gui>Reverse landscape</gui></p></item>
</list>
</page>
