<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing-order" xml:lang="en-AU">

  <info>
    <link type="guide" xref="printing#paper"/>

    <desc>Collate and reverse the print order.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Make pages print in a different order</title>

<section id="reverse">
 <title>Reverse</title>
 <p>Printers usually print the first page first, and the last page last, so the pages end up in reverse order when you pick them up. If needed, you can reverse this printing order.</p>
 <p>To reverse the order:</p>
 <steps>
  <item><p>Click <guiseq><gui>File</gui><gui>Print</gui></guiseq>.</p></item>
  <item><p>In the <gui>General</gui> tab of the Print window under <em>Copies</em>, tick <gui>Reverse</gui>. The last page will be printed first, and so on.</p></item>
 </steps>
</section>

<section id="collate">
 <title>Collate</title>
 <p>If you are printing more than one copy of the document, the print-outs will be grouped by page number by default (i.e. all of the copies of page one come out, then the copies of page two, and so on). <em>Collating</em> will make each copy come out with its pages grouped together in the right order instead.</p>

 <p>To Collate:</p>
 <steps>
  <item><p>Click <guiseq><gui>File</gui><gui>Print</gui></guiseq>.</p></item>
  <item><p>In the <gui>General</gui> tab of the Print window under <em>Copies</em> tick <gui>Collate</gui>.</p></item>
 </steps>
 <!-- Need to add this image <media type="image" src="figures/reverse-collate.png"/> -->
</section>

</page>
