<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="wacom-stylus" xml:lang="en-AU">

  <info>
    <credit type="author">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>

    <link type="guide" xref="wacom"/>
    <revision pkgversion="3.5.5" version="0.1" date="2012-08-15" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
		<include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Define the button functions and pressure feel of the Wacom stylus.</desc>

  </info>

  <title>Configure the stylus</title>

<steps>
  <item><p>Click the icon at the far right of the <gui>menu bar</gui> and select <gui>System Settings</gui>.</p></item>
  <item><p>Open <gui>Wacom Graphics Tablet</gui>.</p>
     <note style="tip"><p>If no tablet is detected, you'll be asked to <gui>Please plug in or turn on your Wacom tablet</gui>.</p></note>
  </item>
  <item><p>The lower part of the panel contains details and settings specific to your stylus, with the device name (the stylus class) and diagram to the left. These settings can be adjusted:</p>
    <list>
      <item><p><gui>Eraser Pressure Feel:</gui> use the slider to adjust the "feel" (how physical pressure is translated to digital values) between <gui>Soft</gui> and <gui>Firm</gui>.</p></item>
      <item><p><gui>Button/Scroll Wheel</gui> configuration (these change to reflect the stylus). Click the menu next to each label to select one of these functions: No Action, Left Mouse Button Click, Middle Mouse Button Click, Right Mouse Button Click, Scroll Up, Scroll Down, Scroll Left, Scroll Right, Back, Forward.</p></item>
      <item><p><gui>Tip Pressure Feel:</gui> use the slider to adjust the "feel" between <gui>Soft</gui> and <gui>Firm</gui>.</p></item>
    </list>
  </item>
</steps>

<note style="tip"><p>If you have more than one stylus, when the additional stylus gets close to the tablet, a pager will be displayed next to the stylus device name. Use the pager to choose which stylus to configured.</p>
</note>

</page>
