<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-notspecifiededid" xml:lang="ru">

  <info>
    <link type="guide" xref="color#problems"/>
    <link type="guide" xref="color-gettingprofiles"/>
    <link type="guide" xref="color-why-calibrate"/>
    <desc>Профили, по умолчанию используемые для мониторов, не содержат даты калибровки.</desc>
    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Александр Прокудин</mal:name>
      <mal:email>alexandre.prokoudine@gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Алексей Кабанов</mal:name>
      <mal:email>ak099@mail.ru</mal:email>
      <mal:years>2011-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Станислав Соловей</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2013-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юлия Дронова</mal:name>
      <mal:email>juliette.tux@gmail.com</mal:email>
      <mal:years>2013-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрий Мясоедов</mal:name>
      <mal:email>ymyasoedov@yandex.ru</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Почему для профиля, по умолчанию используемого для монитора, не указывается срок его действия?</title>
  <p>
    The default color profile used for each monitor is generated
    automatically based on the display 
    <link href="https://en.wikipedia.org/wiki/Extended_Display_Identification_Data">
    EDID</link> which is stored in a memory chip inside the monitor.
    The EDID only gives us a snapshot of the available colors the monitor
    was capable of displaying when it was manufactured, and does not
    contain much other information for color correction.
  </p>

  <figure>
    <desc>Так как обновить EDID нельзя, то и дату окончания срока действия профиля указать невозможно.</desc>
    <media type="image" mime="image/png" src="figures/color-profile-default.png"/>
  </figure>

  <note style="tip">
    <p>Получение профиля от производителя монитора или самостоятельное создание профиля может обеспечить более точную коррекцию цвета.</p>
  </note>

</page>
