<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="plugin-exif-digital" xml:lang="zh-CN">

  <info>
   <link type="guide" xref="index#plugins"/>
   <desc>View information such as camera settings and histogram, geolocation, and date.</desc>

   <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
   <credit type="author">
     <name>Tiffany Antopolski</name>
     <email>tiffany.antopolski@gmail.com</email>
   </credit>
   <credit type="editor">
     <name>Fabiana Simões</name>
     <email>fabianapsimoes@gmail.com</email>
   </credit>
   <license>
     <p>Creative Commons Share Alike 3.0</p>
   </license>

  </info>

<title>View detailed information about a picture</title>

<p>Pictures taken by digital cameras are stored with a host of extra
information embedded in them, such as the date that they were taken, what
exposure settings were used on the camera and, in some cases, even where the
picture was taken.</p>

<p>This topic shows you how to access this information.</p>

<section id="date">
<title>Show the date in the status bar</title>
  <media type="image" src="figures/prefs-plugins-date.png" width="300" style="floatend"/>
  <p>You can display the date that a picture was taken in the status bar at
  the bottom of the window.</p>
  <p> To do this, click <guiseq><gui>Edit</gui><gui>Preferences</gui></guiseq>
  and go to the <gui>Plugins</gui> tab. Then, check <gui>Date in
  statusbar</gui>.</p>
</section>

<section id="exif">
 <title>Detailed Exif data</title>
  <p>The detailed information stored with digital photos is called <em>Exif
  data</em>. You can view it by installing a plugin for the image viewer.</p>

  <steps>
   <item>
    <p>To be able to see the Exif data embedded in your photos, you must
  first install the <link xref="plugins">eog-plugins</link> package.</p>
   </item>
   <item>
    <p>If <sys>eog-plugins</sys> is installed, click
    <guiseq><gui>Edit</gui><gui>Preferences</gui></guiseq> and go to the
    <gui>Plugins</gui> tab. Then, check <gui>Exif display</gui> and click
    <gui>Close</gui>.</p>
   </item>
   <item>
    <p>Click <guiseq><gui>View</gui><gui>Side Pane</gui></guiseq> to view the
    camera settings used to take the photo. To also view histograms showing the balance
    of colors and light/shade in the picture, select <gui>Exif display</gui> in the
    <gui>Plugins</gui> tab and click <gui>Preferences</gui>. Check the histograms you    
    want to view, listed under <gui>Histogram</gui>.</p>
   </item>
   <item>
    <p>You can also view the camera settings used to take the photo in the statusbar. 
    Select <gui>Exif display</gui> in the <gui>Plugins</gui> tab and click 
    <gui>Preferences</gui>. Check <gui>Display camera settings in statusbar</gui>.</p>
   </item>
  </steps>
</section>

<section id="map">
 <title>Display a photo location map</title>
  <p>Some cameras are able to attach <em>geolocation</em> information
  (geotags) to digital photos. Geotags are usually just the GPS coordinates
  (latitude and longitude) for the place where a photo was taken.</p>

  <steps>
   <item>
    <p>To be able to see a map of where your photos were taken, you must
  first install the <link xref="plugins">eog-plugins</link> package.</p>
   </item>
   <item>
    <p>If <sys>eog-plugins</sys> is installed, click
    <guiseq><gui>Edit</gui><gui>Preferences</gui></guiseq> and go to the
    <gui>Plugins</gui> tab. Then, check <gui>Map</gui> and click
    <gui>Close</gui>.</p>
   </item>
   <item>
    <p>Click <guiseq><gui>View</gui><gui>Side Pane</gui></guiseq> to show the map.</p>
   </item>
  </steps>
  <p>The map will show the location that a picture was taken in only if there
  is geolocation information attached to the photo. Many cameras do not attach
  geolocation information to pictures.</p>
</section>


</page>
