<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="print-blank-puzzles" xml:lang="de">
  <info>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <link type="guide" xref="index#print"/>
    <credit type="editor copyright">
      <years>2011</years>
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008, 2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2014, 2015.</mal:years>
    </mal:credit>
  </info>

<title>Leere Sudokus drucken</title>
    
<p>So drucken Sie ein oder mehrere leere Puzzles aus:</p>

 <steps>
 <item><p>Wählen Sie <guiseq><gui>Spiel</gui><gui>Mehrere Sudokus drucken</gui></guiseq>.</p>
</item>
 <item><p>Wählen Sie die Gesamtanzahl der zu druckenden Sudokus in der Auswahlliste aus.</p></item>
 <item><p>Wählen Sie in der nächsten Auswahlliste die Anzahl der Sudokus pro Seite aus.</p></item>
 <item><p>Wählen Sie den Schwierigkeitsgrad der auszudruckenden Spiele aus.</p></item>
 <item><p>Standardmäßig werden keine Spiele gedruckt, die Sie bereits gespielt haben. Wenn es Ihnen nichts ausmacht, Spiele zu wiederholen, wählen Sie <gui>Bereits gespielte Spiele in die auszudruckenden Spiele übernehmen</gui> in der Kategorie <gui>Details</gui>.</p></item>
 <item><p>Ausgedruckte Spiele werden standardmäßig nicht als gespielt markiert. Um dies zu tun, wählen Sie <gui>Gedruckte Spiele als gespielt markieren</gui> in der Kategorie <gui>Details</gui>.</p></item>
 </steps>


</page>
