<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="net-antivirus" xml:lang="es">

  <info>
    <link type="guide" xref="net-security"/>
    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Proyecto de documentación de GNOME</name>
      <email its:translate="no">gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Hay muy pocos virus para GNU/Linux, así que probablemente no necesite software antivirus.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nicolás Satragno</mal:name>
      <mal:email>nsatragno@gnome.org</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Molinero</mal:name>
      <mal:email>paco@byasl.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>¿Necesito software antivirus?</title>

  <p>Si está acostumbrado a Windows o Mac OS, es probable que también esté acostumbrado a utilizar software antivirus corriendo todo el tiempo. El software antivirus se ejecuta en segundo plano, comprobando el equipo constantemente en busca de virus que pudieran cruzarse en su camino y causarle problemas.</p>

  <p>Anti-virus software does exist for Linux, but you probably don't need to
  use it. Viruses that affect Linux are still very rare. Some argue that this
  is because Linux is not as widely used as other operating systems, so no one
  writes viruses for it. Others argue that Linux is intrinsically more secure,
  and security problems that viruses could make use of are fixed very
  quickly.</p>

  <p>Por cualquiera que sea el motivo, los virus en GNU/Linux son tan poco comunes que realmente no necesita preocuparse por ellos, al menos por el momento.</p>

  <p>Si quiere estar extremadamente seguro, o si quiere buscar virus en archivos que esté pasando entre usted y otras personas que usen Windows o Mac OS, aún puede instalar programas antivirus. Compruebe el instalador de software o busque en línea; hay varias aplicaciones disponibles.</p>

</page>
