<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="power-batteryoptimal" xml:lang="es">

  <info>
    <link type="guide" xref="power"/>
    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <desc>Tips such as "Do not let the battery charge get too low".</desc>

    <credit type="author">
      <name>Proyecto de documentación de GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nicolás Satragno</mal:name>
      <mal:email>nsatragno@gnome.org</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Molinero</mal:name>
      <mal:email>paco@byasl.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

<title>Sacar el máximo partido a la batería de su portátil</title>

<p>A medida que las baterías del portátil envejecen, empeoran su capacidad de almacenamiento de carga y se reduce gradualmente su capacidad. Existen algunas técnicas que pueden ayudarle a prolongar su vida útil, aunque no espere grandes diferencias.</p>

<list>
  <item>
    <p>No deje que la batería se gaste por completo. Recargue siempre la batería <em>antes</em> de que le quede muy poca carga, aunque la mayoría de las baterías tienen medidas para evitar que esto pase. Recargarla cuando está solo parcialmente descargada resulta más eficiente. pero recargarla cuando sólo está un poco descargada es malo para la batería.</p>
  </item>
  <item>
    <p>El calor tiene un efecto negativo en la eficiencia de carga de la batería. No deje que la batería se caliente más de lo debido.</p>
  </item>
  <item>
    <p>Las baterías envejecen aunque se dejen guardadas. No merece mucho la pena comprar una batería de repuesto al mismo tiempo que la batería original; compre siempre los recambios justo cuando los necesite.</p>
  </item>
</list>

<note>
  <p>Este consejo aplica específicamente a las baterías de ión de litio (Li-Ion), que son las más comunes. Otros tipos de baterías se pueden comportar de distinta forma.</p>
</note>

</page>
