<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="privacy-location" xml:lang="es">
  <info>
    <link type="guide" xref="privacy" group="#last"/>

    <revision pkgversion="3.14" date="2014-10-13" status="review"/>
    <revision pkgversion="3.18" date="2015-09-30" status="final"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Activar o desactivar la geolocalización.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nicolás Satragno</mal:name>
      <mal:email>nsatragno@gnome.org</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Molinero</mal:name>
      <mal:email>paco@byasl.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>Controlar los servicios de ubicación</title>

  <p>La geolocalización, o los servicios de ubicación, usan posicionamiento por torres de celdas, GPS y puntos de acceso Wi-Fi cercanos para determinar su ubicación actual para usarla en la configuración de su zona horaria y en aplicaciones como <app>Maps</app>. Cuando está activada, es posible compartir su ubicación en la red con una gran precisión.</p>

  <steps>
    <title>Desactivar las características de geolocalización de su escritorio</title>
    <item>
      <p>Abra la vista de <gui xref="shell-introduction#activities">Actividades</gui> empiece a escribir <gui>Privacidad</gui>.</p>
    </item>
    <item>
      <p>Pulse en <gui>Privacidad</gui> para abrir el panel.</p>
    </item>
    <item>
     <p><gui>Apague</gui> los <gui>Servicios de ubicación</gui>.</p>
     <p>Para volver a activar esta característica, <gui>Active</gui> los <gui>Servicios de ubicación</gui>.</p>
    </item>
  </steps>

</page>
