<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="index" xml:lang="es">
  <info>
    <revision pkgversion="3.11" date="2014-01-27" status="review"/>
    <title type="link">Monitor del sistema</title>
    <title type="text">Monitor del sistema</title>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
      <years>2014</years>
    </credit>

    <desc>El monitor del sistema muestra qué programas están en ejecución y cuánto procesador, tiempo, memoria y espacio en disco están usando.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2014 - 2015</mal:years>
    </mal:credit>
  </info>

<title>Monitor del sistema</title>

<links type="topic" style="toronto" groups="cpu">
  <title>Monitorizar la CPU</title>
</links>

<links type="topic" style="toronto" groups="memory">
  <title>Uso de la memoria</title>
</links>

<links type="topic" style="toronto" groups="processes-info">
  <title>Cuestiones sobre procesos</title>
</links>

<links type="topic" style="toronto" groups="processes-tasks">
  <title>Tareas comunes con procesos</title>
</links>

<links type="topic" style="toronto" groups="filesystems">
  <title>Información sobre los sistemas de archivos</title>
</links>

<links type="topic" style="toronto" groups="net">
  <title>Información sobre la red</title>
</links>

<links type="topic" style="toronto" groups="other">
  <title>Miscelánea</title>
</links>
</page>
