<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="calendar-publishing" xml:lang="de">

  <info>
    <link type="guide" xref="calendar-sharing-information"/>

    <revision pkgversion="3.1.5" version="0.4" date="2011-08-24" status="final"/>

    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name>
      <!-- Content partially from Reuse
	   http://library.gnome.org/users/evolution/2.32/config-prefs-cal.html.en#bxjng8p
	   and
	   http://library.gnome.org/users/evolution/2.32/usage-calendar-apts.html.en#publishing-freebusy
	   -->
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Veröffentlichen Sie den Inhalt Ihres Kalenders.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

  <title>Kalenderveröffentlichung</title>

  <p>Um einen Ihrer Kalender öffentlich zur Verfügung zu stellen, können Sie Kalender festlegen, die auf einen Web-Server hochgeladen werden sollen. Dies geschieht unter <guiseq><gui>Bearbeiten</gui><gui>Einstellungen</gui><gui>Kalender und Aufgaben</gui><gui>Information zur Veröffentlichung</gui><gui>Orte</gui><gui style="button">Hinzufügen</gui></guiseq>.</p>

  <!-- This is the location since 3.1.5, see bug
     https://bugzilla.gnome.org/show_bug.cgi?id=655666 -->

  <p>Geben Sie den Speicherort im Internet, die Häufigkeit der Aktualisierung, den zu veröffentlichenden Kalender und die Legitimierungsinformationen zum Hochladen an.</p>

  <p>Sie können Kalender- oder Verfügbarkeitsinformationen auf einem WebDAV-, einem FTP-Server, oder auf einer entfernten Maschine per Secure Shell (SSH) oder einem anderen Web-Server per HTTP-PUT veröffentlichen.</p>

  <p>Um die Kalenderinformationen sofort zu veröffentlichen, wählen Sie im Kalender-Fenster <guiseq><gui>Aktionen</gui><gui>Kalenderinformationen veröffentlichen</gui></guiseq>.</p>

</page>
