<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="calendar-meetings-delegating" xml:lang="de">

  <info>
    <link type="guide" xref="calendar-meetings"/>

    <revision pkgversion="3.5.91" version="0.3" date="2012-09-14" status="stub"/>

    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name>
      <!-- Content partially from
	   http://library.gnome.org/users/evolution/2.32/bxqatxt.html -->
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Eine andere Person bitten, die Besprechung zu leiten.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

  <title>Besprechungen delegieren</title>

  <p>Nur Teilnehmer einer Besprechung können eine Besprechung delegieren, nicht jedoch der Organisator.</p>

  <steps>
    <item>
      <p>Klicken Sie mit der rechten Maustaste auf die Besprechung, die Sie delegieren möchten.</p>
    </item>
    <item>
      <p>Klicken Sie auf <gui>Besprechung delegieren</gui>.</p>
    </item>
    <item>
      <p>Wählen Sie die Kontakte aus, an die die Besprechung delegiert werden soll.</p>
    </item>
    <item>
      <p>Klicken Sie auf <gui style="button">OK</gui>.</p>
    </item>
  </steps>

  <p>Jeder Kontakt erhält eine E-Mail mit der Einladung zur Besprechung.</p>

</page>
