<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="calendar-recurrence" xml:lang="de">

  <info>
    <link type="guide" xref="index#calendar-advanced"/>

    <revision pkgversion="3.0.2" version="0.1" date="2011-08-01" status="final"/>

    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name>
      <!-- Content partially from
      http://library.gnome.org/users/evolution/2.32/usage-calendar-apts.html.en#bxmtcp3
      -->
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Wiederkehrende Termine.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

  <title>Wiederholungen verwenden</title>

  <p>Für einen Wiederholungstermin legen Sie die Wiederholungen fest, indem Sie den Knopf <gui>Wiederholung</gui> im <gui>Termin-Editor</gui> klicken, oder indem Sie auf <guiseq><gui>Optionen</gui><gui>Wiederholung</gui></guiseq> klicken. Sie können eine Zeit und ein Datum auswählen, an welchem der Termin zum letzten Mal gilt, und unter <gui>Ausnahmen</gui> einzelne Tage auswählen, an denen der Termin entfällt. Treffen Sie Ihre Auswahl von links nach rechts und formen Sie einen Satz wie: »Alle zwei Wochen montags und freitags bis 3. Januar 2015« oder »Jeden Monat am ersten Freitag für 12 Wiederholungen«.</p>

</page>
