<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="contacts-usage-add-contact" xml:lang="de">

  <info>
    <link type="guide" xref="contacts-usage"/>

    <revision pkgversion="3.0.2" version="0.2" date="2011-09-29" status="final"/>

    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Einen Kontakt zum Adressbuch hinzufügen.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

  <title>Einen Kontakt hinzufügen</title>

  <steps>
    <item>
      <p>Klicken Sie auf <guiseq><gui>Datei</gui><gui>Neu</gui><gui>Kontakt</gui></guiseq>, oder klicken Sie mit der rechten Maustaste in einen leeren Bereich der Kontaktliste und klicken Sie auf <gui>Neuer Kontakt …</gui>, oder drücken Sie <keyseq><key>Umschalttaste</key><key>Strg</key><key>C</key></keyseq>.</p>
    </item>
    <item>
      <p>Wählen Sie das Adressbuch unter <gui>Wo:</gui>, zu welchem er hinzugefügt werden soll.</p>
    </item>
    <item>
      <p>Geben Sie die gewünschten Kontaktinformationen ein. Beachten Sie, dass mehrere Reiter vorhanden sind.</p>
    </item>
    <item>
      <p>Sie können dem Kontakt ein Foto hinzufügen, indem Sie in das große Feld (jenes mit der Körpersilhouette) neben <gui>Voller Name</gui> und <gui>Kategorien</gui> klicken.</p>
    </item>
    <item>
      <p>Klicken Sie auf <gui style="button">OK</gui>.</p>
    </item>
  </steps>

<section id="contact-quick-add">
  <title>Kontakt im E-Mail-Fenster schnell hinzufügen</title>

  <p>Sie können auch einen Kontakt direkt aus einer E-Mail heraus hinzufügen.</p>

  <steps>
    <item>
      <p>Klicken Sie mit der rechten Maustaste auf die E-Mail-Adresse in der Kopfzeile der Nachricht.</p>
    </item>
    <item>
      <p>Wählen Sie <gui>Zum Adressbuch hinzufügen …</gui>.</p>
    </item>
    <item>
      <p>Klicken Sie entweder auf <gui style="button">?</gui> , um den ganzen <gui>Kontakt-Editor</gui> zu öffnen, oder klicken Sie auf <gui style="button">OK</gui>, um den Kontakt unmittelbar dem gewählten Adressbuch hinzuzufügen.</p>
    </item>
  </steps>

</section>

</page>
