<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="data-storage" xml:lang="de">

  <info>
    <desc>Wo speichert Evolution meine Daten auf dem Datenträger?</desc>
    
    <link type="guide" xref="index#common-other-problems"/>

    <revision pkgversion="3.5.3" version="0.5" date="2012-06-09" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<title>Orte zur Datenspeicherung</title>

<note style="tip">
<p>Dies ist nur für erfahrene Anwender interessant, die Probleme diagnostizieren möchten.</p>
</note>

<p>Evolution 3.6 und neuere speichern die Daten gemäß der <link href="http://www.freedesktop.org/wiki/Specifications/basedir-spec">XDG Base Directory Specification</link>. Dies bedeutet naturgemäß:</p>

<terms>
<item>
<title>Die Dateien mit den Benutzerdaten</title>
<p><file>$HOME/.local/share/evolution</file></p>
</item>
<item>
<title>Verschiedene Konfigurations- und Statusdateien</title>
<p><file>$HOME/.config/evolution</file></p>
</item>
<item>
<title>Konteneinstellungen</title>
<p><file>$HOME/.config/evolution/sources</file></p>
</item>
<item>
<title>Entbehrliche Daten-Zwischenspeicher</title>
<p><file>$HOME/.cache/evolution</file></p>
</item>
<item>
<title>Konfigurationseinstellungen in GSettings</title>
<p><file>$HOME/.config/dconf</file></p>
</item>
</terms>

</page>
