<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-composer-html-text" xml:lang="de">

  <info>
    <desc>So ändern Sie Schriftgrößen, Stile und Farben im E-Mail-Editor.</desc>
    <link type="guide" xref="mail-composer-html#formatting-options-html"/>

    <revision pkgversion="3.5.90" version="0.7" date="2012-08-16" status="draft"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-send.html.en#usage-mail-getnsend-send-html -->
 </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<title>Text in HTML formatieren</title>

     <p>Werkzeuge zur Textformatierung ausschließlich mit HTML befinden sich nur in der zweiten Werkzeugleiste unter der <gui>Betreffzeile</gui>, nachdem das HTML-Format aktiviert wurde. Sie erscheinen ebenso in den Menüs <gui>Einfügen</gui> und <gui>Format</gui> in der Menüleiste.</p>
     <p>Die Symbole in der Werkzeugleiste werden in den Minihilfen erklärt, welche erscheinen, wenn Sie den Mauszeiger über einen Knopf verschieben.</p>

<section id="text-styles">
      <title>Textstile:</title>
      <p>Verwenden Sie diese Knöpfe in der unteren Werkzeugleiste um festzulegen, wie Ihre E-Mail aussehen soll. Wenn Sie Text ausgewählt haben, so wird der Stil auf den gewählten Text angewendet. Falls kein Text ausgewählt ist, so wird der Stil auf das angewendet, was Sie als nächstes schreiben.</p>

<table frame="all" rules="all">
  <tr>
    <td><p>Knopf</p></td>
    <td><p>Beschreibung</p></td>
  </tr>
  <tr>
    <td><p>+0</p></td>
    <td><p>Schriftgröße.</p></td>
  </tr>
  <tr>
    <td><p><media type="image" its:translate="no" src="./figures/color-000000.png"/></p></td>
    <td><p>Die Farbauswahl für Text. Die Box stellt die aktuelle Textfarbe dar. Um eine andere Farbe zu wählen, klicken Sie auf den nach unten zeigenden Pfeil rechts neben der Box. Falls Sie Text markiert haben, so wird die neu gewählte Farbe auf den markierten Text angewendet. Falls Sie keinen Text markiert haben, so wird die Farbe auf das angewendet, was Sie als nächstes schreiben. Sie können eine Hintergrundfarbe oder ein Hintergrundbild auswählen, indem Sie mit der rechten Maustaste auf den Hintergrund der Nachricht klicken und dann <guiseq><gui>Stil</gui><gui>Seitenstil</gui></guiseq> auswählen.</p></td>
  </tr>
  <tr>
    <td><p>TT</p></td>
    <td><p>Schreibmaschinentext, ähnlich zur dicktengleichen Schrift.</p></td>
  </tr>
  <tr>
    <td><p>Dickes A</p></td>
    <td><p>Formatierter Text als fett.</p></td>
  </tr>
  <tr>
    <td><p>Kursives A</p></td>
    <td><p>Formatiert den Text als kursiv.</p></td>
  </tr>
  <tr>
    <td><p>Unterstrichenes A</p></td>
    <td><p>Unterstreicht Text.</p></td>
  </tr>
  <tr>
    <td><p>Durchgestrichenes A</p></td>
    <td><p>Streicht Text durch.</p></td>
  </tr>
</table>

<p>Die anderen Knöpfe werden unter <link xref="mail-composer-html#formatting-options-html"/> erklärt.</p>

</section>

</page>
