<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="mail-account-management" xml:lang="de">

  <info>
    <desc>Hinzufügen, Bearbeiten und Verwalten von Nachrichtenkonten.</desc>

    <link type="guide" xref="index#mail-basic"/>

    <revision pkgversion="2.28.3" version="0.3" date="2010-12-09" status="stub"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<title>Kontoverwaltung</title>

  <section id="mail-common-account-types" style="2column">
    <title>Gängige Kontentypen</title>
  </section>

  <section id="mail-local-account-types" style="2column">
    <title>Lokale Kontentypen</title>
  </section>

  <section id="mail-corporate-account-types" style="2column">
    <title>Firmen-Kontotypen</title>
  </section>

</page>
