<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-filters-actions" xml:lang="de">

  <info>
    <desc>Verfügbare Bedingungen zum Einrichten von Filtern</desc>

    <link type="seealso" xref="mail-filters"/>

    <revision pkgversion="3.0.2" version="0.2" date="2011-08-25" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mail-organize-filters.html.en#usage-mail-org-filters-new -->
 </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        
    
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

  <title>Verfügbare Filteraktionen</title>

<list>
<item><p>In Ordner verschieben:</p>
<p>Verschiebt die Nachricht in einen Ordner ihrer Wahl.</p></item>

<item><p>In Ordner kopieren:</p>
<p>Erzeugt eine Kopie einer Nachricht in einem anderen Ordner, den Sie auswählen können.</p></item>

<item><p>Löschen:</p>
<p>Markiert eine Nachricht als gelöscht. Das Löschen kann rückgängig gemacht werden, solange sie nicht den betroffenen Ordner gesäubert oder den Papierkorb geleert haben.</p></item>

<item><p>Verarbeitung stoppen:</p>
<p>Wählen Sie dies aus, falls alle darauf folgenden Filter nicht mehr auf die Nachricht angewendet werden sollen.</p></item>

<item><p>Beschriftung setzen:</p>
<p>Fügt eine Beschriftung zu einer Nachricht hinzu</p></item>

<item><p>Farbe zuweisen:</p>
<p>Markiert die Nachricht mit einer Farbe ihrer Wahl.</p></item>

<item><p>Bewertung zuweisen:</p>
<p>Teilt der Nachricht eine Zahlenbewertung zu.</p></item>

<item><p>Bewertung anpassen:</p>
<p>Ändert die Zahlenbewertung einer Nachricht um den von Ihnen bestimmten Wert.</p></item>

<item><p>Status setzen:</p>
<p>Setzt den Status einer Nachricht. Der Status kann Beantwortet, Entwurf, Wichtig, Gelesen, oder Unerwünscht sein.</p></item>

<item><p>Status nicht setzen:</p>
<p>Entfernt einen vorhandenen Status einer Nachricht. Falls kein Status gesetzt ist, so geschieht nichts.</p></item>

<item><p>Warnton:</p>
<p>Lässt den Rechner einen Warnton ausgeben.</p></item>

<item><p>Klang abspielen:</p>
<p>Wählen Sie eine Klangdatei, die von Evolution gespielt werden soll.</p></item>

<item><p>Programm ausführen:</p>
<p>Lässt Evolution eine Anwendung ausführen.</p></item>

<item><p>An Programm weiterleiten:</p>
<p>Sendet die Nachricht an ein Programm Ihrer Wahl. Es wird kein Rückgabewert erwartet. Diese Funktion kann genutzt werden, um automatische Web-Postings aus E-Mail-Nachrichten zu erstellen oder um eine zusätzliche Weiterverarbeitung der E-Mail durchzuführen, die von Evolution selbst in dieser Form nicht unterstützt wird.</p></item>

<item><p>Weiterleiten an:</p>
<p>Leitet die Nachricht an eine andere E-Mail-Adresse weiter.</p></item>

</list>
</page>
