<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-composer-message-templates-save" xml:lang="de">

  <info>
   <desc>Eine existierende oder neue Nachricht als Vorlage speichern</desc>
   
   <link type="guide" xref="mail-composer-message-templates#options"/>

 <revision pkgversion="3.5.90" version="0.3" date="2012-08-17" status="draft"/>
 <credit type="author">
   <name its:translate="no">Andre Klapper</name>
   <email its:translate="no">ak-47@gmx.net</email>
 </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/b1dlaazl.html.en -->
 </credit>
 
 <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
     

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<title>Nachrichten als Vorlagen speichern</title>

<section id="save-existing">
<title>Eine existierende Nachricht als Vorlage speichern</title>
<steps>
  <item><p>Wählen Sie die Nachricht aus.</p></item>
  <item><p>Klicken Sie mit der rechten Maustaste und wählen Sie <gui>In Ordner verschieben</gui> / <gui>In Ordner kopieren</gui>.</p></item>
  <item><p>Wählen Sie den Ordner <gui>Vorlagen</gui> unter <gui>Auf diesem Rechner</gui>.</p></item>
</steps>
<p>Sie können auch eine bestehende Nachricht bearbeiten und diese als Vorlage speichern:</p>
<steps>
  <item><p>Öffnen Sie die Nachricht und klicken Sie auf <gui>Antworten</gui>.</p></item>
  <item><p>Bearbeiten Sie den Inhalt der Nachricht oder die Empfänger nach Ihren Wünschen.</p></item>
  <item><p>Wählen Sie <guiseq><gui>Datei</gui><gui>Als Vorlage speichern</gui></guiseq>.</p></item>
 </steps>
</section>

<section id="save-new">
 <title>Eine neue Nachricht als Vorlage speichern</title>
 <steps>
  <item>
<p>Klicken Sie auf <gui>Neu</gui> und geben Sie im E-Mail-Editor ein, was Sie für die Vorlage benötigen.</p>
  </item>
  <item>
<p>Wählen Sie <guiseq><gui>Datei</gui><gui>Als Vorlage speichern</gui></guiseq>.</p>
  </item>
 </steps>
</section>

</page>
