<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-access-gmail-pop-account" xml:lang="de">

  <info>
    <desc>So richten Sie ein GMail-POP-Konto ein.</desc>
    
    <link type="guide" xref="index#common-mail-problems"/>
    <link type="guide" xref="google-services"/>
    <link type="seealso" xref="mail-account-manage-pop"/>

    <revision pkgversion="3.11.92" version="0.2" date="2014-03-23" status="review"/>
    <credit type="author">
      <name its:translate="no">April Gonzales</name>
      <email its:translate="no">loonycookie@gmail.com</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>



<title>Zugriff auf ein GMail-POP-Konto mit Evolution</title>

<p>Befolgen Sie folgende Schritte, um Ihr GMail-POP-Konto in Evolution einzurichten:</p>

<steps>
<item><p>Melden Sie sich an Ihrem GMail-Konto an.</p></item>
<item><p>Öffnen Sie <guiseq><gui>Einstellungen</gui><gui>Weiterleitung und POP/IMAP</gui></guiseq>. Folgen Sie dem Abschnitt POP-Download.</p></item>
<item><p>Aktivieren Sie die POP-Herunterladefunktion, indem Sie den Auswahlknopf zu einer der folgenden Optionen auswählen:</p>
    <list>
    <item><p>POP für alle E-Mails aktivieren (auch Nachrichten, die bereits heruntergeladen wurden)</p></item>
    <item><p>POP für E-Mails aktivieren, die ab sofort eingehen</p></item>
    </list>
</item>
<item><p>Geben Sie die andere notwendigen Einstellungen für diese Gmail-Funktion an.</p></item>
<item><p>Klicken Sie auf <gui>Konfigurationsanweisungen</gui> und wählen Sie <gui>Ich möchte POP aktivieren</gui> und dann <gui>Sonstige</gui> in der Liste, um Ihre Gmail-Kontoeinstellungen zu ersehen.</p></item>
<item><p>Gehen Sie in Evolution zu <guiseq><gui>Bearbeiten</gui><gui>Einstellungen</gui><gui>E-Mail-Konten</gui></guiseq>. Klicken Sie auf <gui style="button">Hinzufügen</gui>.</p></item>
<item><p>Geben Sie die erforderlichen Informationen an. Folgen Sie Schritt 5 für die Konten-Einstellungen.</p></item>
</steps>
</page>
