<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-composer-from-field-override" xml:lang="de">

  <info>
    <desc>So ändern Sie Absendername und Adresse in beliebige Werte.</desc>
    
    <link type="guide" xref="index#mail-composing-advanced"/>

    <revision pkgversion="3.13.91" version="0.1" date="2015-03-10" status="draft"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<title>Überschreiben des Feldes »Von«</title>

<p>Um eine angepasste E-Mail-Adresse und eigenen Absendernamen beim Versenden einer Nachricht zu verwenden, schalten Sie <guiseq><gui>Ansicht</gui><gui>Sendekonto überschreiben</gui></guiseq> und ändern Sie den voreingestellten Absendernamen und die E-Mail-Adresse in den entsprechenden Feldern.</p>

<!-- Translators: If no Wikipedia article exists for your language and you
leave the URL untranslated and pointing to the English Wikipedia, you might
want to indicate in your translation text that the link is in English. -->
<p>Dieses Merkmal ist nützlich für <link href="https://de.wikipedia.org/wiki/Qmail#Innovationen">Wildcard-Postfächer mit qmail</link> und <link href="https://en.wikipedia.org/wiki/Email_address#Sub-addressing">Unteradressierung</link>.</p>

<!-- Translators: If no Wikipedia article exists for your language and you
leave the URL untranslated and pointing to the English Wikipedia, you might
want to indicate in your translation text that the link is in English. -->
<note style="important"><p>Das Festelegen einer beliebigen Aadresse steht eventuell im Konflikt mit den <link href="https://de.wikipedia.org/wiki/Sender_Policy_Framework">Richtlinien</link> Ihres E-Mail-Anbieters und ggfs. mit <link href="https://de.wikipedia.org/wiki/DomainKeys">DomainKeys</link>.</p></note>

</page>
