<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-composer-reply" xml:lang="de">

  <info>
    <desc>Eine empfangene Nachricht beantworten</desc>
    
    <link type="guide" xref="index#mail-composing"/>

    <revision pkgversion="3.3.91" version="0.6" date="2012-02-19" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-send.html.en#usage-mail-getnsend-send-reply -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<title>Eine Nachricht beantworten</title>

<section id="general-info">
<title>Auf E-Mail-Nachrichten antworten</title>
<p>Um auf eine Nachricht zu antworten, wählen Sie die Nachricht in der E-Mail-Liste aus und klicken Sie auf den <gui>Antwort</gui>-Knopf in der Werkzeugleiste, oder klicken Sie mit der rechten Maustaste auf die Nachricht und wählen Sie <gui>Antwort an Absender</gui>. Das <gui>An:</gui>-Feld und die <gui>Betreffzeile</gui> sind bereits ausgefüllt, können aber nach Bedarf geändert werden. Zusätzlich wird der gesamte Text der zu beantwortenden Nachricht in die neue Nachricht eingefügt. Dies geschieht entweder in grauer Schrift mit einer blauen seitlichen Linie (bei HTML-Darstellung) oder mit einem »&gt;«-Zeichen vor jeder Reihe (im Textmodus), um anzudeuten, dass es sich um einen Teil der vorherigen Nachricht handelt.</p>
<p>Falls Sie eine Nachricht mit mehreren Empfängern beantworten möchten, so wählen Sie <gui>Antwort an Alle</gui> anstelle von <gui>Antwort</gui>. Dies spart Zeit, falls es sich um eine große Anzahl an Personen im <gui>An:</gui>- oder <gui>Kopie:</gui>-Feld handelt.</p>
</section>

<section id="reply-to-all">
<title>Antwort an Alle</title>
<p>Margit sendet eine E-Mail an einen Empfänger und schickt Kopien an Lothar und an eine firmeninterne Mailingliste von Mitarbeitern. Wenn nun Lothar einen Kommentar an alle Empfänger schicken will, so benutzt er <gui>Antwort an Alle</gui>, will er jedoch nur Margit schreiben, dass er einverstanden ist, so benutzt er <gui>Antwort</gui>. Seine Antwort wird nicht an Adressen verschickt, die Margit in das Blindkopie-Feld eingetragen hatte, da die Adressen der Blindkopie-Empfänger von keinem der Empfänger gesehen werden können.</p>
<p>Falls Sie auf einer Mailingliste angemeldet sind und Ihre Antwort an die Mailingliste und nicht nur an den Absender verschickt werden soll, so wählen Sie <gui>Antwort an Liste</gui> anstelle von <gui>Antwort</gui> oder <gui>Antwort an alle</gui>.</p>
</section>

<section id="keyboard-shortcuts">
<title>Tastenkombinationen</title>
<table frame="all" rules="all">
 <tr>
  <td><p>Aktion</p></td><td><p>Tastenkombinationen</p></td>
 </tr><tr>
  <td><p>Antwort an Absender</p></td><td><p><keyseq><key>Strg</key><key>R</key></keyseq></p></td>
 </tr><tr>
  <td><p>Antwort an Liste</p></td><td><p><keyseq><key>Strg</key><key>L</key></keyseq></p></td>
 </tr><tr>
  <td><p>Antwort an alle</p></td><td><p><keyseq><key>Umschalttaste</key><key>Strg</key><key>R</key></keyseq></p></td>
 </tr>
</table>
</section>

<section id="default-settings">
<title>Vorgabe-Einstellungen</title>
<p>Die Vorgabeeinstellung zum Antworten und Weiterleiten können Sie ändern unter <guiseq><gui>Bearbeiten</gui><gui>Einstellungen</gui><gui>Editoreinstellungen</gui><gui>Allgemein</gui><gui>Antworten und Weiterleiten</gui></guiseq>.</p>
</section>

</page>
