<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-calendar-sending-invitations" xml:lang="de">

  <info>
    <desc>So senden Sie Einladungen für Termine an Kontakte via E-Mail.</desc>

    <link type="guide" xref="index#mail-advanced"/>
    <link type="guide" xref="index#calendar"/>
    <!-- TODO:NICETOHAVE: Find a better place to link this against. Also I cannot link into two anchors on index so only the first one is shown? -->

    <revision pkgversion="2.32.1" version="0.1" date="2011-07-21" status="draft"/>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/rsvp-stuff.html.en -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<title>Einladungen per E-Mail versenden</title>

<p>Wenn Sie im Kalender ein Ereignis hinzufügen können Sie Einladungen an die Teilnehmerliste verschicken. Die Einladung wird als E-Mail-Anhang im iCal-Format verschickt.</p>

<p>Um eine Einladung zu verschicken, klicken Sie mit der rechten Maustaste auf den Kalendereintrag und wählen Sie <gui>Als iCalendar weiterleiten</gui>.</p>

<p>Wenn Sie eine Einladung erhalten haben Sie folgende Möglichkeiten:</p>

<list>
<item><p>Annehmen:</p><p>Sie nehmen die Einladung an und wollen an der Besprechung teilnehmen. Wenn Sie den OK-Knopf drücken, wird der Termin zu Ihrem Kalender hinzugefügt.</p></item>
<item><p>Vorläufig:</p><p>Sie nehmen die Einladung an und wollen wahrscheinlich an der Besprechung teilnehmen. Wenn Sie den OK-Knopf drücken wird der Termin zu Ihrem Kalender hinzugefügt, aber als vorläufig markiert.</p></item>
<item><p>Ablehnen:</p><p>Sie nehmen die Einladung nicht an und werden nicht an der Besprechung teilnehmen. Wenn Sie den OK-Knopf drücken wird der Termin nicht zu Ihrem Kalender hinzugefügt, aber Ihre Antwort wird an den Absender der Einladung geschickt, falls die Option »Antwort an den Absender verschicken« ausgewählt ist.</p></item>
<item><p>Antwort an Absender:</p><p>Wählen Sie diese Option aus, wenn Sie eine Antwort an den Organisator der Besprechung verschicken möchten.</p></item>
</list>
 
</page>
