<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-composer-forward" xml:lang="de">

  <info>
    <desc>Eine empfangene Nachricht an jemanden weiterleiten.</desc>
    
    <link type="guide" xref="index#mail-composing"/>

    <revision pkgversion="3.1.5" version="0.3" date="2011-07-27" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-send.html.en#usage-mail-getnsend-fwd -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<title>Eine Nachricht weiterleiten</title>

<p>Wenn Sie eine E-Mail erhalten, so können Sie diese an Dritte oder interessierte Gruppen weiterleiten.</p>
<p>Sie können eine Nachricht entweder als Anhang einer neuen Nachricht weiterleiten (dies ist die Standard-Einstellung, siehe auch <link xref="#default-settings">Vorgabe-Einstellungen</link>), oder eingebettet (in Ihrer Nachricht ohne das Symbol &gt; zu Anfang jeder Zeile), oder zitiert(mit dem Symbol &gt; zu Anfang jeder Zeile).</p>
<p>Eine Weiterleitung als Anhang ist die beste Wahl, wenn Sie die ursprüngliche Nachricht unverändert weiterleiten möchten. Eingebettete oder zitierende Weiterleitung ist die beste Wahl, wenn Sie Teile einer Nachricht verschicken wollen, oder wenn es eine Vielzahl Kommentare zu verschiedenen Abschnitten der weitergeleiteten Nachricht gibt.</p>

<p>So leiten Sie eine gelesene Nachricht an jemanden weiter:</p>
<steps>
<item><p>Klicken Sie auf <guiseq><gui>Nachricht</gui><gui>Weiterleiten</gui></guiseq>, den Knopf <gui>Weiterleiten</gui> in der Werkzeugleiste, oder drücken Sie <keyseq><key>Strg</key><key>F</key></keyseq>, um die voreingestellte Weiterleitungs-Methode zu verwenden. Falls Sie eine andere Weiterleitungs-Methode verwenden möchten, klicken Sie auf  <guiseq><gui>Nachricht</gui><gui>Weiterleiten als</gui></guiseq> oder den kleinen Abwärtspfeil neben dem Knopf <gui>Weiterleiten</gui> in der Werkzeugleiste, um die gewünschte Methode auszuwählen.</p></item>
<item><p>Wählen Sie einen Empfänger für die Nachricht aus. Die Betreffzeile ist bereits ausgefüllt, diese kann aber geändert werden.</p></item>
<item><p>Fügen Sie Ihre Kommentare zur Nachricht im Textfeld hinzu.</p></item>
<item><p>Klicken Sie auf <gui style="button">Senden</gui> oder drücken Sie <keyseq><key>Strg</key><key>Eingabetaste</key></keyseq>.</p></item>
</steps>

<p>Anhänge einer Nachricht, die Sie weiterleiten, werden nur weitergeleitet wenn Sie die Originalnachricht beigelegt weiterleiten. Zitierte Nachrichten leiten keine Anhänge weiter.</p>

<section id="default-settings">
<title>Vorgabe-Einstellungen</title>
<p>Die Vorgabeeinstellung zum Antworten und Weiterleiten können Sie ändern unter <guiseq><gui>Bearbeiten</gui><gui>Einstellungen</gui><gui>Editoreinstellungen</gui><gui>Allgemein</gui><gui>Antworten und Weiterleiten</gui><gui>Weiterleitungsstil</gui></guiseq>.</p>
</section>

</page>
