<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="memos-usage-edit-memo" xml:lang="de">

  <info>
    <desc>Eine Notiz in Ihrer Notizliste bearbeiten.</desc>
    
    <link type="guide" xref="memos-usage"/>

    <revision pkgversion="3.0.2" version="0.2" date="2012-02-19" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<title>Eine Notiz bearbeiten</title>

<p>Wenn Sie bereits bestehende Notizen in der Notizliste ändern möchten,</p>

<steps>
<item><p>Klicken Sie in der Notizliste zweimal auf die zu bearbeitende Notiz, oder klicken Sie mit der rechten Maustaste auf die Notiz und wählen Sie <gui>Notiz öffnen</gui>.</p></item>
<item><p>Die Notizinformationen bearbeiten.</p></item>
<item><p>Klicken Sie auf den <gui style="button">Speichern</gui>-Knopf oder <guiseq><gui>Datei</gui><gui>Speichern</gui></guiseq>.</p></item>
</steps>
</page>
