<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="using-categories" xml:lang="de">

  <info>
    <desc>Kategorien für Termine, Kontakte, Notizen und Aufgaben verwenden und verwalten.</desc>

    <link type="guide" xref="contacts-organizing"/>
    <link type="guide" xref="tasks-organizing"/>
    <link type="guide" xref="calendar-organizing"/>

    <revision pkgversion="3.3.91" version="0.6" date="2012-02-19" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-contact-organize.html.en#usage-contact-organize-group-category -->
 </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<title>Kategorien verwenden</title>

<p>Eine andere Methode, wie Sie Kontakte, Termine, Aufgaben und Notizen (im Folgenden unter dem Begriff »Objekte« zusammengefasst) ordnen können, besteht darin, ihnen verschiedene Kategorien zuzuweisen. Sie können einem Objekt mehrere oder gar keine Kategorien zuordnen. Sie können zum Beispiel in Ihrem Adressbuch einen Freund in der Kategorie »Geschäftlich« einordnen, da er mit Ihnen arbeitet, und in die Kategorie »Freunde«, da er ein Freund ist.</p>

<note style="tip"><p>Um nur die Objekte einer bestimmten Kategorie anzuzeigen, wählen Sie die entsprechende Kategorie in der Leiste für die schnelle <link xref="searching-items">Suche</link>.</p></note>

<section id="set-category-for-object">
<title>Einem Objekt Kategorien zuweisen</title>

<p>Um ein Objekt als zu einer Kategorie zugehörig zu markieren,</p>
<steps>
<item><p>Klicken Sie doppelt auf das Objekt, damit das entsprechende Editor-Fenster geöffnet wird.</p></item>
<item><p>Klicken Sie auf <gui style="button">Kategorien …</gui> (Wenn dieser Knopf nicht vorhanden ist, wählen Sie <guiseq><gui>Ansicht</gui><gui>Kategorien</gui></guiseq>.)</p></item>
<item><p>Wählen Sie die Kategorie aus der Liste aus. Sie können so viele Kategorien aussuchen, wie Sie möchten.</p></item>
</steps>

</section>

<section id="managing-categories">
<title>Hinzufügen und Verwalten von Kategorien</title>

<p>Wenn die vorgegebene Kategorienliste Ihren Bedürfnisse nicht entspricht, können Sie Ihre eigenen Kategorien hinzufügen, entweder direkt über <guiseq><gui>Bearbeiten</gui><gui>Verfügbare Kategorien</gui></guiseq> oder indirekt, wenn Sie ein Objekt bearbeiten:</p>
<steps>
<item><p>Klicken Sie doppelt auf ein beliebiges Objekt, um den entsprechenden Editor zu öffnen.</p></item>
<item><p>Klicken Sie auf <gui style="button">Kategorien …</gui> (Wenn dieser Knopf nicht vorhanden ist, wählen Sie <guiseq><gui>Ansicht</gui><gui>Kategorien</gui></guiseq>.)</p></item>
<item><p>Geben Sie den Namen der Kategorie in das Textfeld oben ein.</p></item>
<item><p>Klicken Sie auf <gui style="button">OK</gui>.</p></item>
<item><p>Sie können nun die Kategorie im Textfeld <gui>Kategorien</gui> im Editor sehen.</p></item>
<item><p>Klicken Sie auf <gui style="button">OK</gui>.</p></item>
</steps>

<p>Im <gui>Kategorie-Editor</gui> können Sie für jede Kategorie die Farbe und das Symbol bearbeiten oder zuweisen, indem Sie auf <gui style="button">Bearbeiten</gui> unten im <gui>Kategorien</gui>-Fenster klicken. Klicken Sie auf <gui style="button">Löschen</gui>, wenn Sie Kategorien aus der Liste entfernen möchten.</p>
</section>

</page>
