<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="contacts-libreoffice" xml:lang="fr">

  <info>
    <link type="guide" xref="index#data-migration-and-sync"/>

    <revision pkgversion="3.1.5" version="0.2" date="2012-02-18" status="draft"/>

    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Using data from <app>Evolution</app> address books in LibreOffice
    documents.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marc Lorber</mal:name>
      <mal:email>Linux-Lorber@club-internet.fr</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jonathan Ernst</mal:name>
      <mal:email>jonathan@ernstfamily.ch</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2007-2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Franke</mal:name>
      <mal:email>alexandre.franke@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2012 </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alain Lojewski</mal:name>
      <mal:email>allomervan@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>Contacts dans LibreOffice</title>

  <p>You can use your <app>Evolution</app> address books in LibreOffice as a data source.
  The following steps refer to LibreOffice version 3.3.3.</p>

  <steps>
    <item>
      <p>Click <guiseq><gui>Edit</gui><gui>Exchange Database…</gui></guiseq>
      in the menu bar. This will bring up the <gui>Exchange databases</gui>
      dialog box.</p>
    </item>
    <item>
      <p>In the right pane under <gui>Available Databases</gui>,
      <gui>EvolutionLocal</gui> is available as a source. Click on the small
      triangle to get the list of your <app>Evolution</app> address books.</p>
    </item>
    <item>
      <p>Sélectionnez un carnet d'adresses et cliquez sur <gui style="button">Définir</gui>.</p>
    </item>
    <item>
      <p>In case it is not listed already, click
      <gui style="button">Browse…</gui>. A file chooser dialog opens.</p>
    </item>
    <item>
      <p>As <app>Evolution</app> stores its data in a hidden directory, press
      <keyseq><key>Ctrl</key><key>L</key></keyseq> to get the location bar
      displayed.</p>
    </item>
    <item>
      <p>Go to
      <file>~/.local/share/evolution/addressbook/system/addressbook.db</file>
      and click <gui style="button">Open</gui>.</p>
    </item>
  </steps>

  <p>This makes the <app>Evolution</app> address book the default data source
  for LibreOffice. You can now select a field to insert into a LibreOffice
  document via
  <guiseq><gui>Insert</gui><gui>Fields</gui><gui>Other</gui></guiseq>.</p>

</page>
