<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:e="http://projectmallard.org/experimental/" xmlns:if="http://projectmallard.org/experimental/if/" xmlns:ui="http://projectmallard.org/ui/1.0/" type="topic" id="intro-first-run" xml:lang="fr">

  <info>
    <desc>Tout premier lancement d'Evolution.</desc>

    <link type="guide" xref="index#getting-started"/>

    <revision pkgversion="3.8.2" version="0.7" date="2013-06-22" status="stub"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marc Lorber</mal:name>
      <mal:email>Linux-Lorber@club-internet.fr</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jonathan Ernst</mal:name>
      <mal:email>jonathan@ernstfamily.ch</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2007-2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Franke</mal:name>
      <mal:email>alexandre.franke@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2012 </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alain Lojewski</mal:name>
      <mal:email>allomervan@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>Lancement d'<app>Evolution</app> pour la première fois</title>

<p>Au premier lancement d'Evolution, celui-ci ouvre un assistant de premier démarrage pour vous aider à configurer vos comptes de courriels et <link xref="import-data">importer des données provenant d'autres applications.</link></p>

<include xmlns="http://www.w3.org/2001/XInclude" href="xinclude-mail-account-identity.xml" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:info/mal:section)"/>

<section id="restore">
<title>Restauration à partir d'une archive</title>
<p>You will be asked whether to restore from a backup of a previous version. If you do not have a backup, go to the next page.</p>

 <section id="restore-howto" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Show how to restore from a backup</title>
  </info>
  <title>Restauration</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="backup-restore.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section[@id='restore']/mal:list)"/>
 </section>
</section>

<section id="receiving">
<title>Réception du courriel</title>
<p>Premièrement, choisissez le type de serveur dans la liste déroulante des <gui>types de serveurs</gui>.</p>
<p>En cas de doute, adressez-vous à votre administrateur système ou à votre fournisseur d'accès Internet.</p>

<note style="tip"><p>Plus tard, si vous désirez modifier un compte ou en créer un nouveau, cliquez sur <guiseq><gui>Édition</gui><gui>Préférences</gui><gui>Comptes de messagerie</gui></guiseq>. Sélectionnez le compte à modifier, puis cliquez sur <gui style="button">Modifier</gui>. Vous pouvez également créer un nouveau compte en cliquant sur <gui style="button">Ajouter</gui>.</p></note>

<section id="server-type-imap-plus">
<title>IMAP+</title>
<p>Keeps the mail on the server so you can access your mail from multiple systems.</p>

 <section id="configure-sending-imap-plus" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Show how to configure this account type</title>
  </info>
  <title>Options de réception IMAP+</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-imap-plus.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-pop">
<title>POP</title>
<p>Downloads your email to your hard disk.</p>

 <section id="configure-sending-pop" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Show how to configure this account type</title>
  </info>
  <title>Options de réception POP</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-pop.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-usenet">
<title>USENET News</title>
<p>Connects to a news server and downloads a list of available news digests.</p>

 <section id="configure-sending-usenet" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Show how to configure this account type</title>
  </info>
  <title>Options de réception des nouvelles Usenet</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-usenet-news.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-exchange-ews">
<title>Exchange EWS</title>
<p>For connecting to a Microsoft Exchange 2007/2010 or OpenChange server. Note that this is currently under development and will replace the <gui>Exchange MAPI</gui> account type in the future. It might not be available yet for your distribution.</p>
<note style="info package">
  <p>Pour cela, le paquet <sys>evolution-ews</sys> doit être installé.</p>
  <if:choose xmlns:if="http://projectmallard.org/if/1.0/">
    <if:when test="action:install">
      <p><link action="install:evolution-ews" href="https://wiki.gnome.org/Apps/Evolution#Get_the_Source_Code" style="button">Install evolution-ews</link></p>
    </if:when>
  </if:choose>
</note>

 <section id="configure-sending-exchange-ews" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Show how to configure this account type</title>
  </info>
  <title>Options de réception Exchange Web Services</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-exchange-ews.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-exchange-mapi">
<title>Exchange MAPI</title>
<p>For connecting to a Microsoft Exchange 2007/2010 or OpenChange server.</p>
<note style="info package">
  <p>Pour cela, le paquet <sys>evolution-mapi</sys> doit être installé.</p>
  <if:choose xmlns:if="http://projectmallard.org/if/1.0/">
    <if:when test="action:install">
      <p><link action="install:evolution-mapi" href="https://wiki.gnome.org/Apps/Evolution#Get_the_Source_Code" style="button">Install evolution-mapi</link></p>
    </if:when>
  </if:choose>
</note>

 <section id="configure-sending-exchange-mapi" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Show how to configure this account type</title>
  </info>
  <title>Options de réception Exchange MAPI</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-exchange-mapi.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-local-delivery">
<title>Local delivery</title>
<p>Distribution locale : choisissez cette option si vous voulez déplacez les messages depuis le spool (l'endroit où les messages sont en attente de livraison) pour les stocker dans votre dossier personnel. Vous devez préciser le chemin vers le spool des messages à utiliser. Si vous souhaitez laisser les courriels dans les fichiers du spool de votre système, choisissez de préférence l'option <gui>Fichier Unix standard de spool mbox</gui>.</p>

 <section id="configure-sending-local-delivery" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Show how to configure this account type</title>
  </info>
  <title>Options de réception de la distribution locale des messages</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-local-delivery.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-mh-format-directories">
<title>MH-Format Mail Directories</title>
<p>For downloading email using MH or another MH-style application.</p>

 <section id="configure-sending-mh-format-directories" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Show how to configure this account type</title>
  </info>
  <title>Options de réception pour les répertoires de courriel au format MH</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-mh-format-directories.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-maildir-format-directories">
<title>Maildir-Format Mail Directories</title>
<p>Répertoires de courriel au format Maildir : pour télécharger votre courriel avec Qmail ou une autre application dans le style de Maildir.</p>

 <section id="configure-sending-maildir-format-directories" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Show how to configure this account type</title>
  </info>
  <title>Options de réception pour les répertoires de courriel au format Maildir</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-maildir-format-directories.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-unix-mbox-spool-file">
<title>Standard Unix mbox spool file</title>
<p>Fichier Unix standard de spool mbox : pour lire et enregistrer les courriels dans le fichier de spool de courriel de votre système local.</p>

 <section id="configure-sending-unix-mbox-spool-file" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Show how to configure this account type</title>
  </info>
  <title>Options de réception utilisant le fichier Unix standard de spool mbox</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-unix-mbox-spool-file.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-unix-mbox-spool-directory">
<title>Standard Unix mbox spool directory</title>
<p>Répertoire Unix standard de spool mbox : pour lire et enregistrer les courriels dans le répertoire de spool de courriel de votre système local.</p>

 <section id="configure-sending-unix-mbox-spool-directory" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Show how to configure this account type</title>
  </info>
  <title>Options de réception utilisant le répertoire Unix standard de spool mbox</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-unix-mbox-spool-directory.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-none">
<title>None</title>
<p>If you do not plan to use Evolution for receiving email.</p>
</section>

</section>

<section id="sending"> <!-- Do not rename, we link to it from the subpages -->
<title>Envoi du courriel</title>
<p>Les types de serveur disponibles sont :</p>

<section id="server-type-smtp">
<title>SMTP</title>
<p>Sends mail using an outbound mail server. This is the most common choice for sending mail.</p>

 <section id="configure-sending-smtp" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Show how to configure this account type</title>
  </info>
  <title>Options d'envoi SMTP</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-sending-options-smtp.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:list)"/>
 </section>

</section>

<section id="server-type-sendmail">
<title>Sendmail</title>
<p>Uses the <app>Sendmail</app> application to send mail from your system. It is not easy to configure, so you should select this option only if you know how to set up a Sendmail service.</p>
</section>

</section>

<section id="account-information">
<title>Informations sur le compte</title>
<p>Donnez au compte le nom que vous préférez.</p>
</section>

<section id="account-import">
<title>Importation de courriels (facultatif)</title>
<p>Continuer avec <link xref="import-data">Importation de données d'autres programmes</link>.</p>
</section>

</page>
