<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="preferences" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="index#tips"/>
    <desc><link xref="preferences#view">Image view</link>, <link xref="preferences#slideshow">slideshow</link> and <link xref="preferences#plugins">plugins</link>.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-06" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Atribuição-Compartilhada Igual 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Amadeu A. Barbosa Júnior</mal:name>
      <mal:email>amadeu@gmail.com</mal:email>
      <mal:years>2007.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rodrigo Flores</mal:name>
      <mal:email>rodrigomarquesflores@gmail.com</mal:email>
      <mal:years>2008.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leonardo Ferreira Fontenelle</mal:name>
      <mal:email>leo.fontenelle@gmail.com</mal:email>
      <mal:years>2008.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leonardo Gregianin</mal:name>
      <mal:email>leogregianin@gmail.com</mal:email>
      <mal:years>2008.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Djavan Fagundes</mal:name>
      <mal:email>djavan@comum.org</mal:email>
      <mal:years>2010.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Krix Apolinário</mal:name>
      <mal:email>krixapolinario@gmail.com</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2012, 2013.</mal:years>
    </mal:credit>
  </info>

<title>Preferências</title>
<p>This topic explains all of the settings that you can change in the 
image viewer. Click <guiseq><gui>Edit</gui><gui>Preferences</gui></guiseq> to 
start changing the preferences.</p>

<links type="section"/>

<section id="view">
<title>Image view preferences</title>
<media type="image" src="figures/image-view-prefs.png" style="floatend" width="300"/>
<terms>
  <item>
    <title>Image enhancements</title>
    <p>Select <gui>Smooth images when zoomed out</gui> to enable <em>image 
    smoothing</em> when you zoom in and out. This makes low-resolution 
    (pixelated) pictures look better by smoothing out jagged edges.</p>
    <p>If you enable <gui>Automatic orientation</gui>, pictures will be 
    automatically rotated according to their <em>Exif metadata</em>. This is 
    information about a picture that is automatically inserted by a digital 
    camera, and can include details on which way up the camera was held when 
    the picture was taken. For example, when automatic orientation is 
    enabled, portrait photos are automatically rotated upright. The rotation 
    is not saved until you <link xref="flip-rotate#rotate">save the rotated 
    image</link>.</p> 
    <p>Automatic orientation does not work with all pictures; only pictures 
    taken using a camera that saves Exif orientation metadata will be rotated.</p>
  </item>
  <item>
    <title>Transparent parts</title>
     <p>Select one of the following
     options to determine how the transparent parts of a picture are displayed, 
     if it has any:</p>
    <list>
      <item>
       <p><gui>As check pattern:</gui></p>
       <p>Mostra qualquer parte transparente da imagem como um padrão quadriculado.</p>
      </item>
      <item>
       <p><gui>As custom color:</gui></p>
       <p>Displays any transparent parts of the image in a solid color that 
       you specify by clicking on the color selector button.</p>
      </item>
      <item>
       <p><gui>As background:</gui></p>
       <p>Displays any transparent parts of the image in the 
       <gui>Background</gui> color, if <gui>As custom color</gui> under 
       <gui>Background</gui> is checked. Otherwise, the default background 
       color is used.</p>
      </item>
    </list>
  </item>
 </terms>
</section>


<section id="slideshow">
<title>Slide show preferences</title>
<media type="image" src="figures/slideshow-prefs.png" style="floatend" width="300"/> 
<p>To customize slideshow settings:</p>
<list>
 <item>
  <p>Under <gui>Image Zoom</gui> you can select if you would like pictures 
  that are smaller than the screen to be expanded so that they fit the 
  screen.</p>
 </item>
 <item>
  <p>Under <gui>Sequence</gui> you can select how many seconds each picture 
  should be displayed for (between 1 and 100) before the next picture is 
  shown.</p>
 </item>
 <item>
  <p>Check <gui>Loop sequence</gui> if you want the slideshow to repeat 
  continuously. If unchecked, the slideshow will start at the picture you 
  selected, and finish at the last picture in the folder.</p>
 </item>
</list>
</section>


<section id="plugins">
<title>Plugin preferences</title>

<media type="image" src="figures/plugins-all.png" width="300" style="floatend"/>
<media type="image" src="figures/prefs-plugins.png" width="300" style="floatstart"/>

<p>Here you can check/uncheck any additional features you would like
to activate or deactivate. The picture on the left shows the plugins that are 
available by default.</p>

<p>You may also wish to install the 
<link xref="plugins">eog-plugins package</link>, which contains plugins 
providing a number of extra features. After installing it, you will be able to 
activate <link xref="index#plugins">additional plugins</link>, like the ones 
shown in the picture on the right.</p>
</section>

</page>
