<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="statistics" xml:lang="it">
  <info>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <link type="guide" xref="index#tips"/>
    <credit type="editor copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Statistics</title>
<p>To view the statistics about the current puzzle, click <guiseq><gui>Game</gui><gui>Puzzle Statistics</gui></guiseq>.</p>
  <figure>
    <desc>Very hard puzzle statistics box example</desc>
    <media type="image" mime="image/png" src="figures/stats-very-hard.png" width="400">
    </media>
  </figure>

<p>
<app>GNOME Sudoku</app> ranks puzzles based on the number of cells that can be rapidly filled. 
</p>

<p>
The puzzle statistics box shows:
</p>

<list>
 <item><p>the overall difficulty</p></item>
 <item><p>the number of cells which can be filled by elimination, starting from the blank grid (i.e. only a 2 can go in this box, so it must be a 2)</p></item>
  <item><p>the number of cells that can be filled by the process of filling, starting from the blank grid (i.e. only one cell in this row can be a 2, so it must be a 2)</p></item>
  <item><p>the number of times in solving the puzzle that the program used the trial-and-error algorithm to solve the puzzle</p></item>
</list>

<note><p>
All sudoku puzzles can be solved without ever having to guess. 
When the statistics box says that Sudoku used trial-and-error X number of times, it does not mean that a human would have to use trial-and-error to solve the puzzle.
</p></note>
</page>
