<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="accounts-whyadd" xml:lang="es">
  <info>
    <credit type="author copyright">
      <name>Susanna Huhtanen</name>
      <email>ihmis.suski@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <credit type="editor">
	<name>Greg Beam</name>
	<email>ki7mt@yahoo.com</email>
    </credit>

    <link type="guide" xref="accounts"/>
    <revision pkgversion="3.10.2" version="0.1" date="2014-01-08" status="review"/>
    <revision version="14.04" date="2014-01-08" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>¿Por qué añadir su correo electrónico o cuentas de medios sociales a su escritorio?</desc>
  </info>

  <title>¿Por qué debería añadir una cuenta?</title>

  <p>Añadir sus cuentas le permite una selección de servicios como calendario, chat y correo electrónico directamente desde el escritorio, haciendo que esos servicios formen parte de su experiencia de usuario de forma transparente. Al añadir las cuentas, puede mantener el contacto con servicios de distintas cuentas, como chats, de forma simultánea. Simplemente configure la cuenta una vez y cada vez que encienda su equipo todas las cuentas y servicios que ha añadido estarán disponibles para usted.</p>

</page>
