<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="color" xml:lang="es">
  <info>
    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <revision version="13.10" date="2013-09-07" status="review"/>
    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="color-whyimportant">Por qué es importante</link>, <link xref="color#profiles">perfiles de color</link>, <link xref="color#calibration">cómo calibrar un dispositivo</link>…</desc>

  </info>

  <title>Gestión de color</title>

  <section id="profiles" style="2column">
    <title>Perfiles de color</title>
  </section>

  <section id="calibration" style="2column">
    <title>Calibración</title>
  </section>

  <section id="problems" style="2column">
    <title>Problemas</title>
  </section>

</page>
