<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="contacts" xml:lang="es">

<info>

  <link type="guide" xref="net"/>

    <revision pkgversion="3.5.5" date="2012-08-13" status="review"/>
    <revision version="13.10" date="2013-09-07" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>

  <desc>Acceda a sus contactos.</desc>

</info>

<title>Contactos</title>

<p>Utilice <app>Contactos</app> para almacenar, acceder o editar la información de sus contactos, localmente o en sus <link xref="accounts">Cuentas en línea</link>.</p>

</page>
