<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-tracker" xml:lang="es">

  <info>
    <credit type="author copyright">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>Los documentos locales o remotos no aparecen.</desc>
    <link type="guide" xref="documents#question"/>
    <revision pkgversion="3.5.90" date="2012-09-05" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Mis documentos no se pueden mostrar</title>

  <p>Si se produce un error al mostrar sus documentos en <app>Documentos</app>, es posible que <app>Tracker</app> no esté en ejecución o que no esté correctamente configurado. Asegúrese de que Tracker está en ejecución en su sesión. La configuración predeterminada, establece los archivos de índices en su directorio personal (no recursivamente) y carpetas XDG (recursivamente), deberían ser adecuados. Compruebe que sus documentos están en alguna de esas rutas.</p>

</page>
