<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-viewgrid" xml:lang="es">

  <info>
    <credit type="author">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>

    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>

		<credit type="editor">
			<name>Greg Beam</name>
			<email>ki7mt@yahoo.com</email>
			<years>2014</years>
		</credit>

    <link type="guide" xref="documents#view"/>
    <revision pkgversion="3.8.2" date="2014-01-13" status="review"/>
    <revision version="14.04" date="2014-01-13" status="review"/>
		<include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

		<desc>Cambiar la forma en que se muestran los documentos.</desc>

  </info>

  <title>Ver los archivos en una lista o rejilla</title>

  <p>Documents and collections are presented in <gui>Grid</gui> format by default.
    To view in <gui>List</gui> format:</p>
   <steps>
    <item>
      <p>Vaya a la barra superior y haga clic sobre <app>Documentos</app> para mostrar el menú de la aplicación.</p>
    </item>
    <item>
      <p>Haga clic sobre <gui>Lista</gui> de la sección <gui>Ver cómo</gui>.</p>
    </item>
  </steps>

  <note style="tip"><p>La vista de lista tiene columnas que muestran el tipo de documento y fecha de modificación, y si está almacenado localmente o en <em>Google Docs</em> o <em>SkyDrive</em>.</p>
  </note>

  <p>Haga clic sobre <gui>Rejilla</gui> en el menú de la aplicación para volver al formato predeterminado.</p>

</page>
