<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="keyboard-osk" xml:lang="es">
  <info>
    <link type="guide" xref="keyboard" group="a11y"/>
    <link type="guide" xref="a11y#mobility" group="keyboard"/>

    <revision pkgversion="3.7.1" version="0.3" date="2012-11-16" status="outdated"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>Jeremy Bicha</name>
      <email>jbicha@ubuntu.com</email>
    </credit>
    <credit type="author">
       <name>Julita Inca</name>
       <email>yrazes@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <desc>Use un teclado en pantalla para introducir texto pulsando botones con el ratón.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Usar un teclado de pantalla</title>

  <p>Si no tiene un teclado conectado a su equipo o prefiere no usarlo, puede activar el <em>teclado en pantalla</em> para introducir texto.</p>

  <steps>
   <item><p>Pulse en el icono situado en el extremo derecho de la barra de menús y seleccione <gui>Configuración del sistema</gui>.</p></item>
   <item><p>Abra <gui>Acceso universal</gui> y vaya a la pestaña <gui>Escritura</gui>.</p></item>
   <item><p>Cambie a <gui>Asistente de tecleado</gui> para mostrar el teclado en pantalla.</p>
   </item>
  </steps>

</page>
