<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="mouse-lefthanded" xml:lang="es">
<info>
    <link type="guide" xref="mouse"/>

    <revision pkgversion="3.8.0" version="0.3" date="2013-03-13" status="candidate"/>
    <revision version="13.10" date="2013-10-22" status="review"/>

    <desc>Intercambiar los botones izquierdo y derecho del ratón en las preferencias del ratón.</desc>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
</info>

<title>Usar su ratón para zurdos</title>

<p>Puede intercambiar el comportamiento de los botones izquierdo y derecho de su ratón o touchpad para hacerlo más cómodo a los zurdos.</p>

<steps>
  <item><p>Pulse en el icono situado en el extremo derecho de la <gui>barra de menús</gui> y seleccione <gui>Configuración del sistema</gui>.</p></item>
  <item><p>Abra <gui>Ratón y touchpad</gui>.</p></item>
  <item><p>En la sección <gui>General</gui>, cambie <gui>Botón primario</gui> a <gui>Derecho</gui>.</p></item>
</steps>

<note><p>Esta configuración afectará a su ratón y al touchpad, además de cualquier otro dispositivo apuntador.</p></note>

</page>
