<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="power-batterybroken" xml:lang="es">

  <info>
    <link type="guide" xref="power#problems"/>
    <link type="seealso" xref="power-batteryoptimal"/>
    
    <desc>Su batería probablemente no está estropeada; solamente es muy vieja.</desc>
    <revision version="13.10" date="2013-10-22" status="review"/>
    
    <credit type="author">
      <name>Proyecto de documentación de GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Un error informa de que mi batería tiene poca capacidad</title>

<p>Cuando inicie su sesión por primera vez, debería ver un mensaje que dice:</p>
<quote>
 <p><em>Puede que la batería esté estropeada. Su batería tiene una capacidad muy baja, lo que indica que puede ser antigua o estar estropeada.</em></p>
</quote>

<p>Este mensaje se muestra cuando el equipo detecta que su batería es incapaz de almacenar mucha carga. La razón más frecuente es que su batería ya es vieja; probablemente no esté dañada, por lo que no hay por qué preocuparse.</p>

<p>Con el tiempo, todas las baterías de portátiles pierden su capacidad de almacenar carga. Pasado un tiempo (normalmente un año o más) la batería solo podrá almacenar una fracción de la carga que podía almacenar cuando era nueva. El mensaje anterior se muestra cuando ocurre esto.</p>

<p>Si su equipo o batería son relativamente nuevos, debería poder ser capaz de almacenar un alto porcentaje de su carga de diseño. si no es así, tal vez su batería esté estropeada y quizás necesite reemplazarla.</p>

</page>
