<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="unity-dash-files" xml:lang="es">
  <info>
    <link type="guide" xref="unity-dash-intro#dash-lenses"/>
    <link type="seealso" xref="unity-dash-intro#dash-lenses"/>

    <desc>Encontrar archivos, carpetas y descargas.</desc>

    <revision version="13.10" date="2013-10-23" status="outdated"/>

    <credit type="author">
      <name>Jeremy Bicha</name>
      <email>jbicha@ubuntu.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Lente de archivos</title>

  <p>La lente de archivos es la segunda lente después de la del inicio del tablero en la <gui>barra de lentes</gui> y está representada por un documento. La lente de archivos le permite acceder a los archivos, carpetas o descargas usados recientemente.</p>

  <p>Puede usar <keyseq><key>Super</key><key>F</key></keyseq> para abrir el Tablero directamente en lentes de aplicaciones.</p>

  <steps>
  <item><p>Si usa Google Drive, asegúrese de añadir sus credenciales de Google a las <link xref="accounts">Cuentas en línea</link> para ver resultados de búsquedas de Google Drive.</p></item>
  </steps>

<section id="dash-apps-previews">
  <title>Previsualizaciones</title>

  <p>Pulse con el botón derecho del ratón sobre un resultado de búsqueda para abrir una <gui>previsualización</gui>. La previsualización muestra el formato del archivo, su tamaño y cuando se guardó por última vez.</p>

  <p>Puede abrir un archivo, enviarlo por correo electrónico, o abra la carpeta que contiene el archivo.</p>

</section>

<section id="dash-apps-filters">
  <title>Filtros</title>

  <p>Pulse <gui>Filtrar resultados</gui> para filtrar por tipo de archivo, tamaño, o por fecha de último guardado del archivo.</p>

</section>

</page>
