<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="unity-shopping" xml:lang="es">

  <info>
    <link type="guide" xref="unity-dash-intro"/>
    <link type="seealso" xref="unity-dash-intro#dash-home"/>

    <desc>Los resultados en línea hacen el Tablero más útil y ayudan a financiar el desarrollo de Ubuntu.</desc>

    <revision version="14.04" date="2014-04-03" status="review"/>
    <credit type="author">
      <name>Jeremy Bicha</name>
      <email>jbicha@ubuntu.com</email>
    </credit>
    <credit type="editor">
       <name>Equipo de documentación de Ubuntu</name>
       <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>¿Por qué hay enlaces de compra en el Tablero?</title>

<p>In addition to helping you find apps or files on your computer, the 
<gui>Dash</gui> can also show you related online results for your searches. 
Online sources include Amazon.com and dozens of other online sources.</p>

<p>Cuando compra música o producto de esos orígenes, Canonical recibe una pequeña fracción de los beneficios a cambio de dirigir más negocio hacia esas tiendas. Canonical, la compañía que ha creado y continúa dando soporte al proyecto Ubuntu, emplea ese dinero para mejorar Ubuntu.</p>

<p>De manera predeterminada, la inclusión de resultados de búsqueda en línea está desactivada.</p>

<section id="enable-shopping">
  <title>Activar los resultados de búsqueda en línea</title>

  <p>Si quiere recibir sugerencias de búsqueda en línea, puede activar esta funcionalidad en el panel <gui>Seguridad y privacidad</gui> de Configuración del sistema.</p>

<steps>

  <item><p>Pulse en el <gui>menú del sistema</gui>, ubicado en el extremo derecho de la <gui>barra de menús</gui>, y seleccione <gui>Configuración del sistema</gui>.</p></item>

  <item><p>Abra <gui>Seguridad y privacidad</gui> y seleccione la pestaña <gui>Búsqueda</gui>.</p></item>

  <item><p>Switch on <gui>Include online search results</gui>.</p></item>


</steps>
</section>

</page>
