<div class="header"><h1 class="slidetitle">Help and support</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>The <span class="app" data-app="docs">Official documentation</span> covers many of the most common areas about Ubuntu. It's available both <a href="https://help.ubuntu.com">online</a> and via the Ubuntu Help item in the System menu.</p>
</div>

<div>
<p>At <a href="http://askubuntu.com">Ask Ubuntu</a> you can ask questions and search an impressive collection of already answered questions. Support in your own language may be provided by your <a href="http://loco.ubuntu.com/teams/">Local Community Team</a>.</p>
</div>

<div>
<p>For pointers to other useful resources, please visit <a href="http://community.ubuntu.com/help-information/">community.ubuntu.com/help-information</a> or <a href="http://www.ubuntu.com/support">ubuntu.com/support</a>.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.png" />

</div>
