<div class="header"><h1 class="slidetitle">Find even more software</h1></div>

<div class="main">

<div class="text">

<div>
<p>Say goodbye to searching the web for new software. With access to the Ubuntu Software Store, you can find and install new apps with ease. Just type in what you’re looking for, or explore categories such as Science, Education and Games, alongside helpful reviews from other users.</p>
</div>

</div>

<img class="screenshot" src="screenshots/gs.png" />

</div>
