<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="bug-filing" xml:lang="it">

  <info>
    <link type="guide" xref="index#get-involved"/>
    <desc>File a bug against the <app>image viewer</app>.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Report a problem with the image viewer</title>
<p>
 The <gui>image viewer</gui> is maintained by a volunteer community.  You are welcome to participate.
 </p>

<p>
   If you experience problems with the image viewer (for example, if it crashes or behaves unexpectedly), or if it is missing some feature that you think it should have, please file a <em>bug report</em> by clicking on the link <link href="https://bugzilla.gnome.org/"/>. Bug reports are how software developers keep track of problems so that they can fix them.
   </p>
   <p>
   To participate, you need an account which will give you the ability to file bugs and make comments.  Also, you need to register so you can receive updates by email about the status of your bug. If you don't already have an account, just click on the <gui>New Account</gui> link to create one.
   </p>
   <p>
   Once you have an account, log in, and click <guiseq><gui>File a
Bug</gui><gui>Core</gui><gui>eog</gui></guiseq>.
   Before reporting a bug, please read the <link href="https://bugzilla.gnome.org/page.cgi?id=bug-writing.html">bug writing
guidelines</link>,  and please <link href="https://bugzilla.gnome.org/browse.cgi?product=eog">browse</link> for the bug to see if it already exists.
   </p>
   <p>
   To file your bug, choose the component in the <gui>Component</gui> menu.  If you are not sure which component your bug pertains to, choose <gui>general</gui>.
   </p>
   <p>
   If you are requesting a new feature, choose <gui>enhancement</gui> in the <gui>Severity</gui> menu.
   Fill in the Summary and Description sections and click <gui>Commit</gui>.
   </p>
   <p>
      Your report will be given an ID number, and its status will be updated as it is being dealt with. Bugs can take a while to be fixed, and the software developers might ask you for further information to help them figure out what the problem is.
   </p>
</page>
