<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documentation" xml:lang="it">
  <info>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <desc>Join the Documentation Team.</desc>
   <link type="guide" xref="index#get-involved"/>
    <credit type="editor copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Help write documentation</title>

<p>
  The <app>Image Viewer</app> documentation is maintained by a volunteer community.  You are welcome to participate.</p>

<p>To contribute to the Documentation Project,  feel free to get in touch with us using <link href="https://cbe003.chat.mibbit.com/?url=irc%3A%2F%2Firc.gnome.org%2Fdocs">irc</link>, or via our <link href="http://mail.gnome.org/mailman/listinfo/gnome-doc-list">mailing list</link>. 
</p>
<p>
Our <link href="https://live.gnome.org/DocumentationProject/Contributing">wiki</link> page contains useful information. 
</p>


</page>
